Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl][compliance] Introduce `framework` directory
  asllib/compliance/tests/framework/hello_dynamic.asl
  asllib/compliance/tests/framework/hello_dynamic.yaml
  asllib/compliance/tests/framework/hello_static.asl
  asllib/compliance/tests/framework/hello_static.yaml
Due: none

[asl][compliance] Test name-clashing avoidance
  asllib/compliance/tests/framework/first-dir/foo.1.asl
  asllib/compliance/tests/framework/first-dir/foo.1.yaml
  asllib/compliance/tests/framework/first-dir/foo.asl
  asllib/compliance/tests/framework/first-dir/foo.yaml
  asllib/compliance/tests/framework/second-dir/foo.asl
  asllib/compliance/tests/framework/second-dir/foo.yaml
  asllib/compliance/tests/framework/third-dir/foo.asl
  asllib/compliance/tests/framework/third-dir/foo.yaml
Due: none

[asl compliance] Validating compliance testing yaml files against schema
  asllib/compliance/validate-schemas.py
Due: none

[gen][branch] memtag asymmetric
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/tests/AArch64.MTE/asym-CoRW2+amo.swp+RevT.litmus
  gen/tests/AArch64.MTE/asym-CoRW2+rmw+RevT.litmus
  gen/tests/AArch64.MTE/asym-WW+R+posrevtp.litmus
  gen/tests/AArch64.MTE/asym-storeonly-CoRW2+amo.swp+RevT.litmus
  gen/tests/AArch64.MTE/asym-storeonly-CoRW2+rmw+RevT.litmus
  gen/tests/AArch64.MTE/asym-storeonly-WW+R+posrevtp.litmus
  gen/tests/AArch64.MTE/reject-asym-async.litmus
  gen/tests/AArch64.MTE/reject-asym-without-memtag.litmus
  gen/top_gen.ml
Due: make-test

[gen][branch] Add reverse MemTag annotations
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/tests/AArch64.MTE/memtag-CoRW1+posprevt-rfirevtp.litmus
  gen/tests/AArch64.MTE/memtag-CoRW2+rmw+RevT.litmus
  gen/tests/AArch64.MTE/memtag-MP+poprevt+po.litmus
  gen/tests/AArch64.MTE/memtag-MP+porevtp+po.litmus
  gen/tests/AArch64.MTE/memtag-R+poprevt+po.litmus
  gen/tests/AArch64.MTE/memtag-R+popt+po.litmus
  gen/tests/AArch64.MTE/memtag-WW+R+posrevtt.litmus
  gen/tests/AArch64.MTE/memtag-WW+R+postrevt.litmus
  gen/tests/AArch64.MTE/memtag-reject-posrw-revt-read.litmus
  gen/tests/AArch64.MTE/memtag-reject-posrw-revt-t.litmus
  gen/tests/AArch64.MTE/storeonly-CoRW2+rmw+RevT.litmus
Due: make-test

[gen] Add more rmw to match memory access in `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[lib] Do not transform Timeout exceptions in splitter
  lib/splitter.mll
Due: make-test

[internal] Use options for expected filepaths
  internal/herd_diycross_regression_test.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[internal] override configuration with other passed parameters
  internal/lib/testHerd.ml
Due: make-test

[internal] Convert Command runs to use result-based control flow
  internal/diy_regression_test.ml
  internal/diyone_test.ml
  internal/herd_assumptions_test.ml
  internal/herd_catalogue_regression_test.ml
  internal/herd_diycross_regression_test.ml
  internal/herd_promote.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/command.ml
  internal/lib/command.mli
  internal/lib/shelf.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
  internal/lib/tests/command_test.ml
Due: make-test

[herd] exit with special exit code when a timeout is hit
  herd/herd.ml
  herd/itimer.ml
  herd/tests/other/timeout-report.t/Armv8-ext-forbidden000018.litmus
  herd/tests/other/timeout-report.t/run.t
  internal/herd_catalogue_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[doc] don't hardcode path for hevea and hacha
  doc/Makefile
Due: none

[doc] Add exit status section to herd's documentation
  doc/herd.tex
Due: none

[catalogue] rename tests in VMSA to match their content
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp.litmus
Due: make-test, lint-shelves

[doc] Address typos in herd.tex
  doc/herd.tex
Due: none

[asl compliance] CI workflow to validate compliance yaml files against schema
  .github/workflows/asl-compliance-schema.yml
Due: none

[asl reference] use \ChapterOutline to automatically list sections for a given chapter
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/macros.hva
Due: none

[tools] Fix a few glitches in **mcompare7** output
  tools/mcompare.ml
Due: make-test

[tools] Fix revalidation by **mcompare7**.
  tools/HashedFault.ml
  tools/fault_tools.ml
  tools/fault_tools.mli
  tools/logState.ml
Due: make-test

[tools] Add cram test
  tools/tests/mcompare.t/run.t
Due: none

[asl reference] replace console splicing by generated console macros
  asllib/doc/.gitignore
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/Makefile
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

fixed aslref building and referencing in asllib/doc/Makefile
  asllib/doc/Makefile
Due: none

[asl][doc] Improve documentation spellchecking
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
Due: none

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/topUtils.ml
Due: make-test

[gen] Update VMSA PTE output-address tests
  gen/tests/AArch64.vmsa/CoRW1+addrsptehap-rfippteha.litmus
  gen/tests/AArch64.vmsa/CoRW1+ctrlsppteha-rfiptehap.litmus
  gen/tests/AArch64.vmsa/CoRW1+ctrlspptehd-rfiptehdp.litmus
  gen/tests/AArch64.vmsa/CoRW1+ctrlsptehap-rfippteha.litmus
  gen/tests/AArch64.vmsa/CoRW1+datasppteha-rfiptehap.litmus
  gen/tests/AArch64.vmsa/CoRW1+dataspptehd-rfiptehdp.litmus
  gen/tests/AArch64.vmsa/CoRW1+datasptehap-rfippteha.litmus
  gen/tests/AArch64.vmsa/CoRW1+posWppteoa-pospteoapteoa-rfipteoap.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteha-rfiptehap.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteha.hd-rfipteha.hdp.litmus
  gen/tests/AArch64.vmsa/CoRW1+pospptehal-rfiptehalp.litmus
  gen/tests/AArch64.vmsa/CoRW1+pospptehd-rfiptehdp.litmus
  gen/tests/AArch64.vmsa/CoRW1+pospptehdl-rfiptehdlp.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa-rfipteoap.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.af0-rfipteoa.af0p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.af1-rfipteoa.af1p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.db0-rfipteoa.db0p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.db1-rfipteoa.db1p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.dbm0-rfipteoa.dbm0p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.dbm1-rfipteoa.dbm1p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.v0-rfipteoa.v0p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoa.v1-rfipteoa.v1p.litmus
  gen/tests/AArch64.vmsa/CoRW1+posppteoal-rfipteoalp.litmus
  gen/tests/AArch64.vmsa/CoRW1+pospteha.hdp-rfippteha.hd.litmus
  gen/tests/AArch64.vmsa/CoRW1+posptehaap-rfipptehaa.litmus
  gen/tests/AArch64.vmsa/CoRW1+posptehap-rfippteha.litmus
  gen/tests/AArch64.vmsa/CoRW1+posptehaqp-rfipptehaq.litmus
  gen/tests/AArch64.vmsa/MP+po+po-[tlbi-sync.ish].litmus
  gen/tests/AArch64.vmsa/MP+po+po-[tlbi-sync.vmall.ish].litmus
  gen/tests/AArch64.vmsa/MP+po+po-[tlbi.vmall].litmus
  gen/tests/AArch64.vmsa/MP+po+po-[tlbi].litmus
  gen/tests/AArch64.vmsa/MP+po+tlbi-sync.ish.litmus
  gen/tests/AArch64.vmsa/MP+po+tlbi-sync.vmall.ish.litmus
  gen/tests/AArch64.vmsa/MP+po+tlbi.litmus
  gen/tests/AArch64.vmsa/MP+po+tlbi.vmall.litmus
Due: make-test

[gen] Code improvement on `Pte` when building cycle.
  gen/cycle.ml
Due: make-test

[gen] Track per-proc implicit PTE updates
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/cycle.ml
Due: make-test

[herd] Add a helper function to determine MTE sync/async
  herd/AArch64Sem.ml
Due: make-test

[herd] Add cram tests for the MTE instruction semantics
  herd/tests/other/mte-dot.t/LDR-TagCheckFault.litmus
  herd/tests/other/mte-dot.t/LDR-TranslationFault.litmus
  herd/tests/other/mte-dot.t/LDR-ok.litmus
  herd/tests/other/mte-dot.t/STR-PermissionFault.litmus
  herd/tests/other/mte-dot.t/STR-TagCheckFault.litmus
  herd/tests/other/mte-dot.t/STR-ok.litmus
  herd/tests/other/mte-dot.t/run.t
Due: make-test

[AARCH-25890,cat] Adapt TLBI-ob for VMSA and MTE semantics
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/coRR+LDG-LDG+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnD-cLDRoD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnT-cLDRoT+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnTnD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoTnD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoTnD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRoToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
  herd/libdir/aarch64.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: make-test, lint-shelves

[catalogue] Add tests for VMSA and MTE
  Makefile
  catalogue/aarch64-VMSA+MTE/cats/aarch64.cat
  catalogue/aarch64-VMSA+MTE/cfgs/new-web.cfg
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/LDR-TaggedNormal.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-Normal-red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-HA.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-HD.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-db0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-db0red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-red-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-v0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRgreen-TaggedNormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-AF.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-DB-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-DB.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-DB+SWP-1.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-DB+SWP-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorV0-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-TaggedNormalXorV0-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-TaggedNormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
Due: make-test, lint-shelves

[herd] Fix instruction semantics for vmsa+async mte
  herd/AArch64Sem.ml
  herd/tests/other/mte-dot.t/run.t
Due: make-test

[AARCH-25890,cat] Adapt tr-ib for VMSA and MTE semantics
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/cSTRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/cSTRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
  herd/libdir/aarch64loc.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: make-test, lint-shelves

[herd] Wrap MTE functions in a new module
  herd/AArch64Sem.ml
Due: make-test

[AARCH-25890] Create a new aarch64-oban catalogue
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25890/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-25890/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25890/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25890/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25890/tests/@all
  catalogue/aarch64-oban/aarch-25890/tests/RRRR+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/cLDRnToD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnD-cLDRoD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnT-cLDRoT+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRoTnD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/kinds.txt
Due: make-test

[asl reference] Clarify println line-feed semantics
  asllib/doc/ASLmacros.tex
  asllib/doc/Statements.tex
  asllib/doc/TopLevel.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: none

[asl] Clarify string literal syntax and value handling
  asllib/Lexer.mll
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/dictionary.txt
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/lexer.t/raw-lf-string.asl
  asllib/tests/lexer.t/run.t
Due: make-test

[asl] Define and implement source line terminators
  asllib/Lexer.mll
  asllib/compliance/tests/syntax/GuideRule.Whitespace1.asl
  asllib/compliance/tests/syntax/GuideRule.Whitespace2.asl
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/dictionary.txt
  asllib/tests/line-terminators.t/line-terminators-lf.asl
  asllib/tests/line-terminators.t/run.t
Due: make-test

[tools] Add support for expanding non-recursive definitions
  tools/miaou.ml
Due: make-test
