Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

fixed std self mode error
  litmus/skel.ml
Due: make-test

fixed gcc warning on exit stdlib
  litmus/libdir/_aarch64/self.c
Due: none

[gen] Allow `Fre` merge with `Hat`.
  gen/alt.ml
Due: make-test

[gen] Allowed `Id` in resolving input relax.
  gen/common/edge.ml
  gen/cycle.ml
Due: make-test

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

[aslspec] adding source locations
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/error.ml
  asllib/aslspec/main.ml
  asllib/aslspec/parsing.ml
  asllib/aslspec/parsing.mli
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/run.t
Due: make-test

[asl reference] cleanup for removed code snippets
  asllib/doc/.gitignore
  asllib/doc/ifcode.tex
  asllib/doc/ifempty.tex
Due: none

[catalogue] Add types for registers that hold labels for aarch64-ifetch tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/MP+rel+blr.litmus
Due: make-test

[catalogue] Don't check for faults when there is a fault handler for aarch64-VMSA tests
  catalogue/aarch64-VMSA/tests/CASAL+FAIL+FH.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL2+FH.litmus
  catalogue/aarch64-VMSA/tests/newlob/S+dsb.sy-tlbi-dsb.sy+ctrl.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/MP-via_fault_STLR.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/R-via_fault_STR.litmus
Due: make-test

[catalogue] Fix register size mismatch for aarch64-ifetch WRC tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1.litmus
Due: make-test

Skip tests that require CAT changes
  catalogue/aarch64-PAC/shelf.py
Due: lint-shelves

[Merge] Address minor comments.
  gen/common/edge.ml
Due: make-test

[gen] Add `diyone7` syntax check in CI.
  Makefile
  gen/tests/diyone7-check.t
  gen/tests/dune
Due: make-test

[gen] Add CI for `diyone7` for invalid and valid annotations.
  gen/tests/diyone7-check.t
Due: none

[litmus] Enable check_dic_idc for presi and kvm modes
  Makefile.aarch64
  catalogue/aarch64-ifetch/tests/@dic0-idc0
  litmus/libdir/_aarch64/self.c
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

Fix register type mismatch pteval_t vs int
  litmus/AArch64Arch_litmus.ml
Due: make-test

Fix register size for aarch64-VMSA
  catalogue/aarch64-VMSA/tests/D15347-2+2WExpNExp+DMBST+DSB-ISB.litmus
  catalogue/aarch64-VMSA/tests/LDR.litmus
  catalogue/aarch64-VMSA/tests/LDRaf0-HA.litmus
  catalogue/aarch64-VMSA/tests/LDRaf0-noHA.litmus
  catalogue/aarch64-VMSA/tests/LDRv1.litmus
  catalogue/aarch64-VMSA/tests/MP+DSB+ctrl.litmus
  catalogue/aarch64-VMSA/tests/NT-00-data.litmus
  catalogue/aarch64-VMSA/tests/NT-01-data.litmus
  catalogue/aarch64-VMSA/tests/NT-02-data.litmus
  catalogue/aarch64-VMSA/tests/NT-03-data.litmus
  catalogue/aarch64-VMSA/tests/NT-04-data.litmus
  catalogue/aarch64-VMSA/tests/NT-20-data+dsb.litmus
  catalogue/aarch64-VMSA/tests/NT-20-data.litmus
  catalogue/aarch64-VMSA/tests/NT-23-data+dsb.litmus
  catalogue/aarch64-VMSA/tests/NT-23-data.litmus
  catalogue/aarch64-VMSA/tests/NT-30-data+dsb.litmus
  catalogue/aarch64-VMSA/tests/NT-30-data.litmus
  catalogue/aarch64-VMSA/tests/NT-33-data+dsb.litmus
  catalogue/aarch64-VMSA/tests/NT-33-data.litmus
  catalogue/aarch64-VMSA/tests/STR-db0-noHD.litmus
  catalogue/aarch64-VMSA/tests/STR.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/MP-via_fault_STLR.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/R-via_fault_STR.litmus
Due: make-test

[litmus] Fix code for postcondition
  litmus/compCond.ml
  litmus/compCond.mli
  litmus/preSi.ml
Due: make-test

[gen] Add parametrised base type to `ast`
  gen/common/ast.ml
  gen/common/parser.mly
  gen/diy.ml
  gen/logRelax.ml
  gen/readRelax.ml
Due: make-test

[gen] Unify the paring process cross in `/gen`.
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

fixed prelude size std error
  litmus/skel.ml
Due: make-test

[litmus] Add riscv timebase function
  litmus/libdir/_riscv/timebase.c
Due: none

[litmus] Add riscv cache functions
  litmus/libdir/_riscv/_cache.h
Due: none

fixed prelude size std error
  litmus/libdir/pp.c
  litmus/libdir/pp.h
Due: none

[gen] Add `Predicate` constructor in ast and parser.
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[lib] Allow Offset operation on Concrete values
  lib/symbValue.ml
Due: make-test

[herd] Relax upper bound for scale_array_reference
  herd/archExtra_herd.ml
Due: make-test

[herd] Introduce basic support for GCS
  Makefile
  gen/common/AArch64Arch_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.gcs/G000.litmus
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  herd/variant.ml
  herd/variant.mli
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/faultType.ml
  lib/faultType.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Add access type for AArch64 GCS
  herd/AArch64Arch_herd.ml
  herd/AArch64Explicit.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  lib/AArch64Base.ml
Due: make-test

[herd] Add experimental VMSA support for GCS
  herd/AArch64Sem.ml
Due: make-test

[catalogue] Add some AArch64 GCS tests
  catalogue/aarch64-GCS/tests/Co+gcsss1+gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+gcspop-gcsb-dmb.sy+dmb.ld-gcsb.litmus
  catalogue/aarch64-GCS/tests/LB+gcsss2-dmb.sy+dmb.ld-gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+ret-gcsb-dmb.sy+dmb.ld-gcsb.litmus
  catalogue/aarch64-GCS/tests/MP+bl-gcsb-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+bl-gcsb-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsb-bl+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsb-gcspush+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsss1+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush-gcsb-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush-gcsb-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsb+bl+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsb-gcspush+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsss1+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsb+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsb-ret+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsss1+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbblp.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbgcspushmp.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbpgcspopm.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbpret.litmus
  catalogue/aarch64-GCS/tests/coWR+poblret.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcspushmgcspopm.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcsss1gcsss2.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcsstrgcsss1.litmus
  catalogue/aarch64-GCS/tests/coWR+popgcsss1.litmus
Due: make-test

[ASL-912] Fix comments in standard library
  asllib/libdir/stdlib.asl
  asllib/tests/stdlib.t/run.t
Due: none

[ASL-908] Improve clarity of `UInt`/`SInt` return type
  asllib/libdir/stdlib.asl
Due: none

[asl] Restrict permitted characters to those specified in the reference
  asllib/Lexer.mll
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/regressions.t/no-tabs-in-block-comments.asl
  asllib/tests/regressions.t/no-tabs-in-line-comments.asl
  asllib/tests/regressions.t/no-tabs-in-strings.asl
  asllib/tests/regressions.t/no-tabs.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/tuple-return.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[asl] Improve lexing error reporting for unprintable characters
  asllib/Lexer.mll
  asllib/SimpleLexer0.mll
  asllib/builder.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
Due: make-test

[gen] Add `before and `after` predicate parsing in `diy`.
  gen/common/ast.ml
  gen/common/edge.ml
  gen/relax.ml
Due: make-test

[gen] function that process `before` and `after` predicates.
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
