Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl compliance] Fixed spurious warnings due to missing loop limits. The two tests contained loops without loop limits, for no good reason. This commit adds the missing limits.
  asllib/compliance/tests/semantics/SemanticsRule.SRepeat.asl
  asllib/compliance/tests/typing/TypingRule.EConcatUnresolvableToInteger.asl
Due: none

[asl] Update the interpreter to use exception names
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/error.ml
  asllib/toLisp.ml
Due: make-test

[asl][doc] Simplify catchers
  asllib/compliance/tests/semantics/SemanticsRule.FindCatcher.FirstMatch.asl
  asllib/compliance/tests/semantics/SemanticsRule.FindCatcher.FirstMatch.yaml
  asllib/compliance/tests/syntax/ASTRule.Catcher.AnonymousType.asl
  asllib/compliance/tests/syntax/ASTRule.Catcher.AnonymousType.yaml
  asllib/compliance/tests/typing/TypingRule.Catcher.NonExceptionType.asl
  asllib/compliance/tests/typing/TypingRule.Catcher.NonExceptionType.yaml
  asllib/doc/AbstractSyntax.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/asl.spec
  asllib/doc/variable_name_macros.tex
Due: none

[asl] Enforce that catchers only use named types
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/DependencyAnalysis.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/toLisp.ml
  herd/AArch64ASLSem.ml
Due: make-test

Refactor SVE ASL instruction translation
  herd/AArch64ASLSem.ml
Due: make-test

[asl][doc] Annotate return types
  asllib/compliance/tests/typing/TypingRule.AnnotateRetTy.bad2.asl
  asllib/compliance/tests/typing/TypingRule.AnnotateRetTy.bad2.yaml
  asllib/doc/SubprogramCalls.tex
  asllib/doc/asl.spec
Due: none

[asltest] compliance testing should send aslref warnings to the info field.
  asllib/compliance/asltest.ml
  asllib/compliance/tests/definition/GlobalPragma.yaml
  asllib/compliance/tests/definition/GlobalPragma2.yaml
  asllib/compliance/tests/semantics/SemanticsRule.CheckRecurseLimit.no_limit.yaml
  asllib/compliance/tests/typing/TypingRule.ApplyBinopTypes.constraints.yaml
  asllib/compliance/tests/typing/TypingRule.ApplyBinopTypes.constraints2.yaml
  asllib/compliance/tests/typing/TypingRule.ApproxStmt.yaml
  asllib/compliance/tests/typing/TypingRule.CheckGlobalPragma.yaml
  asllib/compliance/tests/typing/TypingRule.RefineConstraintBySign.yaml
  asllib/compliance/tests/typing/TypingRule.SPragma.yaml
  asllib/compliance/tests/typing/TypingRule.SWhile.yaml
  asllib/compliance/tests/typing/TypingRule.TypeCheckAST.yaml
  asllib/error.ml
Due: make-test

[litmus,presi,kvm] Simplify alignment of hash table keys
  litmus/preSi.ml
Due: make-test

[litmus,kvm,presi] Code hash tables in a generic manner
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_instance.c
  litmus/libdir/_kvm_count.h
  litmus/libdir/_kvm_io.h
  litmus/libdir/_main.c
  litmus/libdir/_outhash.c
  litmus/libdir/_presi.h
  litmus/libdir/_presi_count.h
  litmus/libdir/_presi_io.h
  litmus/libdir/_utils.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[herd] Implement MTE tag-checking for SP-based accesses for AArch64
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/ci.cfg
Due: make-test

[herd] Fix MTE tag-checking for SP accesses in CAS in AArch64
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/ci.cfg
Due: make-test

[doc] Address typos in herd.tex
  doc/herd.tex
Due: none

[internal] override configuration with other passed parameters
  internal/lib/testHerd.ml
Due: make-test

[doc] Add exit status section to herd's documentation
  doc/herd.tex
Due: none

[catalogue] rename tests in VMSA to match their content
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp.litmus
Due: make-test, lint-shelves

[internal] Use options for expected filepaths
  internal/herd_diycross_regression_test.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[herd] exit with special exit code when a timeout is hit
  herd/herd.ml
  herd/itimer.ml
  herd/tests/other/timeout-report.t/Armv8-ext-forbidden000018.litmus
  herd/tests/other/timeout-report.t/run.t
  internal/herd_catalogue_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[doc] don't hardcode path for hevea and hacha
  doc/Makefile
Due: none

[lib] Do not transform Timeout exceptions in splitter
  lib/splitter.mll
Due: make-test

[internal] Convert Command runs to use result-based control flow
  internal/diy_regression_test.ml
  internal/diyone_test.ml
  internal/herd_assumptions_test.ml
  internal/herd_catalogue_regression_test.ml
  internal/herd_diycross_regression_test.ml
  internal/herd_promote.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/command.ml
  internal/lib/command.mli
  internal/lib/shelf.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
  internal/lib/tests/command_test.ml
Due: make-test

[litmus,presi] Direct control of statistics activation
  litmus/preSi.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[doc] Document the new variant `-variant statistics`.
  doc/litmus.tex
Due: none

[herd,litmus,test] Add tests
  herd/tests/instructions/X86_64/A013.litmus
  herd/tests/instructions/X86_64/A013.litmus.expected
  herd/tests/instructions/X86_64/A014.litmus
  herd/tests/instructions/X86_64/A014.litmus.expected
  litmus/tests/X86_64/A013+BIS.t
  litmus/tests/X86_64/A014+BIS.t
Due: make-test

[litmus,kvm,presi] Code hash tables in a generic manner
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_hash.c
  litmus/libdir/_instance.c
  litmus/libdir/_kvm_count.h
  litmus/libdir/_kvm_io.h
  litmus/libdir/_main.c
  litmus/libdir/_outhash.c
  litmus/libdir/_presi.h
  litmus/libdir/_presi_count.h
  litmus/libdir/_presi_io.h
  litmus/libdir/_utils.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

Clarify SVE ASL load/store helper names
  herd/AArch64ASLSem.ml
Due: make-test

Update strict SVE ASL smoke-test witnesses
  herd/tests/instructions/AArch64.sve/V35.litmus.expected
  herd/tests/instructions/AArch64.sve/V36.litmus.expected
  herd/tests/instructions/AArch64.sve/V37.litmus.expected
  herd/tests/instructions/AArch64.sve/asl-strict.cfg
Due: make-test

[lib] wrap IntOrd to the new base library
  lib/IntMap.ml
  lib/IntSet.ml
  lib/IntSet.mli
  lib/base/dune
  lib/base/intOrd.ml
  lib/base/intOrd.mli
  lib/dune
Due: make-test

[lib] move IntMap to Base
  lib/IntMap.mli
  lib/base/intMap.ml
  lib/base/intMap.mli
  tools/uoaim/bin/main.ml
  tools/uoaim/lib/structure.ml
Due: make-test

[lib] move MyMap to Base
  lib/base/map.ml
  lib/myMap.ml
Due: make-test

[internal] Wrap Base module into a new library
  internal/base/base.ml
  internal/base/base.mli
  internal/base/dune
  internal/dune
  internal/herd_catalogue_regression_test.ml
  internal/herd_redirect.ml
  internal/lib/args.ml
  internal/lib/command.ml
  internal/lib/dune
  internal/lib/kinds.ml
  internal/lib/log.ml
  internal/lib/shelf.ml
  internal/lib/testHerd.ml
  internal/lib/tests/base_test.ml
  internal/lib/tests/command_test.ml
  internal/lib/tests/dune
  internal/lib/tests/log_test.ml
  internal/lib/tests/ocamlString_test.ml
  internal/lint_shelves.ml
Due: make-test

[herd] s/is_branching/kvm in semantics of gcsss2
  herd/AArch64Sem.ml
Due: make-test

[herd] Reformat gcsss2 function
  herd/AArch64Sem.ml
Due: make-test

[herd] Fix iico_data edges in gcsss2/kvm graphs
  herd/AArch64Sem.ml
Due: make-test

[herd] Remove trailing spaces
  herd/AArch64Sem.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
