Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Two basic conditional branch tests
  herd/tests/instructions/AArch64/L026.litmus
  herd/tests/instructions/AArch64/L026.litmus.expected
  herd/tests/instructions/AArch64/L027.litmus
  herd/tests/instructions/AArch64/L027.litmus.expected
Due: make-test

[herd] Add a new event set TLBUncacheable
  herd/AArch64Arch_herd.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/action.mli
  herd/machAction.ml
  herd/machModelChecker.ml
  herd/pteValSets.ml
Due: make-test

[herd] Add `Test` variant, to tests something.
  herd/variant.ml
  herd/variant.mli
Due: make-test

[gen] No defaut variant in produced tests for `-variant kvm`.
  gen/top_gen.ml
Due: make-test

[gen] Combination of PTE write annotations
  gen/AArch64Arch_gen.ml
  gen/alt.ml
  gen/config.ml
  gen/cycle.ml
  gen/diy.ml
  gen/edge.ml
  gen/final.ml
  gen/lexUtil.mli
  gen/lexUtil.mll
  gen/top_gen.ml
  gen/variant_gen.ml
  gen/variant_gen.mli
Due: make-test

[gen] Rename edge TLBI as TLBI-sync
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Distinct locations have distinct initial values in `-variant kvm`
  gen/CCompile_gen.ml
  gen/archExtra_gen.ml
  gen/builder.mli
  gen/code.ml
  gen/code.mli
  gen/cycle.ml
  gen/dumpAll.ml
  gen/top_gen.ml
Due: make-test

[gen] Avoid some meaningless local observation of PTE writes.
  gen/cycle.ml
  gen/topUtils.ml
  gen/top_gen.ml
Due: make-test

[gen] New `-variant NoFault`
  gen/top_gen.ml
  gen/variant_gen.ml
  gen/variant_gen.mli
Due: make-test

[herd] Environment argument for the `Branch.Next` constructor
  herd/AArch64Sem.ml
  herd/ARMSem.ml
  herd/BellSem.ml
  herd/CSem.ml
  herd/MIPSSem.ml
  herd/PPCSem.ml
  herd/RISCVSem.ml
  herd/X86Sem.ml
  herd/X86_64Sem.ml
  herd/branch.ml
  herd/eventsMonad.ml
  herd/mem.ml
  herd/monad.mli
Due: make-test

[herd] Unroll static loops
  herd/mem.ml
Due: make-test

[tests] Test complete and partial loop unrolling
  herd/tests/instructions/AArch64/L026.litmus
  herd/tests/instructions/AArch64/L027.litmus
  herd/tests/instructions/AArch64/L028.litmus
  herd/tests/instructions/AArch64/L028.litmus.expected
  herd/tests/instructions/AArch64/L029.litmus
  herd/tests/instructions/AArch64/L029.litmus.expected
  herd/tests/instructions/AArch64/L029.litmus.expected-warn
Due: make-test

[catalogue] Update aarch64 and aarch64-mixed books
  catalogue/aarch64-mixed/cats
  catalogue/aarch64-mixed/cats/aarch64-v01.cat
  catalogue/aarch64-mixed/cats/aarch64-v02.cat
  catalogue/aarch64-mixed/cats/aarch64-v03.cat
  catalogue/aarch64-mixed/cats/aarch64-v04.cat
  catalogue/aarch64-mixed/cats/aarch64-v05.cat
  catalogue/aarch64-mixed/cats/aarch64-v06.cat
  catalogue/aarch64-mixed/shelf.py
  catalogue/aarch64/shelf.py
Due: lint-shelves

[www] Better handling of homonymous files.
  herd-www/generate_includes.ml
Due: make-test

[herd-www] herd-www maintenance
  herd-www/Makefile
  herd-www/_tags
  herd-www/jerd.ml
  herd/parseTest.ml
  herd/top_herd.ml
Due: make-test

[www] Replace common models by symbolic links to reference
  catalogue/aarch64/cats/sc.cat
  catalogue/x86/cats/x86tso.cat
  catalogue/x86_64/tso-mixed.cat
  herd-www/Makefile
Due: none

[catalogue] Update MTE-aarch64 book
  catalogue/aarch64-MTE/cats/aarch64.cat
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/MTE-RW+WR+amo.ldeoral-polp+dmb.sytq.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
  catalogue/aarch64/cats/aarch64.cat
Due: make-test, lint-shelves

[gen] Add csel variations of AArch64 dependencies edges
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Tool diy now accept several prefixes
  doc/gen.tex
  gen/alt.ml
  gen/config.ml
  gen/diy.ml
Due: make-test

[gen] Fix diy tool when no prefix specified.
  gen/alt.ml
  gen/diy.ml
Due: make-test

[gen] Add a few tests for the new `Store` pseudo edge
  Makefile
  herd/tests/diycross/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  herd/tests/diycross/AArch64.store/LB+dmb.sy+dataW-pos-store.litmus.expected
  herd/tests/diycross/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  herd/tests/diycross/AArch64.store/MP+dmb.sy+dataW-pos-store.litmus.expected
  herd/tests/diycross/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
  herd/tests/diycross/AArch64.store/S+dmb.sy+dataW-pos-store.litmus.expected
Due: make-test

[gen] Resurrect the `Store` pseudo-edge
  gen/cycle.ml
  gen/diyone.ml
  gen/edge.ml
  gen/final.ml
  gen/namer.ml
  gen/topUtils.ml
  gen/top_gen.ml
Due: make-test

[herd] Add one hundred variants
  herd/variant.ml
  herd/variant.mli
Due: make-test

[lib] Avoid default memory attributes for AArch64
  lib/AArch64PteVal.ml
Due: make-test

[herd] Extend memory attribute events to include writes
  herd/BellAction.ml
  herd/CAction.ml
  herd/action.mli
  herd/machAction.ml
  herd/machModelChecker.ml
Due: make-test

[herd] Add event PTEMemAttr
  herd/machModelChecker.ml
Due: make-test

add implementation of Java architecture for herd (only), have not implemented Java for other tools yet
  herd/JavaAction.ml
  herd/JavaArch_herd.ml
  herd/JavaMem.ml
  herd/JavaSem.ml
  herd/parseTest.ml
  herd/variant.ml
  herd/variant.mli
  lib/Archs.ml
  lib/Archs.mli
  lib/JavaAst.ml
  lib/JavaBase.ml
  lib/JavaGenParser_lib.ml
  lib/JavaLexer.mli
  lib/JavaLexer.mll
  lib/JavaParser.mly
  lib/accessModes.ml
  lib/dune
  litmus/dumpRun.ml
  litmus/objUtil.ml
  litmus/option.ml
  litmus/top_litmus.ml
Due: make-test

add license notice to each added file on herd-java branch
  herd/JavaAction.ml
  herd/JavaArch_herd.ml
  herd/JavaMem.ml
  herd/JavaSem.ml
  lib/JavaAst.ml
  lib/JavaBase.ml
  lib/JavaGenParser_lib.ml
  lib/JavaLexer.mli
  lib/JavaLexer.mll
  lib/JavaParser.mly
Due: make-test

remove unused definitions and fix partial match warnings
  gen/atomize.ml
  gen/atoms.ml
  gen/classify.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  herd/JavaAction.ml
  lib/JavaLexer.mll
  lib/JavaParser.mly
  tools/toolParse.ml
Due: make-test

update to the latest version for herd/variant.ml and herd/variant.mli
  herd/variant.ml
  herd/variant.mli
Due: make-test

the purpose of this shell script is to segment a large configuration file randomly and run it with diy7
  tools/segment.sh
Due: none

shell script to generate appropriate exists clause for any cat file
  tools/anycat.sh
Due: none

delete redundant file
  tools/segment.sh
Due: none

[gen] Some enhancements for `-variant kvm` generators: + Simplify TLBI.ISH lexeme into TLBI (as there are no DSB,ISH here) + Option `-variant kvm` defines .ISH fences.
  gen/AArch64Arch_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  lib/AArch64Base.ml
Due: make-test

[gen] Do not forbid sequences of `Insert` pseudo-edges.
  gen/edge.ml
Due: make-test

[gen] Enhance edge compatibility checking for diy.
  gen/alt.ml
  gen/edge.ml
Due: make-test

shell script to generate appropriate exists clauses for any cat files. Example provided in pull request of Read after Read hazard
  gen/libdir/forbidden_internal.conf
  herd/libdir/CoRR.cat
  tools/anycat.sh
Due: none

move generated config files and litmus tests to an individual src folder. @all file now is the sum of other @all files
  tools/segment.sh
Due: none

[litmus] Workaround against some brittle printf implementations.
  litmus/KSkel.ml
  litmus/doEmitPrintf.ml
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[tools] Restore normalisation of PTE in logs
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/parsedPteVal.ml
  lib/parsedPteVal.mli
  tools/lexLog_tools.mll
  tools/logConstr.ml
  tools/toolsConstant.ml
  tools/toolsConstant.mli
Due: make-test
