Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[gen] Add predicate such as `@after(..)` syntax to relax parser
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/config.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[MERGE] Add comment to `leading_before_trailing_after_predicate` function.
  gen/relax.ml
Due: make-test

[MERGE] raise fatal parsing error in cumul with predicate.
  gen/diy.ml
Due: make-test

[MERGE] revert some predicate related change
  gen/cat2config/translation.ml
  gen/common/edge.ml
  gen/relax.ml
Due: make-test

[asl][doc] Minor fix of auto-generated content
  asllib/doc/PrimitiveOperations.tex
Due: none

[MERGE] check read value for rmw and revert change on written value.
  gen/cycle.ml
  gen/tests/C/LB+posWrlxrlx-porlxrlx+fetch.addrlxrlx-porlxrlx.litmus.expected
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/diy-basic-check.t
Due: make-test

[gen] restrict read value checks to communication-adjacent events
  gen/common/edge.ml
  gen/cycle.ml
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/C/LB+posWrlxrlx-porlxrlx+fetch.addrlxrlx-porlxrlx.litmus.expected
  gen/tests/baseline-size-4.cycle.expected
Due: make-test

[MERGE] address minor comments.
  gen/common/edge.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[MERGE] Address comment on simplifying the communication edge check.
  gen/cycle.ml
  gen/tests/diy-basic-check.t
Due: make-test

[MERGE] another try on disitinguish PosWW and Coi.
  gen/CCompile_gen.ml
  gen/topUtils.ml
  gen/top_gen.ml
Due: make-test

[herd] Fix atomic pairs matching algorithm
  herd/mem.ml
  herd/tests/instructions/C/C17.litmus
  herd/tests/instructions/C/C17.litmus.expected
Due: make-test

[gen] Filter Fre write checks
  gen/common/edge.ml
  gen/tests/diy-basic-check.t
  gen/topUtils.ml
Due: make-test

[lib] Add shim module Misc.Result
  lib/misc.ml
  lib/misc.mli
Due: make-test

[asllib] Bump dune lang to 3.11
  asllib/aslspec/dune-project
  asllib/dune-project
Due: make-test

install: use dune for installing files in libdirs
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  INSTALL.md
  Makefile
  dune-install.sh
  dune-project
  dune-uninstall.sh
  herd/dune
  herdtools7.opam
  jingle/dune
  litmus/dune
  tools/dune
Due: make-test, opam-lint

[gen] Add store-only memtag variant
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/cycle.ml
  gen/tests/diy-basic-check.t
Due: make-test

[cat] Replace mentions of HU/Hardware Update Effects with Implicit TTD Write Effects
  herd/libdir/aarch64.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64util.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: none

[herd] Add Empty effect generation for async MTE successful tag checks
  herd/AArch64Sem.ml
Due: make-test

[herd] Add variant to remove return events from ASL concurrent semantics
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/StaticInterpreter.ml
  herd/ASLSem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd,asl] Allow computations on OAs in ASLOp
  lib/ASLOp.ml
Due: make-test

[asl.cat] Uniformize names and properly show sets of events
  herd/libdir/asl.cat
Due: none

[herd-www] Add aarch64-ETS3 to the web interface
  herd-www/Makefile
  herd-www/www/index.html
Due: none

[aslspec] thorough layout checks + tests + documentation
  asllib/aslspec/aslspec.md
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/expressions_correct.spec
  asllib/aslspec/tests.t/field_access_unknown.bad
  asllib/aslspec/tests.t/layout_correct.spec
  asllib/aslspec/tests.t/layout_expr_atomic.bad
  asllib/aslspec/tests.t/layout_expr_list.bad
  asllib/aslspec/tests.t/layout_expr_nullary.bad
  asllib/aslspec/tests.t/layout_record_update.bad
  asllib/aslspec/tests.t/layout_tuple.bad
  asllib/aslspec/tests.t/layout_type.bad
  asllib/aslspec/tests.t/operator_arity.bad
  asllib/aslspec/tests.t/record_extra_field.bad
  asllib/aslspec/tests.t/record_update_unknown_field.bad
  asllib/aslspec/tests.t/rule_layout.bad
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/tests.t/variadic_operator_type.bad
Due: make-test

[asl reference] replace console splicing by generated console macros
  asllib/doc/.gitignore
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/Makefile
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

fixed aslref building and referencing in asllib/doc/Makefile
  asllib/doc/Makefile
Due: none

addressed review comments
  asllib/doc/.gitignore
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Makefile
  asllib/doc/extended_macros.py
Due: none

[asl][doc] Improve documentation spellchecking
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
Due: none

[asl reference] use \ChapterOutline to automatically list sections for a given chapter
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/macros.hva
Due: none

[INSTALL.md] Provide more instructions on how to build and install herdtools
  INSTALL.md
Due: none

fixup! [INSTALL.md] Provide more instructions on how to build and install herdtools
  README-tests.md
Due: none

fixup! [INSTALL.md] Provide more instructions on how to build and install herdtools
  INSTALL.md
Due: none

[tools] Add miaou support for the domain procedure
  tools/miaou.ml
Due: make-test

[herd] Fix typo in libdir/aarch64fences.cat
  herd/libdir/aarch64fences.cat
  herd/tests/instructions/AArch64.kvm/A018.litmus.expected
Due: make-test

[herd] Fix writable2 function in machModelChecker
  herd/machModelChecker.ml
Due: make-test

[aslref] complete annotations for all left-/right- hand side expressions
  asllib/Runner.ml
  asllib/TypeAnnotations.ml
  asllib/TypeAnnotations.mli
  asllib/Typing.ml
  asllib/Typing.mli
  asllib/dune
  herd/ASLSem.ml
Due: make-test

[herd] Add PTEtoPA relation for VMSA
  herd/machAction.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
