Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[lib] Additions to the Misc module
  lib/misc.ml
  lib/misc.mli
  litmus/skelUtil.ml
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/A032.litmus
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  herd/tests/instructions/AArch64.kvm/A033.litmus
  herd/tests/instructions/AArch64.kvm/A033.litmus.expected
  herd/tests/instructions/AArch64.kvm/A034.litmus
  herd/tests/instructions/AArch64.kvm/A034.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[herd-www] Fix Makefile
  herd-www/Makefile
Due: none

[herd] Global count of necessary spurious updates
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ARMSem.ml
  herd/ASLAction.ml
  herd/ASLSem.ml
  herd/BPFSem.ml
  herd/BellAction.ml
  herd/BellSem.ml
  herd/CAction.ml
  herd/CSem.ml
  herd/JavaAction.ml
  herd/JavaSem.ml
  herd/MIPSSem.ml
  herd/PPCSem.ml
  herd/RISCVSem.ml
  herd/X86Sem.ml
  herd/X86_64Arch_herd.ml
  herd/X86_64Sem.ml
  herd/action.mli
  herd/archAction.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/machAction.ml
  herd/mem.ml
  herd/monad.mli
  herd/noAF.ml
  herd/sem.mli
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd] Small simplification/optimisation
  herd/mem.ml
Due: make-test

[litmus] Introduce EXS, EIS and EOS variants to litmus
  catalogue/aarch64-faults/shelf.py
  catalogue/aarch64-faults/tests/@all
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis0.litmus
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis1.litmus
  catalogue/aarch64-faults/tests/kinds.txt
  litmus/dumpRun.ml
  litmus/flags.mli
  litmus/libdir/_aarch64/_exs.c
  litmus/libdir/_aarch64/_exs.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test, lint-shelves

[herd] Improve the delaying monad operator
  herd/eventsMonad.ml
Due: make-test

[gen] Add wildcard `Amo.Safe`.
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[tests] Update ifetch regression tests
  herd/tests/instructions/AArch64.self/NORUN
  herd/tests/instructions/AArch64.self/S26.litmus
  herd/tests/instructions/AArch64.self/S27.litmus
  herd/tests/instructions/AArch64.self/S27.litmus.expected
Due: make-test

[litmus] Fix x -> XN polarity
  herd/tests/instructions/AArch64.kvm/A035.litmus
  herd/tests/instructions/AArch64.kvm/A035.litmus.expected
  lib/AArch64PteVal.ml
  litmus/libdir/_aarch64/kvm-headers.h
Due: make-test

[gen] Allowed `Id` in resolving input relax.
  gen/common/edge.ml
  gen/cycle.ml
Due: make-test

[asl][www] Ensure a zero return code is intercepted by `jaslref.ml`
  asllib/aslref.ml
Due: make-test

[gen] Code improve in `can_precede` function in `alt.ml`
  gen/alt.ml
Due: make-test

[lib] Add `to_list` and `of_list` to `MyMap`
  gen/top_gen.ml
  lib/myMap.ml
Due: make-test

[herd] Add labelled arguments
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/mem.ml
  herd/noAF.ml
  herd/sem.mli
Due: make-test

[gen] Update CI since weakening the insert edge.
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.cas-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.casap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.stadd-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swp-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swpap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected-warn
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected-warn
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/ifetch.cycle.expected
Due: make-test

[gen] Use SimpleDumper to print out litmus tests.
  gen/AArch64Compile_gen.ml
  gen/ARMArch_gen.ml
  gen/BellArch_gen.ml
  gen/CCompile_gen.ml
  gen/MIPSArch_gen.ml
  gen/PPCArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/RISCVCompile_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/archLoc.mli
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/compileCommon.ml
  gen/final.ml
  gen/genUtils.ml
  gen/run_gen.ml
  gen/top_gen.ml
Due: make-test

[asl reference] rephrased slices explanation and type-checking => typechecking
  asllib/doc/AbstractSyntax.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Statements.tex
Due: none

[gen] Add `diyone7` syntax check in CI.
  gen/tests/diyone7-check.t
Due: none

[aslspec] fixed tick_loop_limit to match implementation
  asllib/doc/Statements.tex
  asllib/doc/asl.spec
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SWhile.negative_limit.asl
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

[gen] better comments in `diyone7-check.t`
  gen/tests/diyone7-check.t
Due: none

[lib] remove extra linebreak prior the pre-condition in `CoreDumper`.
  lib/coreDumper.ml
Due: make-test

[catalogue] Add missing label in LB+posat+amo.cas-no
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/@all
  catalogue/aarch64-MTE/tests/LB+ctrl+amo.casno-po.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test, lint-shelves

[gen] Add automatic "variant= .. " in the prelude in generated test.
  gen/CCompile_gen.ml
  gen/builder.mli
  gen/common/archExtra_gen.ml
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[herd] Introduce control dependency between MTE check and CAS instr
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/@all
  catalogue/aarch64-MTE/tests/LB+posat+amo.cas-no.litmus
  catalogue/aarch64-MTE/tests/LB+posat+amo.cas-ok.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
  herd/event.ml
Due: make-test, lint-shelves

[gen] Remove confusing `diy7` filter on `mixed` and `vmsa` mode.
  gen/alt.ml
Due: make-test

[asl reference] added explanations and examples for symbolic evaluability and constrainedness
  asllib/doc/SideEffects.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLTypingReference.t/TypingRule.SESIsSymbolicallyEvaluable.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TBits.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[herd] Attach each spurious updates to the write that motivate it
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/mem.ml
  herd/noAF.ml
  herd/sem.mli
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  lib/misc.ml
  lib/misc.mli
Due: make-test

[gen] Add litmus tests syntax check in CI.
  Makefile
  gen/tests/diyone7-check.t
  gen/tests/dune
Due: make-test

[gen] Weaken the insert edge limitation
  gen/alt.ml
  gen/cycle.ml
Due: make-test

[tools] Fix regex matching bug in dot2desc
  tools/dot2desc.ml
Due: make-test

[ASL] Fix bug where environment updates from IF test expressions were reverted (#1800)
  asllib/Interpreter.ml
  asllib/instrumentation.ml
  asllib/tests/regressions.t/if-test-env-updated.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[herd] Fix placement of po edges in dot graphs
  herd/Pretty.ml
  herd/prettyUtils.ml
Due: make-test

[herd] Add regression test
  herd/dune
  herd/tests/other/dune
  herd/tests/other/libdir
  herd/tests/other/poi-loop.t/run.t
  herd/tests/other/poi-loop.t/wait-flag.litmus
Due: make-test

[herd,test] Include x66_64 catalogue tests in default testing
  Makefile
  catalogue/x86_64/cats/sc.cat
  catalogue/x86_64/cats/x86tso-mixed.cat
  catalogue/x86_64/cfgs/new-web.cfg
  catalogue/x86_64/kinds.txt
  catalogue/x86_64/shelf.py
Due: lint-shelves

[herd] Fix "Post-condition introduces new symbolic location" error.
  herd/test_herd.ml
  herd/tests/instructions/X86_64/A012.litmus
  herd/tests/instructions/X86_64/A012.litmus.expected
Due: make-test

[litmus] Fix printing of labels
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
Due: make-test

[test] New test The new test restores S27 previous intent more explicitly.
  herd/tests/instructions/AArch64.self/S27.litmus
  herd/tests/instructions/AArch64.self/S30.litmus
  herd/tests/instructions/AArch64.self/S30.litmus.expected
Due: make-test

[gen] Align diy filter handling for same-location `Po` edges
  Makefile
  gen/README.md
  gen/alt.ml
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/diy7-check.t
  gen/tests/dune
  gen/tests/ifetch.cycle.expected
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
