Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[gen] better comments in `diyone7-check.t`
  gen/tests/diyone7-check.t
Due: none

[herd] Introduce control dependency between MTE check and CAS instr
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/@all
  catalogue/aarch64-MTE/tests/LB+posat+amo.cas-no.litmus
  catalogue/aarch64-MTE/tests/LB+posat+amo.cas-ok.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
  herd/event.ml
Due: make-test, lint-shelves

[gen] Add wildcard `Amo.Safe`.
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Weaken the insert edge limitation
  gen/alt.ml
  gen/cycle.ml
Due: make-test

[gen] Update CI since weakening the insert edge.
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.cas-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.casap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.stadd-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swp-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swpap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected-warn
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected-warn
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/ifetch.cycle.expected
Due: make-test

[gen] Remove confusing `diy7` filter on `mixed` and `vmsa` mode.
  gen/alt.ml
Due: make-test

[gen] Code improve in `can_precede` function in `alt.ml`
  gen/alt.ml
Due: make-test

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[CI] Update the syntax in the test because of value difference.
  gen/tests/diyone7-check.t
Due: none

[gen] Code improvement on `Pte` when building cycle.
  gen/cycle.ml
Due: make-test

[CI] Add test for `vmsa` in `Makefile`.
  Makefile
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsW-pos-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteaf0-pospteaf0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa-pospteoap-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.af0-pospteoa.af0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.v1-pospteoa.v1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpptev1-posptev1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehap-pos-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteaf0-pospteaf0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa-pospteoap-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.af0-pospteoa.af0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.v1-pospteoa.v1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehaptev1-posptev1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdp-pos-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteaf0-pospteaf0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa-pospteoap-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.af0-pospteoa.af0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.v1-pospteoa.v1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdptev1-posptev1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteaf0-pospteaf0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa-pospteoap-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.af0-pospteoa.af0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.v1-pospteoa.v1p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoaptev1-posptev1p-frippteoa.litmus.expected
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/topUtils.ml
Due: make-test

[herd] Add labelled arguments
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/mem.ml
  herd/noAF.ml
  herd/sem.mli
Due: make-test

[herd] Attach each spurious updates to the write that motivate it
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/mem.ml
  herd/noAF.ml
  herd/sem.mli
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  lib/misc.ml
  lib/misc.mli
Due: make-test

[gen] Introduce an AST-based relax parser for diy tools
  gen/common/ast.ml
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Filter invalid composite relaxations after expansion
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] Unify parser entry points across tools in `/gen`
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[gen] Add regression tests for the new parser.
  Makefile
  gen/tests/diy7-check.t
  gen/tests/diyone7-check.t
  gen/tests/dune
Due: make-test

[gen] Align diy filter handling for same-location `Po` edges
  Makefile
  gen/README.md
  gen/alt.ml
  gen/tests/diy7-check.t
  gen/tests/dune
Due: make-test

Refactor pair_opt type
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
Due: make-test

[herd] Remove locations and labels from MTE async faults
  catalogue/aarch64-MTE/tests/coRR-RTW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WW.litmus
  catalogue/aarch64-MTE/tests/coRR-TR.litmus
  catalogue/aarch64-MTE/tests/coRR-TW.litmus
  catalogue/aarch64-MTE/tests/coRR-WTW.litmus
  catalogue/aarch64-MTE/tests/coRTW.litmus
  catalogue/aarch64-MTE/tests/coTR.litmus
  catalogue/aarch64-MTE/tests/coTW.litmus
  catalogue/aarch64-MTE/tests/coWTW.litmus
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/F004.litmus
  herd/tests/instructions/AArch64.MTE/F004.litmus.expected
  herd/tests/instructions/AArch64.MTE/F005.litmus
  herd/tests/instructions/AArch64.MTE/F005.litmus.expected
  herd/tests/instructions/AArch64.MTE/F006.litmus
  herd/tests/instructions/AArch64.MTE/F006.litmus.expected
  herd/tests/instructions/AArch64.MTE/L01.litmus
  herd/tests/instructions/AArch64.MTE/L01.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A012.litmus.expected
  lib/faultType.ml
  lib/faultType.mli
Due: make-test

[gen] Update CI due to `Pos**` aligns with internal communication edges.
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/ifetch.cycle.expected
Due: none

[tools] AARCH-25405: Clarification οf the IC-Coherence-before and Instruction-read-ordered-before definitions
  tools/miaou.ml
Due: make-test

[gen] Introduce new variant `async`.
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/top_gen.ml
Due: make-test

[gen] Update `memtag` CI check in `diy`.
  Makefile
  gen/tests/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sytt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sy+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytt+amo.ldaddal-polt.litmus.expected
Due: make-test

Add LDAP/STLP instructions to herd
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/Y006.litmus
  herd/tests/instructions/AArch64/Y006.litmus.expected
  herd/tests/instructions/AArch64/asl.cfg
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
Due: make-test

[asl reference] added explanations and examples for symbolic evaluability and constrainedness
  asllib/doc/SideEffects.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLTypingReference.t/TypingRule.SESIsSymbolicallyEvaluable.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TBits.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl reference] rephrased slices explanation and type-checking => typechecking
  asllib/doc/AbstractSyntax.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Statements.tex
Due: none

[lib] Allow Offset operation on Concrete values
  lib/symbValue.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
