Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[aslspec] addressed review comments
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/latex.ml
  asllib/aslspec/macros.ml
  asllib/aslspec/main.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/typedefs.expected
  asllib/doc/ASLmacros.tex
  asllib/doc/SemanticsUtilities.tex
Due: make-test

wip: add list util function `drop_while`
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

[herd,asl] Add CheckEq ASL primitive.
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[herd] Copy regression test A031 into the catalogue
  Makefile
  catalogue/aarch64-VMSA/cfgs/asl.cfg
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/A031.litmus
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test, lint-shelves

[test] Add one catalogue test
  catalogue/aarch64-VMSA/cfgs/asl.cfg
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-VMSA/tests/WW+RR-DMBST+DMBLD-SWP4+WREG.litmus
Due: make-test, lint-shelves

[litmus] Add support for TLB conflict aborts
  lib/faultType.ml
  lib/faultType.mli
  litmus/libdir/_aarch64/kvm_fault_type.c
Due: make-test

[herd,vmsa] Fix faults generated by PTE access from EL0
  herd/AArch64Sem.ml
Due: make-test

[herd] Add test
  herd/tests/instructions/AArch64.kvm/F007.litmus
  herd/tests/instructions/AArch64.kvm/F007.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[internal,herd] Add automatic runner for checking axioms assumed by cat2table
  Makefile
  dirs-and-confs.txt
  herd/libdir/aarch64_wrapped_primitives.cat
  herd/libdir/aarch64axioms.cat
  herd/tests/instructions/AArch64.neon/neon.cfg
  herd/tests/instructions/AArch64.sme/sme.cfg
  herd/tests/instructions/AArch64.sve/sve.cfg
  internal/dune
  internal/herd_axioms_test.ml
Due: make-test

[gen] minor comments change to baseline `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen the baseline forbidden configuration file on `Pos*W`.
  gen/libdir/forbidden.conf
Due: none

[aslspec] name elements in output configuration of rule's conclusion
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/relation_unnamed_arguments.bad
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/rule.spec
  asllib/aslspec/tests.t/run.t
Due: make-test

[tools] Implement the dot2desc tool
  herd/libdir/catdefinitions.tex
  lib/dotLexer.mll
  lib/dotParser.mly
  lib/dune
  lib/parsedDotGraph.ml
  tools/dot2desc.ml
  tools/dune
Due: make-test

[gen] Check warning file in `herd_diycross_regression_test`.
  internal/herd_diycross_regression_test.ml
  internal/lib/testHerd.ml
Due: make-test

[gen] Add `diy7` test for `forbidden_ifetch.conf` in CI.
  Makefile
  gen/tests/ifetch.cycle.expected
Due: none

[gen] Add `diy7` cycle only tests on baseline configuration.
  Makefile
  gen/tests/baseline-size-4.cycle.expected
  internal/diy_regression_test.ml
  internal/dune
Due: make-test

[gen] Implement atomic max and min and fix the value collision problem.
  gen/AArch64Compile_gen.ml
  gen/CArch_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/edge.ml
  gen/common/rmw.mli
  gen/cycle.ml
  gen/exch.ml
  gen/noRmw.ml
  gen/top_gen.ml
Due: make-test

[gen] Reject cycles containing two atomic operation edges of the same type.
  gen/CArch_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/edge.ml
  gen/common/rmw.mli
  gen/cycle.ml
  gen/exch.ml
  gen/noRmw.ml
Due: make-test

[gen] Reject cycles where a updated value remains the same.
  gen/cycle.ml
Due: make-test

[aslspec] allow defining operators
  asllib/aslspec/AST.ml
  asllib/aslspec/LayoutUtils.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/latex.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/operators.spec
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/utils.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Semantics.tex
  asllib/doc/Specifications.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: make-test

[aslspec] generate default rule renders for relations
  asllib/aslspec/AST.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/rule.expected
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] a bug fix
  asllib/aslspec/AST.ml
Due: make-test

[herd] Multi-level page tables
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/tests/instructions/AArch64.kvm/TABT001.litmus
  herd/tests/instructions/AArch64.kvm/TABT001.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT002.litmus
  herd/tests/instructions/AArch64.kvm/TABT002.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT003.litmus
  herd/tests/instructions/AArch64.kvm/TABT003.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT004.litmus
  herd/tests/instructions/AArch64.kvm/TABT004.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT005.litmus
  herd/tests/instructions/AArch64.kvm/TABT005.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT006.litmus
  herd/tests/instructions/AArch64.kvm/TABT006.litmus.expected
  herd/tests/instructions/AArch64.kvm/TABT007.litmus
  herd/tests/instructions/AArch64.kvm/TABT008.litmus
  herd/tests/instructions/AArch64.kvm/TABT008.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
  herd/variant.ml
  herd/variant.mli
  lib/AArch64Op.ml
  lib/AArch64PteVal.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
Due: make-test

[asl refernce] specified some rules, changed operators, and added constants
  asllib/doc/ASLmacros.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/asl.spec
Due: none

[aslspec] introduced new attribute auto_name to judgments to turn off auto-naming when the current heuristic for choosing the type term to use is incorrect
  asllib/aslspec/AST.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/spec.ml
Due: make-test

[herd] Supress permissive rf matching
  herd/archExtra_herd.ml
  herd/mem.ml
  lib/stateParser.mly
Due: make-test

fix linter to avoid spurious errors
  asllib/doc/doclint.py
Due: none

[gen] Refactory `rmw` interface and implementation.
  gen/AArch64Compile_gen.ml
  gen/ARMArch_gen.ml
  gen/BellArch_gen.ml
  gen/CArch_gen.ml
  gen/CCompile_gen.ml
  gen/MIPSArch_gen.ml
  gen/MIPSCompile_gen.ml
  gen/PPCArch_gen.ml
  gen/PPCCompile_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/XXXCompile_gen.mli
  gen/archRun.mli
  gen/common/AArch64Arch_gen.ml
  gen/common/atom.mli
  gen/common/dune
  gen/common/edge.ml
  gen/common/fence.mli
  gen/common/rmw.ml
  gen/common/rmw.mli
  gen/compileCommon.ml
  gen/cycle.ml
  gen/exch.ml
  gen/exch.mli
  gen/final.ml
  gen/machAtom.ml
  gen/namer.ml
  gen/noRmw.mli
Due: make-test

[gen] Print more debug info for `node` type in `cycle.ml`.
  gen/cycle.ml
Due: make-test
