Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[herd,asl] Move things around in implementations.asl
  herd/libdir/asl-pseudocode/implementations.asl
Due: none

[asl,herd] Cleanup in patches-vmsa for error handling
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[herd,asl] Remove S1Enabled by setting correct SCTLR_EL1
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  herd/AArch64ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[herd,asl] Move IsExclusiveLocal to patches.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
Due: none

[asl,herd] Refacto interface and move things around.
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/README.md
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-std.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[herd,asl] Remove IsAligned because it is not used anymore
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[herd,asl] Move ThisInstrLength() to implementations
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
  herd/libdir/asl-pseudocode/implementations.asl
Due: none

[asl,herd] Add some documentation
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[herd,asl] Document a bit of patches-vmsa.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[herd,asl] remove empty file
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
Due: none

[asl,herd] Implement SomeBoolean in ASL
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/implementations.asl
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-assign.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/try-non-deterministic.litmus
Due: make-test

[herd,asl] Move UsingAArch32 into optimisation and remove useless patch
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[herd,asl] Document overloading of DecodeMemAttrs
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-std.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: none

[herd,asl] Avoid overriding AMEC fault checking
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  lib/ASLOp.ml
Due: make-test

[asl,herd] Document and refacto physmem-{std,vmsa}
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
Due: none

[herd,asl] Use the published version of MemSwapTableDesc
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
Due: none

[herd,asl] Simplify some patches by calling the patched function
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: none

[herd,asl] Edit S1CheckPermissions to account for convoluted CAS behaviours
  Makefile
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: none

[herd,asl] Simplify and document AF updates
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/tests/instructions/AArch64.kvm/P019.litmus
  herd/tests/instructions/AArch64.kvm/P019.litmus.expected
  herd/tests/instructions/AArch64.kvm/R019.litmus
  herd/tests/instructions/AArch64.kvm/R019.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[herd,asl] Keep patched functions accessible for easier patching
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  herd/ASLSem.ml
Due: make-test

[herd,asl] Simplify and document the interface (#1612)
  Makefile
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/README.md
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-std.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/tests/instructions/AArch64.kvm/P019.litmus
  herd/tests/instructions/AArch64.kvm/P019.litmus.expected
  herd/tests/instructions/AArch64.kvm/R019.litmus
  herd/tests/instructions/AArch64.kvm/R019.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-assign.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/try-non-deterministic.litmus
  lib/ASLOp.ml
Due: make-test

[asl,herd] Bump version to 2025-12
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/shared_pseudocode.asl.diff
Due: none

[asl] Add a few system registers to the list of exceptions
  herd/libdir/asl-pseudocode/Makefile
Due: none

[asllib] Put asllib into its own opam package.
  asllib/asllib.opam
  asllib/dune
  asllib/dune-project
  asllib/tests/dune
  dune-project
Due: make-test, opam-lint

[aslref] Use version from dune-project
  asllib/aslref.ml
  asllib/dune
  asllib/version.txt
Due: make-test

[ci] Pin asllib to local version
  .github/workflows/build-asl-reference.yml
  .github/workflows/check-opam-minimals.yml
  .github/workflows/make-test-all.yml
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  .github/workflows/static-binaries.yml
Due: none

[tools,gen] Do not open Misc
  gen/diycross.ml
  gen/diyone.ml
  tools/mcompare.ml
Due: make-test

wip
  tools/litmus2desc/lib/explainer.ml
Due: make-test

fix: use "." to end last list item
  tools/litmus2desc/lib/explainer.ml
Due: make-test

chore: promote tests
  tools/litmus2desc/test/run.t
Due: none

[asl reference] setter RMW stuff
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Statements.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] fixes
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Semantics.tex
  asllib/doc/asl.spec
Due: none

[aslspec] added reverse_assign operator and restricted synatx for outputs of transitions. Added a use-def checker for ASL specs.
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/typedefs.expected
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Expressions.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Statements.tex
  asllib/doc/asl.spec
  asllib/doc/variable_name_macros.tex
Due: make-test

[aslspec] relocated modules to enable type inference
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] renamed list to list_var and added constructor for labelled tuples
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/spec.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/asl.spec
  asllib/doc/variable_name_macros.tex
Due: make-test

[aslspec] refactor
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/ASTUtils.mli
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
Due: make-test

[asldoc] Prototype translation to HML of ASL Reference
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/macros.hva
  asllib/doc/rendering_macros.hva
  asllib/doc/rendering_macros.sty
  asllib/doc/zyva.sh
Due: none

[tools] Reformat cat2table with ocamlformat
  tools/cat2table.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
