Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[litmus] Enable check_dic_idc for presi and kvm modes
  Makefile.aarch64
  catalogue/aarch64-ifetch/tests/@dic0-idc0
  litmus/libdir/_aarch64/self.c
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[makefile] Fix make all install by removing build-aslref from it.
  Makefile
Due: none

[asl] Update disclaimer in README
  asllib/README.mld
Due: make-test

[lib] Allow Offset operation on Concrete values
  lib/symbValue.ml
Due: make-test

[herd] Introduce basic support for GCS
  Makefile
  gen/common/AArch64Arch_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.gcs/G000.litmus
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  herd/variant.ml
  herd/variant.mli
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/faultType.ml
  lib/faultType.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[tools] Add miaou regression cram test
  tools/tests/dune
  tools/tests/libdir
  tools/tests/miaou.t
Due: make-test

[herd] Add access type for AArch64 GCS
  herd/AArch64Arch_herd.ml
  herd/AArch64Explicit.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  lib/AArch64Base.ml
Due: make-test

[herd-www] Followup to PR #1810
  herd-www/jerd.ml
Due: make-test

[asl] Update `Makefile` and build instructions in README
  Makefile
  asllib/README.mld
  herdtools7.opam
Due: make-test, opam-lint

[herd] Add rmw to po, except for the model `aarch64.cat`
  herd/machModelChecker.ml
  herd/tests/instructions/AArch64/A264.litmus
  herd/tests/instructions/AArch64/A264.litmus.expected
  herd/tests/instructions/X86_64/A011.litmus
  herd/tests/instructions/X86_64/A011.litmus.expected
Due: make-test

[asl] Fix `make-test-all` workflow
  .github/workflows/make-test-all.yml
  asllib/README.mld
Due: make-test

[tools] Preserve negated miaou list wrapper
  tools/miaou.ml
Due: make-test

[asl] Attempt to improve output for `dune build asllib`
  asllib/carpenter/test/dune
  asllib/menhir2bnfc/dune-project
Due: make-test

[herd] Apply the speedcheck optimisation to filters
  herd/herd.ml
  herd/mem.ml
Due: make-test

[herd] Add experimental VMSA support for GCS
  herd/AArch64Sem.ml
Due: make-test

[asl] Test new build instructions
  .github/workflows/make-test-all.yml
Due: none

[AARCH-24800,herd] Ordering semantics for Load instructions whose destination register is WZR/XZR
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24800/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24800/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24800/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24800/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24800/tests/@all
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpazrp-po.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpzr-dmb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpzr-dsb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popptev1l+zr-acq.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popptev1l+zr-dmb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/kinds.txt
Due: make-test

[miaou] Change List constructor to record
  tools/miaou.ml
Due: make-test

[miaou] Add flattenable flag to List nodes
  tools/miaou.ml
Due: make-test

[catalogue] Add some AArch64 GCS tests
  catalogue/aarch64-GCS/tests/Co+gcsss1+gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+gcspop-gcsb-dmb.sy+dmb.ld-gcsb.litmus
  catalogue/aarch64-GCS/tests/LB+gcsss2-dmb.sy+dmb.ld-gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+ret-gcsb-dmb.sy+dmb.ld-gcsb.litmus
  catalogue/aarch64-GCS/tests/MP+bl-gcsb-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+bl-gcsb-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+acq-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.ld-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsb-gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsb-ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+dmb.sy-gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsb-bl+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsb-gcspush+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-gcsss1+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush-gcsb-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush-gcsb-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1-dmb.sy+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1-rel+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsb+bl+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsb-gcspush+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swapal-gcsss1+dmb.ld.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsb+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsb-ret+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st-gcsss1+gcsb-dmb.sy.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbblp.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbgcspushmp.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbpgcspopm.litmus
  catalogue/aarch64-GCS/tests/coWR+gcsbpret.litmus
  catalogue/aarch64-GCS/tests/coWR+poblret.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcspushmgcspopm.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcsss1gcsss2.litmus
  catalogue/aarch64-GCS/tests/coWR+pogcsstrgcsss1.litmus
  catalogue/aarch64-GCS/tests/coWR+popgcsss1.litmus
Due: make-test

[herd] Relax upper bound for scale_array_reference
  herd/archExtra_herd.ml
Due: make-test

[aslref] Update build instructions (#1815)
  Makefile
  README.md
  acl2/asl/README.md
  asllib/README.md
  asllib/README.mld
Due: make-test

[herd] Add test
  Makefile
  herd/tests/instructions/AArch64.kvm/A036.litmus
  herd/tests/instructions/AArch64.kvm/A036.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[catalogue] Add ETS3 tests
  catalogue/aarch64-ETS3/cats/aarch64.cat
  catalogue/aarch64-ETS3/cfgs/web.cfg
  catalogue/aarch64-ETS3/shelf.py
  catalogue/aarch64-ETS3/tests/@all
  catalogue/aarch64-ETS3/tests/ETS3.MP+dmb.sttp.litmus
  catalogue/aarch64-ETS3/tests/ETS3.S+tlbi-sync.ishptedb1p+po.litmus
  catalogue/aarch64-ETS3/tests/ETS3.S+tlbi-sync.ishpteel01p+po.litmus
  catalogue/aarch64-ETS3/tests/kinds.txt
Due: make-test, lint-shelves

[build] Remove dependency from build to install
  Makefile
Due: none

[miaou] Handle general range relations
  tools/miaou.ml
Due: make-test

[all] Bump minimum OCaml version to 4.14
  .github/workflows/check-opam-minimals.yml
  .github/workflows/make-test-all.yml
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

[menhir2bnfc] Bump minimum menhir version
  asllib/menhir2bnfc/dune-project
Due: make-test

[miaou] Remove ad hoc tr_diff rewrite
  tools/miaou.ml
Due: make-test

[asl] Update to OCaml 4.14
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Lexer.mll
  asllib/TopoSort.ml
  asllib/Typing.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/dune-project
  asllib/aslspec/latex.ml
  asllib/aslspec/main.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/utils.ml
  asllib/dune-project
  asllib/types.ml
Due: make-test

[herd] Handle memory locations in speedcheck/filter optimisation
  herd/mem.ml
Due: make-test

[docs] Update INSTALL.md with new versions
  INSTALL.md
Due: none

[test] Use `make all install` idiom in action file
  .github/workflows/make-test.yml
Due: none

[tools] AARCH-25405: Clarification οf the IC-Coherence-before and Instruction-read-ordered-before definitions
  herd/libdir/catdefinitions.tex
  tools/miaou.ml
  tools/miaouNames.ml
  tools/miaouNames.mli
  tools/tests/miaou.t
Due: make-test

improved discussion of evaluation order and parenthesis
  asllib/doc/Expressions.tex
  asllib/doc/Semantics.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLDefinition.t/EvaluationOrderAndParenthesis.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[ci] Bump menhir version
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

reduction of string_of_int + fix
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: none

[asl] Update dune-project files to ocaml 4.14
  asllib/aslspec/dune-project
  asllib/dune-project
Due: make-test

[asl] Report recurse limits hit during static evaluation as static errors
  asllib/Interpreter.ml
  asllib/error.ml
  asllib/tests/side-effects.t/run.t
Due: make-test

squashed all commits to one
  litmus/libdir/_find_ins.h
  litmus/libdir/_hash.h
  litmus/libdir/_instance.h
  litmus/libdir/_prelude_size.c
  litmus/libdir/_x86_64/kvm.rules
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
