Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[ci] add forgotten apt update
  .github/workflows/run-litmus.yml
Due: none

[ci] Run litmus CI when PR edit litmus
  .github/workflows/run-litmus.yml
Due: none

[litmus] Fix broken ci
  litmus/constr.ml
  litmus/preSi.ml
Due: make-test

[ci] Bump to latest ocaml
  .github/workflows/run-litmus.yml
Due: none

[asl reference] unified duplicate latex macros + a linter
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/variable_name_macros.tex
Due: none

[litmus] Introduce Flags.t
  litmus/dumpRun.ml
  litmus/dune
  litmus/flags.mli
  litmus/top_litmus.ml
Due: make-test

[litmus] Refactor flag collection into dedicated helper
  litmus/dumpRun.ml
  litmus/objUtil.ml
  litmus/top_litmus.ml
Due: make-test

[litmus] Always issue a warning if we cannot compile the test
  litmus/top_litmus.ml
Due: make-test

[litmus] Always handle NULL and UNKNOWN data
  litmus/preSi.ml
Due: make-test

[litmus] Supprt MTE instructions
  litmus/AArch64Compile_litmus.ml
Due: make-test

[asl][www] Update `aslref-www` following #1611
  asllib/asllib-www/jaslref.ml
Due: make-test

[litmus] Introduce basic support for MTE
  gen/common/code.ml
  lib/AArch64PteVal.ml
  lib/CType.ml
  lib/CType.mli
  lib/misc.ml
  lib/misc.mli
  litmus/ASMLang.ml
  litmus/CArch_litmus.ml
  litmus/X86Compile_litmus.ml
  litmus/X86_64Compile_litmus.ml
  litmus/archExtra_litmus.ml
  litmus/compile.ml
  litmus/dumpRun.ml
  litmus/flags.mli
  litmus/global_litmus.ml
  litmus/global_litmus.mli
  litmus/libdir/_aarch64/_memtag.c
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_presi.h
  litmus/libdir/kvm-armv8.5-a+memtag.cfg
  litmus/litmus.ml
  litmus/objUtil.ml
  litmus/option.ml
  litmus/option.mli
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[litmus] Enable building MTE (sync) catalogue tests
  Makefile.aarch64
  catalogue/aarch64-MTE/tests/@sync
Due: none

[AARCH-23849,herd] Replace rf-reg with lrrs in aarch64deps.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64loc.cat
  herd/libdir/catdefinitions.tex
Due: none

[herd] Save snapshot of aarch64.cat that corresponds to Arm ARM issue L.b
  herd/libdir/aarch64/ArmARM-L.b/aarch64.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64bbm.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64deps.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64fences.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64hwreqs.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64loc.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64memattrs.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64show.cat
  herd/libdir/aarch64/ArmARM-L.b/aarch64util.cat
  herd/libdir/aarch64/ArmARM-L.b/catdefinitions.tex
  herd/libdir/aarch64/ArmARM-L.b/cos-no-opt.cat
  herd/libdir/aarch64/ArmARM-L.b/cos-ok-opt.cat
  herd/libdir/aarch64/ArmARM-L.b/cos.cat
  herd/libdir/aarch64/ArmARM-L.b/cross.cat
  herd/libdir/aarch64/ArmARM-L.b/enumerations.cat
  herd/libdir/aarch64/ArmARM-L.b/stdlib.cat
Due: none

[AARCH-24643,herd] Strengthen the ordering requirements for Exp-haz-ob in aarch64.cat
  catalogue/aarch64-mixed/shelf.py
  catalogue/aarch64-mixed/tests/@all
  catalogue/aarch64-mixed/tests/CoRR+amo.swph0h0-posh0a.w0+w0.litmus
  catalogue/aarch64-mixed/tests/CoRR+rmwh0h0-posh0a.w0+w0.litmus
  catalogue/aarch64-mixed/tests/kinds.txt
  herd/libdir/aarch64.cat
  herd/libdir/catdefinitions.tex
Due: make-test, lint-shelves

[AARCH-24622,herd] Revamp the definition of dependencies in aarch64deps.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64util.cat
  herd/libdir/catdefinitions.tex
Due: none

[AARCH-24571,herd] Fixes in aarch64.cat relating to FEAT_HAFDBS
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  herd/libdir/aarch64.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/catdefinitions.tex
Due: none

[AARCH-23766,AARCH-24727,herd] Clarify the definition of same-loc in aarch64.cat
  herd/libdir/aarch32.cat
  herd/libdir/aarch64loc.cat
  herd/libdir/catdefinitions.tex
Due: none

[tools] Fix the transliteration of cat clauses with range(...)
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/catdefinitions.tex
  tools/miaou.ml
Due: make-test

[herd] Save snapshot of aarch64.cat that corresponds to Arm ARM issue M.a
  herd/libdir/aarch64/ArmARM-M.a/aarch64.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64bbm.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64deps.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64fences.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64hwreqs.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64loc.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64memattrs.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64show.cat
  herd/libdir/aarch64/ArmARM-M.a/aarch64util.cat
  herd/libdir/aarch64/ArmARM-M.a/catdefinitions.tex
  herd/libdir/aarch64/ArmARM-M.a/cos-no-opt.cat
  herd/libdir/aarch64/ArmARM-M.a/cos-ok-opt.cat
  herd/libdir/aarch64/ArmARM-M.a/cos.cat
  herd/libdir/aarch64/ArmARM-M.a/cross.cat
  herd/libdir/aarch64/ArmARM-M.a/enumerations.cat
  herd/libdir/aarch64/ArmARM-M.a/stdlib.cat
Due: none

[AARCH-23842,herd] Split lwfs to lws and lfs in aarch64deps.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/catdefinitions.tex
Due: none

[tools] Fix miaou to handle the intervening function
  tools/miaou.ml
Due: make-test

[asl][reference] Bump version macro to EAC0
  asllib/doc/ASLReference.tex
Due: none

[asl][reference] Delete changelog
  asllib/doc/ASLRefALP2.1ChangeLog.tex
  asllib/doc/ASLRefALP2ChangeLog.tex
  asllib/doc/ASLRefALP3.1ChangeLog.tex
  asllib/doc/ASLRefALP3ChangeLog.tex
  asllib/doc/ASLRefBET0ChangeLog.tex
  asllib/doc/ASLRefBET1ChangeLog.tex
  asllib/doc/ASLRefBET2ChangeLog.tex
  asllib/doc/ASLReference.tex
  asllib/doc/extended_macros.py
Due: none

[asl][reference] Update disclaimer
  asllib/doc/ASLmacros.tex
  asllib/doc/dictionary.txt
  asllib/doc/disclaimer.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] Fix a bug in headers
  asllib/doc/ASLmacros.tex
Due: none

[catalogue] Correcting kinds for ETS2
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
Due: none

[more-tools,build] Optional compilation for more-tools
  more-tools/dune
Due: make-test

[more-tools] Fix "reverse" name handling.
  more-tools/finddef.ml
Due: make-test

[more-tools] menhir parser
  more-tools/EParser.mli
  more-tools/Lexer.mli
  more-tools/Lexer.mll
  more-tools/Parser.mly
  more-tools/Tokens.mly
  more-tools/dune
  more-tools/findDef.ml
  more-tools/findDef.mli
  more-tools/parserConfig.mli
  more-tools/stdParser.ml
  more-tools/uoaim.ml
Due: make-test

[more-tools] One more tool
  more-tools/README.md
  more-tools/build-dict.sh
  more-tools/dict.ml
  more-tools/dict.mli
  more-tools/dune
  more-tools/finddef.ml
  more-tools/finddef.mli
  more-tools/lexindent.mll
  more-tools/subst.mli
  more-tools/subst.mll
  more-tools/uoaim.ml
Due: make-test

[more-tools] Restructuration
  more-tools/EParser.ml
  more-tools/EParser.mli
  more-tools/README.md
  more-tools/dune
  more-tools/extractdefs.mll
  more-tools/headers.awk
  more-tools/preCat.ml
  more-tools/preCat.mli
  more-tools/uoaim.ml
Due: make-test

[more-tools] uoaim accepts negation and transitivity
  more-tools/README.md
  more-tools/build-dict.sh
  more-tools/dict.ml
  more-tools/dict.mli
  more-tools/finddef.ml
  more-tools/finddef.mli
  more-tools/uoaim.ml
Due: make-test

[more-tools] Handle special characters in names
  more-tools/EParser.ml
  more-tools/EParser.mli
  more-tools/dune
  more-tools/findDef.ml
  more-tools/findDef.mli
  more-tools/preCat.ml
  more-tools/preCat.mli
  more-tools/readNames.ml
  more-tools/readNames.mli
  more-tools/stdParser.ml
  more-tools/uoaim.ml
  tools/miaou.ml
  tools/miaouNames.ml
  tools/miaouNames.mli
Due: make-test

[more-tools] Pretty-print Pre-Cat as Cat.
  more-tools/ppCat.ml
  more-tools/ppCat.mli
  more-tools/uoaim.ml
Due: make-test

[more-tools] Disambiguate conjunctions
  more-tools/EParser.ml
  more-tools/Parser.mly
  more-tools/findDef.ml
  more-tools/findDef.mli
  more-tools/parseBin.ml
  more-tools/preCat.ml
  more-tools/preCat.mli
  more-tools/subst.mll
  more-tools/uoaim.ml
Due: make-test

[more-tools] Format dune file
  more-tools/dune
Due: make-test

[more-tools] Parsing set specifications in relations
  more-tools/findDef.ml
  more-tools/findDef.mli
  more-tools/parseBin.ml
  more-tools/preCat.ml
  more-tools/preCat.mli
  more-tools/splitName.ml
  more-tools/splitName.mli
Due: make-test
