Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Update CI due to the new version of baseline.
  gen/tests/baseline-size-4.cycle.expected
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] refactor DumpAll test preparation
  gen/alt.ml
  gen/common/edge.ml
  gen/dumpAll.ml
  gen/dumpAll.mli
Due: make-test

[gen] allow repeated reject lists in diy7
  gen/tests/diy-basic-check.t
Due: none

[gen] filter invalid cycles in `diy7` searching algorithm before DumpAll
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[TEMP] add more edges to memtag.conf
  gen/libdir/memtag.conf
Due: none

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Add AArch64 MemTag generator config
  gen/libdir/memtag.conf
Due: none

[aslspec] strengthened subsumption test for recursive types
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/instantiation_expansion_depth.spec
  asllib/aslspec/tests.t/run.t
Due: make-test

[gen] Track per-proc implicit PTE updates
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Code improvement on `Pte` when building cycle.
  gen/cycle.ml
Due: make-test

[CI] Add test for `vmsa` in `Makefile`.
  Makefile
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsW-pos-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteaf0-pospteaf0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa-pospteoap-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.af0-pospteoa.af0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.v1-pospteoa.v1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpptev1-posptev1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehap-pos-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteaf0-pospteaf0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa-pospteoap-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.af0-pospteoa.af0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.v1-pospteoa.v1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehaptev1-posptev1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdp-pos-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteaf0-pospteaf0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa-pospteoap-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.af0-pospteoa.af0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.v1-pospteoa.v1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdptev1-posptev1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoap-pos-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteaf0-pospteaf0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa-pospteoap-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.af0-pospteoa.af0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.v1-pospteoa.v1p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoaptev1-posptev1p-frippteoa.litmus.expected
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
  gen/topUtils.ml
Due: make-test

[aslspec] parameterized types
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/error.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/parameterized_type_instantiation.bad
  asllib/aslspec/tests.t/parameterized_types.spec
  asllib/aslspec/tests.t/run.t
  asllib/doc/asl.spec
Due: make-test

[aslspec][asl reference] imported the syntax and AST builders to aslspec
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Makefile
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
  asllib/doc/build-worklist.md
  asllib/doc/build.spec
  asllib/doc/syntax.spec
  asllib/doc/variable_name_macros.tex
Due: none

[aslspec] fixed redundant extra level of nesting at the top level
  asllib/aslspec/render.ml
Due: make-test

[aslspec] fixed prose rendering that resulted in: x (for the output variable x)
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/rule.expected
Due: make-test

[herd] Remove locations and labels from MTE async faults
  catalogue/aarch64-MTE/tests/coRR-RTW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WW.litmus
  catalogue/aarch64-MTE/tests/coRR-TR.litmus
  catalogue/aarch64-MTE/tests/coRR-TW.litmus
  catalogue/aarch64-MTE/tests/coRR-WTW.litmus
  catalogue/aarch64-MTE/tests/coRTW.litmus
  catalogue/aarch64-MTE/tests/coTR.litmus
  catalogue/aarch64-MTE/tests/coTW.litmus
  catalogue/aarch64-MTE/tests/coWTW.litmus
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/L01.litmus
  herd/tests/instructions/AArch64.MTE/L01.litmus.expected
Due: make-test

[AARCH-25669, herd] Move the ordering rules for LDIAPP/STILP to a new definition
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: none

[litmus] Add makefile recipe for catalogue/aarch64-faults
  Makefile.aarch64
Due: none

AARCH-25405: Add href to Effective value
  herd/libdir/catdefinitions.tex
Due: none

[litmus] Bug fix for CI
  .github/workflows/run-litmus.yml
  Makefile.aarch64
Due: none

Check github action on asllib/asllib-www modifications
  asllib/asllib-www/jaslref.ml
Due: make-test

[gen] Update `memtag` CI check in `diy`.
  Makefile
  gen/tests/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/LB+dmb.sytt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/MP+dmb.sytt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sy+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sypt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sypt+amo.ldaddal-polt.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytt+amo.ldaddal-polp.litmus.expected
  gen/tests/AArch64.MTE/S+dmb.sytt+amo.ldaddal-polt.litmus.expected
Due: make-test

[gen] Add `sync` and `async` memtag variants for `diy*`
  gen/common/config.ml
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/top_gen.ml
Due: make-test

[litmus] Check for FEAT_ETS2 when the variant is ets2
  litmus/dumpRun.ml
  litmus/flags.mli
  litmus/libdir/_aarch64/_ets.c
  litmus/libdir/_aarch64/_ets.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[catalogue] Revamp the aarch64-ETS2 catalogue
  Makefile
  catalogue/aarch64-ETS2/README.md
  catalogue/aarch64-ETS2/cats
  catalogue/aarch64-ETS2/cats/aarch64.cat
  catalogue/aarch64-ETS2/cfgs/new-web.cfg
  catalogue/aarch64-ETS2/cfgs/web.cfg
  catalogue/aarch64-ETS2/shelf.py
  catalogue/aarch64-ETS2/tests
  catalogue/aarch64-ETS2/tests/@all
  catalogue/aarch64-ETS2/tests/ETS2.CoWR0+posptev1p-fripptev1.litmus
  catalogue/aarch64-ETS2/tests/ETS2.CoWR0+tlbi-sync.ishsptev0p-fripptev0.litmus
  catalogue/aarch64-ETS2/tests/ETS2.CoWW+tlbi-sync.ishsptedb1p-coipptedb1.litmus
  catalogue/aarch64-ETS2/tests/ETS2.LB+dsb.ldpptehd+popteap.litmus
  catalogue/aarch64-ETS2/tests/ETS2.MP+dsb.stpptehd+popteap.litmus
  catalogue/aarch64-ETS2/tests/ETS2.MP+poptev1l+po.litmus
  catalogue/aarch64-ETS2/tests/ETS2.SB+dsb.sy+dmb.syptev1p.litmus
  catalogue/aarch64-ETS2/tests/kinds.txt
Due: make-test, lint-shelves

[asl.cat] Uniformize names and properly show sets of events
  herd/libdir/asl.cat
Due: none

[gen] Check before/after predicates during diy7 search
  gen/alt.ml
  gen/common/edge.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Add predicate such as `@after(..)` syntax to relax parser
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/config.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] filter invalid input with predicate before `diy7` searching algorithm.
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Add `diy7 -unfold-only`.
  gen/common/config.ml
  gen/diy.ml
  gen/tests/diy-basic-check.t
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
