Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd,asl,vmsa] Generate sufficiently many spurious updates of the AF flags
  herd/AArch64ASLSem.ml
Due: make-test

[asl] A small refacto to the asl cat file
  herd/libdir/asl.cat
Due: none

[herd,asl,vmsa] No AF update in some cases of CAS execution
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: none

[herd,asl,vmsa] No AF update for faulting stores
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: none

[asl] Add some support for parsing error messages
  asllib/Parser.mly
  asllib/builder.ml
  asllib/bundler.ml
  asllib/desugar.ml
  asllib/dune
  asllib/error.ml
  asllib/gparser0.ml
  asllib/parser_errors.messages
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/regressions.t/discard-locals.asl
  asllib/tests/regressions.t/elided-parameter-non-bits.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Reintroduce some error messages
  asllib/Lexer.mll
  asllib/Parser.mly
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Improve handling of recursive call in symbolic cases
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/StaticInterpreter.ml
  herd/ASLSem.ml
  herd/tests/instructions/ASL-pseudo-arch/recurse-arbitrary.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-arbitrary.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-too-far.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus.expected-failure
  herd/tests/instructions/ASL-pseudo-arch/recurse-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-too-far.litmus.expected-warn
Due: make-test

[ci] Make CI run on lowest possible software
  .github/workflows/make-test.yml
Due: none

[build] Update minimal versions
  herdtools7.opam
Due: opam-lint

formatting changes, cleaning code
  herd/herd.ml
  herd/variant.ml
  herd/variant.mli
  lib/argUtils.ml
  lib/parseTag.ml
Due: make-test

[tests] Test by criteria option
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

[asl] Remove dead code: `LDK_Constant` and `StaticEnv.local.local_constants`
  asllib/AST.mli
  asllib/PP.ml
  asllib/Serialize.ml
  asllib/SideEffect.ml
  asllib/StaticEnv.ml
  asllib/StaticEnv.mli
  asllib/StaticInterpreter.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/lispobj.ml
Due: make-test

[asl] Reintroduce some error messages
  asllib/Lexer.mll
  asllib/Parser.mly
  asllib/error.ml
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Remove various compatibility flags
  asllib/Lexer.mll
  asllib/Parser.mly
  asllib/ParserConfig.mli
  asllib/aslref.ml
  asllib/builder.ml
  asllib/builder.mli
  asllib/bundler.ml
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/allow_no_end_semicolon.t
  asllib/tests/lexer.t
  asllib/tests/regressions.t/no_end_semicolon.asl
  asllib/tests/regressions.t/run.t
  herd/ASLParseTest.ml
  lib/ASLBase.ml
Due: make-test

[ci] Bump menhir to a newer version
  .github/workflows/make-test.yml
Due: none

[ci] Bump dune to a newer version
  .github/workflows/make-test.yml
Due: none

[all] Remove unused to satisfy some warning
  asllib/aslref.ml
  asllib/bundler.ml
  asllib/menhir2bnfc/tests/integration/cmp_binops.ml
  gen/atoms.ml
  gen/classify.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/mexpand.ml
  gen/norm.ml
  gen/readRelax.ml
  internal/herd_catalogue_regression_test.ml
  internal/lib/tests/test_test.ml
  jingle/gen_theme.ml
  tools/bento.mll
  tools/knames.ml
  tools/madd.ml
  tools/mapply.ml
  tools/mcompare.ml
  tools/mcond.ml
  tools/mhash.ml
  tools/miaou.ml
  tools/mobserved.ml
  tools/mproj.ml
  tools/mrcu.ml
  tools/rehash.ml
  tools/splitcond.ml
Due: make-test

[asl/tests] fix helpers use
  asllib/tests/Lexer.ml
  asllib/tests/bitvector.ml
  asllib/tests/dune
  asllib/tests/static.ml
  asllib/tests/types.ml
Due: make-test

[menhir2bfnc] Allow compatibility before 20231231
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/dune
Due: make-test

[menhir2bnfc] Enable dune fmt
  asllib/menhir2bnfc/.ocamlformat
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/menhir2bnfc.ml
Due: make-test

[ci] Bump dune to least supported by opam
  .github/workflows/make-test.yml
  INSTALL.md
  herdtools7.opam
Due: opam-lint

[menhir2bnfc] Switch to make for menhir2bnfc testing
  .github/workflows/menhir2bnfc.yml
  Makefile
  asllib/carpenter/test/dune
  asllib/dune
  asllib/menhir2bnfc/Makefile
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/dune-project
  asllib/menhir2bnfc/tests/dune
  asllib/menhir2bnfc/tests/integration/Makefile
  asllib/menhir2bnfc/tests/integration/bnfc_parser/dune
  asllib/menhir2bnfc/tests/integration/dune
  dune-project
  gen/dune
  herd-www/dune
  herd/dune
  herdtools7.opam
  internal/dune
  internal/lib/tests/dune
  lib/dune
  litmus/dune
  tools/dune
Due: make-test, opam-lint

TEST [ci] add packages as ocaml compiler invariant
  .github/workflows/make-test.yml
Due: none

[ci] Directly install packages with minimum versions as switch invariants
  .github/workflows/make-test.yml
Due: none

[gen] Add `PteOne*` and `PteZero*` annotations to manipulate Pte AArch64.
  gen/AArch64Arch_gen.ml
  gen/ARMArch_gen.ml
  gen/BellArch_gen.ml
  gen/CCompile_gen.ml
  gen/MIPSArch_gen.ml
  gen/PPCArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/archExtra_gen.ml
  gen/arch_gen.mli
  gen/builder.mli
  gen/cycle.ml
  gen/dumpAll.ml
  gen/genUtils.mli
  gen/pteVal_gen.ml
  gen/top_gen.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/pteVal.ml
  lib/pteVal.mli
Due: make-test

[gen] Add `get_machine_feature` interface that returns machine features.
  gen/AArch64Arch_gen.ml
  gen/BellArch_gen.ml
  gen/CArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/atom.mli
  gen/cycle.ml
  gen/edge.ml
  gen/machAtom.ml
Due: make-test

[gen] Pipe the pseudo annotation `PteTTHM*` to the final litmus tests.
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Update `can_fault` which distinguish R and W
  gen/AArch64Arch_gen.ml
  gen/cycle.ml
  gen/pteVal_gen.ml
Due: make-test

[gen] Introduce annotation `PteTTHM*` in arrch64.
  gen/AArch64Arch_gen.ml
Due: make-test

[gen] Add implicit pte update regarding machine feature status.
  gen/AArch64Arch_gen.ml
  gen/cycle.ml
  gen/pteVal_gen.ml
Due: make-test

[asl] Enforce total po in ASL
  herd/ASLSem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

feat: aslref-www
  asllib/asllib-www/dune
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

[ci] Use `sed` to patch `asllib/dune` for static builds CI
  .github/workflows/static-binaries.yml
  asllib/dune
Due: make-test

[ci] Attempt to fix static binaries build
  .github/workflows/static-binaries.yml
  asllib/dune
  dune
Due: make-test

[herd] Never stop time out
  herd/eventsMonad.ml
Due: make-test

[gen] Update configuration that generates forbidden litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Ensure diycross parse the input correct.
  gen/diycross.ml
Due: make-test
