Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

Incorporating Luc's patch fixing cross-thread BLR jumps
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/ARMArch_herd.ml
  herd/BellArch_herd.ml
  herd/CArch_herd.ml
  herd/IFetchTrait.ml
  herd/MIPSArch_herd.ml
  herd/PPCArch_herd.ml
  herd/RISCVArch_herd.ml
  herd/X86Arch_herd.ml
  herd/X86_64Arch_herd.ml
  herd/archExtra_herd.ml
  herd/arch_herd.mli
  herd/loader.ml
  herd/mem.ml
  herd/semExtra.ml
  herd/tests/instructions/AArch64.self/S01.litmus
  herd/tests/instructions/AArch64.self/S01.litmus.expected
  herd/tests/instructions/AArch64.self/S02.litmus
  herd/tests/instructions/AArch64.self/S02.litmus.expected
  herd/tests/instructions/AArch64.self/S03.litmus
  herd/tests/instructions/AArch64.self/S03.litmus.expected-failure
  herd/top_herd.ml
Due: make-test

[litmus] Use variables defined in KUT's config.mak in KVM mode
  litmus/dumpRun.ml
  litmus/libdir/_aarch64/kvm.c.rules
  litmus/libdir/_aarch64/kvm.rules
  litmus/libdir/_x86_64/kvm.c.rules
  litmus/libdir/_x86_64/kvm.rules
  litmus/libdir/kvm-aarch64.cfg
  litmus/libdir/kvm-armv8.1.cfg
  litmus/libdir/kvm-x86_64.cfg
Due: make-test

[litmus] Avoid linking with libgcc in KVM mode
  litmus/libdir/kvm-aarch64.cfg
  litmus/libdir/kvm-armv8.1.cfg
  litmus/libdir/kvm-x86_64.cfg
Due: none

[litmus] Avoid linking with pthread in KVM mode
  litmus/runUtils.ml
Due: make-test

[litmus] Avoid unnecessary definition of -cpu parameter
  litmus/dumpRun.ml
Due: make-test

added more tests for BL/BLR/BR/RET + a bit more of code reuse in their semantics
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.self/A007.litmus
  herd/tests/instructions/AArch64.self/S03.litmus
  herd/tests/instructions/AArch64.self/S03.litmus.expected
  herd/tests/instructions/AArch64.self/S03.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S04.litmus
  herd/tests/instructions/AArch64.self/S04.litmus.expected
  herd/tests/instructions/AArch64.self/S05.litmus
  herd/tests/instructions/AArch64.self/S05.litmus.expected
  herd/tests/instructions/AArch64.self/S06.litmus
  herd/tests/instructions/AArch64.self/S06.litmus.expected
  herd/tests/instructions/AArch64.self/S07.litmus
  herd/tests/instructions/AArch64.self/S07.litmus.expected
  herd/tests/instructions/AArch64.self/S08.litmus
  herd/tests/instructions/AArch64.self/S08.litmus.expected
  herd/tests/instructions/AArch64.self/S09.litmus
  herd/tests/instructions/AArch64.self/S09.litmus.expected
  herd/tests/instructions/AArch64.self/S10.litmus
  herd/tests/instructions/AArch64.self/S10.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S11.litmus
  herd/tests/instructions/AArch64.self/S11.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S12.litmus
  herd/tests/instructions/AArch64.self/S12.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S13.litmus
  herd/tests/instructions/AArch64.self/S13.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S14.litmus
  herd/tests/instructions/AArch64.self/S14.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S15.litmus
  herd/tests/instructions/AArch64.self/S15.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S16.litmus
  herd/tests/instructions/AArch64.self/S16.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S17.litmus
  herd/tests/instructions/AArch64.self/S17.litmus.expected-failure
Due: make-test

[litmus] Add begin/end to fix tricky precedence trap
  litmus/dumpRun.ml
Due: make-test

[all] full label (open) abstraction
  lib/label.ml
  lib/label.mli
Due: make-test

[herd] Extend instruction monad return value
  herd/branch.ml
  herd/mem.ml
  herd/semExtra.ml
Due: make-test

[litmus] Label constants as initial values
  litmus/ASMLang.ml
  litmus/CArch_litmus.ml
  litmus/archExtra_litmus.ml
  litmus/arch_litmus.mli
  litmus/compile.ml
  litmus/libdir/_aarch64/getret.c
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_instance.c
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
  litmus/top_klitmus.ml
Due: make-test

[all] equality combinator for pairs
  lib/misc.ml
  lib/misc.mli
Due: make-test

[litmus] inter thread explicit calls
  litmus/compile.ml
  litmus/skel.ml
Due: make-test

[herd] Execute BR, BL, BLR and RET instructions in standard mode
  herd/AArch64Sem.ml
Due: make-test

[tests] Tests for the BR,BL and BLR instructions
  herd/tests/instructions/AArch64/L022.litmus
  herd/tests/instructions/AArch64/L022.litmus.expected
  herd/tests/instructions/AArch64/L023.litmus
  herd/tests/instructions/AArch64/L023.litmus.expected
  herd/tests/instructions/AArch64/L024.litmus
  herd/tests/instructions/AArch64/L024.litmus.expected
  herd/tests/instructions/AArch64/L025.litmus
  herd/tests/instructions/AArch64/L025.litmus.expected
Due: make-test

[herd] Define the `no-loc` set in all variants.
  herd/machAction.ml
Due: make-test

Atomics with both acquire and release semantics currently act as a full barrier (#322)
  herd/libdir/aarch64.cat
Due: none

[AArch64] aob relaxation
  herd/libdir/aarch64.cat
Due: none

[AArch64] aob relaxation (#325)
  herd/libdir/aarch64.cat
Due: none

[catalogue] Add MTE coherence tests, CoRR status not committed yet.
  Makefile
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/MTE-CoRR+READ+FAULT.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRR+READS.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRR+addr+READS.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRR+dmb.ld+READS.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRW1+FAULT.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRW1+READ.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRW2+FAULT.litmus
  catalogue/aarch64-MTE/tests/MTE-CoRW2+READ.litmus
  catalogue/aarch64-MTE/tests/MTE-CoWR+FAULT.litmus
  catalogue/aarch64-MTE/tests/MTE-CoWR+READ.litmus
  catalogue/aarch64-MTE/tests/MTE-CoWW.litmus
  catalogue/aarch64-MTE/tests/MTE-LDRLDR.litmus
  catalogue/aarch64-MTE/tests/MTE-LDRSTGLDR.litmus
  catalogue/aarch64-MTE/tests/MTE-RFI.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test, lint-shelves

[all] Fix printing bug
  lib/parsedPteVal.ml
Due: make-test

[all] A comment highlights a (small) discrepancy in hash computation
  lib/genParserUtils.ml
Due: make-test

This change is a relaxation.
  herd/libdir/aarch64.cat
  herd/libdir/aarch64deps.cat
Due: none

[internal] Silence two warnings
  internal/lib/command.ml
Due: make-test

[tests] New entry `cata-test`
  Makefile
Due: none

This change is a relaxation.
  catalogue/aarch64/cats/aarch64-v07.cat
  catalogue/aarch64/tests/LB+CAS-rfi-ctrl+DMBSY.litmus
  catalogue/aarch64/tests/LB+rel+CAS.litmus
  catalogue/aarch64/tests/MP+CAS-rfi-ctrl+acq.litmus
  catalogue/aarch64/tests/MP+rel+CAS-addr.litmus
  catalogue/aarch64/tests/R+CAS+DMBLD.litmus
  catalogue/aarch64/tests/R+CAS-rfi-ctrl+DMBST.litmus
  catalogue/aarch64/tests/SB+CAS-rfi-addr+DMBSY.litmus
  catalogue/aarch64/tests/SB+SWP-rfi-addr+DMBSY.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test

[internal] More robust internal kind parser
  internal/lib/channel.ml
  internal/lib/channel.mli
  internal/lib/kinds.ml
Due: make-test

[internal] Remove usage of deprecated `Stream` module
  internal/lib/kinds.ml
  internal/lib/sexp.ml
Due: make-test

[herd] Better printing of binary operators
  herd/valconstraint.ml
  lib/op.ml
  lib/op.mli
Due: make-test

This change is a relaxation.
  herd/libdir/aarch64.cat
Due: none

[herd] Fix default values.
  herd/archExtra_herd.ml
  herd/eventsMonad.ml
Due: make-test

[make] Catalogue 'pick-test' regression is now optional.
  Makefile
Due: none

[tests] Indent new catalogue tests
  catalogue/aarch64/tests/LB+CAS-rfi-ctrl+DMBSY.litmus
  catalogue/aarch64/tests/LB+rel+CAS.litmus
  catalogue/aarch64/tests/MP+CAS-rfi-ctrl+acq.litmus
  catalogue/aarch64/tests/MP+rel+CAS-addr.litmus
  catalogue/aarch64/tests/R+CAS+DMBLD.litmus
  catalogue/aarch64/tests/R+CAS-rfi-ctrl+DMBST.litmus
  catalogue/aarch64/tests/SB+CAS-rfi-addr+DMBSY.litmus
  catalogue/aarch64/tests/SB+SWP-rfi-addr+DMBSY.litmus
Due: make-test

[AArch64 cat] Pick dependencies (#331)
  catalogue/aarch64/cats/aarch64-v07.cat
  catalogue/aarch64/tests/LB+CAS-rfi-ctrl+DMBSY.litmus
  catalogue/aarch64/tests/LB+rel+CAS.litmus
  catalogue/aarch64/tests/MP+CAS-rfi-ctrl+acq.litmus
  catalogue/aarch64/tests/MP+rel+CAS-addr.litmus
  catalogue/aarch64/tests/R+CAS+DMBLD.litmus
  catalogue/aarch64/tests/R+CAS-rfi-ctrl+DMBST.litmus
  catalogue/aarch64/tests/SB+CAS-rfi-addr+DMBSY.litmus
  catalogue/aarch64/tests/SB+SWP-rfi-addr+DMBSY.litmus
  catalogue/aarch64/tests/kinds.txt
  herd/libdir/aarch64deps.cat
Due: make-test

[tools] Allow any name to be used as label for identifying faults
  tools/lexLog_tools.mll
Due: make-test

[herd] Safer initial environement for the cat interpreter
  lib/interpreter.ml
Due: make-test

[herd] Better names for the Data Cache events
  herd/machAction.ml
Due: make-test

[herd] Remove binding "I" of initial writes
  herd/machModelChecker.ml
Due: make-test

[herd] Remove duplicate "T" binding.
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
Due: make-test

[herd] Suppress duplicate linux-C bindings
  herd/CAction.ml
Due: make-test

[herd] Rename ex "Commit" events into "Branching" events
  herd/BellAction.ml
  herd/CAction.ml
  herd/action.mli
  herd/event.ml
  herd/libdir/aarch64.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/stdlib.cat
  herd/machAction.ml
  herd/machModelChecker.ml
  herd/modelUtils.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
