Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[aslspec] fixed parsing bug - precedence of := and =: should be lower
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/spec.ml
Due: make-test

[herd] Initial support for .p2align
  diymicro/compile.ml
  gen/top_gen.ml
  herd/archExtra_herd.ml
  herd/arch_herd.mli
  herd/loader.ml
  herd/semExtra.ml
  jingle/arch.ml
  jingle/cDumper.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/constant.ml
  lib/constant.mli
  lib/pseudo.ml
  lib/simpleDumper.ml
  lib/testHash.ml
  litmus/compile.ml
  litmus/litmusUtils.ml
  tools/mixMerge.ml
  tools/mlisa2c.ml
  tools/mlock.ml
  tools/mprog.ml
  tools/mrcu.ml
  tools/prettyProg.ml
  tools/transposeDumper.ml
Due: make-test

[litmus7] Alias variant 'ifetch' to 'self'
  litmus/variant_litmus.ml
Due: make-test

[litmus7] Support .pagealign attribute
  litmus/ASMLang.ml
  litmus/compile.ml
  litmus/template.ml
Due: make-test

[litmus] Guard ifetch support changes for non-vmsa+ifetch tests
  litmus/preSi.ml
Due: make-test

[litmus7,WIP] Initial support for translating addresses of instructions
  litmus/ASMLang.ml
  litmus/CLang.ml
  litmus/LISALang.ml
  litmus/compile.ml
  litmus/langUtils.ml
  litmus/langUtils.mli
  litmus/preSi.ml
Due: make-test

[herd, litmus] Distinguish between instruction and data MMU faults
  gen/final.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/archExtra_herd.ml
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.vmsa+ifetch/A006.litmus
  herd/tests/instructions/AArch64.vmsa+ifetch/A006.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A008.litmus
  herd/tests/instructions/AArch64.vmsa+ifetch/A008.litmus.expected
  lib/DISide.ml
  lib/fault.ml
  lib/fault.mli
  lib/faultType.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
Due: make-test

[herd] Addressing review comments
  herd/AArch64Sem.ml
  herd/loader.ml
  herd/mem.ml
  herd/semExtra.ml
Due: make-test

[herd, litmus] Introduce execute bit in PTEs
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.vmsa+ifetch/A010.litmus
  herd/tests/instructions/AArch64.vmsa+ifetch/A010.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A010.litmus.expected-failure
  herd/tests/instructions/AArch64.vmsa+ifetch/A011.litmus
  herd/tests/instructions/AArch64.vmsa+ifetch/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A011.litmus.expected-failure
  lib/AArch64Op.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/ASLOp.ml
  litmus/libdir/_aarch64/kvm-headers.h
Due: make-test

[herd] Modify tests to match new fault syntax
  herd/tests/instructions/AArch64.PAC/A13.litmus.expected
  herd/tests/instructions/AArch64.PAC/A14.litmus.expected
  herd/tests/instructions/AArch64.kvm/A004.litmus.expected
  herd/tests/instructions/AArch64.kvm/A013.litmus.expected
  herd/tests/instructions/AArch64.kvm/F000.litmus.expected
  herd/tests/instructions/AArch64.kvm/F002.litmus.expected
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+dmb.ld.litmus.expected
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+noret-dmb.ld.litmus.expected
  herd/tests/instructions/AArch64.kvm/P019.litmus.expected
  herd/tests/instructions/AArch64.kvm/R019.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A006.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A008.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A010.litmus.expected
  herd/tests/instructions/AArch64.vmsa+ifetch/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A012.litmus.expected
Due: make-test

[litmus7,aarch64] Fix `code_init`
  litmus/libdir/_aarch64/kvm-self.c
Due: none

[litmus7, aarch64] Handle Instruction Abort
  litmus/libdir/_aarch64/kvm_fault_handler.c
Due: none

[litmus7, aarch64] Replace NOP as start/stop marker in litmus assembly
  lib/AArch64Base.ml
  litmus/AArch64Arch_litmus.ml
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Add instr/data to PTE access type
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLAction.ml
  herd/ASLSem.ml
  herd/libdir/aarch64util.cat
  herd/machAction.ml
  lib/access.ml
  lib/access.mli
  lib/symbConstant.ml
Due: make-test

[gen] Move out of `diy` filter into separate module.
  gen/alt.ml
Due: make-test

[gen] make the main function `let ()` in `diy.ml` shorter.
  gen/diy.ml
Due: make-test

[gen] Change `pp_relax` that no longer print compressed relax.
  gen/relax.ml
Due: make-test

[gen] add `-filter` argument in `diy7`
  gen/alt.ml
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[gen] add README.md to document `diy7` filter.
  gen/README.md
Due: none

[lib] remove extra linebreak prior the pre-condition in `CoreDumper`.
  lib/coreDumper.ml
Due: make-test

[aslspec] correctly infer types for constants dependent on other constants
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] fixes to builtin operators
  asllib/aslspec/builtins.spec
  asllib/doc/ASLmacros.tex
Due: none

[aslspec] correctly infer types for constants dependent on other constants
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/ASLmacros.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/asl.spec
Due: none

[AARCH-25105,herd] Ordering implications of a DSB when used to complete a TLBI or an IC
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25105/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25105/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25105/shelf.py
  catalogue/aarch64-oban/aarch-25105/tests/@all
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+shoot-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS2.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS3.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-pre_ETS.txt
  herd/eventsMonad.ml
Due: make-test, lint-shelves

[cat] Generalizing *-intrinsically-before relations as Immediately-intrinsically-before
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64loc.cat
Due: none

[cat] Elaborating the scope of the ordering rules known only to apply to the effects due to D-side MMU
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
Due: none

[asllib][doc][html] Prototype translation to HML of ASL Reference
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/macros.hva
  asllib/doc/rendering_macros.hva
  asllib/doc/rendering_macros.sty
  asllib/doc/zyva.sh
Due: none

[asllib][doc] Remove duplicated prose about examples
  asllib/doc/asl.spec
Due: none

[asllib][doc] Define hypertargets for `Cannot{Over,Under}approximate`
  asllib/doc/SymbolicSubsumptionTesting.tex
Due: none

Appy patch by Hrutvik
  asllib/doc/extended_macros.py
Due: none

[asllib][doc][html] Silence hevea warnings by various means
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Specifications.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
  asllib/doc/enumitem.hva
  asllib/doc/macros.hva
  asllib/doc/mathpartir.hva
Due: none

[asllib][doc][html] Automated insertion of \hva commands.
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/operators.expected
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: make-test

[gen] rework on the `-stdout` and `-o` argument in `diyone7`
  gen/common/config.ml
  gen/diyone.ml
Due: make-test

[gen] Update the `diy*` tool argument descriptions.
  gen/common/config.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
Due: make-test

[gen] `-stdout` becomes flag rather than boolean argument.
  gen/common/config.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
Due: make-test

[gen] Simplify the code parsing edge `es` in `diyone7`.
  gen/diyone.ml
Due: make-test

[asllib][doc][html] Remove unnecessary definition.
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
Due: none

[asllib][doc][html] Add concise README file
  asllib/doc/README-HTML.md
Due: none

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
