Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl reference] removed scripting/files related to code snippets
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Makefile
  asllib/doc/Statements.tex
  asllib/doc/control.tex
Due: none

made header guards more consistent, removed old comments, and improved readability of some code
  litmus/dumpRun.ml
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/kvm_fault_handler.h
  litmus/libdir/_aarch64/kvm_timebase.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_find_ins.h
  litmus/libdir/_hash.h
  litmus/libdir/_instance.h
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

added additional ignores
  litmus/preSi.ml
Due: make-test

added ignores to do_cpy
  litmus/preSi.ml
Due: make-test

[herd] Small simplification/optimisation
  herd/mem.ml
Due: make-test

[lib] Additions to the Misc module
  lib/misc.ml
  lib/misc.mli
  litmus/skelUtil.ml
Due: make-test

[herd] Improve the delaying monad operator
  herd/eventsMonad.ml
Due: make-test

[herd] Global count of necessary spurious updates
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ARMSem.ml
  herd/ASLAction.ml
  herd/ASLSem.ml
  herd/BPFSem.ml
  herd/BellAction.ml
  herd/BellSem.ml
  herd/CAction.ml
  herd/CSem.ml
  herd/JavaAction.ml
  herd/JavaSem.ml
  herd/MIPSSem.ml
  herd/PPCSem.ml
  herd/RISCVSem.ml
  herd/X86Sem.ml
  herd/X86_64Arch_herd.ml
  herd/X86_64Sem.ml
  herd/action.mli
  herd/archAction.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/machAction.ml
  herd/mem.ml
  herd/monad.mli
  herd/noAF.ml
  herd/sem.mli
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/A032.litmus
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  herd/tests/instructions/AArch64.kvm/A033.litmus
  herd/tests/instructions/AArch64.kvm/A033.litmus.expected
  herd/tests/instructions/AArch64.kvm/A034.litmus
  herd/tests/instructions/AArch64.kvm/A034.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[gen] Remove invalid composite relax after unfold in `relax.ml`.
  gen/diy.ml
  gen/relax.ml
Due: make-test

[asl reference] establish consistent function/relation notations
  asllib/doc/ASLFormal.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
Due: none

[aslspec][asl reference] remove remaining references to bottom
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/tests.t/typedefs.expected
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/reference-review-worklist.md
Due: make-test

[asl reference] fixes following an automated review
  asllib/doc/ASLFormal.tex
Due: none

fixed all kvm aarch64 compilation errors
  litmus/libdir/_aarch64/_memtag.c
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/preSi.ml
Due: make-test

fixed timebase not copying and make clean deleting o files
  litmus/libdir/_aarch64/kvm.c.rules
  litmus/libdir/_aarch64/kvm.rules
  litmus/libdir/_x86_64/kvm.c.rules
  litmus/libdir/_x86_64/kvm.rules
  litmus/preSi.ml
Due: make-test

added header guards and moved include to find ins
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.h
  litmus/libdir/_aarch64/barrier.h
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/kvm_fault_handler.h
  litmus/libdir/_aarch64/kvm_timebase.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_arm/instruction.h
  litmus/libdir/_find_ins.h
  litmus/libdir/_hash.h
  litmus/libdir/_instance.h
  litmus/libdir/_x86/barrier.h
  litmus/libdir/_x86/timebase.h
  litmus/libdir/_x86_64/kvm-headers.h
  litmus/libdir/_x86_64/kvm_timebase.h
Due: none

added initial header info
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/asmhandler.h
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/kvm_fault_handler.h
  litmus/libdir/_aarch64/kvm_fault_type.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
Due: make-test

added provisional template C file
  litmus/libdir/presi.c
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[gen] Allow external communicate overlap in `diy7`.
  gen/alt.ml
Due: make-test

added provisional template C file
  litmus/libdir/presi.c
  litmus/preSi.ml
Due: make-test

squashed all commits to one
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_find_ins.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/presi.c
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

added header guards and moved include to find ins
  litmus/libdir/_find_ins.h
  litmus/libdir/_mips/instruction.h
Due: none

added initial header info
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/kvm-self.h
Due: none

fixed all kvm aarch64 compilation errors
  litmus/libdir/_aarch64/kvm-self.c
Due: none

made header guards more consistent, removed old comments, and improved readability of some code
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[litmus] Fix x -> XN polarity
  herd/tests/instructions/AArch64.kvm/A032.litmus
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  lib/AArch64PteVal.ml
  litmus/libdir/_aarch64/kvm-headers.h
Due: make-test

fixed missing header guard
  litmus/libdir/_find_ins.h
Due: none

fixed copyright headers
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/asmhandler.h
  litmus/libdir/_aarch64/presi-self.c
Due: none

[litmus] Introduce EXS, EIS and EOS variants to litmus
  catalogue/aarch64-faults/shelf.py
  catalogue/aarch64-faults/tests/@all
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis0.litmus
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis1.litmus
  catalogue/aarch64-faults/tests/kinds.txt
  litmus/dumpRun.ml
  litmus/flags.mli
  litmus/libdir/_aarch64/_exs.c
  litmus/libdir/_aarch64/_exs.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test, lint-shelves

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
