Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl][reference] Synchronize reference for #1046
  asllib/Parser.mly
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Syntax.tex
  asllib/doc/Types.tex
Due: make-test

BPF: Add amo-sequences
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/amo-sequence-1.litmus
  catalogue/bpf/tests/amo-sequence-2.litmus
  catalogue/bpf/tests/kinds.txt
  herd/libdir/bpf.cat
Due: make-test, lint-shelves

[asl] do not evaluate conditions in control-flow checks
  asllib/Typing.ml
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SReturnOne.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SReturnSome.asl
Due: make-test

[asl] Remove Top from StaticEvaluation results
  asllib/Native.ml
  asllib/Native.mli
  asllib/StaticInterpreter.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/types.ml
Due: make-test

[asl,test] Fix Bitfields_nested example
  asllib/tests/ASLDefinition.t/Bitfields_nested.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[asl][reference] Update progress chapter
  asllib/doc/ASLRefProgress.tex
Due: none

[asl][reference] Fixes following comments from Skye and Yuxi
  asllib/doc/Expressions.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Slicing.tex
  asllib/doc/TypeAttributes.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCError.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCValue.asl
Due: none

[asl][reference] Update reference for #1045
  asllib/Interpreter.ml
  asllib/StaticEnv.ml
  asllib/StaticInterpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/Makefile
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/instrumentation.ml
Due: make-test

[asl][reference] More synchronization of refernce for #1045
  asllib/AST.mli
  asllib/StaticInterpreter.ml
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Specifications.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/instrumentation.ml
Due: make-test

[asl][reference] Update reference for #1059
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Statements.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/instrumentation.ml
Due: make-test

[litmus] New `-variant noinit` option.
  lib/miscParser.ml
  lib/miscParser.mli
  litmus/klitmus.ml
  litmus/preSi.ml
  litmus/skel.ml
  litmus/test_litmus.ml
  litmus/top_klitmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[asl] Fix asl tests
  asllib/doc/Statements.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCNotDynamicErrorIfFalse.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SCond2.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SCond3.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SCond4.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: none

[tests] Check no forgotten files in 'run.t's
  Makefile
  asllib/tests/check-no-missing-file-in-run.sh
Due: none

[asl] Use `integer{}` syntax to inherit integer constraints
  asllib/Parser.mly
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/inherit-integer-constraints-bad-basic.asl
  asllib/tests/regressions.t/inherit-integer-constraints-bad-tuple.asl
  asllib/tests/regressions.t/inherit-integer-constraints-bad-type.asl
  asllib/tests/regressions.t/inherit-integer-constraints.asl
  asllib/tests/regressions.t/run.t
  asllib/types.ml
Due: make-test

[asl][reference] Update for inherited integer constraints
  asllib/doc/ASLmacros.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Syntax.tex
  asllib/doc/Types.tex
Due: none

[herd]: Fix address generation for STG, LDG and friends (again)
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/B009.litmus
  herd/tests/instructions/AArch64.MTE/B009.litmus.expected
  herd/tests/instructions/AArch64.MTE/B010.litmus
  herd/tests/instructions/AArch64.MTE/B010.litmus.expected
  herd/tests/instructions/AArch64.MTE/B011.litmus
  herd/tests/instructions/AArch64.MTE/B011.litmus.expected
  herd/tests/instructions/AArch64.MTE/B012.litmus
  herd/tests/instructions/AArch64.MTE/B012.litmus.expected
  herd/tests/instructions/AArch64.MTE/B013.litmus.expected
  herd/tests/instructions/AArch64.MTE/B014.litmus
  herd/tests/instructions/AArch64.MTE/B014.litmus.expected-failure
  lib/AArch64Base.ml
Due: make-test

[asl] Generalise special casing of stdlib parameters
  asllib/Typing.ml
  asllib/libdir/stdlib.asl
  asllib/tests/regressions.t/bad-shift.asl
  asllib/tests/regressions.t/concat02.asl
  asllib/tests/regressions.t/stdlib.asl
  asllib/tests/typing.t/HExample13.asl
  asllib/tests/typing.t/HExample2.asl
  asllib/tests/typing.t/HExample3.asl
  asllib/tests/typing.t/HExample9.asl
Due: make-test

[asl] Add tests for explicit parameters
  asllib/tests/explicit-parameters.t/bad-argument-omission.asl
  asllib/tests/explicit-parameters.t/bad-declaration-order.asl
  asllib/tests/explicit-parameters.t/bad-elided-parameter.asl
  asllib/tests/explicit-parameters.t/duplicate-parameter.asl
  asllib/tests/explicit-parameters.t/explicit-parameters.asl
  asllib/tests/explicit-parameters.t/omit-output-stdlib-param.asl
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/explicit-parameters.t/undeclared-parameter.asl
  asllib/tests/explicit-parameters.t/unused-parameter.asl
Due: none

[asl] Special-case single parameter/argument stdlib functions
  asllib/AST.mli
  asllib/Native.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Typing.ml
  asllib/builder.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/tests/static.ml
  herd/ASLSem.ml
Due: make-test

[asl][reference] Turn call info into a record
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
Due: none

[asl] Shorthand to elide parameters in typed declarations
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/desugar.mli
Due: make-test

[asl] Fix `herd` tests for explicit parameters
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/implementations0.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[asl] Shorthand for calls with parameters but no arguments
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/desugar.mli
Due: make-test

[asl] Partition V0/V1 checking of function declarations
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Typing.ml
  asllib/error.ml
Due: make-test

[asl] New version of `Replicate` in standard library
  asllib/libdir/stdlib.asl
  asllib/tests/regressions.t/concat02.asl
  asllib/tests/regressions.t/stdlib.asl
  asllib/tests/typing.t/HExample13.asl
Due: none

[asl] Implement explicit parameters for ASL1
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/desugar.ml
  asllib/desugar.mli
  asllib/error.ml
Due: make-test

[asl] Update standard library for explicit parameters
  asllib/builder.ml
  asllib/dune
  asllib/libdir/stdlib.asl
  asllib/libdir/stdlib0.asl
Due: make-test

[asl][reference] Update subprogram calls for explicit parameters
  asllib/Interpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
Due: make-test

[asl][reference] Update subprogram declarations for explicit parameters
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/SubprogramDeclarations.tex
Due: none

[asl][tidy] Add `error_handling_time` to `Error.BadArity`
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/Typing.ml
  asllib/error.ml
Due: make-test

[asl][reference] Add elided parameters
  asllib/doc/ASLmacros.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
Due: none

[asl] Remove left-hand side bit vector concatenation
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/carpenter/config.ml
  asllib/tests/regressions.t/lexpr-concat-2.asl
  asllib/tests/regressions.t/lexpr-concat.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Update standard library for binary bit vector concatenation
  asllib/libdir/stdlib.asl
Due: none

[asl][reference] Remove `E_Concat`/`LE_Concat`
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Syntax.tex
Due: none

[asl][reference] Add binary bit vector concatenation
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Syntax.tex
Due: none

[asl][test] Update tests for binary bit vector concatenation
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EConcat.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EConcat2.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ESlice.asl
  asllib/tests/ASLSyntaxReference.t/expr1.asl
  asllib/tests/ASLSyntaxReference.t/expr2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateFuncSig.asl
  asllib/tests/division.t/TNegative9-1.asl
  asllib/tests/division.t/TPositive9.asl
  asllib/tests/division.t/param-div-2.asl
  asllib/tests/division.t/rat-poly-01.asl
  asllib/tests/regressions.t/concat01.asl
  asllib/tests/regressions.t/concat02.asl
  asllib/tests/regressions.t/concat03.asl
  asllib/tests/regressions.t/named-types-example.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/stdlib.asl
  asllib/tests/typing.t/CNegative4.asl
  asllib/tests/typing.t/CPositive10.asl
  asllib/tests/typing.t/CPositive11a.asl
  asllib/tests/typing.t/CPositive11b.asl
  asllib/tests/typing.t/CPositive12.asl
  asllib/tests/typing.t/CPositive9.asl
  asllib/tests/typing.t/HExample12.asl
  asllib/tests/typing.t/HExample3.asl
  asllib/tests/typing.t/HExample5.asl
  asllib/tests/typing.t/HExample9.asl
  asllib/tests/typing.t/TNegative9-1.asl
  asllib/tests/typing.t/TPositive10-0.asl
  asllib/tests/typing.t/TPositive10.asl
  asllib/tests/typing.t/TPositive11-0.asl
  asllib/tests/typing.t/TPositive11-1.asl
  asllib/tests/typing.t/TPositive11.asl
  asllib/tests/typing.t/TPositive9-1.asl
  asllib/tests/typing.t/TPositive9.asl
  lib/ASLOp.ml
Due: make-test

[asl] Replace n-ary bit vector concatenation with binary
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Operations.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/StaticOperations.ml
  asllib/Tokens.mly
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/carpenter/config.ml
  asllib/types.ml
  herd/ASLSem.ml
Due: make-test

[asl] Add `[:wid]` shorthand for `[0+:wid]`
  asllib/Parser.mly
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/slice-width-shorthand.asl
Due: make-test
