Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] use event's static po index in dot graph
  herd/Pretty.ml
  herd/event.ml
  herd/prettyUtils.ml
Due: make-test

fix: re-enable warning 42
  herd/dune
Due: make-test

[catalogue] Remove duplicate MTE test
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/asorted-async/@all
  catalogue/aarch64-MTE/tests/asorted-async/S+dmb.sttp+data_asynctagfault.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test, lint-shelves

[catalogue,aarch64] Specify PE for TFSR_ELx register
  catalogue/aarch64-MTE/tests/asorted-async/S+dmb.sttp+data-noasyncfault.litmus
  catalogue/aarch64-MTE/tests/asorted-async/S+dmb.sttp+data_asynctagfault.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test

fix: define code_instr in its own module
  herd/archExtra_herd.ml
  herd/loader.ml
  herd/mem.ml
Due: make-test

[cat2table] Add map from ids to definitions
  tools/cat2table.ml
Due: make-test

[cat2table] Add parsing of effects from command line
  tools/cat2table.ml
Due: make-test

[cat2table] Implement effect intersection, union and difference
  tools/cat2table.ml
Due: make-test

[ca2table] Implement traversal of relation sequences
  tools/cat2table.ml
Due: make-test

[lib] Add base as an entry point in model parser
  lib/modelParser.mly
Due: make-test

[lib] Add content caching API for txtLoc
  lib/txtLoc.ml
  lib/txtLoc.mli
Due: make-test

[internal,herd] Add automatic runner for checking axioms assumed by cat2table
  Makefile
  dirs-and-confs.txt
  herd/libdir/aarch64_wrapped_primitives.cat
  herd/libdir/aarch64axioms.cat
  herd/tests/instructions/AArch64.neon/neon.cfg
  herd/tests/instructions/AArch64.sme/sme.cfg
  herd/tests/instructions/AArch64.sve/sve.cfg
  internal/dune
  internal/herd_axioms_test.ml
Due: make-test

[tools] Parse axioms file and build supersets, intersects and relation extremities
  tools/cat2table.ml
Due: make-test

[herd] Do not specifically check for non-symbolic addresses in VMSA mode
  herd/mem.ml
Due: make-test

[asl,herd] Document primitives in herd, and introduce tool to check them
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/dune
  asllib/primitives_to_ml.ml
  dune-project
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/dune
Due: make-test

[herd,asl] Remove custom enumeration of barrier domain and types
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/implementations.asl
Due: make-test

[asl,herd] Update gitignore
  herd/libdir/asl-pseudocode/.gitignore
Due: none

[herd,asl] Add another debug to trim output.
  herd/ASLSem.ml
  herd/debug_herd.ml
  herd/debug_herd.mli
Due: make-test

[herd,asl] Remove PSTATE definition from patches
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches.asl
  lib/misc.ml
  lib/misc.mli
Due: make-test

[lib] add yojson dependency and json module
  lib/dune
  lib/json.ml
  lib/json.mli
Due: make-test

[herd] implement exec graph rendering into json
  herd/Pretty.ml
Due: make-test

[lib] wip: add helper fn `location_to_json_view`
  lib/location.ml
Due: make-test

[herd] implement CLI option to specify output format
  herd/herd.ml
  herd/opts.ml
  herd/opts.mli
  herd/prettyConf.ml
  herd/prettyConf.mli
  herd/top_herd.ml
Due: make-test

[herd] wip: add helper fn to create json view of actions
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/machAction.ml
Due: make-test

[asl reference] an AI-assisted 'logical' review of the reference
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Syntax.tex
  asllib/doc/variable_name_macros.tex
Due: none

[asl linter] a new check for repeated blocks of lines
  asllib/doc/doclint.py
Due: none

[asl reference] handle overfull hboxes more automatically
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
Due: none

[asl reference] an AI-assisted 'logical' review of the reference
  asllib/aslspec/SpecParser.mly
  asllib/doc/ASL-Review.md
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Semantics.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] fix a bug in renaming of builtin operator num_plus
  asllib/aslspec/tests.t/operators.spec
Due: none

[asl reference] added primitive domains section and table
  asllib/doc/PrimitiveOperations.tex
Due: none

[asl reference linter] a linter to check for duplicate latex packages
  asllib/doc/ASLmacros.tex
  asllib/doc/doclint.py
Due: none

[asl reference] fixes following a PDF review
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/StandardLibrary.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
  asllib/doc/introduction.tex
  asllib/tests/ASLTypingReference.t/TypingRule.TypeEqual.asl
Due: none

[asl reference linter] fixed macro usage check
  asllib/doc/check_macro_usage.py
Due: none

[asl reference] more fixes to PDF review comments
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
Due: none

[asldoc workflow] add essential libraries
  .github/workflows/build-asl-reference.yml
Due: none

[ci] Don't up too much ocaml version
  .github/workflows/build-asl-reference.yml
Due: none

[ci] Do not use setup-ocaml
  .github/workflows/build-asl-reference.yml
Due: none

addressed review comments
  .github/workflows/build-asl-reference.yml
  asllib/doc/ASL-Review.md
  asllib/doc/Expressions.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/asl.spec
Due: none

[asl reference] a few more fixes
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/doclint.py
  asllib/doc/variable_name_macros.tex
Due: none

[ci] Refacto workflow run into multiple steps for clarity
  .github/workflows/run-litmus.yml
Due: none
