Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl] Add Unreachable to stdlib.
  asllib/libdir/stdlib.asl
Due: none

[asl] Hide stdlib filename from error messages.
  asllib/builder.ml
Due: make-test

[build] Add intermediate (5.0.0) OCaml version in workspace file
  dune-workspace.versions
Due: make-test

[test] Do not test carpenter when dependencies are not available
  asllib/carpenter/test/dune
Due: make-test

[herd]: Fix address generation for STG, LDG and friends
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/B009.litmus
  herd/tests/instructions/AArch64.MTE/B009.litmus.expected
  herd/tests/instructions/AArch64.MTE/B010.litmus
  herd/tests/instructions/AArch64.MTE/B010.litmus.expected
  herd/tests/instructions/AArch64.MTE/B011.litmus
  herd/tests/instructions/AArch64.MTE/B011.litmus.expected
  herd/tests/instructions/AArch64.MTE/B012.litmus
  herd/tests/instructions/AArch64.MTE/B012.litmus.expected
  herd/tests/instructions/AArch64.MTE/B013.litmus
  herd/tests/instructions/AArch64.MTE/B013.litmus.expected
  lib/machSize.ml
  lib/machSize.mli
Due: make-test

[www] Fix herd-ww build
  herd-www/jerd.ml
Due: make-test

[asl] NoAction effect made available to the ASL interpreter
  asllib/Native.ml
  asllib/backend.mli
  herd/ASLSem.ml
Due: make-test

[ci] Add www build in github make test action
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

[all] Fix parsing of code labels
  lib/stateParser.mly
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64.self/S28.litmus
  herd/tests/instructions/AArch64.self/S28.litmus.expected
  herd/tests/instructions/AArch64.self/S29.litmus
  herd/tests/instructions/AArch64.self/S29.litmus.expected
Due: make-test

[herd,self] Better rf matching for instruction fetch
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/ARMArch_herd.ml
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/event.ml
  herd/explicit.ml
  herd/explicit.mli
  herd/machAction.ml
  herd/mem.ml
  herd/tests/instructions/AArch64/AK005.litmus.expected-failure
Due: make-test

[herd,asl] Add tests
  herd/tests/instructions/AArch64.ASL/BRANCH09.litmus
  herd/tests/instructions/AArch64.ASL/BRANCH09.litmus.expected
  herd/tests/instructions/AArch64.ASL/BRANCH10.litmus
  herd/tests/instructions/AArch64.ASL/BRANCH10.litmus.expected
Due: make-test

[herd,aarch64,asl] Add branching effects
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  herd/AArch64ASLSem.ml
  herd/ASLAction.ml
  herd/ASLSem.ml
  herd/event.ml
  herd/libdir/asl.cat
  herd/monad.mli
  lib/ASLBase.ml
  lib/InnerTransRel.ml
  lib/InnerTransRel.mli
Due: make-test

[asl] Insert branching events in loops
  asllib/Interpreter.ml
  asllib/PP.mli
Due: make-test

[herd,asl] Add "experimental" asl variant.
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches.asl
  herd/libdir/asl-pseudocode/pstate-exp.asl
  herd/variant.ml
  herd/variant.mli
Due: make-test

[asl] Check type validity on user input
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/StaticEnv.ml
  asllib/StaticInterpreter.ml
  asllib/Typing.ml
  asllib/libdir/stdlib.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/asl.t/enum-array.asl
  asllib/tests/asl.t/run.t
  asllib/tests/bad-types.t
  asllib/tests/recursive.t/run.t
  asllib/types.ml
Due: make-test

[asl] Check bitvector width are constrained
  asllib/ASTUtils.ml
  asllib/StaticInterpreter.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/libdir/stdlib.asl
  asllib/tests/asl.t/bug1.asl
  asllib/tests/asl.t/bug2.asl
  asllib/tests/asl.t/bug3.asl
  asllib/tests/asl.t/run.t
  asllib/tests/asltests.ml
  asllib/types.ml
Due: make-test

[asl] Renamed (checked->asserted) type conversion
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/instrumentation.ml
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCError.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCValue.asl
  asllib/tests/ASLSemanticsReference.t/run.t
Due: make-test

[asl] ATC now follow structures and not names
  asllib/Interpreter.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/asl/required/subtypes-with.asl
  asllib/types.mli
Due: make-test

[asl][guide] A prototype of the ASL Programmer's Guide.
  asllib/doc/ASLProgrammerGuide.tex
Due: none

[herd,asl] Add tests
  herd/tests/instructions/AArch64.ASL/MP01.litmus
  herd/tests/instructions/AArch64.ASL/MP01.litmus.expected
  herd/tests/instructions/AArch64.ASL/asl.cfg
Due: make-test

[asl] Remove special cases in interpreter
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/PP.ml
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  lib/ASLBase.ml
Due: make-test

[asl] Fixup missing value in asl-carpetenter
  asllib/carpenter/comparator.ml
Due: make-test

[herd] Write a label to LR (X30) when it is possible
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.self/A017.litmus
  herd/tests/instructions/AArch64.self/A017.litmus.expected
  herd/tests/instructions/AArch64/A257.litmus
  herd/tests/instructions/AArch64/A257.litmus.expected
Due: make-test

[herd] Set ELR_EL1 automatically when it is possible
  herd/AArch64Sem.ml
  herd/branch.ml
  herd/mem.ml
  herd/tests/instructions/AArch64.kvm/A018.litmus
  herd/tests/instructions/AArch64.kvm/A018.litmus.expected
Due: make-test

[asl][semantics] Rules for evaluating function calls.
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/Parser.mly
  asllib/README.mld
  asllib/bitvector.ml
  asllib/doc/ASL.bib
  asllib/doc/ASLNotations.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Makefile
  asllib/instrumentation.ml
Due: make-test

[asl][semantics] Addressing feedback.
  asllib/Interpreter.ml
  asllib/doc/ASLNotations.tex
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EGetArrayTooSmall.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.LESetField.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.Lit.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SFor.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SRepeat.asl
  asllib/tests/ASLSemanticsReference.t/run.t
Due: make-test

[cat,aarch64] updating the EC and EGC cat files
  herd/libdir/arm-models/mixed/armv8-common.cat
  herd/libdir/arm-models/mixed/armv8-util.cat
  herd/libdir/arm-models/mixed/ec.cat
  herd/libdir/arm-models/mixed/egc.cat
  herd/libdir/arm-models/non-mixed/armv8-common.cat
  herd/libdir/arm-models/non-mixed/armv8-util.cat
  herd/libdir/arm-models/non-mixed/ec.cat
  herd/libdir/arm-models/non-mixed/egc.cat
Due: none

[action] Periodic check of www build
  .github/workflows/check-build-www.yml
Due: none

[asl] Document asl code
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: none

[asl] fix normalization of SHL and documentation
  asllib/ASTUtils.ml
  asllib/StaticInterpreter.ml
Due: make-test

[all, aarch64] Parse ST<OP> on X registers
  herd/tests/instructions/AArch64.ASL/STCLR00.litmus
  herd/tests/instructions/AArch64.ASL/STCLR00.litmus.expected
  lib/AArch64Parser.mly
Due: make-test

[Makefile] Add a test-all target
  Makefile
Due: none

[build] Silence warning
  herd/AArch64Sem.ml
Due: make-test

[all] Update version number
  VERSION.txt
  herdtools7.opam
Due: opam-lint

[asl] Add a base value for string type.
  asllib/Interpreter.ml
  asllib/types.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
