Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl][reference] a fix and explanation regarding pure recursive subprograms
  asllib/doc/SideEffects.tex
  asllib/doc/introduction.tex
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SideEffectIsPure.asl
Due: none

[asl] Fix under approximation bug with empty constraints
  asllib/types.ml
Due: make-test

[asl] Remove warning messages due to approximations
  asllib/StaticOperations.ml
  asllib/StaticOperations.mli
  asllib/Typing.ml
  asllib/types.ml
Due: make-test

[asl][reference] symbolic equivalence examples
  asllib/doc/BaseValues.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/tests/ASLTypingReference.t/TypingRule.ArrayLengthEqual.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldsEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldsEqual.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintsEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ExprEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ReduceConstraint.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeEqual.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl] Remove dummy annotations from the Parser
  asllib/Parser.mly
Due: make-test

[herd] Add support for AT instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.kvm/A023.litmus
  herd/tests/instructions/AArch64.kvm/A024.litmus
  herd/tests/instructions/AArch64.kvm/A025.litmus
  herd/tests/instructions/AArch64.kvm/A026.litmus
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Op.ml
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[asl] Fix bug in assign_bitvector_fields implementation
  asllib/Interpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
Due: make-test

[asl] Generate init events for overriden global location init values
  asllib/Interpreter.ml
Due: make-test

[asl] Remove calls to zeros in some v0 base values
  asllib/Typing.ml
Due: make-test

[herd+asl] Use collections to represent PSTATE
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[herd+asl] Move SP from accessor logic to monitored variable
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
Due: make-test

[herd,asl] Clean-up
  herd/ASLSem.ml
Due: make-test

[herd,asl] Clean up ASLExperimental variant
  Makefile
  herd/libdir/asl-pseudocode/pstate-exp.asl
  herd/tests/instructions/AArch64.ASL/asl.cfg
  herd/variant.ml
  herd/variant.mli
Due: make-test

[asl][reference] symbolic equivalence examples
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/BaseValues.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.ArrayLengthEqual.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldEqual.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldsEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BitFieldsEqual.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintsEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ExprEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.Normalize.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ReduceConstraint.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ToIR.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UnitaryMonomialsToExpr.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] extend slice_equal to untyped AST
  asllib/doc/SymbolicEquivalenceTesting.tex
Due: none

Minor changes on diy.
  gen/archExtra_gen.ml
  gen/cycle.ml
  gen/diy.ml
  gen/diyone.ml
  gen/genUtils.ml
  gen/top_gen.ml
Due: make-test

[all] Add CTERM{EQ,NE} instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Add tests
  Makefile
  herd/tests/instructions/AArch64.sve/V32.litmus
  herd/tests/instructions/AArch64.sve/V32.litmus.expected
  herd/tests/instructions/AArch64.sve/V33.litmus
  herd/tests/instructions/AArch64.sve/V33.litmus.expected
  herd/tests/instructions/AArch64.sve/V34.litmus
  herd/tests/instructions/AArch64.sve/V34.litmus.expected
  herd/tests/instructions/AArch64.sve/asl.cfg
Due: make-test

[herd,asl] ASL based implementation of CTERM{EQ,NE}
  herd/AArch64ASLSem.ml
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[herd,asl] Logical right shift is legal on positive integers
  lib/ASLScalar.ml
Due: make-test

[asl] fix error message capitalization
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/collections.t/run.t
Due: make-test

[asl] fixed typo interprete -> interpret
  asllib/Native.ml
  asllib/Native.mli
  asllib/Typing.ml
  asllib/aslref.ml
  herd/variant.mli
Due: make-test

[asl][reference] examples for symbolic subsumption
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.ApplyBinopExtremities.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ApproxBottomTop.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintMod.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ConstraintPow.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PossibleExtremitiesLeft.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PossibleExtremitiesRight.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SymdomOfWidthExpr.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] reference bug fixes
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/SubprogramDeclarations.tex
Due: make-test

[herd,aarch64] Move SM and ZA pseudo registers under PSTATE
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
Due: make-test

[asl][menhir2bnfc] Meke the menhir bnfc generated parser strict
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/integration/bnfc_parser/dune
Due: make-test

[asl][menhir2bnfc] Fix single split operand precedence
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/tests/grammars.t/run.t
  asllib/menhir2bnfc/tests/grammars.t/split_expr.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/split_expr.mly
  asllib/menhir2bnfc/tests/grammars.t/split_expr_single.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/split_expr_single.mly
Due: make-test

[asl][reference] Bump version to ALP3.1
  asllib/doc/ASLReference.tex
Due: none

[asl][reference] Updates for left-hand sides
  asllib/doc/ASLRefALP3.1ChangeLog.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/dictionary.txt
Due: none

[asl] Allow more forms on left-hand sides
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/desugar.mli
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/regressions.t/lhs-expressivity.asl
  asllib/tests/regressions.t/lhs-tuple-same-var.asl
  asllib/tests/regressions.t/run.t
Due: make-test

Updates to the aarch64-MTE catalogue in order to avoid spurious warnings into stderr when running herd regression tests
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/asorted-async/@all
  catalogue/aarch64-MTE/tests/asorted-async/S+dmb.sttp+ctrl_asynctagfault.litmus
  catalogue/aarch64-MTE/tests/from-tagcheck-async/@all
  catalogue/aarch64-MTE/tests/from-tagcheck-async/LB-tagfault+ctrl+dmb.ldpt--async.litmus
  catalogue/aarch64-MTE/tests/from-tagcheck-async/LB-tagfault+ctrl+dmb.ldpt--async.mod.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
  catalogue/aarch64-MTE/tests/to-tagcheck-async/@all
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+acq_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+acqrel_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+dmb.ld_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+acq_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+acqrel_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+dmb.ld_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.sttp+ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.sttp+pickctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-sync/@all
  catalogue/aarch64-MTE/tests/to-tagcheck-sync/S+dmb.sttp+ctrl--sync.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-sync/S+dmb.sttp+pickctrl--sync.mod.litmus
Due: make-test, lint-shelves

[herd7,regressions] Resolve exceptional behaviour in regression tests
  internal/lib/command.ml
Due: make-test

[asl] Display error context
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/allow_no_end_semicolon.t
  asllib/tests/atcs.t
  asllib/tests/bad-types.t
  asllib/tests/bitfield-alignment.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/control-flow.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/intersecting_slices.t
  asllib/tests/lca.t
  asllib/tests/lexer.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/overriding.t/run.t
  asllib/tests/pragma.t/run.t
  asllib/tests/print.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl][reference] Updated reference
  asllib/doc/ASLmacros.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/types.ml
Due: make-test

[asl] Update signatures of `UInt`/`SInt`
  asllib/Native.ml
  asllib/Typing.ml
  asllib/libdir/stdlib.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ParametersOfExpr.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/stdlib.t/sint.asl
  asllib/tests/stdlib.t/uint.asl
  herd/ASLSem.ml
Due: make-test

[asl] Type-check discarded `impdef` subprograms
  asllib/Typing.ml
  asllib/tests/overriding.t/run.t
  asllib/tests/overriding.t/type-check-impdef.asl
Due: make-test

[asl][reference] Update empty record + elided parameter syntax
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeDeclarations.tex
Due: none

[asl][reference] Update `accessor` syntax
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/Syntax.tex
Due: none
