Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[uoaim] Use mktemp in build-dict.sh
  more-tools/uoaim/build-dict.sh
Due: none

[uoaim] Fix name grepping in build-dict.sh
  more-tools/uoaim/build-dict.sh
Due: none

[uoaim] Update README
  more-tools/uoaim/README.md
Due: none

[MERGE] address bug and minor comments.
  gen/common/value_gen.ml
  gen/cycle.ml
Due: make-test

[gen] Introduce a new relaxation/edge/atom parser in `diy` tool.
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Add wildcard `Amo.Safe`.
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[asl reference] skipped linter for prose-formally paragraphs when rules are automatically generated
  asllib/doc/doclint.py
Due: none

[aslspec] initial code for prose generation
  asllib/aslspec/AST.ml
  asllib/aslspec/builtins.spec
  asllib/aslspec/error.ml
  asllib/aslspec/latex.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/operators.spec
  asllib/aslspec/tests.t/relations.spec
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/utils.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/Literals.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/asl.spec
  asllib/doc/rendering_macros.sty
Due: make-test

[aslspec] a check for balanced braces in prose_description and prose_application
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] merge conflict resolution
  asllib/doc/asl.spec
Due: none

[gen] Add more rmw to match memory access.
  gen/libdir/forbidden.conf
Due: none

[aslspec] addressed review comments
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] more precise support for unlabelled records
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/utils.ml
Due: make-test

[aslspec] prose rendering for unlabelled records
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/rule.spec
Due: make-test

[aslspec] support prose generation for debug mode and slight refactor
  asllib/aslspec/render.ml
Due: make-test

[aslspec] fixed use-def analysis to correctly account for label variants
  asllib/aslspec/spec.ml
  asllib/doc/asl.spec
Due: make-test

[aslspec] assign _ to missing fields in record expressions
  asllib/aslspec/render.ml
  asllib/aslspec/utils.ml
Due: make-test

[aslspec] remove angle brackets before performing text substitutions for prose
  asllib/aslspec/render.ml
Due: make-test

[asl reference linter] filtered prose-and-formally macro from spellchecking
  asllib/doc/doclint.py
Due: none

[aslspec] added formally/prose LaTeX paragraphs during debug rendering
  asllib/aslspec/render.ml
Due: make-test

[aslspec] added support for prose_transition
  asllib/aslspec/AST.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/relations.spec
Due: make-test

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

[gen] Remove the insert edge limitation in `cycle.ml`.
  gen/cycle.ml
Due: make-test

[gen] Update the `diy7` filter, ignoring the insert edge.
  gen/alt.ml
Due: make-test

[herd] Fix optace in mixed mode
  herd/mem.ml
Due: make-test

[herd,tests] Use optace in catalogue tests
  internal/herd_catalogue_regression_test.ml
  internal/herd_diycross_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[MERGE] Address comments
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Update CI since weakening the insert edge.
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.cas-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.casap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.stadd-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swp-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swpap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected-warn
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected-warn
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/ifetch.cycle.expected
Due: make-test

[MERGE] Address the comments on line up to `mprog`.
  gen/common/archExtra_gen.ml
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[aslspec][asl reference] filled prose templates for all elements and applied macros in all .tex files
  asllib/aslspec/builtins.spec
  asllib/aslspec/tests.t/rule.expected
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
Due: none

[aslspec] remove angle brackets removal
  asllib/aslspec/render.ml
Due: make-test

[aslspec] tweaks and fixes
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/operators.spec
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/doc/ASLmacros.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/doc/asl.spec
Due: make-test

hashtable C code no longer static
  litmus/libdir/_hash.c
  litmus/libdir/_instance.h
  litmus/libdir/_main.c
  litmus/libdir/count.h
  litmus/libdir/log.h
  litmus/libdir/param.h
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[MERGE] Add phsyical address in cycle building
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
Due: make-test

[gen] Allowed `Id` in resolving input relax.
  gen/common/edge.ml
  gen/cycle.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
