Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

added initial header info
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/memtag.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_ppc/instruction.h
  litmus/skel.ml
Due: make-test

fixed compilation issues
  Makefile.x86_64
  litmus/dumpRun.ml
  litmus/objUtil.ml
  litmus/skel.ml
Due: make-test

fixed makefile issue
  Makefile.x86_64
Due: none

fixed function signature issue
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
Due: none

fixed compilation issue
  litmus/libdir/_aarch64/self.h
Due: none

[aslref] Another update of standard library functions following bump to 4.14
  asllib/PP.ml
  asllib/PP.mli
  asllib/StaticEnv.ml
  asllib/StaticModel.ml
  asllib/bitvector.ml
Due: make-test

Skip tests that require CAT changes
  catalogue/aarch64-PAC/shelf.py
Due: lint-shelves

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

[asl reference] remove files related to old changelogs
  .gitignore
  asllib/.gitignore
  asllib/doc/.gitignore
  asllib/doc/ASL-error-status.pdf
  asllib/doc/ASLSemanticsLines.tex
  asllib/doc/ASLTypeSatisfactionLines.tex
  asllib/doc/ASLTypingLines.tex
  asllib/doc/lhs-declarations.png
  asllib/doc/lhs-multiple.png
  asllib/doc/looprecurselimit.png
  asllib/doc/print.png
  asllib/doc/sideeffects.png
Due: none

[asl reference] cleanup
  .gitignore
  asllib/doc/ASLSemanticsLines.tex
  asllib/doc/ASLTypeSatisfactionLines.tex
  asllib/doc/ASLTypingLines.tex
Due: none

Refactor pair_opt type
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
Due: make-test

[herd-www] Fix tst target and rename Makefile variables
  herd-www/Makefile
Due: none

[github] Add condition Upload Artifact step in check-build-www
  .github/workflows/build-www.yml
  .github/workflows/check-build-www.yml
Due: none

[github] Add herd-www and fix asllib-www paths in runner
  .github/workflows/check-build-www.yml
Due: none

[herd] Add tests to check output behaviour
  herd/tests/other/output.t/MP+CAS-rfi-ctrl+acq.litmus
  herd/tests/other/output.t/MP-forall.litmus
  herd/tests/other/output.t/MP-notexists.litmus
  herd/tests/other/output.t/MP.litmus
  herd/tests/other/output.t/run.t
Due: make-test

[herd] Add interface file for AArch64ParseTest
  herd/AArch64ParseTest.mli
Due: make-test

[herd] Add interface file for AArch64ASLParseTest
  herd/AArch64ASLParseTest.mli
Due: make-test

[herd] Split test runners into pure logic and cli output
  herd/AArch64ASLParseTest.ml
  herd/AArch64ParseTest.ml
  herd/LISAParseTest.ml
  herd/cli.ml
  herd/herd.ml
  herd/parseTest.ml
  herd/parseTest.mli
  herd/runTest.ml
  herd/runTest.mli
  herd/top_herd.ml
  herd/top_herd.mli
Due: make-test

[herd] Add Test_herd.compute_size
  herd/test_herd.ml
  herd/test_herd.mli
Due: make-test

AARCH-25405: Add href to Effective value
  herd/libdir/catdefinitions.tex
Due: none

[herd] Remove locations and labels from MTE async faults
  catalogue/aarch64-MTE/tests/coRR-RTW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WW.litmus
  catalogue/aarch64-MTE/tests/coRR-TR.litmus
  catalogue/aarch64-MTE/tests/coRR-TW.litmus
  catalogue/aarch64-MTE/tests/coRR-WTW.litmus
  catalogue/aarch64-MTE/tests/coRTW.litmus
  catalogue/aarch64-MTE/tests/coTR.litmus
  catalogue/aarch64-MTE/tests/coTW.litmus
  catalogue/aarch64-MTE/tests/coWTW.litmus
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/F004.litmus
  herd/tests/instructions/AArch64.MTE/F004.litmus.expected
  herd/tests/instructions/AArch64.MTE/F005.litmus
  herd/tests/instructions/AArch64.MTE/F005.litmus.expected
  herd/tests/instructions/AArch64.MTE/F006.litmus
  herd/tests/instructions/AArch64.MTE/F006.litmus.expected
  herd/tests/instructions/AArch64.MTE/L01.litmus
  herd/tests/instructions/AArch64.MTE/L01.litmus.expected
Due: make-test

fix: make `time` parameter of Top_herd.Printer.pp_stats optional
  herd/top_herd.ml
  herd/top_herd.mli
Due: make-test

[gen] Introduce an explicit AST-based relax parser for diy tools
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Filter invalid composite relaxations after expansion
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] Unify parser entry points across tools in `/gen`
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/common/edge.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[gen] allow repeated reject lists in diy7
  gen/alt.ml
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[gen] Document parser syntax in diy tool help text.
  gen/common/config.ml
  gen/common/util.ml
  gen/common/util.mli
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/logRelax.ml
Due: make-test

[gen] Add parser and syntax regression tests
  Makefile
  gen/tests/diy-basic-check.t
  gen/tests/diy7-check.t
  gen/tests/dune
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Expose AutoArch as a library so we can use it in testing.
  gen/autoArch.ml
  gen/autoOpt.ml
  gen/dune
Due: make-test

[litmus] Add makefile recipe for catalogue/aarch64-faults
  Makefile.aarch64
Due: none

Add LDAP/STLP instructions to herd
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/Y006.litmus
  herd/tests/instructions/AArch64/Y006.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
Due: make-test

[gen] Add predicate such as `@after(..)` syntax to relax parser
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/config.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] filter invalid input with predicate before `diy7` searching algorithm.
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Check before/after predicates during diy7 search
  gen/alt.ml
  gen/common/edge.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Deduplicate `-unfold-only` output
  gen/diy.ml
  gen/relax.ml
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
Due: make-test

[gen] Add `diy7 -unfold-only`.
  gen/common/config.ml
  gen/diy.ml
  gen/tests/diy-basic-check.t
Due: make-test
