Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl] Add more tests for SQRT
  asllib/tests/stdlib.t/sqrt.asl
Due: none

[fix] improve pretty printing in kvm_symb.c
  litmus/libdir/_aarch64/kvm_symb.c
  litmus/skel.ml
Due: make-test

[herd] Print NoAction as Empty
  herd/machAction.ml
Due: make-test

[herd] Avoid redundant execution when CAS fails
  herd/eventsMonad.ml
  herd/tests/instructions/AArch64.kvm/A019.litmus.expected
  herd/tests/instructions/AArch64.mixed/M008.litmus.expected
  herd/tests/instructions/AArch64/A242.litmus.expected
  herd/tests/instructions/AArch64/A243.litmus.expected
  herd/tests/instructions/AArch64/A244.litmus.expected
  herd/tests/instructions/AArch64/A245.litmus.expected
  herd/tests/instructions/AArch64/A246.litmus.expected
  herd/tests/instructions/AArch64/L007.litmus.expected
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[herd] Add NoAction in one of the execution of a failed CAS
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[litmus] Handle memory attribute changes gracefully
  litmus/preSi.ml
Due: make-test

[all] Improve the implementation of memory attributes for AArch64
  herd/libdir/aarch64bbm.cat
  herd/libdir/aarch64memattrs.cat
  herd/tests/instructions/AArch64.vmsa+mte/A003.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A006.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A010.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A012.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A015.litmus.expected
  lib/AArch64Op.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/parsedPteVal.ml
  lib/pteVal.ml
  lib/pteVal.mli
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/preSi.ml
Due: make-test

[all] Bump version to 7.58
  VERSION.txt
Due: none

[aarch64,asl] Retrieve asl bundle as of June 2024
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/bundler.py
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[herd,asl] Add tests
  herd/tests/instructions/AArch64.ASL/LDRSW00.litmus
  herd/tests/instructions/AArch64.ASL/LDRSW00.litmus.expected
  herd/tests/instructions/AArch64.ASL/LDRSW01.litmus
  herd/tests/instructions/AArch64.ASL/LDRSW01.litmus.expected
  herd/tests/instructions/AArch64.ASL/STLXR.litmus
  herd/tests/instructions/AArch64.ASL/STLXR.litmus.expected
  herd/tests/instructions/AArch64.ASL/STXR.litmus
  herd/tests/instructions/AArch64.ASL/STXR.litmus.expected
Due: make-test

[asl,herd] Update pseudocode to version 2024-12
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/patches.asl
  herd/tests/instructions/AArch64.ASL/CAS01.litmus.expected
  herd/tests/instructions/AArch64.ASL/CAS02.litmus.expected
  herd/tests/instructions/AArch64.ASL/CAS03.litmus.expected
  herd/tests/instructions/AArch64.ASL/CAS04.litmus.expected
  herd/tests/instructions/AArch64.ASL/NOASL
Due: make-test

[asl][reference] improved detection of repeated words + fixes
  asllib/doc/ASLRefALP2.1ChangeLog.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] work on Introduction chapter
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Specifications.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/introduction.tex
Due: none

[asl][reference] work on Lexical Structure chapter
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/introduction.tex
  asllib/tests/ASLSyntaxReference.t/Lexical.Comments.asl
  asllib/tests/ASLSyntaxReference.t/run.t
Due: none

[asl][reference] addressing comments and other fixes
  asllib/doc/ErrorCodes.tex
  asllib/doc/Literals.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/introduction.tex
Due: none

[asl][reference] added a new Runtime Environment chapter
  asllib/doc/ASLReference.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/introduction.tex
Due: none

[asl][reference] Primitive Operations chapter & RDIV bug fix
  asllib/Operations.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/Types.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SPrint.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.boolean.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.integer-arithmetic.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.integer-relational.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.real.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UnopLiterals.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl][reference] work on Errors chapter
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
Due: none

[asl][reference] a script to update outputs of examples
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Statements.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.bits.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.boolean.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.integer-arithmetic.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.integer-relational.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.real.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.strings_labels.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UnopLiterals.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] work on Literals chapter and print statements
  asllib/doc/ASLmacros.tex
  asllib/doc/Literals.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SPrint.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/Lexical.Comments.asl
Due: none

[asl][reference] apply \ProseParagraph and \FormallyParagraph macros
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: none

[asl][reference] addressing review comments
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/Statements.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
  asllib/doc/introduction.tex
  asllib/tests/ASLDefinition.t/AssertionStatement.asl
  asllib/tests/ASLDefinition.t/CaseStatement.discriminant.asl
  asllib/tests/ASLDefinition.t/CaseStatement.no_otherwise.asl
  asllib/tests/ASLDefinition.t/CaseStatement.otherwise.asl
  asllib/tests/ASLDefinition.t/DynamicErrorReporting.asl
  asllib/tests/ASLDefinition.t/TypingErrorReporting.asl
  asllib/tests/ASLDefinition.t/UnreachableStatement.asl
  asllib/tests/ASLDefinition.t/main0.asl
  asllib/tests/ASLDefinition.t/main_uncaught.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[herd] Add a little polymorphism to ASL bitvector setfield
  lib/ASLScalar.ml
Due: make-test

[asl][reference] Base Values section
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] Fix base value check for negative bidwidths + reference
  asllib/Typing.ml
  asllib/doc/BaseValues.tex
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.bad_empty.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.bad_negative_width.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BaseValue.bad_parameterized.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl][reference] Fixed SemanticsRule.EArray to check for negative array lengths
  asllib/Interpreter.ml
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/error.ml
Due: make-test

[asl] Ensure `<->` is parsed to `BEQ`
  asllib/Parser.mly
  asllib/doc/PrimitiveOperations.tex
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/same-precedence2.asl
Due: make-test

[asl] Add to `doc/.gitignore`
  asllib/doc/.gitignore
Due: none

[litmus,aarch64] ELO mode by vector table.
  litmus/AArch64Arch_litmus.ml
  litmus/AArch64Compile_litmus.ml
  litmus/ASMLang.ml
  litmus/arch_litmus.mli
  litmus/compile.ml
  litmus/handler.ml
  litmus/handler.mli
  litmus/hardwareExtra.ml
  litmus/hardwareExtra.mli
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/preSi.ml
  litmus/template.ml
Due: make-test

[litmus,aarch64] Delete dead code
  litmus/compile.ml
  litmus/libdir/_aarch64/kvm_user_stacks.c
Due: make-test

[herd,litmus] Fix return from syscall
  herd/AArch64Sem.ml
  herd/branch.ml
  herd/mem.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
Due: make-test

[test] Add tests
  herd/tests/instructions/AArch64.kvm/A020.litmus
  herd/tests/instructions/AArch64.kvm/A020.litmus.expected
  herd/tests/instructions/AArch64.kvm/A021.litmus
  herd/tests/instructions/AArch64.kvm/A021.litmus.expected
  herd/tests/instructions/AArch64.kvm/A022.litmus
  herd/tests/instructions/AArch64.kvm/A022.litmus.expected
  herd/tests/instructions/AArch64.kvm/F004.litmus
  herd/tests/instructions/AArch64.kvm/F004.litmus.expected
Due: make-test

[catalogue] Fix regressions for new tests in aarch64
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/@all
Due: lint-shelves

[litmus] Add configuration file
  litmus/libdir/kvm-aarch64-qemu.cfg
Due: none

[internal] New `-conf-path` CLO to the catalogue regression tool
  internal/herd_catalogue_regression_test.ml
Due: make-test

[asl][menhir2bnfc] Added comparison tool for bnfc ASL1 parser
  asllib/dune
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/bnfc_parser/dune
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/dune-project
  asllib/menhir2bnfc/parser_cmp.ml
  asllib/menhir2bnfc/tests/dune
  asllib/menhir2bnfc/tests/parser_cmp.expected
Due: make-test

[asl][menhid2bnfc] Added simple integration testing
  asllib/menhir2bnfc/tests/dune
  asllib/menhir2bnfc/tests/grammars.t/calc.bnf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc.mly
  asllib/menhir2bnfc/tests/grammars.t/calc_order.txt
  asllib/menhir2bnfc/tests/grammars.t/calc_ordered.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/run.t
Due: make-test

[asl][menhir2bnfc] BNFC generation fixes and refactor
  Makefile
  asllib/Lexer.mll
  asllib/menhir2bnfc/.ocamlformat
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/dune
  asllib/menhir2bnfc/tests/grammars.t/calc_full.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc_lexer.mll
  asllib/menhir2bnfc/tests/grammars.t/calc_test.in
  asllib/menhir2bnfc/tests/grammars.t/run.t
  asllib/menhir2bnfc/tests/integration/bnfc_parser/dune
  asllib/menhir2bnfc/tests/integration/dune
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/menhir2bnfc/tests/integration/parser_cmp.ml
Due: make-test
