Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl] Unified all AST bitfield node types into a single type
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/doc/Expressions.tex
  asllib/instrumentation.ml
  asllib/tests/types.ml
  asllib/types.ml
  herd/tests/instructions/ASL/bitfields1.litmus.expected
Due: make-test

[herd,aarch64,asl] Simplify physical memory functions
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/implementations0.asl
Due: none

fix "make test" (except "test.pac")
  herd/AArch64Sem.ml
  lib/op.mli
  pac_tests/Makefile
Due: make-test

[asl][reference] Fix LaTeX sources
  asllib/doc/ASLFormal.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
Due: none

[asl][reference] Fix Rule not followed by a dot
  asllib/doc/AssignableExpressions.tex
  asllib/doc/TypeDeclarations.tex
Due: none

[asl][reference] Make default argument explicit
  asllib/doc/TypeDomains.tex
Due: none

[asl] Reorder two checks for function signatures
  asllib/Typing.ml
  asllib/doc/SubprogramDeclarations.tex
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/explicit-parameters.t/shadowed-parameter.asl
Due: make-test

[all]: Refactor AArch64 EOR vector instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[lib]: Get rid of asserts in AArch64 parser
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
Due: make-test

[asl] Simplify V0 standard library
  asllib/libdir/stdlib0.asl
Due: none

[catalogue,aarch64] correcting VMSA tests to have a fault handler
  catalogue/aarch64-VMSA/tests/@armv8-a+lse
  catalogue/aarch64-VMSA/tests/CASAL+FAIL+FH.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL2+FH.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL2.litmus
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
Due: make-test

[catalogue,aarch64] updated the shelf.py file for MTE/VMSA/ifetch
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-ifetch/shelf.py
Due: lint-shelves

[herd7] make faults be interpreted as exception entries (except some MTE cases)
  herd/AArch64Sem.ml
Due: make-test

[miaou7] updates to miaou7
  herd/libdir/catdefinitions.tex
  tools/miaou.ml
Due: make-test

[asl][reference] document side-effect analysis
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/SideEffects.tex
  asllib/doc/TypeSystemUtilities.tex
Due: none

fix "make test.pac"
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.PAC/A01.litmus
  herd/tests/instructions/AArch64.PAC/A01.litmus.expected
  herd/tests/instructions/AArch64.PAC/A02.litmus
  herd/tests/instructions/AArch64.PAC/A02.litmus.expected
  herd/tests/instructions/AArch64.PAC/A03.litmus
  herd/tests/instructions/AArch64.PAC/A03.litmus.expected
  herd/tests/instructions/AArch64.PAC/A04.litmus
  herd/tests/instructions/AArch64.PAC/A04.litmus.expected
  herd/tests/instructions/AArch64.PAC/A05.litmus
  herd/tests/instructions/AArch64.PAC/A05.litmus.expected
  herd/tests/instructions/AArch64.PAC/A06.litmus
  herd/tests/instructions/AArch64.PAC/A06.litmus.expected
  herd/tests/instructions/AArch64.PAC/A07.litmus
  herd/tests/instructions/AArch64.PAC/A07.litmus.expected
  herd/tests/instructions/AArch64.PAC/A08.litmus
  herd/tests/instructions/AArch64.PAC/A08.litmus.expected
  herd/tests/instructions/AArch64.PAC/A09.litmus
  herd/tests/instructions/AArch64.PAC/A09.litmus.expected
  herd/tests/instructions/AArch64.PAC/A10.litmus
  herd/tests/instructions/AArch64.PAC/A10.litmus.expected
  pac_tests/Makefile
Due: make-test

[herd] Fix a few glitches in tests
  herd/tests/instructions/AArch64.self/NORUN
  herd/tests/instructions/AArch64/A236.litmus
  herd/tests/instructions/AArch64/A236.litmus.expected
  herd/tests/instructions/AArch64/L086.litmus
Due: make-test

[action] Action to run litmus on x86_64 tests
  .github/workflows/run-litmus-x86_64.yml
Due: none

[asl] implement check for bitfield alignment
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/StaticInterpreter.ml
  asllib/StaticInterpreter.mli
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
  asllib/error.ml
  asllib/instrumentation.ml
  asllib/tests/ASLDefinition.t/Bitfields_nested.asl
  asllib/tests/bitfield-alignment.t/bad-scope1.asl
  asllib/tests/bitfield-alignment.t/bad-scope2.asl
  asllib/tests/bitfield-alignment.t/bad-scope3.asl
  asllib/tests/bitfield-alignment.t/good-scope1.asl
  asllib/tests/bitfield-alignment.t/good-slice_equivalence.asl
  asllib/tests/bitfield-alignment.t/run.t
Due: make-test

[asl][reference] Remove inlining when unnecessary
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Slicing.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
Due: none

[asl] Remove make_expr parametric production
  asllib/Parser.mly
Due: make-test

[asl] Remove rule inlining from the Parser when unnecessary
  asllib/Parser.mly
Due: make-test

[asl] Update stdlib definition of `Replicate`
  asllib/libdir/stdlib.asl
Due: none

[asl] Remove legacy support for `::` to denote types
  asllib/Parser.mly
Due: make-test

[asl,herd,tests] Remove double colon for types from tests
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/tests/instructions/ASL-pseudo-arch/LB-02.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-03.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-04.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-05.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-06.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-08.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-09.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-10.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-11.litmus
  herd/tests/instructions/ASL-pseudo-arch/MP-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/MP-02.litmus
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus
  herd/tests/instructions/ASL/assign2.litmus
  herd/tests/instructions/ASL/assign3.litmus
  herd/tests/instructions/ASL/bitfields1.litmus
  herd/tests/instructions/ASL/case1.litmus
  herd/tests/instructions/ASL/data-return-01.litmus
  herd/tests/instructions/ASL/data-return-02.litmus
  herd/tests/instructions/ASL/func1.litmus
  herd/tests/instructions/ASL/func2.litmus
  herd/tests/instructions/ASL/func3.litmus
  herd/tests/instructions/ASL/func4.litmus
  herd/tests/instructions/ASL/records.litmus
  herd/tests/instructions/ASL/unknown.litmus
Due: make-test

add notes about hash collisions
  .gitignore
  herd/AArch64Sem.ml
  lib/faultType.ml
  lib/faultType.mli
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/preSi.ml
  pac_tests/Makefile
  pac_tests/example10.litmus
  pac_tests/example8.litmus
  pac_tests/example9.litmus
  pac_tests/notes3.md
Due: make-test

[herd,aarch64,ASL] Implement spurious set_af
  herd/AArch64ASLSem.ml
  herd/mem.ml
Due: make-test

[herd,asl] More tolerant AArch64 unary operations
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected-warn
  lib/ASLOp.ml
Due: make-test

[herd,asl] Introduce CutOff events in the ASL interpreter
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
Due: make-test

[herd,aarch64,asl] No ASL evaluation for `LSR _,_,#12`
  herd/AArch64ASLSem.ml
Due: make-test

[herd,asl] Bitvectors whose value is zero are valid address offsets
  herd/ASLSem.ml
  lib/ASLOp.ml
  lib/ASLScalar.ml
  lib/SVEScalar.ml
  lib/capabilityScalar.ml
  lib/constant.ml
  lib/constant.mli
  lib/extendScalar.ml
  lib/int128Scalar.ml
  lib/int32Scalar.ml
  lib/int64Scalar.ml
  lib/scalar.mli
  lib/symbConstant.ml
  lib/symbValue.ml
  lib/uint128Scalar.ml
  lib/wideScalar.mli
Due: make-test

[herd,asl] Show specific message in case of CutOff from ASL interpretation
  asllib/Interpreter.ml
  herd/AArch64ASLSem.ml
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/event.ml
  herd/machAction.ml
  herd/semExtra.ml
  herd/top_herd.ml
  lib/mySet.ml
  lib/mySet.mli
Due: make-test
