Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Move the definition of ca from aarch64.cat to cos.cat
  herd/libdir/aarch64.cat
  herd/libdir/cos.cat
Due: none

[herd] Fix the definitions that flag tests that need BBM
  herd/libdir/aarch64.cat
  herd/libdir/aarch64bbm.cat
  herd/libdir/aarch64memattrs.cat
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  herd/tests/instructions/AArch64.kvm/A036.litmus.expected
  lib/interpreter.ml
Due: make-test

[herd] Add tex macros for the aarch64.cat for the BBM relations
  herd/libdir/catdefinitions.tex
Due: none

[catalogue] Add a new catalogue for aarch64 illustrative of BBM
  Makefile
  catalogue/aarch64-BBM/tests/CoRW2+PteOA.litmus
  catalogue/aarch64-BBM/tests/CoRW2+PteOA.litmus.expected
  catalogue/aarch64-BBM/tests/CoWR+PteOA.litmus
  catalogue/aarch64-BBM/tests/CoWR+PteOA.litmus.expected
  catalogue/aarch64-BBM/tests/MP+dsb.ishs-[isb]+posptev0pteoa.litmus
  catalogue/aarch64-BBM/tests/MP+dsb.ishs-[isb]+posptev0pteoa.litmus.expected
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishWptev0pteoa-popteoal+dmb.ld.litmus
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishWptev0pteoa-popteoal+dmb.ld.litmus.expected
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishpteoadb0p+dmb.ld.litmus
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishpteoadb0p+dmb.ld.litmus.expected
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishpteoap+dmb.ld.litmus
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishpteoap+dmb.ld.litmus.expected
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishsRpteaf0pte-amo.casptepteoa.af1+pos.litmus
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishsRpteaf0pte-amo.casptepteoa.af1+pos.litmus.expected
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishspteaf0pteoa.af1+pos.litmus
  catalogue/aarch64-BBM/tests/MP+tlbi-sync.ishspteaf0pteoa.af1+pos.litmus.expected
  catalogue/aarch64-BBM/tests/RW+RR+rel+acq+PteOA.litmus
  catalogue/aarch64-BBM/tests/RW+RR+rel+acq+PteOA.litmus.expected
  catalogue/aarch64-BBM/tests/W+WW+PteOA.litmus
  catalogue/aarch64-BBM/tests/W+WW+PteOA.litmus.expected
  catalogue/aarch64-BBM/tests/coRR+BBM.litmus
  catalogue/aarch64-BBM/tests/coRR+BBM.litmus.expected
  catalogue/aarch64-BBM/tests/coRR+dsb.ishs-[isb]+PteOA.litmus
  catalogue/aarch64-BBM/tests/coRR+dsb.ishs-[isb]+PteOA.litmus.expected
  catalogue/aarch64-BBM/tests/coRW+Wpteoa-copy.litmus
  catalogue/aarch64-BBM/tests/coRW+Wpteoa-copy.litmus.expected
Due: make-test

[aslspec] Represent operator type parameters explicitly
  asllib/aslspec/AST.ml
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/operator_duplicate_parameter.bad
  asllib/aslspec/tests.t/run.t
Due: make-test

[aslspec] Generalize type parameter inference
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
Due: make-test

[aslspec] Infer parameterized type instantiations
  asllib/aslspec/aslspec.md
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/parameterized_type_instantiation.bad
  asllib/aslspec/tests.t/parameterized_type_instantiation.spec
  asllib/aslspec/tests.t/parameterized_type_unification.bad
  asllib/aslspec/tests.t/run.t
Due: make-test

[internal/lib]: Add Seq to Base, list_dir to Filesystem; and test them
  INSTALL.md
  herdtools7.opam
  internal/lib/base.ml
  internal/lib/base.mli
  internal/lib/base_test.ml
  internal/lib/dune
  internal/lib/filesystem.ml
  internal/lib/filesystem.mli
  internal/lib/filesystem_test.ml
Due: make-test, opam-lint

[herd] allow rules to include libdir and tests/instructions
  herd/dune
Due: make-test

[internal] Reuse litmus-gathering code for herd tests
  internal/herd_assumptions_test.ml
  internal/herd_regression_test.ml
Due: make-test

[litmus] Add smoke tests for litmus
  .pre-commit-config.yaml
  herdtools7.opam
  litmus/tests/AArch64.kvm/A001.t
  litmus/tests/AArch64.kvm/A005.t
  litmus/tests/AArch64.kvm/dune
  litmus/tests/AArch64/A04.t
  litmus/tests/AArch64/dune
  litmus/tests/X86_64/A009.t
  litmus/tests/X86_64/dune
Due: make-test, opam-lint

[litmus] bump dune to exclude cross-compilation tests from @runtest alias
  INSTALL.md
  asllib/aslspec/dune-project
  asllib/dune-project
  dune-project
  herdtools7.opam
  litmus/tests/cross/AArch64/dune
Due: make-test, opam-lint

[litmus] Cross-architecture tests Proof of Concept
  litmus/tests/cross/AArch64/A04.t
  litmus/tests/cross/AArch64/dune
  litmus/tests/cross/readme.md
Due: make-test

[INSTALL.md] Provide more instructions on how to build and install herdtools
  INSTALL.md
  README-tests.md
Due: none

[lib] Add shim module Misc.Result
  lib/misc.ml
  lib/misc.mli
Due: make-test

[herd] Remove NOTWWW markers
  herd/AArch64ParseTest.ml
  herd/parseTest.ml
Due: make-test

[www] Use herd library to build herd-www
  herd-www/dune
  herd-www/jerd.ml
  herd-www/notwww.awk
  herd-www/webRun.ml
Due: make-test

[herd] Add a helper function to determine MTE sync/async
  herd/AArch64Sem.ml
Due: make-test

[herd] Fix instruction semantics for vmsa+async mte
  herd/AArch64Sem.ml
Due: make-test

[AARCH-25890,cat] Adapt tr-ib for VMSA and MTE semantics
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/cSTRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/cSTRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
  herd/libdir/aarch64loc.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: make-test, lint-shelves

[catalogue] Add tests for VMSA and MTE
  Makefile
  catalogue/aarch64-VMSA+MTE/cats/aarch64.cat
  catalogue/aarch64-VMSA+MTE/cfgs/new-web.cfg
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/LDR-TaggedNormal.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-Normal-red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-HA.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-HD.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-db0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-db0red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-red-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-red.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal-v0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STR-TaggedNormal.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRgreen-TaggedNormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-AF.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-DB-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1-DB.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-1.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-DB+SWP-1.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorRW-DB+SWP-2.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorV0-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-NormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-TaggedNormalXorV0-async.litmus
  catalogue/aarch64-VMSA+MTE/tests/STRred-TaggedNormalXorV0.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
Due: make-test, lint-shelves

[AARCH-25890,cat] Adapt TLBI-ob for VMSA and MTE semantics
  catalogue/aarch64-VMSA+MTE/ci-shelf.py
  catalogue/aarch64-VMSA+MTE/tests/coRR+LDG-LDG+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnD-cLDRoD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnT-cLDRoT+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnTnD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRnToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoTnD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoTnD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRnTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/coRR+cLDRoToD-cLDRoToD+BBM.litmus
  catalogue/aarch64-VMSA+MTE/tests/kinds.txt
  herd/libdir/aarch64.cat
  herd/libdir/catdefinitions.tex
  tools/tests/miaou.t
Due: make-test, lint-shelves

[AARCH-25890] Create a new aarch64-oban catalogue
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25890/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25890/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-25890/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25890/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25890/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25890/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25890/tests/@all
  catalogue/aarch64-oban/aarch-25890/tests/RRRR+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/cLDRnToD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnD-cLDRoD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnT-cLDRoT+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRnToD-cLDRnToD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/coRR+cLDRoTnD-cLDRoTnD+BBM.litmus
  catalogue/aarch64-oban/aarch-25890/tests/kinds.txt
Due: make-test

[tools] Add multiple register sizes to dot2desc.
  tools/dot2desc.ml
Due: make-test

[tools] Remove access size qualifiers from special register/memory accesses
  tools/dot2desc.ml
Due: make-test

[tools] Fix erroneous replacement of W effects with -wbfname
  tools/dot2desc.ml
Due: make-test

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
  gen/top_gen.ml
Due: make-test

[gen] Track per-proc implicit PTE updates
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
  gen/topUtils.ml
Due: make-test

[gen] Code improvement on `Pte` when building cycle.
  gen/cycle.ml
Due: make-test

[gen] Add test for `vmsa` in `Makefile`.
  Makefile
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsW-pos-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteaf0-pospteaf0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa-pospteoap-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.af0-pospteoa.af0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.v1-pospteoa.v1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpptev1-posptev1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehap-pos-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteaf0-pospteaf0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa-pospteoap-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.af0-pospteoa.af0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.v1-pospteoa.v1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehaptev1-posptev1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdp-pos-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteaf0-pospteaf0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa-pospteoap-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.af0-pospteoa.af0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.v1-pospteoa.v1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdptev1-posptev1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoap-pos-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteaf0-pospteaf0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa-pospteoap-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.af0-pospteoa.af0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.v1-pospteoa.v1p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoaptev1-posptev1p-frippteoa.litmus.expected
Due: make-test

[gen] split PTE access modes from PTE ops
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] add VMSA PTE memory attribute annotations
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Add focused VMSA PTE annotation tests
  gen/tests/vmsa.t
Due: none

[herd-www] Add .opam file specifying dependencies
  herd-www/herd-www.opam
Due: opam-lint

[herd-www] Update README with instructions on deps installation
  herd-www/README.md
Due: none

[herd-www] Reject ASL and AArch64+ASL inputs
  herd-www/jerd.ml
Due: make-test

[herd-www/ci] Check/install dependencies in CI
  .github/workflows/check-build-www.yml
Due: none

[catalogue] Add explicit int64_t type declaration
  catalogue/aarch64-readers-guide/tests/MP+rel+acq.litmus
Due: make-test
