Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl] Update to OCaml 4.14
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Lexer.mll
  asllib/TopoSort.ml
  asllib/Typing.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/dune-project
  asllib/aslspec/latex.ml
  asllib/aslspec/main.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/utils.ml
  asllib/dune-project
  asllib/types.ml
Due: make-test

[tools] AARCH-25405: Clarification οf the IC-Coherence-before and Instruction-read-ordered-before definitions
  herd/libdir/catdefinitions.tex
  tools/miaou.ml
  tools/miaouNames.ml
  tools/miaouNames.mli
  tools/tests/miaou.t
Due: make-test

[herd] Add variant to remove return events from ASL concurrent semantics
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/StaticInterpreter.ml
  herd/ASLSem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[aslref] Another update of standard library functions following bump to 4.14
  asllib/PP.ml
  asllib/PP.mli
  asllib/StaticEnv.ml
  asllib/StaticModel.ml
  asllib/bitvector.ml
Due: make-test

wip: add vmsa variant to miniMarc03.litmus
  catalogue/aarch64-readers-guide/tests/miniMarc03.litmus
Due: make-test

Anchor doc export-ignore attribute
  .gitattributes
Due: none

[all] Clean-up utils following update to ocaml 4.14
  gen/BellArch_gen.ml
  gen/cat2config/ir.ml
  gen/cat2config/mcat2config.ml
  gen/cat2config/translation.ml
  gen/common/util.ml
  gen/common/util.mli
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
  herd/AArch64ASLSem.ml
  herd/valconstraint.ml
  internal/herd_assumptions_test.ml
  internal/lib/base.ml
  internal/lib/base.mli
  internal/lib/sexp.ml
  internal/lib/testHerd.ml
  jingle/BellArch_jingle.ml
  lib/constant.ml
  lib/interpreter.ml
  lib/misc.ml
  lib/misc.mli
  litmus/switch.ml
  tools/cat2table.ml
  tools/logState.ml
  tools/msort.ml
Due: make-test

litmus now isolates shared files to a shared library directory
  litmus/dumpRun.ml
  litmus/libdir/_aarch64/kvm.rules
  litmus/objUtil.ml
Due: make-test

platform_io copy works correctly now
  litmus/objUtil.ml
Due: make-test

platform_io source and header is now also copied to shared library
  litmus/objUtil.ml
Due: make-test

removed duplicate copy methods and fixed aarch64 std mode makefile config
  litmus/objUtil.ml
Due: make-test

[aslspec][asl reference] remove remaining references to bottom
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/tests.t/typedefs.expected
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/reference-review-worklist.md
Due: make-test

[asl reference] fixes following an automated review
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/Slicing.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
  asllib/doc/variable_name_macros.tex
  asllib/tests/ASLDefinition.t/Bitvector_slices.asl
  asllib/tests/ASLTypingReference.t/TypingRule.MakeAnonymous.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SingularType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.StructuredType.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asllib][www] Print return code for interpretation
  asllib/asllib-www/jaslref.ml
Due: make-test

[asl reference] included forgotten rule
  asllib/doc/Statements.tex
Due: none

[aslspec] adding source locations
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/error.ml
  asllib/aslspec/main.ml
  asllib/aslspec/parsing.ml
  asllib/aslspec/parsing.mli
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/run.t
Due: make-test

fixed confs
  litmus/libdir/_x86_64/kvm.rules
Due: none

[aslspec][asl reference] made some/none lowercase
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl reference] bump version to EAC1
  asllib/doc/ASLReference.tex
Due: none

[litmus] Fix code for postcondition
  litmus/compCond.ml
  litmus/compCond.mli
  litmus/preSi.ml
Due: make-test

[tools] Fix log lexer
  tools/lexLog_tools.mll
Due: make-test

[asl reference] cleanup for removed code snippets
  asllib/doc/.gitignore
  asllib/doc/ifcode.tex
  asllib/doc/ifempty.tex
Due: none

[ASL-908] Improve clarity of `UInt`/`SInt` return type
  asllib/libdir/stdlib.asl
Due: none

exclude run.t files from trailing whitespace check
  .pre-commit-config.yaml
Due: none

[lib] Include full file path as cache key in ParseModel
  lib/parseModel.ml
Due: make-test

[asl reference] updated copyright notice
  asllib/doc/notice.tex
Due: none

[asl reference] fixes following an automated review
  asllib/doc/ASLFormal.tex
Due: none

[aslspec] fixed expected results
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/aslspec/tests.t/typedefs.expected
Due: none

[asl reference] establish consistent function/relation notations
  asllib/doc/ASLFormal.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
Due: none

[asl] Improve lexing error reporting for unprintable characters
  asllib/Lexer.mll
  asllib/SimpleLexer0.mll
  asllib/builder.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
Due: make-test

[asl reference] fixed makefile dependencies
  asllib/doc/Makefile
Due: none

[asl] Restrict permitted characters to those specified in the reference
  asllib/Lexer.mll
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
  asllib/tests/regressions.t/no-tabs-in-block-comments.asl
  asllib/tests/regressions.t/no-tabs-in-line-comments.asl
  asllib/tests/regressions.t/no-tabs-in-strings.asl
  asllib/tests/regressions.t/no-tabs.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/tuple-return.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[asl reference] establish consistent notation for Cartesian products for types
  asllib/doc/ASLFormal.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/dictionary.txt
Due: none

[ASL-912] Fix comments in standard library
  asllib/libdir/stdlib.asl
  asllib/tests/stdlib.t/run.t
Due: none

[catalogue] Add types for registers that hold labels for aarch64-ifetch tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/MP+rel+blr.litmus
Due: make-test

[catalogue] Remove duplicate aarch64-VMSA litmus tests
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/@armv8-a
  catalogue/aarch64-VMSA/tests/F2Sdb+DSB-ETS.litmus
  catalogue/aarch64-VMSA/tests/newlob/@all
  catalogue/aarch64-VMSA/tests/newlob/LB+dmb.sy+dmb.sy-HU.litmus
Due: make-test, lint-shelves

[aslref] Prepare release on opam
  asllib/dune-project
Due: make-test

[catalogue] Don't check for faults when there is a fault handler for aarch64-VMSA tests
  catalogue/aarch64-VMSA/tests/CASAL+FAIL+FH.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL2+FH.litmus
  catalogue/aarch64-VMSA/tests/newlob/S+dsb.sy-tlbi-dsb.sy+ctrl.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/MP-via_fault_STLR.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/R-via_fault_STR.litmus
Due: make-test

[catalogue] Fix register size mismatch for aarch64-ifetch WRC tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/WRC-mmrb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.WRC-mmrb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.S.RF-dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+cachesync+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+dsb.ish-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+dsb.ish.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+po+dsb-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst+po+dsb-iccvau-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-inst-mod+cachesync+po+ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1-nodc.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1-noic.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.WRC-mmrb-1.litmus
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
