Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[gen] Use structured atoms for instruction accesses
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Enumerate AArch64 atoms with structured folds
  gen/BellArch_gen.ml
  gen/CArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/atom.mli
  gen/machAtom.ml
Due: make-test

[gen] Remove unused atom printing hook
  gen/AArch64Compile_gen.ml
  gen/BellArch_gen.ml
  gen/CArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/atom.mli
  gen/machAtom.ml
Due: make-test

[gen] Remove redundant AArch64 PTE atom variants
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Use structured atoms for non-dependent PTE accesses
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Separate Neon access ordering from access type
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[herd+asl] promote expected test results and hashes
  herd/tests/instructions/ASL/bitfields1.litmus.expected
  herd/tests/instructions/ASL/case1.litmus.expected
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
  herd/tests/instructions/ASL/records.litmus.expected
Due: make-test

[aslref] removed missing test
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

[aslref] rebase
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Print error codes from the reference
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/bad-types.t
  asllib/tests/bitfield-alignment.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/control-flow.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/intersecting_slices.t
  asllib/tests/lca.t
  asllib/tests/lexer-v0.t
  asllib/tests/lexer.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/overriding.t/run.t
  asllib/tests/pragma.t/run.t
  asllib/tests/print.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Check that error codes match with error kinds in messages
  asllib/error.ml
Due: make-test

[asl] Misc tidying from looking at errors
  asllib/Operations.ml
  asllib/Typing.ml
  asllib/error.ml
Due: make-test

[asl] Slight refactoring of `error.ml`
  asllib/error.ml
Due: make-test

[asl] Report parse errors with BE_PE
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/bad-types.t
  asllib/tests/collections.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

updated semantics test
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

[aslref] Refacto runner to remove unnecessary indirection
  asllib/Runner.ml
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

[asl] Classify dynamic evaluation errors
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  herd/ASLSem.ml
Due: make-test

[asl] Classify typing errors
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/lca.t
  asllib/tests/lexer.t
Due: make-test

[asl] Classify remaining frontend errors
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
Due: make-test

[asl] Classify call and static-evaluation errors
  asllib/StaticInterpreter.ml
  asllib/StaticInterpreter.mli
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/static-evaluation-bad-index.asl
  asllib/tests/regressions.t/static-evaluation-type-assertion.asl
  asllib/tests/regressions.t/tuple-arity-mismatch.asl
Due: make-test

[asl] Classify empty-type and collection errors
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/collections.t/non-variable-base.asl
  asllib/tests/collections.t/run.t
Due: make-test

[asl] Separate implementation and unchecked errors
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/implementation-integer-overflow.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/unchecked-argument-arity.asl
  asllib/tests/regressions.t/unchecked-assignment-arity.asl
  asllib/tests/regressions.t/unchecked-parameter-arity.asl
  asllib/tests/regressions.t/unchecked-type-mismatch.asl
  asllib/tests/regressions.t/unchecked-unexpected-throw.asl
  asllib/types.ml
Due: make-test

[asl] Align side-effect, overriding, and type errors
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/lca.t
  asllib/tests/overriding.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Distinguish ASLv0 and slice errors
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/regressions.t/non-positive-bitfield-slice.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Improve diagnostic wording
  asllib/doc/ErrorCodes.tex
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/bad-types.t
  asllib/tests/bitfield-alignment.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/control-flow.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/intersecting_slices.t
  asllib/tests/lca.t
  asllib/tests/lexer-v0.t
  asllib/tests/lexer.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/overriding.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/pragma.t/run.t
  asllib/tests/print.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/typing.t/run.t
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
Due: make-test

[asl] Organize error-code mappings and documentation
  asllib/doc/ErrorCodes.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/error.ml
Due: make-test

[asl] separated lexer errors from parse errors
  asllib/Lexer.mll
  asllib/SimpleLexer0.mll
  asllib/builder.ml
  asllib/error.ml
  asllib/tests/parser-errors.t/run.t
Due: make-test

[asl] addressed review comments
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/StaticInterpreter.ml
  asllib/StaticInterpreter.mli
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/regressions.t/SemanticsRule.LEUndefIdentV0.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/types.ml
  asllib/types.ml
  asllib/types.mli
Due: make-test

[asl] test schema and initial tests
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SAssertNo.asl
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SAssertNo.yaml
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SWhile.asl
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SWhile.yaml
  asllib/compliance/ASLSyntaxReference/ASTRule.EBinop.bad1.asl
  asllib/compliance/ASLSyntaxReference/ASTRule.EBinop.bad1.yaml
  asllib/compliance/ASLSyntaxReference/GuideRule.IdentifiersKeywords.bad.asl
  asllib/compliance/ASLSyntaxReference/GuideRule.IdentifiersKeywords.bad.yaml
  asllib/compliance/ASLSyntaxReference/GuideRule.ReservedIdentifiers.bad.asl
  asllib/compliance/ASLSyntaxReference/GuideRule.ReservedIdentifiers.bad.yaml
  asllib/compliance/ASLSyntaxReference/Lexical.Comments.asl
  asllib/compliance/ASLSyntaxReference/Lexical.Comments.yaml
  asllib/compliance/ASLTypingReference/TypingRule.EVar.undefined.asl
  asllib/compliance/ASLTypingReference/TypingRule.EVar.undefined.yaml
  asllib/compliance/ASLTypingReference/TypingRule.TypeClashes.asl
  asllib/compliance/ASLTypingReference/TypingRule.TypeClashes.yaml
  asllib/compliance/regressions/hello_world.asl
  asllib/compliance/regressions/hello_world.yaml
  asllib/compliance/schema/metadata-schema-v1.yaml
Due: none

[asltest] fixed yaml version to 3.2.0
  .github/workflows/make-test.yml
  .github/workflows/menhir2bnfc.yml
  asllib/dune-project
  herdtools7.opam
Due: make-test, opam-lint

[asltest] compliance testing runner
  .github/workflows/make-test.yml
  .github/workflows/menhir2bnfc.yml
  asllib/Runner.ml
  asllib/compliance/asltest.ml
  asllib/compliance/dune
  asllib/compliance/metadata.ml
  asllib/compliance/metadata.mli
  asllib/dune-project
  herdtools7.opam
Due: make-test, opam-lint

[asltest] Make yaml a test-only dependency
  asllib/compliance/dune
  asllib/dune-project
  herdtools7.opam
Due: make-test, opam-lint

[readers-guide] Normalize filenames for case-sensitive systems
  readers-guide/litmus-descriptions/coRR.tex
  readers-guide/litmus-descriptions/coRW1.tex
  readers-guide/litmus-descriptions/coRW2.tex
  readers-guide/litmus-descriptions/coWR.tex
  readers-guide/litmus-descriptions/coWW.tex
Due: none

[readers-guide] Update litmus2desc invocation in Makefile
  readers-guide/Makefile
Due: none

[readers-guide] Regenerate litmus test descriptions
  readers-guide/litmus-descriptions/2+2w.tex
  readers-guide/litmus-descriptions/IRIW.tex
  readers-guide/litmus-descriptions/ISA2.tex
  readers-guide/litmus-descriptions/LB.tex
  readers-guide/litmus-descriptions/MP.tex
  readers-guide/litmus-descriptions/PPOAA.tex
  readers-guide/litmus-descriptions/PPOAC.tex
  readers-guide/litmus-descriptions/PPOCA.tex
  readers-guide/litmus-descriptions/PPOCC.tex
  readers-guide/litmus-descriptions/PPODA.tex
  readers-guide/litmus-descriptions/PPODC.tex
  readers-guide/litmus-descriptions/R+WR+W+RW.tex
  readers-guide/litmus-descriptions/R+WW+RW.tex
  readers-guide/litmus-descriptions/R.tex
  readers-guide/litmus-descriptions/RDW.tex
  readers-guide/litmus-descriptions/RSW.tex
  readers-guide/litmus-descriptions/RWC.tex
  readers-guide/litmus-descriptions/S.tex
  readers-guide/litmus-descriptions/SB.tex
  readers-guide/litmus-descriptions/W+RR+2W.tex
  readers-guide/litmus-descriptions/W+RR+WR+WR.tex
  readers-guide/litmus-descriptions/W+RR+WR+WW.tex
  readers-guide/litmus-descriptions/W+RW+2W.tex
  readers-guide/litmus-descriptions/W+RW+W+RW.tex
  readers-guide/litmus-descriptions/W+RW+WR.tex
  readers-guide/litmus-descriptions/W+WR+RR+W.tex
  readers-guide/litmus-descriptions/WRC.tex
  readers-guide/litmus-descriptions/WWC.tex
  readers-guide/litmus-descriptions/Z6.3.tex
  readers-guide/litmus-descriptions/coRR.tex
  readers-guide/litmus-descriptions/coRW1.tex
  readers-guide/litmus-descriptions/coRW2.tex
  readers-guide/litmus-descriptions/coWR.tex
  readers-guide/litmus-descriptions/coWW.tex
Due: none

[readers-guide] Update README.md
  readers-guide/README.md
Due: none

[readers-guide] Add .gitignore
  readers-guide/.gitignore
Due: none

[litmus2desc] Simplify readers-guide test suite
  tools/litmus2desc/test/dune
  tools/litmus2desc/test/latex.t
  tools/litmus2desc/test/readers-guide.t
  tools/litmus2desc/test/rg_litmus_tests/CoRR.litmus
  tools/litmus2desc/test/rg_litmus_tests/CoRW1.litmus
  tools/litmus2desc/test/rg_litmus_tests/CoRW2.litmus
  tools/litmus2desc/test/rg_litmus_tests/CoWR.litmus
  tools/litmus2desc/test/rg_litmus_tests/CoWW.litmus
  tools/litmus2desc/test/rg_litmus_tests/ISA2.litmus
  tools/litmus2desc/test/rg_litmus_tests/LB.litmus
  tools/litmus2desc/test/rg_litmus_tests/MP.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPOAA.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPOAC.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPOCA.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPOCC.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPODA.litmus
  tools/litmus2desc/test/rg_litmus_tests/PPODC.litmus
  tools/litmus2desc/test/rg_litmus_tests/R+WR+W+RW.litmus
  tools/litmus2desc/test/rg_litmus_tests/R+WW+RW.litmus
  tools/litmus2desc/test/rg_litmus_tests/W+RR+WR+WR.litmus
  tools/litmus2desc/test/rg_litmus_tests/WRC.litmus
Due: make-test

[internal] herd_promote debug printing is a bit more explicit
  internal/herd_promote.ml
Due: make-test

[internal] add List.split_when
  internal/lib/base.ml
  internal/lib/base.mli
  internal/lib/tests/base_test.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
