Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[all] Add frozen symbolic values as constants
  herd/archExtra_herd.ml
  herd/machAction.ml
  jingle/CArch_jingle.ml
  lib/CBase.ml
  lib/constant.ml
  lib/constant.mli
  lib/symbConstant.ml
  lib/symbValue.ml
  lib/value.mli
  litmus/ASMLang.ml
  litmus/CArch_litmus.ml
  litmus/KSkel.ml
  litmus/LISALang.ml
  litmus/archExtra_litmus.ml
  litmus/compile.ml
  litmus/constr.ml
  litmus/outUtils.ml
  litmus/preSi.ml
  litmus/skel.ml
  litmus/switch.ml
  litmus/template.ml
  tools/alpha.ml
  tools/logConstr.ml
Due: make-test

[herd] fix several typos
  doc/herd.tex
Due: none

Fix a non-negligible number of typos
  CHANGES.txt
  doc/README.txt
  doc/examples.tex
  doc/gen.tex
  doc/herd.tex
  doc/jingle.tex
  doc/litmus.tex
  gen/edge.ml
  herd-www/www/ace/mode-php.js
  herd-www/www/ace/mode-php_laravel_blade.js
Due: make-test

[herd] Define set `NT` for (AArch64) non-temporal read and writes
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
Due: make-test

[gen] Fix bug in diy default mode.
  gen/alt.ml
Due: make-test

Fix another typo
  doc/gen.tex
Due: none

[doc] Typos + update x86 experiment.
  doc/gen.tex
  doc/x86-rfi.conf
Due: none

[herd] Add possibility for Arch specific binop
  herd/AArch64ASLSem.ml
  herd/CParseTest.ml
  herd/CSem.ml
  herd/JavaSem.ml
  herd/eventsMonad.ml
  herd/monad.mli
  herd/parseTest.ml
  herd/valconstraint.ml
  lib/AArch64Value.ml
  lib/ASLValue.ml
  lib/CBase.ml
  lib/CParser.mly
  lib/CapabilityValue.ml
  lib/JavaBase.ml
  lib/archOp.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
  lib/symbValue.mli
  lib/uint128Value.ml
  lib/value.mli
Due: make-test

[herd] Display and check faults in all modes
  herd/mem.ml
  herd/top_herd.ml
Due: make-test

[all] More flexible fault specification
  herd/AArch64Sem.ml
  herd/constraints.ml
  herd/machAction.ml
  jingle/mapping.ml
  lib/fault.ml
  lib/fault.mli
  lib/faultType.ml
  lib/faultType.mli
  lib/genParser.ml
  lib/genParserUtils.ml
  lib/misc.ml
  lib/misc.mli
  lib/stateParser.mly
  lib/symbReg.ml
  litmus/CSymbReg.ml
  litmus/libdir/_instance.c
  litmus/preSi.ml
  litmus/skelUtil.ml
  tools/HashedFault.ml
  tools/HashedFault.mli
  tools/alpha.ml
  tools/fault_tools.ml
  tools/fault_tools.mli
  tools/lexLog_tools.mll
  tools/logConstr.ml
  tools/logState.ml
  tools/mproj.ml
Due: make-test

[litmus] More restrictive control over location coding.
  litmus/preSi.ml
Due: make-test

[herd] Add AArch64 UDF instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/A247.litmus
  herd/tests/instructions/AArch64/A247.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[all] Rename AArch64 Illegal Instruction to Undefined Instruction
  herd/AArch64Sem.ml
  lib/faultType.ml
  lib/faultType.mli
Due: make-test

[litmus] Add AArch64 UDF instruction
  litmus/AArch64Compile_litmus.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
Due: make-test

[litmus] Identify and record Undefined Instruction faults
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
Due: none

[lib] Add function that returns all labels in a test
  lib/pseudo.ml
  litmus/litmusUtils.ml
  litmus/pseudoAbstract.mli
  litmus/test_litmus.ml
  litmus/top_klitmus.ml
  litmus/top_litmus.ml
Due: make-test

[herd] More precise reporting of faults in final states
  herd/archExtra_herd.ml
  herd/tests/instructions/AArch64.kvm/A012.litmus
  herd/tests/instructions/AArch64.kvm/A012.litmus.expected
  herd/tests/instructions/AArch64.kvm/A013.litmus
  herd/tests/instructions/AArch64.kvm/A013.litmus.expected
  herd/tests/instructions/AArch64.kvm/A014.litmus
  herd/tests/instructions/AArch64.kvm/A014.litmus.expected
  herd/tests/instructions/AArch64.kvm/A015.litmus
  herd/tests/instructions/AArch64.kvm/A015.litmus.expected
  herd/tests/instructions/AArch64.kvm/A016.litmus
  herd/tests/instructions/AArch64.kvm/A016.litmus.expected
Due: make-test

[litmus] Avoid uncessarily reading ELR_EL1 in kvm mode
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm_fault_handler.c
Due: none

[litmus] Avoid reading AArch64 FAR when it is not valid
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/preSi.ml
Due: make-test

[litmus] Look for labels in the fault handler
  litmus/litmusUtils.ml
Due: make-test

[litmus] Enhance the way we record faults and align it with herd7
  litmus/compCond.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_instance.c
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[tool] Lex complete "negative" faults
  tools/lexLog_tools.mll
Due: make-test

[all]: Instruction addresses parsed with section names
  herd/tests/instructions/AArch64/L047.litmus
  herd/tests/instructions/AArch64/L058.litmus
  herd/tests/instructions/AArch64/L059.litmus
  herd/tests/instructions/AArch64/L059.litmus.expected
  herd/tests/instructions/AArch64/L061.litmus
  herd/tests/instructions/AArch64/L061.litmus.expected
  lib/AArch64Lexer.mll
  lib/stateLexer.mll
  tools/lexLog_tools.mll
Due: make-test

[herd] Fix a minor typo
  CHANGES.txt
  doc/README.txt
  doc/examples.tex
  doc/gen.tex
  doc/herd.tex
  doc/jingle.tex
  doc/litmus.tex
  gen/edge.ml
  herd-www/www/ace/mode-php.js
  herd-www/www/ace/mode-php_laravel_blade.js
  herd/herd.ml
Due: make-test

[gen,herd]: fixed __int128 parsing
  gen/typBase.ml
  herd/tests/instructions/C/C08.litmus
  herd/tests/instructions/C/C08.litmus.expected
  herd/tests/instructions/C/C11.litmus
  herd/tests/instructions/C/C11.litmus.expected
  herd/tests/instructions/C/c.cfg
  lib/CLexer.mll
  lib/CType.ml
  lib/stateLexer.mll
  lib/stateParser.mly
  lib/testType.ml
Due: make-test

Initial commit for generating relaxations from a cat file.
  gen/dune
  gen/mcat2config.ml
Due: make-test

[tools] Implement option to negate final condition with mlog2cond
  tools/mlog2cond.ml
Due: make-test

[www] Add coherence tests to the aarch64 base book
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/CoRR.litmus
  catalogue/aarch64/tests/CoRW1.litmus
  catalogue/aarch64/tests/CoRW2.litmus
  catalogue/aarch64/tests/CoWR.litmus
  catalogue/aarch64/tests/CoWW.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

[www] Add tests for the UDF instruction in the catalogue
  Makefile
  catalogue/aarch64-faults/cats/aarch64.cat
  catalogue/aarch64-faults/cfgs/new-web.cfg
  catalogue/aarch64-faults/shelf.py
  catalogue/aarch64-faults/tests/3faults.litmus
  catalogue/aarch64-faults/tests/LDRaf0F.litmus
  catalogue/aarch64-faults/tests/LDRredF.litmus
  catalogue/aarch64-faults/tests/STRdb0F.litmus
  catalogue/aarch64-faults/tests/UDF.litmus
  catalogue/aarch64-faults/tests/kinds.txt
  catalogue/aarch64-faults/tests/noUDF.litmus
  herd-www/Makefile
  herd-www/www/index.html
Due: make-test, lint-shelves

add support for rmw and range into non-refactored code
  gen/mcat2config.ml
Due: make-test

[doc] Typo
  doc/gen.tex
Due: none

[herd] Account for fault types while restricting displayed outcomes
  herd/tests/instructions/AArch64.kvm/A017.litmus
  herd/tests/instructions/AArch64.kvm/A017.litmus.expected
  herd/top_herd.ml
  lib/fault.ml
  lib/fault.mli
Due: make-test

refactored with suggestions of hadrien Renaud, added comments for most major functions and added support for rmw instructions
  gen/mcat2config.ml
Due: make-test

[asl,opam,build] Fix build for dune<=3
  asllib/tests/dune
  dune
  dune-project
  herdtools7.opam
Due: make-test, opam-lint

[build] Improve build time in ./version-gen.sh
  defs-mini.sh
  defs.sh
  version-gen.sh
Due: none

[AArch64 cat] Adjust pick-dtrm definition to restore intent
  catalogue/aarch64-pick/tests/LB-ldxr-stxr-rel.litmus
  catalogue/aarch64-pick/tests/LB-swp-rel.litmus
  catalogue/aarch64-pick/tests/desired-kinds.txt
  herd/libdir/aarch64deps.cat
Due: make-test

[herd] update unit tests after iico_order change
  herd/tests/instructions/AArch64/L035.litmus.expected
  herd/tests/instructions/AArch64/L037.litmus.expected
  herd/tests/instructions/AArch64/L038.litmus.expected
  herd/tests/instructions/AArch64/L040.litmus.expected
Due: make-test

[gen,AArch64] Fix dependencies to AMO instructions.
  gen/AArch64Compile_gen.ml
  gen/ARMCompile_gen.ml
  gen/MIPSCompile_gen.ml
  gen/PPCCompile_gen.ml
  gen/RISCVCompile_gen.ml
  gen/X86Compile_gen.ml
  gen/X86_64Compile_gen.ml
  gen/XXXCompile_gen.mli
  gen/top_gen.ml
Due: make-test

[AArch64 cat] Adjust pick-dtrm definition to restore intent
  catalogue/aarch64-pick/shelf.py
  catalogue/aarch64-pick/tests/LB-ldxr-stxr-rel.litmus
  catalogue/aarch64-pick/tests/LB-swp-rel.litmus
  catalogue/aarch64-pick/tests/desired-kinds.txt
  herd/libdir/aarch64deps.cat
  herd/tests/instructions/AArch64/L035.litmus.expected
  herd/tests/instructions/AArch64/L037.litmus.expected
  herd/tests/instructions/AArch64/L038.litmus.expected
  herd/tests/instructions/AArch64/L040.litmus.expected
Due: make-test, lint-shelves
