Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[litmus] add missing licenses to libdir files
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
Due: none

[doc] Add exit status section to herd's documentation
  doc/herd.tex
Due: none

[doc] Address typos in herd.tex
  doc/herd.tex
Due: none

[catalogue] rename tests in VMSA to match their content
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+DMBST+DMBST.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+SHOW.litmus
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp.litmus
Due: make-test, lint-shelves

[internal] Convert Command runs to use result-based control flow
  internal/diy_regression_test.ml
  internal/diyone_test.ml
  internal/herd_assumptions_test.ml
  internal/herd_catalogue_regression_test.ml
  internal/herd_diycross_regression_test.ml
  internal/herd_promote.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/command.ml
  internal/lib/command.mli
  internal/lib/shelf.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
  internal/lib/tests/command_test.ml
Due: make-test

[doc] don't hardcode path for hevea and hacha
  doc/Makefile
Due: none

[herd] exit with special exit code when a timeout is hit
  herd/herd.ml
  herd/itimer.ml
  herd/tests/other/timeout-report.t/Armv8-ext-forbidden000018.litmus
  herd/tests/other/timeout-report.t/run.t
  internal/herd_catalogue_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[tools] Fix bug in state comparison Very unfortunate error in implementing the difference of two sorted lists.
  tools/logState.ml
  tools/tests/mcompare.t/NEW.01
  tools/tests/mcompare.t/OLD.01
  tools/tests/mcompare.t/run.t
Due: make-test

[tools] Fix revalidation bt **mcompare7**.
  tools/HashedFault.ml
  tools/fault_tools.ml
  tools/fault_tools.mli
  tools/logState.ml
Due: make-test

[gen] Allow data dependencies to RMW reads
  gen/alt.ml
  gen/common/dep.ml
  gen/common/dep.mli
  gen/common/edge.ml
  gen/cycle.ml
  gen/relax.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Generate data-dependent read followed by Amo.Cas in AArch64
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Test data dependencies to RMW reads
  gen/tests/AArch64/S+po+data-amo.cas.litmus
  gen/tests/AArch64/S+po+data-amo.stadd.litmus
  gen/tests/AArch64/S+po+data-amo.swp.litmus
  gen/tests/AArch64/S+po+data-rmw.litmus
  gen/tests/AArch64/reject-dpdatasr-posrw-rfi.litmus
Due: make-test

[gen] Remove a extra typing uint32_t on reading in pair.
  gen/tests/AArch64/CoRW1+posw4pa-rfipaw4.litmus
  gen/top_gen.ml
Due: make-test

[gen] Generate data-dependent read followed by Amo.St*** in AArch64
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Generate data-dependent read followed by LxSx in AArch64.
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Generate data-dependent read followed by Amo.Swp/Ld*** in AArch64
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Retain final writes from store-only RMWs
  gen/topUtils.ml
Due: make-test

[gen] Restrict read value checks to communication edges
  gen/cycle.ml
Due: make-test

[lib] Add module Iter
  lib/iter.ml
  lib/iter.mli
Due: make-test

[tools/mprog7] Add support for reading litmus test from stdin
  tools/mprog.ml
  tools/toolParse.ml
  tools/toolParse.mli
Due: make-test

[tools/mprog7] Add cram tests
  tools/tests/dune
  tools/tests/mprog/dune
  tools/tests/mprog/errors.t/AArch64-invalid.litmus
  tools/tests/mprog/errors.t/run.t
  tools/tests/mprog/lists.t/-
  tools/tests/mprog/lists.t/@inputs
  tools/tests/mprog/lists.t/R.litmus
  tools/tests/mprog/lists.t/run.t
  tools/tests/mprog/stdin.t/A.litmus
  tools/tests/mprog/stdin.t/run.t
Due: make-test

[tools/mprog7] Process positional arguments left-to-right
  tools/mprog.ml
  tools/tests/mprog/positional-arguments.t
Due: make-test

[litmus] silence warnings emitted by C compilers in tests
  litmus/tests/AArch64.kvm/A005.t
Due: none

[herd][litmus] Fix a test to simplify regressions
  herd/tests/instructions/AArch64.kvm/A005.litmus
  herd/tests/instructions/AArch64.kvm/A005.litmus.expected
  litmus/tests/AArch64.kvm/A005.t
Due: make-test

[Makefile] Make herd's libdir a parameter
  Makefile
Due: none

[herd] Create a snapshot of aarch64.cat corresponding to Arm ARM issue M.d
  herd/libdir/aarch64/ArmARM-M.d/aarch64.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64bbm.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64deps.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64fences.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64hwreqs.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64loc.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64memattrs.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64show.cat
  herd/libdir/aarch64/ArmARM-M.d/aarch64util.cat
  herd/libdir/aarch64/ArmARM-M.d/catdefinitions.tex
  herd/libdir/aarch64/ArmARM-M.d/cos-no-opt.cat
  herd/libdir/aarch64/ArmARM-M.d/cos-ok-opt.cat
  herd/libdir/aarch64/ArmARM-M.d/cos.cat
  herd/libdir/aarch64/ArmARM-M.d/cross.cat
  herd/libdir/aarch64/ArmARM-M.d/enumerations.cat
  herd/libdir/aarch64/ArmARM-M.d/stdlib.cat
Due: none

[gen] Unify to use Misc.nilp for empty list.
  gen/alt.ml
Due: make-test

[gen] use IDs for adjacency lookups.
  gen/alt.ml
Due: make-test

[gen] Reject incompatible concrete chunk boundaries early
  gen/alt.ml
Due: make-test

[gen] cache instruction counts in search chunks
  gen/alt.ml
Due: make-test

[gen] Skip cycle reject checks when empty
  gen/alt.ml
Due: make-test

[gen] cache process counts in search chunks
  gen/alt.ml
Due: make-test

[gen] Remove redundant final adjacency check
  gen/alt.ml
Due: make-test

[gen] Filter invalid annotated relaxations
  gen/relax.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Reject invalid RMW annotations during adjacency checks
  gen/common/edge.ml
Due: make-test

[gen] Reject annotations incompatible with edge directions
  gen/common/edge.ml
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Merge read and write value assignment when building cycle.
  gen/cycle.ml
Due: make-test

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/topUtils.ml
Due: make-test
