Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl] Classify call and static-evaluation errors
  asllib/StaticInterpreter.ml
  asllib/StaticInterpreter.mli
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/static-evaluation-bad-index.asl
  asllib/tests/regressions.t/static-evaluation-type-assertion.asl
  asllib/tests/regressions.t/tuple-arity-mismatch.asl
Due: make-test

[asl] Classify dynamic evaluation errors
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  herd/ASLSem.ml
Due: make-test

[asl] Classify typing errors
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/lca.t
  asllib/tests/lexer.t
Due: make-test

[asl] Fix a divergence between documentation/implementation
  asllib/Interpreter.ml
  asllib/tests/loop-limits.t/for-loop-zero.asl
  asllib/tests/loop-limits.t/run.t
Due: make-test

[asl] Improve for-loop limit error reporting
  asllib/Interpreter.ml
  asllib/tests/loop-limits.t/run.t
Due: make-test

[asl] addressed review comments
  asllib/StaticInterpreter.mli
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/SemanticsRule.LEUndefIdentV0.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/types.ml
  asllib/types.ml
  asllib/types.mli
Due: make-test

[asl reference] replace console splicing by generated console macros
  asllib/doc/.gitignore
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/Makefile
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

[asl][doc] Improve documentation spellchecking
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
Due: none

fixed aslref building and referencing in asllib/doc/Makefile
  asllib/doc/Makefile
Due: none

[asl] test schema and initial tests
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SAssertNo.asl
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SAssertNo.yaml
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SWhile.asl
  asllib/compliance/ASLSemanticsReference/SemanticsRule.SWhile.yaml
  asllib/compliance/ASLSyntaxReference/ASTRule.EBinop.bad1.asl
  asllib/compliance/ASLSyntaxReference/ASTRule.EBinop.bad1.yaml
  asllib/compliance/ASLSyntaxReference/GuideRule.IdentifiersKeywords.bad.asl
  asllib/compliance/ASLSyntaxReference/GuideRule.IdentifiersKeywords.bad.yaml
  asllib/compliance/ASLSyntaxReference/GuideRule.ReservedIdentifiers.bad.asl
  asllib/compliance/ASLSyntaxReference/GuideRule.ReservedIdentifiers.bad.yaml
  asllib/compliance/ASLSyntaxReference/Lexical.Comments.asl
  asllib/compliance/ASLSyntaxReference/Lexical.Comments.yaml
  asllib/compliance/ASLTypingReference/TypingRule.EVar.undefined.asl
  asllib/compliance/ASLTypingReference/TypingRule.EVar.undefined.yaml
  asllib/compliance/ASLTypingReference/TypingRule.TypeClashes.asl
  asllib/compliance/ASLTypingReference/TypingRule.TypeClashes.yaml
  asllib/compliance/regressions/hello_world.asl
  asllib/compliance/regressions/hello_world.yaml
  asllib/compliance/schema/metadata-schema-v1.yaml
Due: none

[asltest] compliance testing runner
  .github/workflows/make-test.yml
  .github/workflows/menhir2bnfc.yml
  asllib/Runner.ml
  asllib/compliance/asltest.ml
  asllib/compliance/dune
  asllib/compliance/metadata.ml
  asllib/compliance/metadata.mli
  asllib/dune-project
  herdtools7.opam
Due: make-test, opam-lint

[asl reference] use \ChapterOutline to automatically list sections for a given chapter
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/macros.hva
Due: none

[asl reference] addressing review comments
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/doc/macros.hva
Due: none

addressed review comments
  asllib/doc/.gitignore
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Makefile
  asllib/doc/Statements.tex
  asllib/doc/extended_macros.py
Due: none

[gen] Add pair-cell offset annotation for AArch64.
  gen/common/AArch64Arch_gen.ml
  gen/cycle.ml
Due: make-test

[aslref] Refacto runner to better handle exit codes
  asllib/Runner.ml
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

[aslref] Remove some useless usages of Exit
  asllib/Runner.ml
  asllib/aslref.ml
Due: make-test

[gen] Check pair-load results per register.
  gen/AArch64Compile_gen.ml
  gen/cycle.ml
  gen/final.ml
  gen/tests/diy-basic-check.t
  gen/top_gen.ml
Due: make-test

[merge] Preserve types for offset pair cells
  gen/cycle.ml
Due: make-test

[merge] Track pair-load results per cell for better tracking coherence.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[herd] Preserve CAS write-result values
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Use common memory lifting for GCS branches
  herd/AArch64Sem.ml
Due: make-test

[herd] Remove trailing whitespaces
  herd/AArch64Sem.ml
Due: make-test

[herd] Preserve GCS control flow through PAC lifting
  herd/AArch64Sem.ml
Due: make-test

wip: use non-optional ~tag parameter
  herd/AArch64Sem.ml
Due: make-test

wip: reformat
  herd/AArch64Sem.ml
Due: make-test

[herd] Preserve GCS control flow results
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G007.litmus
  herd/tests/instructions/AArch64.gcs/G007.litmus.expected
  herd/tests/instructions/AArch64.gcs/G008.litmus
  herd/tests/instructions/AArch64.gcs/G008.litmus.expected
  herd/tests/instructions/AArch64.gcs/G009.litmus
  herd/tests/instructions/AArch64.gcs/G009.litmus.expected
  herd/tests/instructions/AArch64.gcs/G010.litmus
  herd/tests/instructions/AArch64.gcs/G010.litmus.expected
Due: make-test

[merge] Preserve configured observer register types in `-obs local`
  gen/AArch64Compile_gen.ml
Due: make-test

[merge] Use pair loads for pair-boundary observers
  gen/top_gen.ml
Due: make-test

wip: add comment
  herd/AArch64Sem.ml
Due: make-test

wip: fix trailing newlines
  herd/tests/instructions/AArch64.gcs/G007.litmus
  herd/tests/instructions/AArch64.gcs/G008.litmus
  herd/tests/instructions/AArch64.gcs/G009.litmus
  herd/tests/instructions/AArch64.gcs/G010.litmus
Due: make-test

[herd] Propagate control-flow result through PAC
  herd/AArch64Sem.ml
Due: make-test

[herd] Fix SWP register port annotation
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/@all
  catalogue/aarch64/tests/LB+dmb.sy+data-amo.swp.litmus
  catalogue/aarch64/tests/kinds.txt
  herd/AArch64Sem.ml
Due: make-test, lint-shelves

[herd] Fix typo in libdir/aarch64fences.cat
  herd/libdir/aarch64fences.cat
  herd/tests/instructions/AArch64.kvm/A018.litmus.expected
Due: make-test

[herd] Fix writable2 function in machModelChecker
  herd/machModelChecker.ml
Due: make-test

[herd] Add PTEtoPA relation for VMSA
  herd/machAction.ml
Due: make-test

[herd] Move the definition of ca from aarch64.cat to cos.cat
  herd/libdir/aarch64.cat
  herd/libdir/cos.cat
Due: none

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
