Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[gen] Deduplicate `-unfold-only` output
  gen/diy.ml
  gen/relax.ml
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
Due: make-test

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Update CI due to the new version of baseline.
  gen/tests/baseline-size-4.cycle.expected
Due: none

[gen] allow repeated reject lists in diy7
  gen/tests/diy-basic-check.t
Due: none

[gen] precompute adjacency checks during cycle search
  gen/alt.ml
Due: make-test

[gen] refactor DumpAll test preparation
  gen/alt.ml
  gen/common/edge.ml
  gen/dumpAll.ml
  gen/dumpAll.mli
Due: make-test

[gen] filter invalid cycles in `diy7` searching algorithm before DumpAll
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Add AArch64 MemTag generator config
  gen/libdir/memtag.conf
Due: none

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[TEMP] add more edges to memtag.conf
  gen/libdir/memtag.conf
Due: none

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Add store-only variant
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
Due: make-test

[gen] Carry `store-only` fault labels to stores
  gen/AArch64Compile_gen.ml
  gen/cycle.ml
Due: make-test

[gen] rework on `PteOA`
  gen/common/AArch64Arch_gen.ml
  gen/common/archExtra_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Use physical address in write coherence check.
  gen/common/AArch64Arch_gen.ml
  gen/common/value_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
  gen/topUtils.ml
Due: make-test

[gen] Code improvement on `Pte` when building cycle.
  gen/cycle.ml
Due: make-test

[gen] Track per-proc implicit PTE updates
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/cycle.ml
  gen/tests/diy-basic-check.t
Due: make-test

[CI] Add test for `vmsa` in `Makefile`.
  Makefile
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsW-pos-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteaf0-pospteaf0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa-pospteoap-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.af0-pospteoa.af0p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWppteoa.v1-pospteoa.v1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpptev1-posptev1p-fri.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehap-pos-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteaf0-pospteaf0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa-pospteoap-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.af0-pospteoa.af0p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehapteoa.v1-pospteoa.v1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehaptev1-posptev1p-frippteha.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdp-pos-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteaf0-pospteaf0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa-pospteoap-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.af0-pospteoa.af0p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdpteoa.v1-pospteoa.v1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWptehdptev1-posptev1p-fripptehd.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoap-pos-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteaf0-pospteaf0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa-pospteoap-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.af0-pospteoa.af0p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoapteoa.v1-pospteoa.v1p-frippteoa.litmus.expected
  gen/tests/AArch64.vmsa/CoWR0+tlbi-sync.ishsWpteoaptev1-posptev1p-frippteoa.litmus.expected
Due: make-test

[gen] restrict read value checks to communication-adjacent events
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
Due: make-test

[gen] Add more rmw to match memory access in `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[catalogue] Add the aarch64-ETS3 catalogue to the regressions
  Makefile
  catalogue/aarch64-ETS3/cats/aarch64.cat
  catalogue/aarch64-ETS3/ci-shelf.py
Due: lint-shelves

[Makefile] Introduce pattern rules for herd tests
  Makefile
  catalogue/aarch64-ETS2/ci-shelf.py
  catalogue/aarch64-ETS3/cats/aarch64.cat
  catalogue/aarch64-MTE/ci-shelf.py
  catalogue/aarch64-VMSA/README.md
  catalogue/aarch64-VMSA/ci-shelf.py
  catalogue/aarch64-VMSA/tests/kinds.txt
  catalogue/aarch64-cas/ci-shelf.py
  catalogue/aarch64-faults/ci-shelf.py
  catalogue/aarch64-ifetch/ci-shelf.py
  catalogue/aarch64-ifetch/tests/kinds.txt
  catalogue/aarch64-mixed/ci-shelf.py
  catalogue/aarch64-pick/ci-shelf.py
  catalogue/aarch64-pick/tests/kinds.txt
  catalogue/aarch64/ci-shelf.py
  catalogue/bpf/ci-shelf.py
  catalogue/x86_64/ci-shelf.py
  catalogue/x86_64/tests/kinds.txt
  dirs-and-confs.txt
  herd/tests/instructions/AArch32/ci.cfg
  herd/tests/instructions/AArch64.MTE/ci.cfg
  herd/tests/instructions/AArch64.PAC/ci.cfg
  herd/tests/instructions/AArch64.gcs/ci.cfg
  herd/tests/instructions/AArch64.kvm/asl.cfg
  herd/tests/instructions/AArch64.kvm/ci.cfg
  herd/tests/instructions/AArch64.mixed/ci.cfg
  herd/tests/instructions/AArch64.neon/ci.cfg
  herd/tests/instructions/AArch64.self/ci.cfg
  herd/tests/instructions/AArch64.sme/ci.cfg
  herd/tests/instructions/AArch64.sve/ci.cfg
  herd/tests/instructions/AArch64.vmsa+ifetch/ci.cfg
  herd/tests/instructions/AArch64.vmsa+mte/ci.cfg
  herd/tests/instructions/AArch64/ci.cfg
  herd/tests/instructions/ARM/ci.cfg
  herd/tests/instructions/C/ci.cfg
  herd/tests/instructions/MIPS/ci.cfg
  herd/tests/instructions/PPC/ci.cfg
  herd/tests/instructions/RISCV/ci.cfg
  herd/tests/instructions/X86_64/ci.cfg
Due: lint-shelves

[Makefile] Two more tests that fit in the `test.inst.herd.&` pattern
  Makefile
  herd/tests/instructions/ASL-pseudo-arch/ci.cfg
  herd/tests/instructions/ASL/ci.cfg
  internal/herd_regression_test.ml
  internal/herd_test.ml
Due: make-test

[gen][AArch64] Properly reserve X12 for SME
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

Skip tests that require CAT changes
  catalogue/aarch64-PAC/shelf.py
Due: lint-shelves

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

[herd,asl] Bundler.py system register processing: add --use-array-variables, --no-register-variable-prefix options
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/bundler.py
Due: none

[catalogue] Fix syntax error in coRR-pte9-mod.litmus
  catalogue/aarch64-readers-guide/tests/coRR-pte9-mod.litmus
Due: make-test

[catalogue] Fix case disparity
  catalogue/aarch64-readers-guide/shelf.py
Due: lint-shelves

[herd] Clean code
  herd/Pretty.ml
  herd/mem.ml
  lib/innerRel.ml
Due: make-test

[herd] Mostly indentation fixes
  lib/innerRel.ml
Due: make-test

[gen] Add `diy7 -unfold-only`.
  gen/common/config.ml
  gen/diy.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] restrict read value checks to communication-adjacent events
  gen/common/edge.ml
  gen/cycle.ml
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/C/LB+posWrlxrlx-porlxrlx+fetch.addrlxrlx-porlxrlx.litmus.expected
  gen/tests/baseline-size-4.cycle.expected
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
