Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Fix size of initial writes.
  herd/archExtra_herd.ml
  herd/eventsMonad.ml
Due: make-test

[herd] Add test The new test checks that size mismatches are delayed.
  herd/tests/instructions/AArch64.kvm/A031.litmus
  herd/tests/instructions/AArch64.kvm/A031.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[herd] Better diagram in case of delayed exception finally raised
  herd/mem.ml
  herd/top_herd.ml
Due: make-test

[herd] Delay failure in case of size mismatch
  herd/mem.ml
Due: make-test

[lib] Add optional data to symbolic values
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/archExtra_herd.ml
  herd/valconstraint.ml
  lib/AArch64ASLValue.ml
  lib/AArch64Value.ml
  lib/ASLScalar.ml
  lib/ASLValue.ml
  lib/CapabilityValue.ml
  lib/SVEValue.ml
  lib/int128Value.ml
  lib/int32Value.ml
  lib/int64Value.ml
  lib/neonValue.ml
  lib/symData.ml
  lib/symData.mli
  lib/symbValue.ml
  lib/symbValue.mli
  lib/uint128Value.ml
  lib/value.mli
Due: make-test

[herd,asl] Use sym data to track bitvector lengths
  herd/ASLSem.ml
  lib/ASLValue.ml
Due: make-test

[herd,asl] Add bitvector masks as symbolic data
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Interpreter.ml
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/tests/mask.ml
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-vmsa-0.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
  herd/tests/instructions/ASL-pseudo-arch/bitvector-symbolics.litmus
  herd/tests/instructions/ASL-pseudo-arch/bitvector-symbolics.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/bitvector-symbolics.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/catch-exec-twice.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-assign.litmus.expected
  lib/ASLOp.ml
  lib/ASLSymData.ml
  lib/ASLValue.ml
  lib/tests/aslsymdata.ml
  lib/tests/dune
  lib/value.mli
Due: make-test

[asl] Test bitvector masks with qcheck
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/tests/dune
  asllib/tests/mask.ml
Due: make-test

[asl] Improve `Bitvector.mask` to a full abstration of `Bitvecgtor.t`.
  asllib/bitvector.ml
  asllib/bitvector.mli
Due: make-test

[gen] Make wildcard edges only in diy7 and diycross7.
  gen/CArch_gen.ml
  gen/CCompile_gen.ml
  gen/RISCVArch_gen.ml
  gen/alt.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/common/rmw.mli
  gen/compileCommon.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/exch.ml
  gen/noRmw.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[aslspec] added an attribute that lets render type subsets without adding a hypertarget to the defined types
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/render.ml
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Expressions.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] make fields identifier-defined entities
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/latex.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/typedefs.expected
  asllib/aslspec/tests.t/typedefs.spec
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
Due: make-test

[gen] Introduce wildcard for int and ext, e.g. `Co` for `Coe` and `Coi`.
  gen/alt.ml
  gen/atomize.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/nexts.ml
  gen/normaliser.ml
Due: make-test

[asl reference] updated the reference to represent static/dynamic environments as records rather than pairs
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
Due: none

[aslspec] code improvements
  asllib/aslspec/AST.ml
  asllib/aslspec/latex.ml
  asllib/aslspec/main.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
Due: make-test

[gen] Minor change on functions in `code.ml`
  gen/alt.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/cycle.ml
Due: make-test

addressed review comments
  asllib/aslspec/main.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/SemanticsUtilities.tex
Due: make-test

[gen] minor comments change to baseline `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[gen] remove `Q rmw` as it is not allowed in `diy`.
  gen/libdir/forbidden.conf
Due: none

[gen] Remove `[DpAddr*R rmw ISBsWR]` in forbidden.conf
  gen/libdir/forbidden.conf
Due: none

[gen] Add a few more missing `rmw` in the `DpAddrCsel` case.
  gen/libdir/forbidden.conf
Due: none

[asl] Remove obsolete comments
  asllib/tests/typing.t/TNegative15-0.asl
  asllib/tests/typing.t/TReconsider15.asl
  asllib/tests/typing.t/run.t
Due: none

[aslspec] initial code for inference rules
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/aslspec.md
  asllib/aslspec/latex.ml
  asllib/aslspec/main.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/utils.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Literals.tex
  asllib/doc/Statements.tex
  asllib/doc/asl.spec
  asllib/doc/rendering_macros.tex
Due: make-test

[aslspec] name elements in output configuration of rule's conclusion
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/doc/asl.spec
Due: make-test

[herd,asl] Add CheckEq ASL primitive.
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[herd] Copy regression test A031 into the catalogue
  Makefile
  catalogue/aarch64-VMSA/cfgs/asl.cfg
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/A031.litmus
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test, lint-shelves

[test] Add one catalogue test
  catalogue/aarch64-VMSA/cfgs/asl.cfg
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-VMSA/tests/WW+RR-DMBST+DMBLD-SWP4+WREG.litmus
Due: make-test, lint-shelves

[gen] Introduce wildcard `*` to `Dp`.
  gen/MIPSArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/cDep.ml
  gen/cDep.mli
  gen/classicDep.ml
  gen/classicDep.mli
  gen/common/AArch64Arch_gen.ml
  gen/common/dep.ml
  gen/common/dep.mli
  gen/common/edge.ml
  gen/common/fence.mli
Due: make-test

[gen] Explicit add the default plain annotation `P`.
  gen/common/edge.ml
Due: make-test

[gen] introduce `Amo.*` to represent all `Amo` edges.
  gen/AArch64Compile_gen.ml
  gen/CArch_gen.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/edge.ml
  gen/common/rmw.mli
  gen/exch.ml
  gen/noRmw.ml
Due: make-test

[gen] introduce wildcard "*" for same and different location.
  gen/AArch64Compile_gen.ml
  gen/alt.ml
  gen/common/AArch64Arch_gen.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/cycle.ml
  gen/final.ml
  gen/normaliser.ml
  gen/topUtils.ml
Due: make-test

fix: include overridden symbols in normal form map
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
Due: make-test

chore: add `lrs` to test cases
  gen/cat2config/test/baseline.t
Due: none
