Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

fixup! [herd] Avoid code replication for aarch64 cas semantics
  herd/event.ml
  herd/eventsMonad.ml
Due: make-test

[herd] Fix CASP to generate an atomic Read Effect when there is writeback
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[Makefile] Add aarch64-ifetch catalogue to the regressions
  Makefile
  catalogue/aarch64-ifetch/kinds.txt
  catalogue/aarch64-ifetch/shelf-test.py
Due: none

[asl][reference] examples
  asllib/doc/Bitfields.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Slicing.tex
  asllib/doc/Statements.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SliceFromZero.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SliceLength.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SliceRange.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.Slices.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.BitfieldSliceToPositions.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckPositionsInWidth.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DisjointSlicesToPositions.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetFields.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] `chmod u+x` for `{doclint,extended_macros}.py`
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

[asl][reference] Fix a bug in an example
  asllib/doc/PrimitiveOperations.tex
  asllib/tests/ASLTypingReference.t/TypingRule.BinopLiterals.integer-arithmetic.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

fixup! [herd] Check if an event/action is NoAction
  herd/event.ml
Due: make-test

[asl][reference] Update prose for left-to-right evaluation
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLDefinition.t/LeftToRight.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[asl] Remove side-effect analysis
  asllib/Typing.ml
  asllib/Typing.mli
  asllib/aslref.ml
  asllib/tests/side-effects.t/run.t
  herd/ASLSem.ml
Due: make-test

[asl][reference] Remove non-conflicting union of side effects
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/TypeSystemUtilities.tex
Due: none

[asl] Fixes for left-to-right evaluation
  asllib/Interpreter.ml
  asllib/doc/Expressions.tex
  asllib/doc/Slicing.tex
  asllib/doc/SubprogramCalls.tex
Due: make-test

[asl][reference] examples
  asllib/doc/ErrorCodes.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EGetItem.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ERecord.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SCall.asl
  asllib/tests/ASLSyntaxReference.t/ConventionRule.IdentifierSingleUnderscore.asl
  asllib/tests/ASLSyntaxReference.t/ConventionRule.IdentifiersDifferingByCase.asl
  asllib/tests/ASLSyntaxReference.t/GuideRule.IdentifiersKeywords.bad.asl
  asllib/tests/ASLSyntaxReference.t/GuideRule.ReservedIdentifiers.bad.asl
  asllib/tests/ASLSyntaxReference.t/GuideRule.Whitespace1.asl
  asllib/tests/ASLSyntaxReference.t/GuideRule.Whitespace2.asl
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.ATC.asl
  asllib/tests/ASLTypingReference.t/TypingRule.FindNamedLCA.asl
  asllib/tests/ASLTypingReference.t/TypingRule.LowestCommonAncestor.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PAny.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PAny.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PGeq.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PGeq.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PLeq.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PLeq.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PMask.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PMask.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PRange.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PRange.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PSingle.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PSingle.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.PTuple.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TIntWellConstrained.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeClashes.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] fixes to Symbolic Subsumption Testing chapter
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] fixes to SemanticsRule.STry and Prose paragraph for SemanticsRule.Block
  asllib/doc/BlockStatements.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Statements.tex
  asllib/doc/doclint.py
Due: none

remove occurence to pac_test in .gitignore
  .gitignore
Due: none

[asl][reference] ALP3 changelog
  asllib/doc/ASLRefALP3ChangeLog.tex
  asllib/doc/ASLReference.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/dictionary.txt
Due: none

[fix] use a check_pac function for PAC related instructions
  herd/AArch64Sem.ml
Due: make-test

rename SetCanonical into MakeCanonical
  herd/AArch64Sem.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
Due: make-test

[asl][reference] Add a missing entry to ALP2 changelog
  asllib/doc/ASLRefALP2ChangeLog.tex
Due: none

[menhir2bnfc][asl] Add disclaimers to menhir2bnfc
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/grammars.t/calc.bnf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc_ordered.cf.expected
  asllib/menhir2bnfc/tests/integration/parser_cmp.ml
  asllib/menhir2bnfc/utils.ml
Due: make-test

[asl][reference] fixed a bug in extended_macros.py
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

[asl] Fixes for environments in evaluation of blocks
  asllib/Interpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/BlockStatements.tex
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/throw-local-env.asl
Due: make-test

[asl][reference] fixed a bug in TypingRule.SymDomOfType
  asllib/doc/ASLmacros.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeDomains.tex
Due: none

fixup! fixup! [herd] Avoid code replication for aarch64 cas semantics
  herd/event.ml
  herd/eventsMonad.ml
Due: make-test

[test] Add three tests in catalogue
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/LB+rel+CAS+BIS.litmus
  catalogue/aarch64/tests/LB+rel+LDADD.litmus
  catalogue/aarch64/tests/LB+rel+STADD.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

[asl] Introduce collections in the ASL AST.
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/DependencyAnalysis.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/RandomAST.ml
  asllib/doc/dictionary.txt
  asllib/types.ml
Due: make-test

[asl][reference] Add syntax for collection types
  asllib/doc/ASLmacros.tex
  asllib/doc/Syntax.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
Due: none

[asl] Parse collection type declarations
  asllib/Lexer.mll
  asllib/Parser.mly
  asllib/Tokens.mly
Due: make-test

[asl][reference] Add collections type to reference AST.
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
Due: none

[asl] Allow record operations on collections
  asllib/ASTUtils.ml
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/RelationsOnTypes.tex
  asllib/tests/ASLTypingReference.t/run.t
  asllib/types.ml
Due: make-test

[asl] Add Get/SetCollectionFields
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/DependencyAnalysis.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/env.ml
  asllib/env.mli
  herd/libdir/asl-pseudo-arch.cat
  herd/tests/instructions/ASL-pseudo-arch/LB-02.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-03.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-04.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-05.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-06.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-08.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-09.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-10.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-11.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/MP-01.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/MP-02.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/catch-exec-twice.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/frozen-tuple-arg.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic-optimised.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/return-tuple.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-assign.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/try-non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected
Due: make-test

[asl] Prevent usage of collections except in global variables
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/TypingRule.CheckIsNotCollection.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl] Add rejected tests for collections
  asllib/tests/collections.t/on-arbitrary.asl
  asllib/tests/collections.t/on-function-return-type.asl
  asllib/tests/collections.t/on-local-func-arg.asl
  asllib/tests/collections.t/on-local-var.asl
  asllib/tests/collections.t/run.t
  asllib/tests/collections.t/with-non-bitvector-arg.asl
Due: none

[asl][reference] Document typing&semantics of collection accessors
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Expressions.tex
  asllib/tests/ASLTypingReference.t/TypingRule.LESetCollectionFields.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl] Add concurrent test for collections
  herd/tests/instructions/ASL-pseudo-arch/collections-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/collections-01.litmus.expected
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
