Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[ci,asl] Move use of runner where it is available
  .github/workflows/make-test-all.yml
Due: none

[asl] Fix `make-test-all` workflow
  .github/workflows/make-test-all.yml
  asllib/README.mld
Due: make-test

[herd] Apply the speedcheck optimisation to filters
  herd/herd.ml
  herd/mem.ml
Due: make-test

[herd] Add test
  Makefile
  herd/tests/instructions/AArch64.kvm/A036.litmus
  herd/tests/instructions/AArch64.kvm/A036.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test

[Makefile] Introduce pattern rules for herd tests
  Makefile
  catalogue/aarch64-ETS2/ci-shelf.py
  catalogue/aarch64-ETS3/cats/aarch64.cat
  catalogue/aarch64-MTE/ci-shelf.py
  catalogue/aarch64-VMSA/ci-shelf.py
  catalogue/aarch64-VMSA/tests/kinds.txt
  catalogue/aarch64-cas/ci-shelf.py
  catalogue/aarch64-faults/ci-shelf.py
  catalogue/aarch64-ifetch/ci-shelf.py
  catalogue/aarch64-ifetch/tests/kinds.txt
  catalogue/aarch64-mixed/ci-shelf.py
  catalogue/aarch64-pick/ci-shelf.py
  catalogue/aarch64-pick/tests/kinds.txt
  catalogue/aarch64/ci-shelf.py
  catalogue/bpf/ci-shelf.py
  catalogue/x86_64/ci-shelf.py
  catalogue/x86_64/tests/kinds.txt
  herd/tests/instructions/AArch32/ci.cfg
  herd/tests/instructions/AArch64.MTE/ci.cfg
  herd/tests/instructions/AArch64.PAC/ci.cfg
  herd/tests/instructions/AArch64.gcs/ci.cfg
  herd/tests/instructions/AArch64.kvm/asl.cfg
  herd/tests/instructions/AArch64.kvm/ci.cfg
  herd/tests/instructions/AArch64.mixed/ci.cfg
  herd/tests/instructions/AArch64.neon/ci.cfg
  herd/tests/instructions/AArch64.self/ci.cfg
  herd/tests/instructions/AArch64.sme/ci.cfg
  herd/tests/instructions/AArch64.sve/ci.cfg
  herd/tests/instructions/AArch64.vmsa+ifetch/ci.cfg
  herd/tests/instructions/AArch64.vmsa+mte/ci.cfg
  herd/tests/instructions/AArch64/ci.cfg
  herd/tests/instructions/ARM/ci.cfg
  herd/tests/instructions/C/ci.cfg
  herd/tests/instructions/MIPS/ci.cfg
  herd/tests/instructions/PPC/ci.cfg
  herd/tests/instructions/RISCV/ci.cfg
  herd/tests/instructions/X86_64/ci.cfg
Due: lint-shelves

[catalogue] Add the aarch64-ETS3 catalogue to the regressions
  Makefile
  catalogue/aarch64-ETS3/cats/aarch64.cat
  catalogue/aarch64-ETS3/ci-shelf.py
Due: lint-shelves

[makefile] Add build-aslref to make all
  Makefile
Due: none

[aslref][build-instructions] Convert to md
  asllib/README.md
  asllib/README.mld
Due: make-test

[aslref] Add line about aslref in main readme
  README.md
Due: none

Apply suggestions from code review
  asllib/README.md
Due: none

[aslref] Remove outdated documentation
  acl2/asl/README.md
  asllib/README.md
Due: none

[aslref][doc] Solver further comments on the readme.
  asllib/README.md
Due: none

[aslref] Update build instructions (#1815)
  Makefile
  README.md
  acl2/asl/README.md
  asllib/README.md
  asllib/README.mld
Due: make-test

[herd-www] Followup to PR #1810
  herd-www/jerd.ml
Due: make-test

addressed comments
  litmus/dumpRun.ml
  litmus/libdir/_ppc/timebase.c
  litmus/libdir/_ppc/timebase.h
  litmus/libdir/_ppc/timebase32.h
  litmus/libdir/_ppc/timebase64.h
  litmus/libdir/_x86_64/kvm.c.rules
  litmus/preSi.ml
Due: make-test

fixed issue where error is generated in non-output mode
  litmus/run_litmus.ml
Due: make-test

[herd] Remove unused bindings
  herd/top_herd.ml
Due: make-test

[gen] Remove duplication in unfold-only mode.
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] add `-unfold-only` flag which only unfolds wildcard
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[gen] Add test for `-unfold-only`.
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
Due: none

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] Update CI due to the new version of baseline.
  gen/tests/baseline-size-4.cycle.expected
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[makefile] Fix make all install by removing build-aslref from it.
  Makefile
Due: none

[herd] Fix UDF CMODX type + CMODX relaxation
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25021/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25021/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-25021/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25021/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25021/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25021/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25021/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25021/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25021/tests/A018.litmus
  catalogue/aarch64-oban/aarch-25021/tests/kinds.txt
  herd/AArch64Arch_herd.ml
  herd/tests/instructions/AArch64.self/A018.litmus
  herd/tests/instructions/AArch64.self/A018.litmus.expected
Due: make-test

[miaou] Change List constructor to record
  tools/miaou.ml
Due: make-test

[tools] Add miaou regression cram test
  tools/tests/dune
  tools/tests/libdir
  tools/tests/miaou.t
Due: make-test

[miaou] Add flattenable flag to List nodes
  tools/miaou.ml
Due: make-test

[tools] Preserve negated miaou list wrapper
  tools/miaou.ml
Due: make-test

[miaou] Handle general range relations
  tools/miaou.ml
Due: make-test

[miaou] Remove ad hoc tr_diff rewrite
  tools/miaou.ml
Due: make-test

wip: remove CoRW1-Exp.litmus
  catalogue/aarch64-readers-guide/tests/CoRW1-Exp.litmus
Due: make-test

wip: remove coWR-Exp
  catalogue/aarch64-readers-guide/tests/CoWR-Exp.litmus
Due: make-test

wip: integrate CoWW-Exp.litmus into coWW.litmus
  catalogue/aarch64-readers-guide/tests/CoWW-Exp.litmus
  catalogue/aarch64-readers-guide/tests/coWW.litmus
Due: make-test

wip: capitalize 2+2w test
  catalogue/aarch64-readers-guide/tests/2+2w.litmus
Due: make-test

wip: rename to coRR.litmus
  catalogue/aarch64-readers-guide/tests/coRR.litmus
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
