Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[ci] Add `make test-all` to run workflows
  .github/workflows/build-asl-reference.yml
  .github/workflows/make-test-all.yml
Due: none

[herd,asl] Fix path to UDF opn
  herd/AArch64ASLSem.ml
  herd/tests/instructions/AArch64.ASL/UDF.litmus
  herd/tests/instructions/AArch64.ASL/UDF.litmus.expected
Due: make-test

[aarch64] Add tests
  Makefile
  catalogue/aarch64-cas/aarch64.cat
  catalogue/aarch64-cas/cats/aarch64.cat
  catalogue/aarch64-cas/cfgs/asl.cfg
  catalogue/aarch64-cas/cfgs/new-web.cfg
  catalogue/aarch64-cas/shelf.py
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-MRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RnM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RsM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RtM-data.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-MRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RnM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RsM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RtM-data.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-MRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RnM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RsM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RtM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-MRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RnM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RsM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RtM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-bothRs-addr.litmus
  catalogue/aarch64-cas/tests/kinds.txt
  catalogue/aarch64/cfgs/asl.cfg
Due: make-test, lint-shelves

[asl][reference] further clarify on evaluation ordering
  asllib/doc/Semantics.tex
Due: none

[asl][reference] examples
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.bad3.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] addressed PDF review comments
  asllib/doc/PatternMatching.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SCall.asl
Due: none

[aarch64] Add tests
  Makefile
  Makefile.aarch64
  catalogue/aarch64-cas/aarch64.cat
  catalogue/aarch64-cas/cats/aarch64.cat
  catalogue/aarch64-cas/cfgs/asl.cfg
  catalogue/aarch64-cas/cfgs/new-web.cfg
  catalogue/aarch64-cas/shelf.py
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-MRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RnM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RsM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RtM-data.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-no-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-MRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RnM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RsM-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RtM-data.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS-ok-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/LB+rel+CAS.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-MRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RnM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RsM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RtM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-no-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-MRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RnM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RnRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RsM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RsRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RtM-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-RtRs-addr.litmus
  catalogue/aarch64-cas/tests/MP+rel+CAS-ok-bothRs-addr.litmus
  catalogue/aarch64-cas/tests/kinds.txt
  catalogue/aarch64/cfgs/asl.cfg
Due: make-test, lint-shelves

[asl][reference] inlined try_add_global_constant without failure case + examples
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Statements.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.DeclareGlobal.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EvalGlobals.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.config.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareGlobalStorage.non_config.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UpdateGlobalStorage.config.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UpdateGlobalStorage.config.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UpdateGlobalStorage.constant.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[herd, aarch64]: Introduce support for FEAT_MTE_STORE_ONLY
  herd-www/jerd.ml
  herd/AArch64Sem.ml
  herd/herd.ml
  herd/mem.ml
  herd/opts.ml
  herd/opts.mli
  herd/parseTest.ml
  herd/tests/instructions/AArch64.MTE/S00.litmus
  herd/tests/instructions/AArch64.MTE/S00.litmus.expected
  herd/tests/instructions/AArch64.MTE/S01.litmus
  herd/tests/instructions/AArch64.MTE/S01.litmus.expected
  herd/variant.ml
  herd/variant.mli
  lib/parseTag.ml
  lib/parseTag.mli
  lib/testVariant.ml
  lib/testVariant.mli
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

finish rebase
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/kvm_auth.c
  litmus/libdir/_aarch64/kvm_constpacfield.c
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/kvm-m1.cfg
Due: none

start abstract solver
  herd/CollisionSolver.ml
  herd/mem.ml
  herd/slrc11.ml
  herd/top_herd.ml
  lib/AArch64Value.ml
  lib/symbValue.ml
  lib/value.mli
Due: make-test

abstract predicate solver
  herd/CollisionSolver.ml
  herd/eventsMonad.ml
  lib/AArch64ASLValue.ml
  lib/AArch64Op.ml
  lib/AArch64Value.ml
  lib/ASLOp.ml
  lib/CapabilityValue.ml
  lib/SVEValue.ml
  lib/archOp.ml
  lib/neonValue.ml
  lib/symbValue.ml
  lib/symbValue.mli
  lib/uint128Value.ml
  lib/value.mli
Due: make-test

fix naive solver
  lib/AArch64Base.ml.save
  lib/AArch64Value.ml
  lib/symbValue.ml
Due: make-test

wip
  lib/value.mli
Due: make-test

rename CollisionSolver to Valconstraint
  herd/CollisionSolver.ml
  herd/eventsMonad.ml
  herd/monad.mli
  herd/top_herd.ml
  lib/archOp.ml
Due: make-test

remove PAC tests
  Makefile
  herd/constraints.ml
  herd/tests/instructions/AArch64.PAC/A01.litmus
  herd/tests/instructions/AArch64.PAC/A01.litmus.expected
  herd/tests/instructions/AArch64.PAC/A02.litmus
  herd/tests/instructions/AArch64.PAC/A02.litmus.expected
  herd/tests/instructions/AArch64.PAC/A03.litmus
  herd/tests/instructions/AArch64.PAC/A03.litmus.expected
  herd/tests/instructions/AArch64.PAC/A04.litmus
  herd/tests/instructions/AArch64.PAC/A04.litmus.expected
  herd/tests/instructions/AArch64.PAC/A05.litmus
  herd/tests/instructions/AArch64.PAC/A05.litmus.expected
  herd/tests/instructions/AArch64.PAC/A06.litmus
  herd/tests/instructions/AArch64.PAC/A06.litmus.expected
  herd/tests/instructions/AArch64.PAC/A07.litmus
  herd/tests/instructions/AArch64.PAC/A07.litmus.expected
  herd/tests/instructions/AArch64.PAC/A08.litmus
  herd/tests/instructions/AArch64.PAC/A08.litmus.expected-failure
  herd/tests/instructions/AArch64.PAC/A09.litmus
  herd/tests/instructions/AArch64.PAC/A09.litmus.expected
  herd/tests/instructions/AArch64.PAC/A10.litmus
  herd/tests/instructions/AArch64.PAC/A10.litmus.expected
  herd/tests/instructions/AArch64.PAC/A11.litmus
  herd/tests/instructions/AArch64.PAC/A11.litmus.expected
  herd/tests/instructions/AArch64.PAC/A12.litmus
  herd/tests/instructions/AArch64.PAC/A12.litmus.expected
  herd/tests/instructions/AArch64.PAC/A13.litmus
  herd/tests/instructions/AArch64.PAC/A13.litmus.expected
  herd/tests/instructions/AArch64.PAC/A14.litmus
  herd/tests/instructions/AArch64.PAC/A14.litmus.expected
  herd/tests/instructions/AArch64.PAC/A15.litmus
  herd/tests/instructions/AArch64.PAC/A15.litmus.expected
  herd/tests/instructions/AArch64.PAC/A16.litmus
  herd/tests/instructions/AArch64.PAC/A16.litmus.expected
  herd/tests/instructions/AArch64.PAC/A17.litmus
  herd/tests/instructions/AArch64.PAC/A17.litmus.expected
  herd/tests/instructions/AArch64.PAC/A18.litmus
  herd/tests/instructions/AArch64.PAC/A18.litmus.expected
  herd/tests/instructions/AArch64.PAC/A19.litmus
  herd/tests/instructions/AArch64.PAC/A19.litmus.expected
Due: make-test

wip
  herd/AArch64ASLSem.ml
  herd/constraints.ml
  herd/mem.ml
  herd/top_herd.ml
  lib/AArch64Op.ml
  lib/ASLOp.ml
  lib/archOp.ml
  lib/symbValue.ml
  lib/value.mli
  pac_tests/test.litmus
Due: make-test

wip
  herd/mem.ml
  herd/valconstraint.ml
  lib/AArch64Solver.ml
  lib/AArch64Solver.mli
Due: make-test

rename predicate in arch_pred
  herd/valconstraint.ml
  lib/AArch64Solver.mli
  lib/symbValue.ml
  lib/symbValue.mli
  lib/value.mli
Due: make-test

[asl][reference] examples
  asllib/Interpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/Specifications.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/libdir/stdlib.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AddSubprogramDecls.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckGlobalPragma.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckGlobalPragma.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclDependencies.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareSubprograms.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DefDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DefEnumLabels.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeCheckAST.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeCheckMutuallyRec.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseBitfield.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseConstraint.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseExpr.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseLexpr.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UsePattern.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseSlice.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseStmt.asl
  asllib/tests/ASLTypingReference.t/TypingRule.UseTy.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

update dot files from ASL
  lib/PAC.ml
  lib/PAC.mli
  lib/value.mli
  pac_tests/notes/fpac_with_result_eq_result_success.dot
  pac_tests/notes/fpac_with_result_eq_result_success.png
  pac_tests/notes/fpac_with_result_eq_target_success.dot
  pac_tests/notes/fpac_with_result_eq_target_success.png
  pac_tests/notes/fpac_without_else_success.dot
  pac_tests/notes/fpac_without_else_success.png
  pac_tests/notes/no_fpac_predicted_fail.dot
  pac_tests/notes/no_fpac_predicted_fail.png
  pac_tests/notes/no_fpac_predicted_success.dot
  pac_tests/notes/no_fpac_predicted_success.png
  pac_tests/notes/no_fpac_success.dot
  pac_tests/notes/no_fpac_success.png
  pac_tests/notes/pauth1_fail.dot
  pac_tests/notes/pauth1_fail.png
  pac_tests/notes/pauth1_success.dot
  pac_tests/notes/pauth1_success.png
Due: make-test

update dot files from ASL
  pac_tests/notes/fpac_with_result_eq_result_success.dot
  pac_tests/notes/fpac_with_result_eq_target_success.dot
Due: none

update dot files from ASL
  pac_tests/notes/asl_notes.md
Due: none

update dot files from ASL
  pac_tests/notes/fpac_with_result_eq_result_success.png
  pac_tests/notes/fpac_with_result_eq_target_success.png
Due: none

change solver propagation mode
  herd/AArch64ASLSem.ml
  herd/mem.ml
  herd/slrc11.ml
  herd/valconstraint.ml
Due: make-test

[asl][reference] Remove mention of "left-to-right" evaluation order
  asllib/doc/ASLRefALP3ChangeLog.tex
  asllib/doc/Semantics.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLDefinition.t/EvaluationOrder.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[doc] Capturing convention about 'fault' predicate
  catalogue/aarch64-faults/README.md
  catalogue/aarch64-faults/tests/SVC.litmus
Due: make-test

[asl] remove check for multiple candidates for a call expression
  asllib/Typing.ml
  asllib/doc/SubprogramCalls.tex
  asllib/error.ml
Due: make-test

[tools] New `-stdlatex <bool>` option for miaou
  tools/miaou.ml
Due: make-test

Link ASLRef to Arm's ASL specs webpage
  asllib/README.mld
Due: make-test

[all] Add CTERM{EQ,NE} instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  litmus/AArch64Compile_litmus.ml
Due: make-test

fixed typo
  asllib/README.mld
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
