Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl] Refine checking/selection of entry point
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/Native.mli
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Typing.ml
  asllib/Typing.mli
  asllib/aslref.ml
  asllib/carpenter/comparator.ml
  asllib/doc/Specifications.tex
  asllib/tests/regressions.t/main-wrong-type.asl
  asllib/tests/regressions.t/overloaded-main.asl
  asllib/tests/regressions.t/run.t
  herd/ASLSem.ml
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
Due: make-test

[tests] Two enhancements for catalogue regression test
  internal/herd_catalogue_regression_test.ml
  internal/lib/index.ml
  internal/lib/index.mli
Due: make-test

[herd] New effect selection in diagrams
  herd/Pretty.ml
  herd/prettyConf.ml
  herd/prettyConf.mli
Due: make-test

[test] Remove push activation
  .github/workflows/check-opam-minimals.yml
Due: none

[asl][refefrence] preparation for new spec DSL and fixes
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
Due: none

[asl] Print a message if no input files are supplied
  asllib/aslref.ml
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Print a more descriptive message for missing entrypoint
  asllib/Interpreter.ml
  asllib/error.ml
  asllib/tests/regressions.t/no-main.asl
  asllib/tests/regressions.t/run.t
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
Due: make-test

[asl][reference] Document an error for lack of entrypoint
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/Specifications.tex
Due: none

[asl][refefrence] preparation for new spec DSL and fixes
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
Due: none

[ci] Attempt to fix static binaries build
  .github/workflows/static-binaries.yml
  asllib/dune
  dune
Due: make-test

[ci] Use `sed` to patch `asllib/dune` for static builds CI
  .github/workflows/static-binaries.yml
  asllib/dune
Due: make-test

[lib] Add optional data to symbolic values
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/archExtra_herd.ml
  herd/valconstraint.ml
  lib/AArch64ASLValue.ml
  lib/AArch64Value.ml
  lib/ASLScalar.ml
  lib/ASLValue.ml
  lib/CapabilityValue.ml
  lib/SVEValue.ml
  lib/int128Value.ml
  lib/int32Value.ml
  lib/int64Value.ml
  lib/neonValue.ml
  lib/symData.ml
  lib/symData.mli
  lib/symbValue.ml
  lib/symbValue.mli
  lib/uint128Value.ml
  lib/value.mli
Due: make-test

[test] Add manual dispatch, useful for testing
  .github/workflows/check-build-www.yml
Due: none

[build] Add explicit dune dependency on awk script
  herd-www/dune
Due: make-test

[catalogue] Remove reference to nonexistent LB-tagfault+ctrl+dmb.ldpt--async.litmus
  catalogue/aarch64-MTE/tests/from-tagcheck-async/@all
Due: none

Revert forbidden.conf
  gen/libdir/forbidden.conf
Due: none

[catalogue] Fix types for some MTE tests
  catalogue/aarch64-MTE/tests/asorted/LB+dmb.sypp+datapt-lrstt.litmus
  catalogue/aarch64-MTE/tests/asorted/MP+dmb.sypp+datapt-lrstt-addrpp.litmus
  catalogue/aarch64-MTE/tests/asorted/MP+dmb.sypp+datapt-lrstt.litmus
  catalogue/aarch64-MTE/tests/asorted/S+dmb.sypp+datapt-lrstt.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+acq_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+acqrel_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP+dmb.st+dmb.ld_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/MP-realloc--async.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+acq_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+acqrel_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-async/S+dmb.st+dmb.ld_and_ctrl--async.mod.litmus
  catalogue/aarch64-MTE/tests/to-tagcheck-sync/MP-realloc--sync.litmus
Due: make-test

[herd,asl] Share symbolic dans between AArch64 and ASL
  herd/AArch64ASLSem.ml
  herd/ASLParseTest.ml
  herd/ASLSem.ml
  lib/value.mli
Due: make-test

Refactoring the help command, updating the presentation of variant tags
  herd/herd.ml
  herd/variant.ml
  herd/variant.mli
  lib/argUtils.ml
  lib/parseTag.ml
  litmus/litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[gen] Introduce wildcard for `Pte` annotations, e.g. `Pte*`.
  gen/AArch64Arch_gen.ml
  gen/BellArch_gen.ml
  gen/CArch_gen.ml
  gen/RISCVArch_gen.ml
  gen/X86Arch_gen.ml
  gen/X86_64Arch_gen.ml
  gen/atom.mli
  gen/edge.ml
  gen/machAtom.ml
Due: make-test

BPF: Drop the "atomic fetch as a fence" axiom
  herd/libdir/bpf.cat
Due: none

BPF: Add litmus tests illustrating "Atomicity of RMWs"
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/kinds.txt
  catalogue/bpf/tests/successful-cmpxchg-atomicity.litmus
  catalogue/bpf/tests/xchg-atomicity.litmus
Due: make-test, lint-shelves

[asl] Rename stack-size to pending-calls
  asllib/Interpreter.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SubprogramCalls.tex
  asllib/env.ml
  asllib/env.mli
Due: make-test

[asl] properly wrap up cutoff-ed executions
  asllib/Interpreter.ml
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected
Due: make-test

[asl] Improve handling of recursive call in symbolic cases
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/StaticInterpreter.ml
  herd/ASLSem.ml
  herd/tests/instructions/ASL-pseudo-arch/recurse-arbitrary.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-arbitrary.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-a-bit-too-far.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory-too-far.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-read-memory.litmus.expected-failure
  herd/tests/instructions/ASL-pseudo-arch/recurse-too-far.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/recurse-too-far.litmus.expected-warn
Due: make-test

[asl] Better wrap unreachable errors in non-deterministic cases
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  herd/ASLSem.ml
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic-case.litmus
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic-case.litmus.expected
Due: make-test

[asl] Enforce total po in ASL
  herd/ASLSem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[gen] introduce wildcard "*" for same and different location.
  gen/alt.ml
  gen/code.ml
  gen/code.mli
  gen/cycle.ml
  gen/edge.ml
  gen/final.ml
  gen/normaliser.ml
  gen/topUtils.ml
Due: make-test

feat: aslref-www
  asllib/asllib-www/dune
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

feat: tweaks to jaslref
  asllib/asllib-www/dune
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

Tidy aslref.ml file after refactoring
  asllib/aslref.ml
Due: make-test

Fix build issues
  asllib/asllib-www/dune
  asllib/asllib-www/jaslref.ml
  asllib/aslref.ml
Due: make-test

[herd,aarch64,ASL] Implement spurious set_af
  herd/AArch64ASLSem.ml
  herd/mem.ml
Due: make-test

[herd,asl,vmsa] Check el0 flag in page table entries
  herd/AArch64ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  lib/ASLScalar.ml
  lib/faultType.ml
  lib/symbValue.ml
  lib/value.mli
Due: make-test

[herd,asl] Optimise ASL execution of AArch64 instructions
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: none

[herd,aarch64,asl] Catch AArch64 registers accesses
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
Due: make-test

[herd,asl] More tolerant AArch64 unary operations
  lib/ASLOp.ml
Due: make-test

[asl] Fix precedence for V0
  asllib/Parser0.mly
Due: make-test

[asl] Try some asl.cat changes
  herd/libdir/asl.cat
Due: none
