Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd, litmus] Add support for AArch64 IRG instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/Y001.litmus
  herd/tests/instructions/AArch64.MTE/Y001.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y002.litmus
  herd/tests/instructions/AArch64.MTE/Y002.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y003.litmus
  herd/tests/instructions/AArch64.MTE/Y003.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y004.litmus
  herd/tests/instructions/AArch64.MTE/Y004.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y005.litmus
  herd/tests/instructions/AArch64.MTE/Y005.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y006.litmus
  herd/tests/instructions/AArch64.MTE/Y006.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y014.litmus
  herd/tests/instructions/AArch64.MTE/Y014.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/stateParser.mly
  litmus/AArch64Compile_litmus.ml
  litmus/libdir/_aarch64/_memtag.c
Due: make-test

platform_io source and header is now also copied to shared library
  litmus/objUtil.ml
Due: make-test

platform_io copy works correctly now
  litmus/objUtil.ml
Due: make-test

[herd,asl] Make sure to generate the events in the correct order.
  herd/AArch64ASLSem.ml
Due: make-test

[herd] Implement solve_reg as a simple iteration on the event list
  herd/mem.ml
Due: make-test

[AARCH-24234,herd] Changes to the shareability for DMB and DSB
  herd/libdir/aarch64fences.cat
  herd/tests/instructions/AArch32/A003.litmus.expected
  herd/tests/instructions/AArch32/A017.litmus.expected
  herd/tests/instructions/AArch32/A018.litmus.expected
  herd/tests/instructions/AArch32/A019.litmus.expected
  herd/tests/instructions/AArch32/A024.litmus.expected
  herd/tests/instructions/AArch64.ASL/FENCES.litmus.expected
  herd/tests/instructions/AArch64.kvm/A018.litmus.expected
  herd/tests/instructions/AArch64.kvm/A023.litmus.expected
  herd/tests/instructions/AArch64.neon/V56.litmus.expected
  herd/tests/instructions/ASL/assign1.litmus.expected
  herd/tests/instructions/ASL/assign2.litmus.expected
  herd/tests/instructions/ASL/assign3.litmus.expected
  herd/tests/instructions/ASL/bitfields1.litmus.expected
  herd/tests/instructions/ASL/case1.litmus.expected
  herd/tests/instructions/ASL/concat.litmus.expected
  herd/tests/instructions/ASL/data-return-01.litmus.expected
  herd/tests/instructions/ASL/data-return-02.litmus.expected
  herd/tests/instructions/ASL/double-load.litmus.expected
  herd/tests/instructions/ASL/enum-array.litmus.expected
  herd/tests/instructions/ASL/for1.litmus.expected
  herd/tests/instructions/ASL/func1.litmus.expected
  herd/tests/instructions/ASL/func2.litmus.expected
  herd/tests/instructions/ASL/func3.litmus.expected
  herd/tests/instructions/ASL/func4.litmus.expected
  herd/tests/instructions/ASL/globals.litmus.expected
  herd/tests/instructions/ASL/records.litmus.expected
  herd/tests/instructions/ASL/unknown.litmus.expected
  herd/tests/instructions/ASL/while1.litmus.expected
  herd/tests/instructions/ASL/while2.litmus.expected
  herd/tests/instructions/ASL/write_mem.litmus.expected
Due: make-test

[ci] Fix typo in workflow file that triggered it all the time (#1692)
  .github/workflows/check-opam-minimals.yml
Due: none

[asl] Add a few missing structural equality tests in the AST.
  asllib/ASTUtils.ml
  asllib/bitvector.ml
  asllib/bitvector.mli
Due: make-test

[asl] Add a few missing structural equality tests in the AST. (#1695)
  asllib/ASTUtils.ml
  asllib/bitvector.ml
  asllib/bitvector.mli
Due: make-test

Added support for -driver c mode
  litmus/libdir/_aarch64/kvm.c.rules
Due: none

removed duplicate copy methods and fixed aarch64 std mode makefile config
  litmus/dumpRun.ml
  litmus/libdir/_aarch64/kvm.rules
  litmus/objUtil.ml
  litmus/preSi.ml
Due: make-test

fixed x86_64 makefile config
  litmus/libdir/_x86_64/kvm.rules
Due: none

fixed issue with make tests not working at all
  dirs-and-confs.txt
  litmus/dumpRun.ml
  litmus/libdir/_x86_64/kvm.c.rules
  litmus/libdir/kvm-aarch64.cfg
Due: make-test

fixed confs
  dirs-and-confs.txt
  litmus/libdir/_x86_64/kvm.rules
Due: none

[AARCH-24667,herd] Explicit-hazard-ordered-before for Hardware Update Effects
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24667/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24667/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24667/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24667/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24667/tests/coRR-PTE+AF.litmus
  catalogue/aarch64-oban/aarch-24667/tests/kinds.txt
Due: make-test

[AARCH-24800,herd] Ordering semantics for Load instructions whose destination register is WZR/XZR
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24800/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24800/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24800/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24800/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24800/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24800/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24800/tests/@all
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpazrp-po.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpzr-dmb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popl+amo.swpzr-dsb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popptev1l+zr-acq.litmus
  catalogue/aarch64-oban/aarch-24800/tests/MP+popptev1l+zr-dmb.ld.litmus
  catalogue/aarch64-oban/aarch-24800/tests/kinds.txt
Due: make-test

[tests] Add some VMSA tests
  catalogue/aarch64-VMSA/cfgs/asl.cfg
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpNExp+po+DMBST.litmus
  catalogue/aarch64-VMSA/tests/@armv8-a
  catalogue/aarch64-VMSA/tests/LB+NExpExp+Faults.litmus
  catalogue/aarch64-VMSA/tests/LB+NExpExp+pos.litmus
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  herd/tests/instructions/AArch64.kvm/A032.litmus
  herd/tests/instructions/AArch64.kvm/A032.litmus.expected
  herd/tests/instructions/AArch64.kvm/A033.litmus
  herd/tests/instructions/AArch64.kvm/A033.litmus.expected
  herd/tests/instructions/AArch64.kvm/F008.litmus
  herd/tests/instructions/AArch64.kvm/F008.litmus.expected
  herd/tests/instructions/AArch64.kvm/asl-vmsa.cfg
Due: make-test, lint-shelves

[aslspec] fix a latex-related rendering issue with custom operators
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/operators.expected
Due: make-test

[aslspec] fixed bugs in handling (nested) naming of relation arguments
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
Due: make-test

[aslspec] added support for multi-case matching expressions
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/rule.spec
  asllib/doc/ASLmacros.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] added a new kind of expression for record updates
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/error.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/rule.spec
Due: make-test

[aslspec] removed unused tokens
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
Due: make-test

[aslspec] bug fix: allow variants referencing a constructor label (like True)
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/typedefs.expected
  asllib/aslspec/tests.t/typedefs.spec
Due: make-test

[aslspec] fixed parsing bug - precedence of := and =: should be lower
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/rule.spec
Due: make-test

[aslspec] correctly infer types for constants dependent on other constants
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/constants.spec
  asllib/aslspec/tests.t/run.t
Due: make-test

[herd,asl] Use a custom transitive closure in asl.cat (#1690)
  herd/libdir/asl.cat
  lib/innerRel.ml
  lib/innerRel.mli
  lib/interpreter.ml
Due: make-test

[asllib][doc][html] Silence hevea warnings by various means
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Specifications.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
  asllib/doc/enumitem.hva
  asllib/doc/macros.hva
Due: none

[asllib][doc] Remove duplicated prose about examples
  asllib/doc/asl.spec
Due: none

[asllib][doc][html] Prototype translation to HML of ASL Reference
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/macros.hva
  asllib/doc/rendering_macros.hva
  asllib/doc/rendering_macros.sty
  asllib/doc/zyva.sh
Due: none

Appy patch by Hrutvik
  asllib/doc/extended_macros.py
Due: none

[asllib][doc][html] Automated insertion of \hva commands.
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/run.t
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: make-test

[asllib][doc][html] Manual insertion of \hva commands
  asllib/doc/ASLFormal.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
  asllib/doc/macros.hva
Due: none

[asllib][doc][html] Add concise README file
  asllib/doc/README-HTML.md
Due: none

[asl][reference] more precise linting
  asllib/doc/doclint.py
Due: none

[aslspec] replaced python script by an ocaml script
  asllib/aslspec/dune
  asllib/aslspec/extract_tokens.ml
  asllib/aslspec/extract_tokens.py
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/dune
  asllib/aslspec/extract_tokens.ml
Due: make-test

[gen] Introduce a new relaxation/edge/atom parser in `diy` tool.
  gen/alt.ml
  gen/common/ast.ml
  gen/common/dune
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/lexer.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[herd,lib] Preparing herd7 for adding support for address translation for instruction fetches
  herd/AArch64Sem.ml
  herd/semExtra.ml
  lib/stateParser.mly
Due: make-test

[aarch64] Exclude initital writes from ifetch warning
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.self/A013.litmus.expected
  herd/tests/instructions/AArch64.self/A016.litmus.expected
  herd/tests/instructions/AArch64.self/S13.litmus.expected
  herd/tests/instructions/AArch64.self/S14.litmus.expected
  herd/tests/instructions/AArch64.self/S21.litmus.expected
  herd/tests/instructions/AArch64.self/S23.litmus.expected
  herd/tests/instructions/AArch64.self/S25.litmus.expected
  herd/tests/instructions/AArch64.self/S27.litmus.expected
Due: make-test
