Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[litmus] Add smoke tests for litmus
  .pre-commit-config.yaml
  herdtools7.opam
  litmus/tests/AArch64.kvm/A001.t
  litmus/tests/AArch64.kvm/A005.t
  litmus/tests/AArch64.kvm/dune
  litmus/tests/AArch64/A04.t
  litmus/tests/AArch64/dune
  litmus/tests/X86_64/A009.t
  litmus/tests/X86_64/dune
Due: make-test, opam-lint

[herd] allow rules to include libdir and tests/instructions
  herd/dune
Due: make-test

[litmus] Cross-architecture tests Proof of Concept
  litmus/tests/cross/AArch64/A04.t
  litmus/tests/cross/AArch64/dune
  litmus/tests/cross/readme.md
Due: make-test

[litmus] exclude cross-compilation tests from @runtest alias
  asllib/aslspec/dune-project
  asllib/dune-project
  dune-project
  litmus/tests/cross/AArch64/dune
Due: make-test

[gen] Add predicate such as `@after(..)` syntax to relax parser
  gen/alt.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/config.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/dumpAll.ml
  gen/dumpAll.mli
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Filter invalid diy7 predicate relaxations
  gen/alt.ml
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Process before/after predicates during diy7 search
  gen/alt.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Update CI due to the new version of baseline.
  gen/tests/baseline-size-4.cycle.expected
Due: none

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Add AArch64 MemTag generator config
  gen/libdir/memtag.conf
Due: none

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
Due: make-test

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Restrict read value checks to communication edges
  gen/cycle.ml
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/diy-basic-check.t
Due: make-test

[gen] code-performance-improvement
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Add state predicates to diy7 relaxation search
  gen/alt.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Cache chunk boundaries for adjacency checks
  gen/alt.ml
Due: make-test

[tools] Nicer output for the rehash tool
  lib/splitter.mll
Due: make-test

[litmus] Fix cram test
  litmus/tests/X86_64/A009.t
Due: none

[tools] Add comments
  tools/HashedFault.ml
  tools/logState.ml
Due: make-test

[tools] Enhance compatibility for fault types
  lib/checkName.ml
  lib/checkName.mli
  lib/faultType.ml
  lib/faultType.mli
  lib/hashcons.ml
  lib/hashcons.mli
  lib/misc.ml
  lib/misc.mli
  tools/HashedFault.ml
  tools/HashedFault.mli
  tools/HashedList.ml
  tools/HashedList.mli
  tools/HashedString.ml
  tools/HashedString.mli
  tools/lexLog_tools.mli
  tools/lexLog_tools.mll
  tools/logState.ml
  tools/mcmp.ml
  tools/mcompare.ml
  tools/mdiff.ml
  tools/mfilter.ml
  tools/mlog2cond.ml
  tools/mlog2name.ml
  tools/moutcomes.ml
  tools/msum.ml
  tools/mtopos.ml
Due: make-test

[tools] Better selection of **compare7** diff in **mcmp7**
  tools/logState.ml
Due: make-test

[tools] Fix state difference and union.
  tools/logState.ml
Due: make-test

[asl] Use an enumeration for error kinds
  asllib/error.ml
Due: make-test

[asl] Check that error codes match with error kinds in messages
  asllib/error.ml
Due: make-test

[lib] Add module Iter
  lib/iter.ml
  lib/iter.mli
Due: make-test

[tools/mprog7] Add cram tests
  tools/tests/dune
  tools/tests/mprog/dune
  tools/tests/mprog/errors.t/AArch64-invalid.litmus
  tools/tests/mprog/errors.t/run.t
  tools/tests/mprog/lists.t/-
  tools/tests/mprog/lists.t/@inputs
  tools/tests/mprog/lists.t/R.litmus
  tools/tests/mprog/lists.t/run.t
  tools/tests/mprog/stdin.t/A.litmus
  tools/tests/mprog/stdin.t/run.t
Due: make-test

[tools/mprog7] Add support for reading litmus test from stdin
  tools/mprog.ml
  tools/toolParse.ml
  tools/toolParse.mli
Due: make-test

[gen] Finish structured atom migration in AArch64 access compilation
  gen/AArch64Compile_gen.ml
  gen/tests/AArch64.morello/reject-single-write-cs-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-cs-amo-swp.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-swp.litmus
Due: make-test

[gen] Use structured atoms to determine dependency width
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Use structured atoms when collecting AArch64 architecture info
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Make structured atoms canonical for AArch64
  gen/AArch64Compile_gen.ml
  gen/cat2config/translation.ml
  gen/common/AArch64Arch_gen.ml
  gen/tests/AArch64.morello/reject-single-write-cs-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-cs-amo-swp.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-swp.litmus
Due: make-test

[gen] Use structured atoms when tagging AArch64 locations
  gen/AArch64Compile_gen.ml
  gen/tests/AArch64.morello/reject-single-write-cs-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-cs-amo-swp.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-swp.litmus
Due: make-test

[asl][doc] Update console-generated output
  asllib/doc/ErrorCodes.tex
  asllib/doc/PrimitiveOperations.tex
Due: none

[tools] Add cram test for mcompare/mcmp
  tools/tests/mcompare.t/NEW.00
  tools/tests/mcompare.t/OLD.00
  tools/tests/mcompare.t/dune
  tools/tests/mcompare.t/run.t
  tools/tests/mcompare.t/src/@all
  tools/tests/mcompare.t/src/Load+Fault.litmus
  tools/tests/mcompare.t/src/Stores+Faults.litmus
Due: make-test

fixup! [tools/mprog7] Add cram tests
  tools/tests/mprog/dune
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
