Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[build] Silence warning
  herd/AArch64Sem.ml
Due: make-test

[release] Bump version number
  VERSION.txt
  herdtools7.opam
Due: opam-lint

[asl][typing] Initial draft of symbolic subsumption testing
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/types.mli
Due: make-test

Work on typing rules
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLTypingReference.tex
Due: none

[asl] Properly defining domains
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/types.ml
Due: make-test

Make code subsections optional
  asllib/doc/ASLTypingReference.tex
Due: none

[asl] remove remnants ot undetermined width bitvectors
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[release] Bump version number
  Makefile
  VERSION.txt
  herdtools7.opam
Due: opam-lint

[release] Add checksums
  herdtools7.opam
Due: opam-lint

[asl] Renamed (checked->asserted) type conversion
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCError.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ATCValue.asl
  asllib/tests/ASLSemanticsReference.t/run.t
Due: make-test

[asl] ATC now follow structures and not names
  asllib/Interpreter.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/atcs.t
  asllib/tests/regressions.t/subtypes-with.asl
  asllib/types.mli
Due: make-test

[asl] Update ASLRefProgress.tex
  asllib/doc/ASLRefProgress.tex
Due: none

[doc] Update (doc) Makefile
  doc/Makefile
Due: none

[all] Bump version to dev
  VERSION.txt
Due: none

[litmus] Add configuration file for cortex-a55
  litmus/libdir/cortex-a55.cfg
Due: none

[gen]: Generate basic SVE loads and stores
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
  gen/X86_64Arch_gen.ml
  gen/archExtra_gen.ml
  gen/cycle.ml
  gen/noSpecial.ml
  gen/noSpecial.mli
  gen/variant_gen.ml
  gen/variant_gen.mli
Due: make-test

[all]: Add SVE predicated NEG and MOVPRFX instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.sve/V19.litmus
  herd/tests/instructions/AArch64.sve/V19.litmus.expected
  herd/tests/instructions/AArch64.sve/V20.litmus
  herd/tests/instructions/AArch64.sve/V20.litmus.expected
  herd/tests/instructions/AArch64.sve/V21.litmus
  herd/tests/instructions/AArch64.sve/V21.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd]: Optimise SVE predicate regsiters.
  herd/AArch64Sem.ml
Due: make-test

[asl] Check that setting slices are not overlapping
  asllib/PP.mli
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/intersecting_slices.t
Due: make-test

[asl] Ensure setters have conresponding getters
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/func2.asl
  asllib/tests/regressions.t/func3.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/setter_without_getter.asl
  herd/tests/instructions/ASL/func2.litmus
  herd/tests/instructions/ASL/func2.litmus.expected
  herd/tests/instructions/ASL/func3.litmus
  herd/tests/instructions/ASL/func3.litmus.expected
Due: make-test

[asl] Add '.item' syntax to access tuple items
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/tuple_items.asl
Due: make-test

[Makefile] Add some basic tests for litmus7
  Makefile
Due: none

[asl] tuples are defining parameters
  asllib/Typing.ml
  asllib/tests/regressions.t/defining_param.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Prevent empty enumerations
  asllib/Parser.mly
  asllib/tests/bad-types.t
Due: make-test

[asl] Add test with equality on tuples
  asllib/tests/regressions.t/bad-equality.asl
  asllib/tests/regressions.t/run.t
Due: none

[asl] Introduce case guards
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/TopoSort.ml
  asllib/Typing.ml
  asllib/tests/regressions.t/cases_where.asl
  asllib/tests/regressions.t/run.t
  herd/tests/instructions/ASL/case1.litmus.expected
Due: make-test

[asl] Fix bugs around parameters
  asllib/Typing.ml
  asllib/builder.ml
  asllib/tests/regressions.t/arg-as-param-call.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/typed-arg-as-param-call.asl
  asllib/tests/regressions.t/typed-param-call.asl
Due: make-test

[asl-tests] An extra test for negative parameters
  asllib/tests/typing.t/NegParam.asl
  asllib/tests/typing.t/run.t
Due: none

[litmus] Completely ignore fault handling in `-mode presi`
  litmus/preSi.ml
Due: make-test

herd: Linux: atomic_and, atomic_or, atomic_xor instructions.
  lib/CParser.mly
Due: make-test

[litmus] Fix sve+qemu litmus configuration file
  litmus/libdir/armv8+sve-qemu.cfg
Due: none

[herd] One additional SVE test
  herd/tests/instructions/AArch64.sve/V22.litmus
  herd/tests/instructions/AArch64.sve/V22.litmus.expected
Due: make-test

[herd] Include test-aarch64-asl in `make test`
  Makefile
Due: none

Temporary
  Makefile
Due: none

[asl] Fix bug on aslv0
  asllib/Typing.ml
Due: make-test

[asl] Differentiate accessers with/without slices
  asllib/AST.mli
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Serialize.mli
  asllib/Typing.ml
  asllib/tests/regressions.t/empty-getter-called-with-slices.asl
  asllib/tests/regressions.t/empty-setter-called-with-slices.asl
  asllib/tests/regressions.t/empty-setter-nonempty-getter.asl
  asllib/tests/regressions.t/func3.asl
  asllib/tests/regressions.t/nonempty-getter-called-without-slices.asl
  asllib/tests/regressions.t/nonempty-setter-called-without-slices.asl
  asllib/tests/regressions.t/nonempty-setter-empty-getter.asl
  asllib/tests/regressions.t/run.t
Due: make-test
