Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[gen] Introduce a new relaxation/edge/atom parser in `diy` tool.
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Add wildcard `Amo.Safe`.
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Line up `diy` filter on `PosWR` and `Rfi`, and similarly, `Fri` and `Coi`.
  gen/alt.ml
Due: make-test

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] use shorter syntax in baseline diy7 configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] add `-unfold-only` flag which only unfolds wildcard
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[merge] concatenate fault and value check by logical all.
  gen/final.ml
Due: make-test

[asllib][www] Print return code for interpretation
  asllib/asllib-www/jaslref.ml
Due: make-test

[gen] add `-unfold-only` flag which only unfolds wildcard
  gen/common/config.ml
  gen/diy.ml
  gen/libdir/forbidden.conf
Due: make-test

[gen] Add more rmw to match memory access.
  gen/libdir/forbidden.conf
Due: none

[AARCH-24987,herd] Relax bob in relation to Fault Effects
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24987/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24987/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24987/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24987/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24987/tests/@all
  catalogue/aarch64-oban/aarch-24987/tests/MP+dmb.st+poplv0-pola.litmus
  catalogue/aarch64-oban/aarch-24987/tests/S+tlbi-sync.ishptedb1p+popl.litmus
  catalogue/aarch64-oban/aarch-24987/tests/kinds.txt
  herd/libdir/aarch64fences.cat
Due: make-test

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[TEMP] memtag config
  gen/libdir/memtag-forbidden.conf
  gen/libdir/memtag.conf
Due: none

[herd] Extract StoreSet in its own module
  herd/mem.ml
Due: make-test

[herd,asl] Remove PC handling from extracted AArch64 semantics
  herd/AArch64ASLSem.ml
  lib/ASLScalar.ml
Due: make-test

[asl] Restrict aarch64_iico_data to starting from reads
  herd/libdir/asl.cat
Due: none

[MERGE] Add more clarification in debug print.
  gen/cycle.ml
  gen/topUtils.ml
Due: make-test

[gen] Add the `PteOA` as a type of ordinary (value) write in coherence
  gen/cycle.ml
Due: make-test

[Merge] use physical addresss in coherence check
  gen/cycle.ml
Due: make-test

[AARCH-25105,herd] Ordering implications of a DSB when used to complete a TLBI or an IC
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25105/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25105/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25105/shelf.py
  catalogue/aarch64-oban/aarch-25105/tests/@all
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+shoot-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS2.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS3.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-pre_ETS.txt
  herd/eventsMonad.ml
Due: make-test, lint-shelves

[gen] Remove the insert edge limitation in `cycle.ml`.
  gen/cycle.ml
Due: make-test

[gen] Update the `diy7` filter, ignoring the insert edge.
  gen/alt.ml
Due: make-test

[gen] Update CI since weakening the insert edge.
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.cas-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.casap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.stadd-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swp-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+amo.swpap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmw-po.litmus.expected-warn
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected
  gen/tests/AArch64/RR+RW+ctrl-[isb]+rmwap-po.litmus.expected-warn
  gen/tests/baseline-size-4.cycle.expected
  gen/tests/ifetch.cycle.expected
Due: make-test

[litmus] Enable check_dic_idc for presi and kvm modes
  Makefile.aarch64
  catalogue/aarch64-ifetch/tests/@dic0-idc0
  litmus/libdir/_aarch64/self.c
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[gen] Remove invalid composite relax after unfold in `relax.ml`.
  gen/relax.ml
Due: make-test

[AARCH-24989,herd] Remove lfs from lob in aarch64hwreqs.cat
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24989/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24989/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24989/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24989/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24989/tests/@all
  catalogue/aarch64-oban/aarch-24989/tests/MP+tlbi-sync.ishaptedb1p+poa.litmus
  catalogue/aarch64-oban/aarch-24989/tests/MP+tlbi-sync.ishaptev1p+poa.litmus
  catalogue/aarch64-oban/aarch-24989/tests/kinds.txt
Due: make-test

[litmus] Introduce EXS, EIS and EOS variants to litmus
  catalogue/aarch64-faults/shelf.py
  catalogue/aarch64-faults/tests/@all
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis0.litmus
  catalogue/aarch64-faults/tests/SVC-ifetch.dic0idc0-exs1eis1.litmus
  catalogue/aarch64-faults/tests/kinds.txt
  litmus/dumpRun.ml
  litmus/flags.mli
  litmus/libdir/_aarch64/_exs.c
  litmus/libdir/_aarch64/_exs.h
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test, lint-shelves

[AARCH-24876,herd] Strengthening of the TLBI-ob relation
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24876/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24876/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24876/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24876/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24876/shelf.py
  catalogue/aarch64-oban/aarch-24876/tests/@all
  catalogue/aarch64-oban/aarch-24876/tests/coRR+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+alias-2BBM-alias.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0h2+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0w4+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/kinds.txt
  herd/libdir/aarch64loc.cat
Due: make-test, lint-shelves

intrinsics and prelude_size now not inlined
  litmus/libdir/_prelude_size.c
  litmus/libdir/_prelude_size.h
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

Temporatily allow tests until CAT changes
  catalogue/aarch64-PAC/tests/kinds.txt
Due: none

[Merge] Address small comments
  gen/final.ml
  gen/top_gen.ml
Due: make-test
