Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[gen] Add `to_list` and `of_list` to `MyMap`
  gen/top_gen.ml
  lib/myMap.ml
Due: make-test

[AARCH-24876,herd] Strengthening of the TLBI-ob relation
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24876/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24876/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24876/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24876/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24876/shelf.py
  catalogue/aarch64-oban/aarch-24876/tests/@all
  catalogue/aarch64-oban/aarch-24876/tests/coRR+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+alias-2BBM-alias.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0h2+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0w4+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/kinds.txt
  herd/libdir/aarch64loc.cat
Due: make-test, lint-shelves

[AARCH-24667,herd] Explicit-hazard-ordered-before for Hardware Update Effects
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24667/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24667/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24667/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24667/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24667/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24667/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24667/tests/coRR-PTE+AF.litmus
  catalogue/aarch64-oban/aarch-24667/tests/kinds.txt
Due: make-test

[AARCH-25030,herd] Make pick-dtrm a manadatory component of pick-basic-dep
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25030/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25030/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-25030/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25030/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25030/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25030/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25030/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25030/libdir/stdlib.cat
Due: none

[herd] Save snapshot of aarch64.cat that corresponds to Arm ARM issue M.b
  herd/libdir/aarch64/ArmARM-M.b/aarch64.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64bbm.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64deps.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64fences.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64hwreqs.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64loc.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64memattrs.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64show.cat
  herd/libdir/aarch64/ArmARM-M.b/aarch64util.cat
  herd/libdir/aarch64/ArmARM-M.b/catdefinitions.tex
  herd/libdir/aarch64/ArmARM-M.b/cos-no-opt.cat
  herd/libdir/aarch64/ArmARM-M.b/cos-ok-opt.cat
  herd/libdir/aarch64/ArmARM-M.b/cos.cat
  herd/libdir/aarch64/ArmARM-M.b/cross.cat
  herd/libdir/aarch64/ArmARM-M.b/enumerations.cat
  herd/libdir/aarch64/ArmARM-M.b/stdlib.cat
Due: none

[gen] Minor change to post-condition related functions.
  gen/CCompile_gen.ml
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[Merge] abtract `type prop` in final.
  gen/CCompile_gen.ml
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[gen] Change `pp_relax` that no longer print compressed relax.
  gen/relax.ml
Due: make-test

fixed kvm self mode compilation error
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
Due: none

fixed kvm self mode compilation error
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
  litmus/skelUtil.ml
Due: make-test

fixed kvm self mode compilation error
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
Due: none

fixed kvm self mode compilation error
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/kvm_fault_define.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
Due: none

added missing header
  litmus/libdir/_aarch64/kvm_fault_type.c
Due: none

[herd] Remove useless consistency check
  herd/mem.ml
Due: make-test

[aslspec] added support for prose_transition
  asllib/aslspec/AST.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/relations.spec
Due: make-test

[asl reference linter] filtered prose-and-formally macro from spellchecking
  asllib/doc/doclint.py
Due: none

[aslspec] added formally/prose LaTeX paragraphs during debug rendering
  asllib/aslspec/render.ml
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] addressed proofreading comments
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/run.t
  asllib/doc/ASLmacros.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SideEffects.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: make-test

[aslspec] improved prose for named output variables
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
Due: make-test

[aslspec] tweaks and fixes
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/operators.spec
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/run.t
  asllib/doc/ASLmacros.tex
  asllib/doc/asl.spec
Due: make-test

[asl reference] removed backup macros and unused macros
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/variable_name_macros.tex
Due: none

[aslspec] imported missing relations
  asllib/aslspec/error.ml
  asllib/doc/Bitfields.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/asl.spec
  asllib/doc/variable_name_macros.tex
Due: make-test

[aslspec][asl reference] filled prose templates for all elements and applied macros in all .tex files
  asllib/aslspec/builtins.spec
  asllib/aslspec/tests.t/rule.expected
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
Due: none

[aslspec] remove angle brackets removal
  asllib/aslspec/render.ml
Due: make-test

[asl reference] removed all references to LRM identifiers
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/StandardLibrary.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/introduction.tex
Due: none

[Merge] Mistake in c-compiler backend
  gen/CCompile_gen.ml
Due: make-test

[Merge] rework on the metadata.
  gen/top_gen.ml
Due: make-test

pp_fault no longer static
  litmus/libdir/pp.c
  litmus/libdir/pp.h
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

added initial header info
  litmus/libdir/_aarch64/_auth.h
  litmus/libdir/_aarch64/_memtag.h
  litmus/libdir/_aarch64/asmhandler.c
  litmus/libdir/_aarch64/asmhandler.h
  litmus/libdir/_aarch64/instruction.h
  litmus/libdir/_aarch64/intrinsics.h
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/kvm-self.h
  litmus/libdir/_aarch64/kvm_fault_handler.h
  litmus/libdir/_aarch64/kvm_fault_type.h
  litmus/libdir/_aarch64/kvm_user_stacks.h
  litmus/libdir/_aarch64/presi-self.c
  litmus/libdir/_aarch64/presi-self.h
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_aarch64/self.h
  litmus/libdir/_mips/instruction.h
  litmus/libdir/_ppc/instruction.h
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
Due: make-test

[uoaim] Fix name grepping in build-dict.sh
  more-tools/uoaim/build-dict.sh
Due: none

[uoaim] More logging
  more-tools/uoaim/lib/constraint.ml
  more-tools/uoaim/lib/reconstruction.ml
Due: make-test

[miaou] Move name-to-LaTeX translation to separate module
  tools/miaou.ml
  tools/miaouNames.ml
  tools/miaouNames.mli
Due: make-test

[gen,tools] Do not open Misc at top level
  gen/critical.ml
  gen/diycross.ml
  gen/diyone.ml
  tools/mcompare.ml
Due: make-test

[uoaim] Use mktemp in build-dict.sh
  more-tools/uoaim/build-dict.sh
Due: none
