Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[herd] Expose final_state and dump_final_state from top_herd
  herd/top_herd.ml
  herd/top_herd.mli
  tools/litmus2desc/lib/top.ml
Due: make-test

[herd] Add field valid to TestResult
  herd/AArch64ASLSem.ml
  herd/CAV12.ml
  herd/XXXMem.mli
  herd/machModelChecker.ml
  herd/rc11.ml
  herd/slrc11.ml
  herd/top_herd.ml
  herd/top_herd.mli
  lib/interpreter.ml
Due: make-test

[litmus] Move hash function code into its own file.
  litmus/dumpRun.ml
  litmus/libdir/_hash.c
  litmus/libdir/_outhash.c
  litmus/libdir/_outhash.h
  litmus/objUtil.ml
  litmus/preSi.ml
Due: make-test

[miaou7] teaching miaou to deal with the domain function
  tools/miaou.ml
Due: make-test

[AARCH-25772,cat] Changes to the ordering requirements of DMB LD and DSB LD
  catalogue/aarch64-MTE/tests/kinds.txt
  catalogue/aarch64-oban/aarch-25772/kinds.txt
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25772/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25772/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-25772/libdir/choices.cat
  catalogue/aarch64-oban/aarch-25772/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25772/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25772/libdir/cos-opt.cat
  catalogue/aarch64-oban/aarch-25772/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25772/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25772/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25772/tests/ETS2.MP-I2V+dmb.stpt+dsb.ld.litmus
  catalogue/aarch64-oban/aarch-25772/tests/LB-noret-tagfault+dmb.ldpp+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/LB-synctagfault+dmb.ldpp+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/LB-tagfault+dmb.ldpp+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/LB-tagfault-casfail+dmb.ld+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/LB-tagfault-casok+dmb.ld+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/MP-noret+dmb.ldpt+dmb.ldpp.litmus
  catalogue/aarch64-oban/aarch-25772/tests/MP-synctagfault+dmb.ldpt+dmb.ldpp.litmus
  catalogue/aarch64-oban/aarch-25772/tests/R+dmb.ldpt+dmb.ldpp.litmus
  catalogue/aarch64-oban/aarch-25772/tests/R-noret-synctagfault+dmb.ldpt+dmb.ldpp.litmus
  catalogue/aarch64-oban/aarch-25772/tests/WWRW-asynctagfault+dmb.ldpp+dmb.ldpt.litmus
  catalogue/aarch64-oban/aarch-25772/tests/WWRW-noret-asynctagfault+dmb.ldpp+dmb.ldpt.litmus
  tools/tests/miaou.t
Due: make-test

[herd] Expose function to extract verdict
  herd/top_herd.ml
  herd/top_herd.mli
Due: make-test

[herd] Add action predicate to select Access
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/event.ml
  herd/machAction.ml
Due: make-test

[herd] Extend loader to return addr and static_poi annotated source
  herd/loader.ml
  herd/loader.mli
  herd/semExtra.ml
  herd/test_herd.ml
  herd/test_herd.mli
Due: make-test

[herd] Add JSON pretty printer for test, result, and exec graphs
  herd/CAction.ml
  herd/JavaAction.ml
  herd/Pretty.ml
  herd/cli.ml
  herd/herd.ml
  herd/opts.ml
  herd/opts.mli
  herd/prettyConf.ml
  herd/prettyConf.mli
  herd/tests/json-output/C14.t
  herd/tests/json-output/MP+tlbi-sync.ishpteoneafp+po.t
  herd/tests/json-output/R+CAS-rfi-ctrl+DMBST.t
  herd/tests/json-output/dune
  herd/tests/json-output/fixtures/C11.litmus
  herd/tests/json-output/fixtures/C14.litmus
  herd/tests/json-output/fixtures/CASAL+FAIL+FH.litmus
  herd/tests/json-output/fixtures/MP+rel+CAS-no-MRs-addr.litmus
  herd/tests/json-output/fixtures/MP+rel+CAS-ok-MRs-addr.litmus
  herd/tests/json-output/fixtures/MP+tlbi-sync.ishpteoneafp+po.litmus
  herd/tests/json-output/fixtures/R+CAS-rfi-ctrl+DMBST.litmus
  herd/tests/json-output/fixtures/static-poi-pagealign.litmus
  herd/tests/json-output/fixtures/unrolling-limit.litmus
  herd/tests/json-output/kind-verdict.t
  herd/tests/json-output/libdir
  herd/tests/json-output/static-poi-pagealign.t
  herd/tests/json-output/unrolling-limit.t
  herdtools7.opam
  lib/dune
  lib/json.ml
  lib/json.mli
Due: make-test, opam-lint

[herd] Add action function to get register access size
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/event.ml
  herd/machAction.ml
Due: make-test

[litmus] Fix active switch in presi mode
  litmus/preSi.ml
Due: make-test

[herd] change STRB and LDRB's tagchecked definition
  herd/AArch64ASLSem.ml
Due: make-test

[asl] Define and implement source line terminators
  asllib/Lexer.mll
  asllib/compliance/tests/syntax/GuideRule.Whitespace1.asl
  asllib/compliance/tests/syntax/GuideRule.Whitespace2.asl
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/dictionary.txt
  asllib/tests/line-terminators.t/line-terminators-lf.asl
  asllib/tests/line-terminators.t/run.t
Due: make-test

[asl] Clarify string literal syntax and value handling
  asllib/Lexer.mll
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/dictionary.txt
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/tests/lexer.t/raw-lf-string.asl
  asllib/tests/lexer.t/run.t
Due: make-test

[asl reference] Clarify println line-feed semantics
  asllib/doc/ASLmacros.tex
  asllib/doc/Statements.tex
  asllib/doc/TopLevel.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: none

[litmus] Add smoke test for -variant self
  litmus/tests/regressions/Self.litmus
  litmus/tests/regressions/dune
  litmus/tests/regressions/self.t
Due: make-test

[litmus] Prepare to use static libraries
  litmus/dumpRun.ml
  litmus/libdir/_aarch64/kvm.c.rules
  litmus/libdir/_aarch64/kvm.rules
  litmus/libdir/_x86_64/kvm.rules
  litmus/objUtil.ml
Due: make-test

[litmus] create _self library
  litmus/libdir/_aarch64/_self.c
  litmus/libdir/_aarch64/_self.h
  litmus/libdir/_aarch64/kvm-self.c
  litmus/objUtil.ml
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[asl reference] replace console splicing by generated console macros
  asllib/doc/.gitignore
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/Makefile
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Statements.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

fixed aslref building and referencing in asllib/doc/Makefile
  asllib/doc/Makefile
Due: none

[asl][doc] Improve documentation spellchecking
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
Due: none

[asl reference] improve HeVeA rendering of console boxes
  asllib/doc/macros.hva
Due: none

Add initial SVE ASL instruction translation
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches.asl
  lib/ASLBase.ml
Due: make-test

Add strict ASL SVE POC regression tests
  Makefile
  herd/tests/instructions/AArch64.sve/V35.litmus
  herd/tests/instructions/AArch64.sve/V35.litmus.expected
  herd/tests/instructions/AArch64.sve/V36.litmus
  herd/tests/instructions/AArch64.sve/V36.litmus.expected
  herd/tests/instructions/AArch64.sve/V37.litmus
  herd/tests/instructions/AArch64.sve/V37.litmus.expected
  herd/tests/instructions/AArch64.sve/asl-strict.cfg
Due: make-test

Fix printable conversion for wide ASL bitvectors
  asllib/bitvector.ml
  asllib/tests/bitvector.ml
Due: make-test

Bind V destinations used by SVE reductions
  herd/ASLSem.ml
  herd/ASLSemPrimitives.asl
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

Remove duplicate SVE register-write paths
  herd/libdir/asl-pseudocode/patches.asl
Due: none

Extend SVE ASLRef instruction mapping
  herd/AArch64ASLSem.ml
Due: make-test

Document SVE ASL translation helpers
  herd/AArch64ASLSem.ml
Due: make-test

[internal] Wrap Base module into a new library
  internal/base/base.ml
  internal/base/base.mli
  internal/base/dune
  internal/dune
  internal/herd_catalogue_regression_test.ml
  internal/herd_redirect.ml
  internal/lib/args.ml
  internal/lib/command.ml
  internal/lib/dune
  internal/lib/kinds.ml
  internal/lib/log.ml
  internal/lib/shelf.ml
  internal/lib/testHerd.ml
  internal/lib/tests/base_test.ml
  internal/lib/tests/command_test.ml
  internal/lib/tests/dune
  internal/lib/tests/log_test.ml
  internal/lib/tests/ocamlString_test.ml
  internal/lint_shelves.ml
Due: make-test

[asl] Type annotate return types of function/getter calls
  asllib/Native.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/compliance/tests/typing/TypingRule.ATC.bad2.asl
  asllib/compliance/tests/typing/TypingRule.ATC.bad2.yaml
  asllib/compliance/tests/typing/TypingRule.ATC4.yaml
  asllib/doc/Expressions.tex
  asllib/libdir/stdlib.asl
  asllib/tests/atcs.t
  asllib/tests/division.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/stdlib.t/sint.asl
  asllib/tests/typing.t/HExample5.asl
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Modify implementation of `AlignDown`
  asllib/libdir/stdlib.asl
Due: none

[tools] Add "select by name" options to some tools
  tools/mdiag.ml
  tools/mfind.ml
  tools/mshowhashes.ml
  tools/msort.ml
  tools/testInfo.mli
Due: make-test

[lib] wrap IntOrd to the new base library
  lib/IntMap.ml
  lib/IntSet.ml
  lib/IntSet.mli
  lib/base/dune
  lib/base/intOrd.ml
  lib/base/intOrd.mli
  lib/dune
Due: make-test

[lib] move IntMap to Base
  lib/IntMap.mli
  lib/base/intMap.ml
  lib/base/intMap.mli
Due: make-test

[lib] move type rloc to Location.Rel.t
  lib/constrGen.ml
  lib/constrGen.mli
  lib/location.ml
Due: make-test

[lib] Move MySet to Base
  lib/base/set.ml
  lib/base/set.mli
  lib/mySet.ml
  lib/mySet.mli
Due: make-test

[lib] move MyMap to Base
  lib/base/map.ml
  lib/myMap.ml
Due: make-test

[lib] move Location to Base
  gen/common/archExtra_gen.ml
  herd/archExtra_herd.ml
  lib/base/location.ml
  lib/constrGen.ml
  lib/constrGen.mli
  litmus/CArch_litmus.ml
  litmus/archExtra_litmus.ml
  litmus/arch_litmus.mli
  tools/archExtra_tools.ml
  tools/arch_tools.mli
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
