Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[catalogue] Add types for registers that hold labels for aarch64-ifetch tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrl.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+cachesync+switch-ctrlisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+ctrlisb.br.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.S-self+dmb.st+fault.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit01.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.miniJit02.litmus
  catalogue/aarch64-ifetch/tests/MP+rel+blr.litmus
Due: make-test

[catalogue] Don't check for faults when there is a fault handler for aarch64-VMSA tests
  catalogue/aarch64-VMSA/tests/CASAL+FAIL+FH.litmus
  catalogue/aarch64-VMSA/tests/CASAL+FAIL2+FH.litmus
  catalogue/aarch64-VMSA/tests/newlob/S+dsb.sy-tlbi-dsb.sy+ctrl.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/MP-via_fault_STLR.litmus
  catalogue/aarch64-VMSA/tests/order-via-faults/R-via_fault_STR.litmus
Due: make-test

[catalogue] Remove duplicate aarch64-VMSA litmus tests
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/@armv8-a
  catalogue/aarch64-VMSA/tests/F2Sdb+DSB-ETS.litmus
  catalogue/aarch64-VMSA/tests/newlob/@all
  catalogue/aarch64-VMSA/tests/newlob/LB+dmb.sy+dmb.sy-HU.litmus
Due: make-test, lint-shelves

[litmus] Systematic definition of inline function `mbar()`
  litmus/preSi.ml
Due: make-test

[litmus] Add configuration file
  litmus/libdir/riscv-qemu+cache.cfg
Due: none

[gen] Introduce a new relaxation/edge/atom parser in `diy` tool.
  gen/common/ast.ml
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Unify the paring process cross in `/gen`.
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[gen] Add parametrised base type to `ast`
  gen/common/ast.ml
  gen/common/parser.mly
  gen/diy.ml
  gen/logRelax.ml
  gen/readRelax.ml
Due: make-test

[gen] Remove invalid composite relax after unfold in `relax.ml`.
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] Add `Predicate` constructor in ast and parser.
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Add `before and `after` predicate parsing in `diy`.
  gen/common/ast.ml
  gen/common/edge.ml
  gen/relax.ml
Due: make-test

[gen] rewrite the search algorithm.
  gen/alt.ml
Due: make-test

[gen] function that process `before` and `after` predicates.
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Add wildcard `Amo.Safe`.
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Line up `diy` filter on `PosWR` and `Rfi`, and similarly, `Fri` and `Coi`.
  gen/alt.ml
Due: make-test

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] use shorter syntax in baseline diy7 configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[TEMP] memtag config
  gen/libdir/memtag-forbidden.conf
  gen/libdir/memtag.conf
Due: none

[gen] add `-unfold-only` flag which only unfolds wildcard
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Add more rmw to match memory access in `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[aslspec] fixed tick_loop_limit to match implementation
  asllib/doc/Statements.tex
  asllib/doc/asl.spec
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SWhile.negative_limit.asl
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none
