Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

ASL-786: add `ROL`, `ROL_C` to stdlib
  asllib/libdir/stdlib.asl
  asllib/tests/stdlib.t/rotate.asl
  asllib/tests/stdlib.t/run.t
Due: none

ASL-787: add `FloorLog2` and `CeilLog2` to stdlib
  asllib/Native.ml
  asllib/libdir/stdlib.asl
  asllib/tests/stdlib.t/ilog2.asl
  asllib/tests/stdlib.t/log2.asl
  asllib/tests/stdlib.t/no-primitives-test.asl
  asllib/tests/stdlib.t/run.t
Due: make-test

ASL-788: update signatures of `UInt`, `SInt`
  asllib/Native.ml
  asllib/libdir/stdlib.asl
  asllib/tests/stdlib.t/align.asl
  asllib/tests/stdlib.t/run.t
  asllib/tests/stdlib.t/sint.asl
  asllib/tests/stdlib.t/uint.asl
  herd/ASLSem.ml
Due: make-test

[catalogue] Add AArch64 tests with lrs
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/@all
  catalogue/aarch64/tests/MP+rel+addr-lrs-acq.litmus
  catalogue/aarch64/tests/MP+rel+ctrl-lrs-acq.litmus
  catalogue/aarch64/tests/MP+rel+data-lrs-acq.litmus
  catalogue/aarch64/tests/MP+rel+rmw-lrs-acq.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

[catalogue] Example test with po & same-loc allowed by aarch64.cat
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/@all
  catalogue/aarch64/tests/MP+rel+addr-po-loc-addr.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

rename strip_pauth into make_canonical
  herd/top_herd.ml
  lib/AArch64Op.ml
  lib/constant.ml
  lib/constant.mli
Due: make-test

fix some typos
  lib/AArch64Base.ml
  lib/constant.ml
  lib/constant.mli
Due: make-test

[test] Add PBF test
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/LB+data+addr.litmus
  catalogue/bpf/tests/kinds.txt
Due: make-test, lint-shelves

[herd] Cleaning remaining is_addr variables -> port
  herd/ARMSem.ml
  herd/BPFSem.ml
  herd/MIPSSem.ml
  herd/PPCSem.ml
Due: make-test

[test] Add four tests in catalogue
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/LB+rel+CAS+BIS.litmus
  catalogue/aarch64/tests/LB+rel+LDADD.litmus
  catalogue/aarch64/tests/LB+rel+STADD.litmus
  catalogue/aarch64/tests/LB+rel+data-post.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

[herd] Print NoAction as Empty
  herd/machAction.ml
Due: make-test

[herd] Add NoAction in one of the execution of a failed CAS
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Check if an event/action is NoAction
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/machAction.ml
Due: make-test

[herd] Avoid code replication for aarch64 cas semantics
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Avoid redundant execution when CAS fails
  herd/eventsMonad.ml
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h0+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h2+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h0h0-poh0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h2h2-poh2w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h0+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h2+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h0h0-poh0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h2h2-poh2h0.litmus.expected
  herd/tests/instructions/AArch64.kvm/A019.litmus.expected
  herd/tests/instructions/AArch64.mixed/M008.litmus.expected
  herd/tests/instructions/AArch64/A242.litmus.expected
  herd/tests/instructions/AArch64/A243.litmus.expected
  herd/tests/instructions/AArch64/A244.litmus.expected
  herd/tests/instructions/AArch64/A245.litmus.expected
  herd/tests/instructions/AArch64/A246.litmus.expected
  herd/tests/instructions/AArch64/L007.litmus.expected
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[herd] Fix CASP to generate an atomic Read Effect when there is writeback
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[asl][reference] examples
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.CheckStmtReturnsOrThrows.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckStmtReturnsOrThrows.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ControlFlowFromStmt.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ControlFlowFromStmt.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.Subprogram.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypecheckDecl.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] fixed a bug in TypingRule.SymDomOfType
  asllib/doc/ASLmacros.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeDomains.tex
Due: none

[asl][reference] a fix for SemanticsRule.CheckRecurseLimit
  asllib/doc/SubprogramCalls.tex
Due: none

[asl][reference] fixed a bug in extended_macros.py
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
Due: none

[asl][reference] fix SemanticsRule.ReadFromBitvector/WriteToBitvector
  asllib/doc/AssignableExpressions.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.LESlice.asl
  asllib/tests/ASLTypingReference.t/TypingRule.LESlice.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] addressing reviews + extra linting
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLRefALP3ChangeLog.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/introduction.tex
  asllib/tests/ASLDefinition.t/Overriding.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TCollection.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

Add the fault check functionality related to pte value.
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
  gen/FaultSetElm.ml
  gen/PPCCompile_gen.ml
  gen/RISCVCompile_gen.ml
  gen/X86_64Compile_gen.ml
  gen/archExtra_gen.ml
  gen/cycle.ml
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[herd] Fix small overlook in C semantics
  herd/CSem.ml
Due: make-test

[asl][reference] addressing reviews + extra linting
  asllib/doc/ASLRefALP3ChangeLog.tex
  asllib/doc/ASLReference.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Specifications.tex
Due: none

[asl][reference] examples + improve error message
  asllib/Typing.ml
  asllib/doc/AssignableExpressions.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
  asllib/error.ml
  asllib/tests/ASLDefinition.t/GuideRule.AnonymousEnumerations.bad.asl
  asllib/tests/ASLDefinition.t/GuideRule.BitvectorWidthBounds.asl
  asllib/tests/ASLDefinition.t/GuideRule.TupleElementAccess.asl
  asllib/tests/ASLDefinition.t/GuideRule.TupleImmutability.asl
  asllib/tests/ASLDefinition.t/GuideRule.TupleLength.asl
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TEnumDecl.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl][reference] Added content to the Standard Library chapter
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLReference.tex
  asllib/doc/StandardLibrary.tex
Due: none

[menhir2bnfc][asl] Add disclaimers to menhir2bnfc
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/grammars.t/calc.bnf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc_ordered.cf.expected
  asllib/menhir2bnfc/tests/integration/parser_cmp.ml
  asllib/menhir2bnfc/utils.ml
Due: make-test

[doc] Capturing convention about 'fault' predicate
  catalogue/aarch64-faults/README.md
  catalogue/aarch64-faults/tests/SVC.litmus
Due: make-test

[asl][reference] addressing pdf review comments
  asllib/doc/LexicalStructure.tex
  asllib/doc/PrimitiveOperations.tex
Due: none

[litmus] Handle memory attribute changes gracefully
  litmus/preSi.ml
Due: make-test

[all] Improve the implementation of memory attributes for AArch64
  herd/libdir/aarch64bbm.cat
  herd/libdir/aarch64memattrs.cat
  herd/tests/instructions/AArch64.vmsa+mte/A003.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A006.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A010.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A011.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A012.litmus.expected
  herd/tests/instructions/AArch64.vmsa+mte/A015.litmus.expected
  lib/AArch64Op.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/parsedPteVal.ml
  lib/pteVal.ml
  lib/pteVal.mli
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/preSi.ml
Due: make-test

[test] Fix some name
  herd/tests/instructions/AArch64.vmsa+mte/A015.litmus
  herd/tests/instructions/AArch64.vmsa+mte/A015.litmus.expected
Due: make-test

[asl][reference] examples + remove redundant rule TypingRule.AnnotateInitType
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateExtraFields.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareConst.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclaredType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclaredType.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl][reference] addressed PDF review comments + more linting
  asllib/doc/ASLReference.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/SideEffects.tex
  asllib/doc/StandardLibrary.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.ATC.asl
Due: none

[carpenter] Make carpenter non-buildable for ocaml < 4.14
  asllib/carpenter/config.ml
  asllib/carpenter/dune
Due: make-test

[ci] Run `make test-bnfc` on relevant PRs
  .github/workflows/menhir2bnfc.yml
Due: none
