Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl][reference] Remove inlining of clist and storage_keyword
  asllib/Parser.mly
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Syntax.tex
Due: make-test

[asl,tests] Add new left-hand side tests
  asllib/tests/regressions.t/lhs-tuple-fields-same-field.asl
  asllib/tests/regressions.t/lhs-tuple-fields.asl
  asllib/tests/regressions.t/lhs-tuple-same-var.asl
  asllib/tests/regressions.t/run.t
  herd/tests/instructions/ASL-pseudo-arch/frozen-tuple-arg.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/return-tuple.litmus.expected
Due: make-test

[asl,herd,tests] Update tests for new local declaration items
  herd/tests/instructions/ASL-pseudo-arch/LB-02.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-03.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-04.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-05.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-06.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-08.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-09.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-10.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/LB-11.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/MP-01.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/MP-02.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/catch-exec-twice.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/frozen-tuple-arg.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/return-tuple.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/throw-propagate.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/try-non-deterministic.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected
  herd/tests/instructions/ASL/assign1.litmus.expected
  herd/tests/instructions/ASL/assign2.litmus.expected
  herd/tests/instructions/ASL/assign3.litmus.expected
  herd/tests/instructions/ASL/bitfields1.litmus.expected
  herd/tests/instructions/ASL/case1.litmus.expected
  herd/tests/instructions/ASL/data-return-01.litmus.expected
  herd/tests/instructions/ASL/data-return-02.litmus.expected
  herd/tests/instructions/ASL/double-load.litmus.expected
  herd/tests/instructions/ASL/for1.litmus.expected
  herd/tests/instructions/ASL/func1.litmus.expected
  herd/tests/instructions/ASL/func2.litmus.expected
  herd/tests/instructions/ASL/func3.litmus.expected
  herd/tests/instructions/ASL/func4.litmus.expected
  herd/tests/instructions/ASL/records.litmus.expected
  herd/tests/instructions/ASL/unknown.litmus.expected
  herd/tests/instructions/ASL/while1.litmus.expected
  herd/tests/instructions/ASL/while2.litmus.expected
  herd/tests/instructions/ASL/write_mem.litmus.expected
Due: make-test

[asl] Add a new left-hand side for mutable assignments
  asllib/ASTUtils.ml
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/desugar.mli
Due: make-test

[asl] Changes to local declaration items
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/carpenter/config.ml
  asllib/desugar.ml
  asllib/desugar.mli
  asllib/instrumentation.ml
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.LDUninitialisedTuple.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  herd/AArch64ASLSem.ml
Due: make-test

[asl] Changes to mutable assignment left-hand sides
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Parser.mly
  asllib/Typing.ml
  asllib/desugar.ml
  asllib/desugar.mli
  asllib/error.ml
  asllib/tests/intersecting_slices.t
Due: make-test

[asl][reference] Ensure `UNKNOWN` remains reserved
  asllib/doc/LexicalStructure.tex
Due: none

[asl] Add warning for no recursion annotation
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/loop-limits.t/run.t
  asllib/tests/recursive.t/double-recursive-without-limit.asl
  asllib/tests/recursive.t/double-recursive.asl
  asllib/tests/recursive.t/run.t
  asllib/tests/recursive.t/simple-recursive-without-limit.asl
  asllib/tests/side-effects.t/rec-binop-read-local.asl
  asllib/tests/side-effects.t/rec-binop-unknown.asl
  asllib/tests/side-effects.t/rec-constant.asl
Due: make-test

improve notes3.md
  pac_tests/notes/notes3.md
Due: none

[asl] Update stdlib definition of `Replicate`
  asllib/libdir/stdlib.asl
Due: none

[asl][reference] Synchronizing reference with #888
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeChecking.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: make-test

[herd] Add support for SVC instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/A259.litmus
  herd/tests/instructions/AArch64/A259.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/faultType.ml
  lib/faultType.mli
  litmus/AArch64Compile_litmus.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
Due: make-test

BPF: Add amo-sequences
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/amo-sequence-1.litmus
  catalogue/bpf/tests/amo-sequence-2.litmus
  catalogue/bpf/tests/kinds.txt
  herd/libdir/bpf.cat
Due: make-test, lint-shelves

[action] Action to run litmus on x86_64 tests
  .github/workflows/run-litmus-x86_64.yml
Due: none

[asl,herd,tests] Remove legacy support for `::` to denote types
  asllib/Parser.mly
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/tests/instructions/ASL-pseudo-arch/LB-02.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-03.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-04.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-05.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-06.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-08.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-09.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-10.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-11.litmus
  herd/tests/instructions/ASL-pseudo-arch/MP-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/MP-02.litmus
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus
  herd/tests/instructions/ASL/assign2.litmus
  herd/tests/instructions/ASL/assign3.litmus
  herd/tests/instructions/ASL/bitfields1.litmus
  herd/tests/instructions/ASL/case1.litmus
  herd/tests/instructions/ASL/data-return-01.litmus
  herd/tests/instructions/ASL/data-return-02.litmus
  herd/tests/instructions/ASL/func1.litmus
  herd/tests/instructions/ASL/func2.litmus
  herd/tests/instructions/ASL/func3.litmus
  herd/tests/instructions/ASL/func4.litmus
  herd/tests/instructions/ASL/records.litmus
  herd/tests/instructions/ASL/unknown.litmus
Due: make-test

add a constraint solver and some notes about it
  herd/AArch64Sem.ml
  herd/event.ml
  herd/variant.ml
  herd/variant.mli
  lib/constant.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
  pac_tests/Makefile
  pac_tests/example13.litmus
  pac_tests/example8.litmus
  pac_tests/notes/notes3.html
  pac_tests/notes/solver.md
Due: make-test

fix solver.md
  lib/constant.ml
  lib/constant.mli
  pac_tests/notes/solver.md
Due: make-test

fix solver.md
  lib/constant.ml
  pac_tests/notes/solver.md
Due: make-test

add pac iico_ctrl dep for cas and swp
  herd/event.ml
  pac_tests/Makefile
  pac_tests/example13.litmus
Due: make-test

add an example of resolution in solver.md
  pac_tests/notes/notes3.md
  pac_tests/notes/solver.md
Due: none

[herd,asl] Bitvectors whose value is zero are valid address offsets
  herd/ASLSem.ml
  lib/ASLOp.ml
  lib/ASLScalar.ml
  lib/SVEScalar.ml
  lib/capabilityScalar.ml
  lib/constant.ml
  lib/constant.mli
  lib/extendScalar.ml
  lib/int128Scalar.ml
  lib/int32Scalar.ml
  lib/int64Scalar.ml
  lib/scalar.mli
  lib/symbConstant.ml
  lib/symbValue.ml
  lib/uint128Scalar.ml
  lib/wideScalar.mli
Due: make-test

[herd,asl] Transmit exact proc id from AArch64 to ASL
  herd/AArch64ASLSem.ml
Due: make-test

[herd,aarch64,ASL] Execute IC/DC/TLBI instructions
  herd/AArch64ASLSem.ml
Due: make-test

[herd] Update test reference files
  herd/tests/instructions/AArch32/A016.litmus.expected-warn
  herd/tests/instructions/AArch32/A017.litmus.expected-warn
  herd/tests/instructions/AArch32/A018.litmus.expected-warn
  herd/tests/instructions/AArch32/A019.litmus.expected-warn
  herd/tests/instructions/AArch64.kvm/A018.litmus.expected-warn
  herd/tests/instructions/AArch64/A184.litmus.expected-warn
  herd/tests/instructions/AArch64/L029.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected-warn
Due: make-test

[herd,asl,vmsa] Implement hardware update of dirty bit
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  lib/ASLOp.ml
Due: make-test

[herd,asl] PTE accesses in ASL+VMSA mode.
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/Pretty.ml
  herd/eventsMonad.ml
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/mem.ml
  lib/ASLOp.ml
  lib/ASLScalar.ml
  lib/genParser.ml
Due: make-test

[herd,asl] Show specific message in case of CutOff from ASL interpretation
  asllib/Interpreter.ml
  herd/AArch64ASLSem.ml
  herd/ASLAction.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/JavaAction.ml
  herd/action.mli
  herd/event.ml
  herd/machAction.ml
  herd/semExtra.ml
  herd/top_herd.ml
  lib/mySet.ml
  lib/mySet.mli
Due: make-test

[herd,asl] Introduce CutOff events in the ASL interpreter
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/backend.mli
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
Due: make-test

[asl] Try some asl.cat changes
  herd/libdir/asl.cat
Due: none

[herd,asl] Implement basic ASL+VMSA
  asllib/Native.ml
  asllib/backend.mli
  herd/AArch64ASLSem.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Explicit.ml
  herd/AArch64Sem.ml
  herd/ASLAction.ml
  herd/ASLExtra.ml
  herd/ASLSem.ml
  herd/Pretty.ml
  herd/archExtra_herd.ml
  herd/eventsMonad.ml
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/machAction.ml
  herd/machModelChecker.ml
  herd/mem.ml
  herd/valconstraint.ml
  lib/AArch64Op.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/ASLOp.ml
  lib/ASLScalar.ml
  lib/ASLValue.ml
  lib/access.ml
  lib/access.mli
  lib/archOp.ml
  lib/constant.ml
  lib/constant.mli
  lib/misc.ml
  lib/misc.mli
  lib/pteVal.ml
  lib/symbConstant.ml
  lib/symbValue.ml
  lib/value.mli
Due: make-test

[herd,aarch64,asl] No ASL evaluation for `LSR _,_,#12`
  herd/AArch64ASLSem.ml
Due: make-test

[herd,asl,vmsa] Hardware management of the access flag
  asllib/Interpreter.ml
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/env.ml
  asllib/env.mli
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLParseTest.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/mem.ml
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected-warn
  lib/ASLOp.ml
  lib/ASLScalar.ml
Due: make-test

[herd,asl] Optimise ASL execution of AArch64 instructions
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/patches-vmsa.asl
Due: make-test

[herd,aarch64,ASL] Implement spurious set_af
  herd/AArch64ASLSem.ml
  herd/mem.ml
Due: make-test

[herd] Extend exclusive or non-scalar identical constants.
  lib/symbValue.ml
Due: make-test

[herd,asl] More tolerant AArch64 unary operations
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected-warn
  lib/ASLOp.ml
Due: make-test

[herd,aarch64,asl] No ASL evaluation for some 64bit comparisons
  herd/AArch64ASLSem.ml
Due: make-test

[herd,aarch64,asl] Direct emission of ResAddr accesses.
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
Due: make-test

update solver.md: discussion of hypothesis
  pac_tests/notes/solver.md
Due: none
