Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

wip: fix formatting of coRR-pte9-mod.litmus
  catalogue/aarch64-readers-guide/tests/coRR-pte9-mod.litmus
Due: make-test

wip: add Variant=ifetch to DIC1.MP.FF+dmb.st+po
  catalogue/aarch64-readers-guide/tests/DIC1.MP.FF+dmb.st+po.litmus
Due: make-test

wip: remove metadata from IRIW+dmb.lds
  catalogue/aarch64-readers-guide/tests/IRIW+dmb.lds.litmus
Due: make-test

wip: run Marc03.litmus through mprog7
  catalogue/aarch64-readers-guide/tests/Marc03.litmus
Due: make-test

wip: run miniMarc03.litmus through mprog7
  catalogue/aarch64-readers-guide/tests/miniMarc03.litmus
Due: make-test

wip: rename PPOCA-catalogue.litmus to MP+popl+ctrl-rfi-addr.litmus
  catalogue/aarch64-readers-guide/tests/MP+popl+ctrl-rfi-addr.litmus
Due: make-test

wip: update tests list in shelf.py
  catalogue/aarch64-readers-guide/shelf.py
Due: lint-shelves

improved discussion of evaluation order and parenthesis
  asllib/doc/Expressions.tex
  asllib/doc/Semantics.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLDefinition.t/EvaluationOrderAndParenthesis.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

wip: add vmsa variant to Marc03.litmus
  catalogue/aarch64-readers-guide/tests/Marc03.litmus
Due: make-test

[ci] Bump menhir version
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

[asl] Update dune-project files to ocaml 4.14
  asllib/aslspec/dune-project
  asllib/dune-project
Due: make-test

[menhir2bnfc] Bump minimum menhir version
  asllib/menhir2bnfc/dune-project
Due: make-test

[all] Bump minimum OCaml version to 4.14
  .github/workflows/check-opam-minimals.yml
  .github/workflows/make-test-all.yml
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  herdtools7.opam
Due: opam-lint

[docs] Update INSTALL.md with new versions
  INSTALL.md
Due: none

Add test to highlight change in results
  herd/tests/instructions/AArch64.kvm/A037.litmus
  herd/tests/instructions/AArch64.kvm/A037.litmus.expected
Due: make-test

[fix] litmus use kvm_symb.c features without presi
  litmus/KSkel.ml
  litmus/compCond.ml
  litmus/compCondUtils.mli
  litmus/preSi.ml
  litmus/skel.ml
Due: make-test

[fix] improve pretty printing in kvm_symb.c
  litmus/libdir/_aarch64/kvm_symb.c
  litmus/skel.ml
Due: make-test

[litmus] Fixes
  litmus/compCond.ml
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/preSi.ml
Due: make-test

[litmus] fix PTE matching
  litmus/preSi.ml
Due: make-test

fix a comment in kvm_symb.c
  litmus/libdir/_aarch64/kvm_symb.c
Due: none

Rename symb_t to data_symb_t
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_aarch64/kvm_symb.c
  litmus/preSi.ml
Due: make-test

offset fixed
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_aarch64/kvm_symb.c
  litmus/preSi.ml
Due: make-test

fix fault handler
  litmus/libdir/_aarch64/kvm_fault_handler.c
Due: none

[litmus] start to fix final condition offsets
  litmus/compCond.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_aarch64/kvm_symb.c
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[build] Remove dependency from build to install
  Makefile
Due: none

[test] Use `make all install` idiom in action file
  .github/workflows/make-test.yml
Due: none

[gen] refactor DumpAll test preparation
  gen/alt.ml
  gen/common/edge.ml
  gen/dumpAll.ml
  gen/dumpAll.mli
Due: make-test

[herd] Add Constraints.do_constraints_to_string
  herd/constraints.ml
Due: make-test

[asl] Report recurse limits hit during static evaluation as static errors
  asllib/Interpreter.ml
  asllib/error.ml
  asllib/tests/side-effects.t/run.t
Due: make-test

improved exposition of parsing
  asllib/doc/ASLmacros.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/Syntax.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLDefinition.t/Guide.OperatorPriority.asl
  asllib/tests/ASLDefinition.t/run.t
Due: none

[herd] Handle memory locations in speedcheck/filter optimisation
  herd/mem.ml
Due: make-test

[gen] allow repeated reject lists in diy7
  gen/common/config.ml
  gen/diy.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] filter invalid cycles in `diy7` searching algorithm before DumpAll
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Add AArch64 MemTag generator config
  gen/libdir/memtag.conf
Due: none

[TEMP] add more edges to memtag.conf
  gen/libdir/memtag.conf
Due: none

[gen] Add more rmw to match memory access in `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

reduction of string_of_int + fix
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
Due: none
