Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Add key `local-conf` in configuration files
  herd/lexConf_herd.mll
Due: make-test

[internal] More tolerant comparisons of error logs
  internal/lib/testHerd.ml
Due: make-test

tidy: remove diy_utils module
  gen/cat2config/diy_utils.ml
  gen/cat2config/ir.ml
Due: make-test

[test] Augment `make test-all-asl`
  Makefile
Due: none

[catalogue] Remove duplicate MTE test
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/asorted-async/@all
  catalogue/aarch64-MTE/tests/asorted-async/S+dmb.sttp+data_asynctagfault.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test, lint-shelves

chore: add comments
  gen/cat2config/ir.ml
Due: make-test

[ca2table] Implement traversal of relation sequences
  tools/cat2table.ml
Due: make-test

[more-tools] Format dune file
  more-tools/dune
Due: make-test

[more-tools] Remove experimental Earley parser
  more-tools/dune
  more-tools/uoaim.ml
Due: make-test

[herd] Bug fix: fault handler must not be entered when mte async
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/F001.litmus
  herd/tests/instructions/AArch64.MTE/F001.litmus.expected
  herd/tests/instructions/AArch64.MTE/F001.litmus.expected-warn
  herd/tests/instructions/AArch64.MTE/F002.litmus
  herd/tests/instructions/AArch64.MTE/F002.litmus.expected
Due: make-test

[internal,herd] Add automatic runner for checking axioms assumed by cat2table
  Makefile
  dirs-and-confs.txt
  herd/libdir/aarch64_wrapped_primitives.cat
  herd/libdir/aarch64axioms.cat
  herd/tests/instructions/AArch64.neon/neon.cfg
  herd/tests/instructions/AArch64.sme/sme.cfg
  herd/tests/instructions/AArch64.sve/sve.cfg
  internal/dune
  internal/herd_axioms_test.ml
Due: make-test

[ASL Reference] fixes following pdf review: phase 2
  asllib/doc/ASLmacros.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
  asllib/doc/variable_name_macros.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EvalGlobals.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.LookupConstant.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ReduceConstraint.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SESIsSymbolicallyEvaluable.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ShouldRememberImmutableExpression.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SideEffectIsPure.asl
Due: none

[asl reference] fixes
  asllib/doc/PrimitiveOperations.tex
Due: none

[asl references] fixes to problems found by a proof reading assistant
  asllib/doc/ASLFormal.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/Literals.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
  asllib/doc/introduction.tex
Due: none

[aslref] Dump the recurse limit in pretty printer and serializer.
  asllib/PP.ml
  asllib/Serialize.ml
Due: make-test

[asl reference] a linter for incorrect usage of latex macros
  asllib/doc/doclint.py
Due: none

[asl refefrence] fixes to incorrect usage of latex macros
  asllib/doc/BaseValues.tex
  asllib/doc/SideEffects.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TypeDeclarations.tex
Due: none

[asl reference] re-organized Python linting-related files
  asllib/doc/check_macro_usage.py
  asllib/doc/doclint.py
  asllib/doc/extended_macros.py
  asllib/doc/utils.py
Due: none

[asl reference] addressed review comment for BaseValues.tex
  asllib/doc/BaseValues.tex
Due: none

[asl reference] addressed review comments
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/Types.tex
Due: none

[herd] Relax upper bound for scale_array_reference
  herd/archExtra_herd.ml
Due: make-test

[lib] Allow Offset operation on Concrete values
  lib/symbValue.ml
Due: make-test

[herd,WIP] Add experimental VMSA support for GCS
  herd/AArch64Sem.ml
Due: make-test

[herd,WIP] Introduce basic support for GCS
  Makefile
  gen/common/AArch64Arch_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.gcs/G000.litmus
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  herd/variant.ml
  herd/variant.mli
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/constant.ml
  lib/constant.mli
  lib/faultType.ml
  lib/faultType.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd,WIP] Add access type for AArch64 GCS
  herd/AArch64Arch_herd.ml
  herd/AArch64Explicit.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gcs/G000.litmus.expected
  herd/tests/instructions/AArch64.gcs/G001.litmus.expected
  herd/tests/instructions/AArch64.gcs/G002.litmus.expected
  herd/tests/instructions/AArch64.gcs/G003.litmus.expected
  herd/tests/instructions/AArch64.gcs/G004.litmus.expected
  herd/tests/instructions/AArch64.gcs/G005.litmus.expected
  herd/tests/instructions/AArch64.gcs/G006.litmus.expected
  lib/AArch64Base.ml
Due: make-test

[catalogue,WIP] Add AArch64 GCS tests
  catalogue/aarch64-GCS/tests/Co+W+gcsb+gcspop.litmus
  catalogue/aarch64-GCS/tests/Co+W+gcsb+ret.litmus
  catalogue/aarch64-GCS/tests/Co+W+gcsss1.litmus
  catalogue/aarch64-GCS/tests/Co+bl+gcsb+R.litmus
  catalogue/aarch64-GCS/tests/Co+bl+ret.litmus
  catalogue/aarch64-GCS/tests/Co+gcspush+gcsb+R.litmus
  catalogue/aarch64-GCS/tests/Co+gcspush+gcspop.litmus
  catalogue/aarch64-GCS/tests/Co+gcsss1+R.litmus
  catalogue/aarch64-GCS/tests/Co+gcsss1+gcsss1.litmus
  catalogue/aarch64-GCS/tests/Co+gcsss1+gcsss2.litmus
  catalogue/aarch64-GCS/tests/Co+gcsstr+gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+gcspop+gcsb+dmb.sy-dmb.ld+gcsb.litmus
  catalogue/aarch64-GCS/tests/LB+gcsss2+dmb.sy-dmb.ld+gcsss1.litmus
  catalogue/aarch64-GCS/tests/LB+ret+gcsb+dmb.sy-dmb.ld+gcsb.litmus
  catalogue/aarch64-GCS/tests/MP+bl+gcsb+dmb.sy-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+bl+gcsb+rel-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+gcsb+bl-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+gcsb+gcspush-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st+gcsss1-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-acq+gcsb+gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-acq+gcsb+ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-acq+gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.ld+gcsb+gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.ld+gcsb+ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.ld+gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.sy+gcsb+gcspop.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.sy+gcsb+ret.litmus
  catalogue/aarch64-GCS/tests/MP+dmb.st-dmb.sy+gcsss1.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush+gcsb+dmb.sy-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcspush+gcsb+rel-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1+dmb.sy-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+gcsss1+rel-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swpal+gcsb+bl-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swpal+gcsb+gcspush-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/MP+swpal+gcsss1-dmb.ld.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st+gcsb+ret-gcsb+dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st+gcsb-gcsb+dmb.sy.litmus
  catalogue/aarch64-GCS/tests/SB+dmb.st+gcsss1-gcsb+dmb.sy.litmus
Due: make-test

[asl reference] addressed review comments
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Bitfields.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Specifications.tex
  asllib/doc/introduction.tex
Due: none

[asl references] fixes to problems found by a proof reading assistant
  asllib/doc/ASLFormal.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/RuntimeEnvironment.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
  asllib/doc/introduction.tex
  asllib/tests/ASLTypingReference.t/TypingRule.AnonymousType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeSatisfaction1.asl
Due: none

[aslspec] removed unused macro names
  asllib/aslspec/macros.ml
Due: make-test

[aslspec][asl reference] added structural checks to inference rules + fixes to the reference
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] addressed review comments
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
Due: make-test

[herd] add "static" poi info to `inst_instance_id`
  herd/archExtra_herd.ml
  herd/loader.ml
  herd/mem.ml
Due: make-test

[herd] disable warning 42
  herd/dune
Due: make-test

[litmus, herd]: Add handling for AAcrh64's `PSTATE.SM` and `PSTATE.ZA`
  herd/AArch64Sem.ml
  lib/faultType.ml
  lib/faultType.mli
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/kvm-armv8+sme.cfg
Due: make-test

[cat2table] Add skeleton of cat2table tool
  tools/cat2table.ml
  tools/dune
Due: make-test
