Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[herd] Telechat implementation of indirect barnches, AArch64, ARM
  herd/AArch64Sem.ml
  herd/ARMSem.ml
  herd/tests/instructions/AArch64/A253.litmus
  herd/tests/instructions/AArch64/A253.litmus.expected
  herd/tests/instructions/ARM/A024.litmus
  herd/tests/instructions/ARM/A024.litmus.expected
Due: make-test

[herd] New debug switch `-debug exception`
  herd/debug_herd.ml
  herd/debug_herd.mli
  herd/eventsMonad.ml
  herd/herd.ml
  herd/valconstraint.ml
Due: make-test

[herd] Delay errors and warning until after filtering by model.
  herd/mem.ml
  herd/slrc11.ml
  herd/tests/instructions/AArch64/A178.litmus
  herd/tests/instructions/AArch64/A179.litmus
  herd/tests/instructions/AArch64/A179.litmus.expected-failure
  herd/tests/instructions/AArch64/A183.litmus
  herd/tests/instructions/AArch64/A183.litmus.expected-failure
  herd/top_herd.ml
  herd/valconstraint.ml
Due: make-test

[herd] RISC-V: Enable RCsc ordering for load/store operations
  herd/libdir/riscv-defs.cat
  herd/libdir/riscv-tso-defs.cat
Due: none

[herd] Add tests Added tests illustrate the "non temporal" exception to address dependencies. More precisely L070 illustrates the exception, while L071 is a control.
  herd/tests/instructions/AArch64/L070.litmus
  herd/tests/instructions/AArch64/L070.litmus.expected
  herd/tests/instructions/AArch64/L071.litmus
  herd/tests/instructions/AArch64/L071.litmus.expected
Due: make-test

[herd] Update addr dependencies
  herd/libdir/aarch32.cat
  herd/libdir/aarch64deps.cat
Due: none

[herd] Model for several memory accesses
  herd/libdir/aarch64.cat
  herd/tests/diycross/AArch64.MTE/MTE.cfg
Due: none

[herd] New variants to control MOPS
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd,litmus,jingle] Implement MOPS
  herd/AArch64Arch_herd.ml
  herd/AArch64MOPS.ml
  herd/AArch64MOPS.mli
  herd/AArch64Sem.ml
  herd/Pretty.ml
  herd/archExtra_herd.ml
  herd/branch.ml
  herd/debug_herd.ml
  herd/debug_herd.mli
  herd/event.ml
  herd/eventsMonad.ml
  herd/herd.ml
  herd/mem.ml
  herd/monad.mli
  herd/opts.ml
  herd/opts.mli
  herd/parseTest.ml
  herd/semExtra.ml
  herd/variant.ml
  herd/variant.mli
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/constant.ml
  lib/constant.mli
  lib/testVariant.ml
  lib/testVariant.mli
  litmus/AArch64Compile_litmus.ml
  litmus/top_litmus.ml
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64/L090.litmus
  herd/tests/instructions/AArch64/L090.litmus.expected
  herd/tests/instructions/AArch64/L091.litmus
  herd/tests/instructions/AArch64/L091.litmus.expected
Due: make-test

[TMP] Variant for testing the usefulness of the M.seq operator
  herd/AArch64MOPS.ml
Due: make-test

[litmus] Trouble with "check_globals", better cast everything to type WIP
  litmus/skel.ml
Due: make-test

[herd,asl] Fix addition of symbolic constant and offset
  lib/ASLOp.ml
  lib/ASLScalar.ml
Due: make-test

[asllib] Fix: add global constants to the global runtime environment.
  asllib/Interpreter.ml
Due: make-test

Removing the malformed address dependency tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dmb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dmb.st+addr-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dmb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dmb.st+addr-cachesyncisb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dmb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb+addr-ic-dsb-isb.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dmb.st+addr-cachesyncisb.litmus
Due: make-test

Adding replacement tests with addr into DC/IC
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dmb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dmb.st+addr-cachesyncisb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dmb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dmb.st+addr-cachesyncisb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dmb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb+addr-ic-dsb-isb-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dmb.st+addr-cachesyncisb-1.litmus
Due: make-test

Updated kinds and the lists of tests
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/@all
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/@all
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/@all
  catalogue/aarch64-ifetch/tests/kinds.txt
Due: none

Simplified one more test
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/@all
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+addr-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC0/MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/@all
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+addr-1.litmus
  catalogue/aarch64-ifetch/tests/DIC0-IDC1/IDC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/@all
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+addr-1.litmus
  catalogue/aarch64-ifetch/tests/DIC1-IDC1/DIC1.MP.RF+dc-dsb-ic-dsb+addr.litmus
  catalogue/aarch64-ifetch/tests/kinds.txt
Due: make-test

[www] Synchronise x86 model with default
  catalogue/x86/cats/x86tso-mixed.cat
  catalogue/x86/shelf.py
  herd-www/Makefile
  herd-www/dune
Due: make-test, lint-shelves

[all] AST restructuring for some AArch64 instructions.
  gen/AArch64Compile_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.ASL/ADDEXT001.litmus
  herd/tests/instructions/AArch64.ASL/ADDEXT001.litmus.expected
  herd/tests/instructions/AArch64.ASL/ADDEXT002.litmus
  herd/tests/instructions/AArch64.ASL/ADDEXT002.litmus.expected
  herd/tests/instructions/AArch64.mixed/M003.litmus.expected
  herd/tests/instructions/AArch64/A03.litmus.expected
  herd/tests/instructions/AArch64/A06.litmus.expected
  herd/tests/instructions/AArch64/A12.litmus.expected
  herd/tests/instructions/AArch64/A22.litmus.expected
  herd/tests/instructions/AArch64/A23.litmus.expected
  herd/tests/instructions/AArch64/A68.litmus.expected
  herd/tests/instructions/AArch64/A71.litmus.expected
  herd/tests/instructions/AArch64/A73.litmus.expected
  herd/tests/instructions/AArch64/A75.litmus.expected
  herd/tests/instructions/AArch64/A78.litmus.expected
  herd/tests/instructions/AArch64/A81.litmus.expected
  herd/tests/instructions/AArch64/A83.litmus.expected
  herd/tests/instructions/AArch64/A85.litmus.expected
  herd/tests/instructions/AArch64/L087.litmus
  herd/tests/instructions/AArch64/L087.litmus.expected
  herd/tests/instructions/AArch64/L088.litmus
  herd/tests/instructions/AArch64/L088.litmus.expected
  herd/tests/instructions/AArch64/L089.litmus
  herd/tests/instructions/AArch64/L089.litmus.expected
  herd/tests/instructions/AArch64/L090.litmus
  herd/tests/instructions/AArch64/L090.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/ASLOp.ml
  lib/ASLScalar.ml
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd,aarch64] Avoid lift_kvm for accesses to labels
  herd/AArch64Sem.ml
  lib/symbValue.ml
  lib/value.mli
Due: make-test

[aarch64,cat] Restoring intent for dependencies into hardware updates
  catalogue/aarch64-VMSA/tests/LB+dmb.sy+addr-po-HUaf.litmus
  catalogue/aarch64-VMSA/tests/LB+dmb.sy+addr-po-HUdb.litmus
  catalogue/aarch64-VMSA/tests/LB+dmb.sy+addrisb-HU.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+addr-HUaf.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+addr-HUdb.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+data-HUaf.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+data-HUdb.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+dmb-HUaf.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+dsb-HUaf.litmus
  catalogue/aarch64-VMSA/tests/S+dmb.st+dsb.ish-isb-HUaf.litmus
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  herd/libdir/aarch64hwreqs.cat
Due: make-test

[litmus] Fix typos
  litmus/AArch64Compile_litmus.ml
Due: make-test

[gen] configuration file for generating forbidden ifetch tests.
  gen/libdir/forbidden_ifetch.conf
Due: none

Minor user-interface suggestions for herd
  herd/mem.ml
  herd/test_herd.ml
  herd/tests/instructions/AArch64/AK004.litmus
  herd/tests/instructions/AArch64/AK004.litmus.expected-failure
  herd/tests/instructions/AArch64/AK005.litmus
  herd/tests/instructions/AArch64/AK005.litmus.expected-failure
Due: make-test

[herd] Add support for AArch64 TFSR_ELx in async MTE
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/B004.litmus
  herd/tests/instructions/AArch64.MTE/B004.litmus.expected
  lib/AArch64Base.ml
Due: make-test

[herd] Avoid iico_ctrl from branch for asynchronous MTE
  herd/AArch64Sem.ml
Due: make-test

[herd] Optionally add an iico_ctrl when a AArch64 CAS fails
  herd/event.ml
  herd/eventsMonad.ml
Due: make-test

[herd] Add branching events for AArch64 CAS instructions
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] (fix) Change the number of executions following 03248d1
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h0+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h2+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h0h0-poh0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h2h2-poh2w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h0+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h2+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h0h0-poh0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h2h2-poh2h0.litmus.expected
  herd/tests/instructions/AArch64.mixed/M008.litmus.expected
  herd/tests/instructions/AArch64/A242.litmus.expected
  herd/tests/instructions/AArch64/A243.litmus.expected
  herd/tests/instructions/AArch64/A244.litmus.expected
  herd/tests/instructions/AArch64/A245.litmus.expected
  herd/tests/instructions/AArch64/A246.litmus.expected
  herd/tests/instructions/AArch64/L007.litmus.expected
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[herd] ABS instruction
  herd/AArch64ASLSem.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/tests/instructions/AArch64/L091.litmus
  herd/tests/instructions/AArch64/L091.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/ASLScalar.ml
  lib/capabilityScalar.ml
  lib/int128.ml
  lib/int128Scalar.ml
  lib/op.ml
  lib/op.mli
  lib/scalar.mli
  lib/symbValue.ml
  lib/uint128Scalar.ml
  litmus/AArch64Compile_litmus.ml
Due: make-test

[all] Add the `NEG` and the `NEGS` aliases
  herd/tests/instructions/AArch64/L092.litmus
  herd/tests/instructions/AArch64/L092.litmus.expected
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd,aarch64] Instruction RBIT, complete implementation
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/L093.litmus
  herd/tests/instructions/AArch64/L093.litmus.expected
  lib/ASLScalar.ml
  lib/capabilityScalar.ml
  lib/op.ml
  lib/op.mli
  lib/rbit.ml
  lib/rbit.mli
  lib/symbValue.ml
  lib/uint128Scalar.ml
Due: make-test

[catalogue] Add support for running tests in aarch64-{VMSA,ETS2}
  Makefile
  catalogue/aarch64-VMSA/shelf.py
  catalogue/aarch64-VMSA/tests/MTE-KVM-A1.litmus
  catalogue/aarch64-VMSA/tests/MTE-KVM-A2.litmus
  catalogue/aarch64-VMSA/tests/MTE-KVM-A3.litmus
  catalogue/aarch64-VMSA/tests/MTE-KVM-A4.litmus
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
Due: make-test, lint-shelves

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
