Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[ASL] Fix bug where environment updates from IF test expressions were reverted (#1800)
  asllib/Interpreter.ml
  asllib/instrumentation.ml
  asllib/tests/regressions.t/if-test-env-updated.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[gen] remove `normalise` from the interface.
  gen/common/ast.ml
  gen/common/ast.mli
Due: make-test

[herd] Add rmw to po, except for the model `aarch64.cat`
  herd/machModelChecker.ml
  herd/tests/instructions/AArch64/A264.litmus
  herd/tests/instructions/AArch64/A264.litmus.expected
  herd/tests/instructions/X86_64/A011.litmus
  herd/tests/instructions/X86_64/A011.litmus.expected
Due: make-test

Separate top level parser.
  gen/common/lexUtil.mll
  gen/common/parser.mly
Due: make-test

Update the parsing in `gen/`
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[herd] Fix "Post-condition introduces new symbolic location" error.
  herd/test_herd.ml
  herd/tests/instructions/X86_64/A012.litmus
  herd/tests/instructions/X86_64/A012.litmus.expected
Due: make-test

Refactor pair_opt type
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
Due: make-test

Add LDAP/STLP instructions to herd
  gen/AArch64Compile_gen.ml
  gen/common/AArch64Arch_gen.ml
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/Y006.litmus
  herd/tests/instructions/AArch64/Y006.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
Due: make-test

[test] update parser tests.
  Makefile
  gen/tests/diy-basic-check.t
  gen/tests/diy-safe-new.conf
  gen/tests/diy-safe-old.conf
  gen/tests/diy-syntax-equivalance.expected
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Expose AutoArch as a library so we can use it in testing.
  gen/autoArch.ml
  gen/autoOpt.ml
  gen/dune
Due: make-test

Test remove invalid input.
  gen/tests/dune
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[tools] Fix regex matching bug in dot2desc
  tools/dot2desc.ml
Due: make-test

[gen] Filter invalid composite relaxations after expansion
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] Introduce an explicit AST-based relax parser for diy tools
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/dune
  gen/common/edge.ml
  gen/common/lexUtil.mli
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/readRelax.ml
  gen/relax.ml
Due: make-test

[gen] Document parser syntax in diy tool help text.
  gen/common/config.ml
  gen/common/util.ml
  gen/common/util.mli
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/logRelax.ml
Due: make-test

[gen] Unify parser entry points across tools in `/gen`
  gen/alt.ml
  gen/atomize.ml
  gen/common/ast.ml
  gen/common/edge.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/lexLog_gen.mll
  gen/logRelax.ml
  gen/norm.ml
  gen/relax.ml
Due: make-test

[gen] Add parser and syntax regression tests
  Makefile
  gen/tests/diy-basic-check.t
  gen/tests/dune
  gen/tests/test_parser.expected
  gen/tests/test_parser.ml
Due: make-test

[gen] Add `Predicate` constructor in ast and parser.
  gen/cat2config/translation.ml
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/edge.ml
  gen/common/lexUtil.mll
  gen/common/parser.mly
  gen/logRelax.ml
  gen/readRelax.ml
  gen/relax.ml
  gen/tests/test_parser.ml
Due: make-test

[gen] Add `before and `after` predicate parsing in `diy`.
  gen/common/ast.ml
  gen/common/ast.mli
  gen/common/edge.ml
  gen/diy.ml
  gen/relax.ml
  gen/tests/test_parser.ml
Due: make-test

[gen] function that process `before` and `after` predicates.
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Fix a problem on predicate merge pairing with `-mix true`
  gen/alt.ml
Due: make-test

[gen] filter invalid cycle with predicate before `diy7` searching algorithm.
  gen/relax.ml
Due: make-test

[gen] Remove duplication in unfold-only mode.
  gen/diy.ml
  gen/relax.ml
Due: make-test

[gen] add `-unfold-only` flag which only unfolds wildcard
  gen/common/config.ml
  gen/diy.ml
Due: make-test

[gen] Add test for `-unfold-only`.
  gen/tests/diy-basic-check.t
  gen/tests/test_parser.expected
Due: none

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] Align diy filter handling for same-location `Po` edges
  gen/README.md
  gen/alt.ml
  gen/tests/diy7-check.t
Due: make-test

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[herd,test] Include x66_64 catalogue tests in default testing
  Makefile
  catalogue/x86_64/cats/sc.cat
  catalogue/x86_64/cats/x86tso-mixed.cat
  catalogue/x86_64/cfgs/new-web.cfg
  catalogue/x86_64/kinds.txt
  catalogue/x86_64/shelf.py
Due: lint-shelves

[miaou] Handle general range relations
  tools/miaou.ml
Due: make-test

[Makefile] Add shelf links and instruction configs
  Makefile
  catalogue/aarch64-ETS2/ci-shelf.py
  catalogue/aarch64-MTE/ci-shelf.py
  catalogue/aarch64-VMSA/ci-shelf.py
  catalogue/aarch64-VMSA/tests/kinds.txt
  catalogue/aarch64-cas/ci-shelf.py
  catalogue/aarch64-faults/ci-shelf.py
  catalogue/aarch64-ifetch/ci-shelf.py
  catalogue/aarch64-ifetch/shelf-test.py
  catalogue/aarch64-ifetch/tests/kinds.txt
  catalogue/aarch64-mixed/ci-shelf.py
  catalogue/aarch64-pick/ci-shelf.py
  catalogue/aarch64-pick/tests/kinds.txt
  catalogue/aarch64/ci-shelf.py
  catalogue/bpf/ci-shelf.py
  catalogue/x86_64/ci-shelf.py
  catalogue/x86_64/tests/kinds.txt
  herd/tests/instructions/AArch32/ci.cfg
  herd/tests/instructions/AArch64.MTE/ci.cfg
  herd/tests/instructions/AArch64.PAC/ci.cfg
  herd/tests/instructions/AArch64.kvm/asl.cfg
  herd/tests/instructions/AArch64.kvm/ci.cfg
  herd/tests/instructions/AArch64.mixed/ci.cfg
  herd/tests/instructions/AArch64.neon/ci.cfg
  herd/tests/instructions/AArch64.self/ci.cfg
  herd/tests/instructions/AArch64.sme/ci.cfg
  herd/tests/instructions/AArch64.sve/ci.cfg
  herd/tests/instructions/AArch64.vmsa+ifetch/ci.cfg
  herd/tests/instructions/AArch64.vmsa+mte/ci.cfg
  herd/tests/instructions/AArch64/ci.cfg
  herd/tests/instructions/ARM/ci.cfg
  herd/tests/instructions/C/ci.cfg
  herd/tests/instructions/MIPS/ci.cfg
  herd/tests/instructions/PPC/ci.cfg
  herd/tests/instructions/RISCV/ci.cfg
  herd/tests/instructions/X86_64/ci.cfg
Due: lint-shelves

Skip tests that require CAT changes
  catalogue/aarch64-PAC/shelf.py
Due: lint-shelves

add pacda(...) syntax for initialisation, some checks must be added
  lib/PAC.ml
  lib/PAC.mli
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/_auth.c
  litmus/libdir/_aarch64/_auth.h
Due: make-test

Rename tests in catalogue
  catalogue/aarch64-PAC/shelf.py
  catalogue/aarch64-PAC/tests/@all
  catalogue/aarch64-PAC/tests/autda-disable-no-pick-basic-dep-modifier.litmus
  catalogue/aarch64-PAC/tests/kinds.txt
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth1+WW+RW+R+dmb.sy+autda-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+add-pacdza-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacda-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-add-xpacd.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autda+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2+WW+RR+R+dmb.sy+autdza-xpacd+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+MP+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+S+dmb.sy+pacdza-csel-autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autda-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-fpac+WW+R+R+dmb.sy+autdza-mov.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+autdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+MP+dmb.sy+pacdza.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+pacda.litmus
  catalogue/aarch64-PAC/tests/pauth2-no-key-da+S+dmb.sy+po-autda.litmus
Due: make-test, lint-shelves

add guard for pac(...) syntax
  litmus/preSi.ml
Due: make-test

Adds semantics for the event register instructions: WFE, SEV, SEVL
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/machAction.ml
  herd/semExtra.ml
  herd/test_herd.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/constant.ml
  lib/constant.mli
  lib/symbConstant.ml
  lib/symbValue.ml
  litmus/AArch64Compile_litmus.ml
  tools/alpha.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
