Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[litmus] Alternative Raspberry PI2 configuration
  litmus/libdir/pi2-nofp.cfg
Due: none

Adjustments to the VMSA model in sync with Arm ARM J.a
  herd/libdir/aarch64.cat
  herd/libdir/aarch64bbm.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64util.cat
  herd/libdir/tlbi-after.cat
Due: none

[herd,AArch64] Normalise immediate branches and adr instructions to branches with offsets
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/arch_herd.mli
  herd/loader.ml
  herd/mem.ml
  herd/semExtra.ml
  herd/test_herd.ml
  herd/test_herd.mli
  herd/tests/instructions/AArch64.self/A009.litmus.expected-failure
  herd/tests/instructions/AArch64.self/S01.litmus
  herd/tests/instructions/AArch64.self/S01.litmus.expected
  herd/tests/instructions/AArch64.self/S19.litmus.expected
  herd/tests/instructions/AArch64/A139.litmus.expected
  herd/tests/instructions/AArch64/A139.litmus.expected-failure
  herd/tests/instructions/AArch64/A248.litmus
  herd/tests/instructions/AArch64/A248.litmus.expected
  herd/tests/instructions/AArch64/A249.litmus
  herd/tests/instructions/AArch64/A249.litmus.expected-failure
  herd/tests/instructions/AArch64/A250.litmus
  herd/tests/instructions/AArch64/A250.litmus.expected
  herd/tests/instructions/AArch64/A251.litmus
  herd/tests/instructions/AArch64/A251.litmus.expected
  herd/tests/instructions/AArch64/L023.litmus
  herd/tests/instructions/AArch64/L023.litmus.expected
  herd/tests/instructions/AArch64/L025.litmus
  herd/tests/instructions/AArch64/L025.litmus.expected
  herd/tests/instructions/RISCV/A04.litmus
  herd/tests/instructions/RISCV/A04.litmus.expected
Due: make-test

[herd] RISC-V: Fix LR.rl and SC.aq parsing
  lib/RISCVLexer.mll
Due: make-test

[litmus] Rename mmu_get_pte to follow_pte
  litmus/libdir/_aarch64/kvm-headers.h
Due: none

[herd,AArch64] Fix execution level of handler code.
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/mem.ml
Due: make-test

[herd] Add tests for various handler situations
  herd/tests/instructions/AArch64.kvm/F000.litmus
  herd/tests/instructions/AArch64.kvm/F000.litmus.expected
  herd/tests/instructions/AArch64.kvm/F001.litmus
  herd/tests/instructions/AArch64.kvm/F001.litmus.expected
  herd/tests/instructions/AArch64.kvm/F002.litmus
  herd/tests/instructions/AArch64.kvm/F002.litmus.expected
  herd/tests/instructions/AArch64.kvm/F003.litmus
  herd/tests/instructions/AArch64.kvm/F003.litmus.expected
Due: make-test

[build] Use dune to build the web interface
  INSTALL.md
  Makefile
  defs.sh
  dune
  dune-build.sh
  dune-project
  herd-www/Makefile
  herd-www/README.md
  herd-www/Version.ml
  herd-www/_tags
  herd-www/dune
  herd-www/herd
  herd-www/lib
  ocb-build.sh
  ocb-install.sh
  ocb-test.sh
  ocb-uninstall.sh
Due: make-test

[all] Accept both suffixes .aqrl ans .aq.rl
  lib/RISCVLexer.mll
Due: make-test

[test] Silence warning
  asllib/tests/bitvector.ml
Due: make-test

Implement new type system for improved clarity, as suggested by Hadrien Renaud. Implemented new exception type for clarity
  gen/mcat2config.ml
Due: make-test

[asl] Add WIP warning to asl cat file
  herd/libdir/asl.cat
Due: none

[herd-www] Generalize file inclusion in the interface
  asllib/Interpreter.ml
  asllib/bitvector.ml
  asllib/builder.ml
  asllib/dune
  asllib/gparser0.ml
  asllib/splitasl.mli
  asllib/splitasl.mll
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/Small.litmus
  herd-www/Makefile
  herd-www/generate_includes.ml
  lib/ASLBase.ml
Due: make-test, lint-shelves

[www] Add files for the ASL book in catalogue
  catalogue/ASL/cats/asl-pseudo-arch.cat
  catalogue/ASL/cfgs/pseudo-conf.cfg
  catalogue/ASL/shelf.py
  catalogue/ASL/tests/LB-02.litmus
  catalogue/ASL/tests/LB-03.litmus
  catalogue/ASL/tests/LB-04.litmus
  catalogue/ASL/tests/LB-05.litmus
  catalogue/ASL/tests/LB-06.litmus
  catalogue/ASL/tests/LB-08.litmus
  catalogue/ASL/tests/LB-09.litmus
  catalogue/ASL/tests/LB-10.litmus
  catalogue/ASL/tests/MP-01.litmus
Due: make-test, lint-shelves

[www] Activate ASL and AArch64-ASL books
  catalogue/aarch64/cfgs/new-web.cfg
  herd-www/Makefile
  herd-www/www/index.html
  herd-www/www/jerd_driver.js
  herd/AArch64ParseTest.ml
  herd/parseTest.ml
Due: make-test

[dune] Fix `dune build` when no js_of_ocaml
  defs-mini.sh
  defs.sh
  dune
  dune-build.sh
  dune-install.sh
  herd-www/dune
  herd/dune
  herdtools7.opam
  version-gen.sh
Due: make-test, opam-lint

[litmus] Add support for variant self in KVM mode
  litmus/ASMLang.ml
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm-self.c
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/libdir/_aarch64/self.c
  litmus/libdir/_instance.c
  litmus/libdir/_main.c
  litmus/preSi.ml
  litmus/template.ml
Due: make-test

[litmus] Only call free_pages() in kvm mode for variant self
  litmus/preSi.ml
Due: make-test

Squashed commits
  herd/ARMArch_herd.ml
  herd/ARMSem.ml
  herd/tests/instructions/ARM/A003.litmus
  herd/tests/instructions/ARM/A003.litmus.expected
  herd/tests/instructions/ARM/A004.litmus
  herd/tests/instructions/ARM/A004.litmus.expected
  herd/tests/instructions/ARM/A005.litmus
  herd/tests/instructions/ARM/A005.litmus.expected
  herd/tests/instructions/ARM/A006.litmus
  herd/tests/instructions/ARM/A006.litmus.expected
  herd/tests/instructions/ARM/A007.litmus
  herd/tests/instructions/ARM/A007.litmus.expected
  herd/tests/instructions/ARM/A008.litmus
  herd/tests/instructions/ARM/A008.litmus.expected
  herd/tests/instructions/ARM/A009.litmus
  herd/tests/instructions/ARM/A009.litmus.expected
  herd/tests/instructions/ARM/A010.litmus
  herd/tests/instructions/ARM/A010.litmus.expected
  herd/tests/instructions/ARM/A011.litmus
  herd/tests/instructions/ARM/A011.litmus.expected
  herd/tests/instructions/ARM/A012.litmus
  herd/tests/instructions/ARM/A012.litmus.expected
  herd/tests/instructions/ARM/A013.litmus
  herd/tests/instructions/ARM/A013.litmus.expected
  herd/tests/instructions/ARM/A015.litmus
  herd/tests/instructions/ARM/A015.litmus.expected
  jingle/ARMArch_jingle.ml
  jingle/arch.ml
  lib/ARMBase.ml
  lib/ARMLexer.mli
  lib/ARMLexer.mll
  lib/ARMParser.mly
  lib/instr.ml
  lib/instr.mli
  litmus/ARMArch_litmus.ml
  litmus/ARMCompile_litmus.ml
  litmus/libdir/_arm/instruction.h
  litmus/libdir/pi2-nofp.cfg
  litmus/libdir/pi2.cfg
Due: make-test

[litmus] Add a cast onto "stable registers" initial values.
  litmus/ASMLang.ml
Due: make-test

[litmus] Fix glitch
  litmus/preSi.ml
Due: make-test

[test] Add tests
  herd/tests/instructions/AArch64.self/NORUN
  herd/tests/instructions/AArch64.self/S24.litmus
  herd/tests/instructions/AArch64.self/S24.litmus.expected
  herd/tests/instructions/AArch64/L062.litmus
  herd/tests/instructions/AArch64/L062.litmus.expected
Due: make-test

[lib,herd,litmus] Print instruction values with offset argument
  herd/AArch64Arch_herd.ml
  herd/loader.ml
  herd/tests/instructions/AArch64.self/A009.litmus.expected-failure
  herd/tests/instructions/AArch64/A139.litmus.expected-failure
  herd/tests/instructions/AArch64/A249.litmus.expected-failure
  herd/tests/instructions/AArch64/A251.litmus
  herd/tests/instructions/AArch64/A251.litmus.expected
  lib/AArch64Base.ml
  lib/ARMBase.ml
  lib/ASLBase.ml
  lib/BellBase.ml
  lib/CBase.ml
  lib/JavaBase.ml
  lib/MIPSBase.ml
  lib/PPCBase.ml
  lib/RISCVBase.ml
  lib/X86Base.ml
  lib/X86_64Base.ml
  lib/branchTarget.ml
  lib/branchTarget.mli
  lib/label.mli
  lib/miscParser.ml
  lib/miscParser.mli
  lib/pseudo.ml
  litmus/AArch64Compile_litmus.ml
  litmus/CTarget.ml
  litmus/CTarget.mli
  litmus/PPCCompile_litmus.ml
  litmus/compile.ml
  litmus/libdir/_prelude_size.c
  litmus/litmusUtils.ml
  litmus/preSi.ml
  litmus/pseudoAbstract.mli
  litmus/skel.ml
  litmus/skelUtil.ml
  litmus/target.mli
  litmus/template.ml
  litmus/test_litmus.ml
  litmus/top_klitmus.ml
  litmus/top_litmus.ml
Due: make-test

[asl] Big bundle of work.
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/Native.mli
  asllib/PP.mli
  asllib/Typing.ml
  asllib/Typing.mli
  asllib/aslseq.ml
  asllib/backend.mli
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/builder.ml
  asllib/dune
  asllib/error.ml
  asllib/gparser0.ml
  asllib/instrumentation.ml
  asllib/splitasl.mli
  asllib/tests/asl/required/func6.asl
  asllib/tests/asl/required/records.asl
  asllib/tests/asl/required/stdlib.asl
  asllib/tests/asl/required/tuples.asl
  asllib/tests/asltests.ml
  asllib/tests/bitvector.ml
  asllib/tests/static.ml
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/eventsMonad.ml
  herd/monad.mli
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus
  herd/tests/instructions/ASL-pseudo-arch/LB-07.litmus.expected
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
  herd/valconstraint.ml
  herdtools7.opam
  lib/ASLBase.ml
  lib/ASLScalar.ml
  lib/ASLValue.ml
  lib/symbValue.ml
Due: make-test, opam-lint

This patch implements multiple changes suggested by Hadrien Renaud and Nikos Nikoleris
  gen/mcat2config.ml
  lib/misc.ml
  lib/misc.mli
Due: make-test

[herd,asl] Implement repetitive statements
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Interpreter.ml
  asllib/Interpreter.mli
  asllib/Native.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/backend.mli
  herd/ASLSem.ml
  herd/CSem.ml
  herd/eventsMonad.ml
  herd/herd.ml
  herd/lexConf_herd.mll
  herd/mem.ml
  herd/monad.mli
  herd/opts.ml
  herd/opts.mli
  herd/semExtra.ml
  herd/tests/instructions/AArch64.kvm/A007.litmus.expected-warn
  herd/tests/instructions/AArch64.kvm/A008.litmus.expected-warn
  herd/valconstraint.ml
Due: make-test

[herd,asl] Add tests
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/for-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/repeat-toofar.litmus.expected-warn
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/while-toofar.litmus.expected-warn
  herd/tests/instructions/ASL/for1.litmus
  herd/tests/instructions/ASL/for1.litmus.expected
  herd/tests/instructions/ASL/while1.litmus
  herd/tests/instructions/ASL/while1.litmus.expected
  herd/tests/instructions/ASL/while2.litmus
  herd/tests/instructions/ASL/while2.litmus.expected
Due: make-test

[all]: Add region (and scope) to C tests.
  herd/AArch64ASLSem.ml
  herd/machModelChecker.ml
  herd/tests/instructions/C/C12.litmus
  herd/tests/instructions/C/C12.litmus.expected
  jingle/cDumper.ml
  lib/AArch64Parser.mly
  lib/ASLBase.ml
  lib/BellCheck.ml
  lib/CGenParser_lib.ml
  lib/CLexer.mll
  lib/CParser.mly
  lib/JavaGenParser_lib.ml
  lib/LISAParser.mly
  lib/dune
  lib/genParser.ml
  lib/miscParser.ml
  lib/miscParser.mli
  lib/outStd.ml
  lib/outTar.ml
  lib/outTests.mli
  litmus/compile.ml
  litmus/top_klitmus.ml
  litmus/top_litmus.ml
  tools/CDumper.ml
  tools/mlisa2c.ml
  tools/mlock.ml
  tools/transposeDumper.ml
Due: make-test

implemented new fault type and fixed bug where generator would always fail when checking let statements against desired lets to print
  gen/mcat2config.ml
Due: make-test

[gen] Generate simple pair loads and stores
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
  gen/X86_64Arch_gen.ml
  gen/archExtra_gen.ml
  gen/atom.mli
  gen/code.ml
  gen/code.mli
  gen/cycle.ml
  gen/edge.ml
  gen/final.ml
  gen/machAtom.ml
  gen/noWide.ml
  gen/topUtils.ml
  gen/top_gen.ml
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/libdir/aarch64hwreqs.cat
  herd/monad.mli
  herd/tests/instructions/AArch64/L080.litmus
  herd/tests/instructions/AArch64/L080.litmus.expected
  herd/tests/instructions/AArch64/L081.litmus
  herd/tests/instructions/AArch64/L081.litmus.expected
  herd/tests/instructions/AArch64/L082.litmus
  herd/tests/instructions/AArch64/L082.litmus.expected
  herd/tests/instructions/AArch64/L083.litmus
  herd/tests/instructions/AArch64/L083.litmus.expected
  herd/tests/instructions/AArch64/L084.litmus
  herd/tests/instructions/AArch64/L084.litmus.expected
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Refactor DC and IC actions into a common CMO
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/ARMArch_herd.ml
  herd/BellArch_herd.ml
  herd/GenericArch_herd.ml
  herd/JavaArch_herd.ml
  herd/MIPSArch_herd.ml
  herd/PPCArch_herd.ml
  herd/RISCVArch_herd.ml
  herd/X86Arch_herd.ml
  herd/X86_64Arch_herd.ml
  herd/arch_herd.mli
  herd/cmo.ml
  herd/cmo.mli
  herd/machAction.ml
  lib/AArch64Base.ml
Due: make-test

[herd] Fix C parser
  lib/CParser.mly
Due: make-test

[gen] Optimise diy
  gen/alt.ml
  gen/cycle.ml
  gen/edge.ml
Due: make-test

[herd] AArch64, ASL, implement LDAR and STLR
  herd/AArch64ASLSem.ml
  herd/ASLAction.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations.asl
Due: make-test

[asl] Resurrect the `read_memory` and `write_memory` primitives
  herd/ASLSem.ml
Due: make-test

[asl] Add test
  herd/tests/instructions/AArch64.ASL/LDAR+STLR.litmus
  herd/tests/instructions/AArch64.ASL/LDAR+STLR.litmus.expected
Due: make-test

[herd,asl] ASL integers as arbitrary precision integers Introduce a new dependency upon the Zarith library.
  INSTALL.md
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/dune
  asllib/tests/bitvector.ml
  asllib/tests/dune
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/constraints.ml
  herdtools7.opam
  lib/ASLScalar.ml
  lib/ASLValue.ml
  lib/dune
  lib/symbValue.ml
  lib/value.mli
Due: make-test, opam-lint

[lib] Add new record constants
  herd/archExtra_herd.ml
  herd/machAction.ml
  jingle/CArch_jingle.ml
  lib/CBase.ml
  lib/constant.ml
  lib/constant.mli
  lib/misc.ml
  lib/myMap.ml
  lib/symbConstant.ml
  lib/symbValue.ml
  litmus/ASMLang.ml
  litmus/CArch_litmus.ml
  litmus/KSkel.ml
  litmus/LISALang.ml
  litmus/archExtra_litmus.ml
  litmus/compile.ml
  litmus/constr.ml
  litmus/outUtils.ml
  litmus/preSi.ml
  litmus/skel.ml
  litmus/switch.ml
  litmus/template.ml
  tools/alpha.ml
  tools/logConstr.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
