Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Avoid trying to initialise a tag for INTIDs
  herd/eventsMonad.ml
Due: make-test

[herd] Add support for the GIC *HM,Xt instruction
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gicv5/gic.cdhm.litmus
  herd/tests/instructions/AArch64.gicv5/gic.cdhm.litmus.expected
  lib/AArch64Base.ml
  lib/AArch64IntidVal.ml
  lib/AArch64IntidVal.mli
  lib/AArch64Lexer.mll
  lib/AArch64Op.ml
  lib/stateLexer.mll
  lib/stateParser.mly
Due: make-test

[herd] Add special annotation to Effects generated by GIC *DI
  herd/AArch64Annot.ml
  herd/AArch64Sem.ml
Due: make-test

[herd] Ensure that GICR *IA can't acknowledge priority:0
  catalogue/aarch64-gic/tests/MP-fLPI+imp+addrpt.litmus
  catalogue/aarch64-gic/tests/MP-fLPI+imp+gsb.ack.litmus
  catalogue/aarch64-gic/tests/MP-fSPI+dsb.st+gsb.ack.litmus
  catalogue/aarch64-gic/tests/MP-pri+gsb.sys+ack.litmus
  herd/AArch64Sem.ml
  lib/AArch64IntidVal.ml
Due: make-test

[herd] Ensure all GIC rmw pair of Effects are atomic
  herd/AArch64Annot.ml
  herd/AArch64Sem.ml
Due: make-test

[herd] Add support for reading the ICC_HPPIR_EL1
  herd/AArch64Sem.ml
Due: make-test

[herd] Change GIC *DI to generate Implicit Interrupt Effects
  herd/AArch64Sem.ml
Due: make-test

[herd] Add special annotation to Effects generated by GICR instructions
  herd/AArch64Annot.ml
  herd/AArch64Sem.ml
Due: make-test

[cat] Fix use of empty event set in aarch64memattrs.cat
  herd/libdir/aarch64memattrs.cat
Due: none

[cat] Add coWR-INTID axioms for the GICv5 model
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/coWR-gic+di-rcfg.litmus
  catalogue/aarch64-gic/tests/coWR-gic+en-rcfg.litmus
  catalogue/aarch64-gic/tests/coWR-gic+ia-rcfg.litmus
  catalogue/aarch64-gic/tests/coWW-gic+di-ia+rcfg.litmus
  catalogue/aarch64-gic/tests/coWW-gic+di-pend1.litmus
  catalogue/aarch64-gic/tests/coWW-gic+di-pri+rcfg.litmus
  catalogue/aarch64-gic/tests/coWW-gic+dis-ia.litmus
  catalogue/aarch64-gic/tests/kinds.txt
  herd/libdir/gicv5.cat
Due: make-test

[cat] Restrict clauses to [M] as intended
  herd/libdir/aarch64.cat
Due: none

[cat] Add a atomic-GIC axiom
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/gic.pri+gic.en.litmus
  catalogue/aarch64-gic/tests/kinds.txt
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/gicv5.cat
Due: make-test

[herd] Refactor the semantics of GIC{,R} instructions
  herd/AArch64Sem.ml
Due: make-test

[herd] Ensure GICR instructions don't clear the pending state
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.gicv5/gicr.cdia-level.litmus
  herd/tests/instructions/AArch64.gicv5/gicr.cdia-level.litmus.expected
  lib/AArch64Op.ml
Due: make-test

[cat] Add a GIC-haz-ob
  herd/libdir/aarch64.cat
  herd/libdir/gicv5.cat
Due: none

[cat] Add a coRW-INTID axiom
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/coRW-gic+rcfg-di.litmus
  catalogue/aarch64-gic/tests/coRW-gic+rcfg-ia.litmus
  catalogue/aarch64-gic/tests/coRW-gic+rcfg-pri.litmus
  catalogue/aarch64-gic/tests/kinds.txt
  herd/libdir/gicv5.cat
Due: make-test

[cat] Add GSB-ob relation
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/MP-fIPI-dTag+dsb.st+gsb.ack.litmus
  catalogue/aarch64-gic/tests/MP-gic+dis-gsb.sys+dsb.ld.litmus
  catalogue/aarch64-gic/tests/coWR-gic+dis-gsb.sys-ia.litmus
  catalogue/aarch64-gic/tests/coWR-gic+ia-gsb.ack-di.litmus
  catalogue/aarch64-gic/tests/kinds.txt
  herd/libdir/aarch64fences.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/gicv5.cat
Due: make-test

[cat] Add GIC-obs relation
  herd/libdir/aarch64.cat
  herd/libdir/gicv5.cat
Due: none

[catalogue] IA/DI ordering
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/coWWR-gic+pri-di-nmia.litmus
  catalogue/aarch64-gic/tests/coWWR-gic+pri-pend1-nmia.litmus
  catalogue/aarch64-gic/tests/kinds.txt
Due: make-test

[cat] Allow basic and pick basic dependencies to start from INTID Effects
  catalogue/aarch64-gic/tests/@all
  catalogue/aarch64-gic/tests/MP-fIPI+dsb.st+addr.litmus
  catalogue/aarch64-gic/tests/MP-fIPI+dsb.st+ctrlisb.litmus
  catalogue/aarch64-gic/tests/kinds.txt
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
Due: make-test

[catalogue] Add a shelf file for aarch64-gic
  Makefile
  catalogue/aarch64-gic/cats/aarch64.cat
  catalogue/aarch64-gic/cfgs/web.cfg
  catalogue/aarch64-gic/shelf.py
  herd-www/Makefile
  herd-www/www/index.html
Due: lint-shelves

[asl] Check that slices are not side-effecting
  asllib/Typing.ml
  asllib/doc/Slicing.tex
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateSlices.bad-impure.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl] Permit eliding of parameters for global declarations
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/desugar.mli
  asllib/tests/explicit-parameters.t/explicit-parameters.asl
Due: make-test

[asl][reference] Simplify grammar around `var` keyword
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
Due: none

[asl] Simplify grammar of global elided parameter calls
  asllib/Parser.mly
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Syntax.tex
Due: make-test

[asl] Simplify grammar around `var` keyword
  asllib/Parser.mly
Due: make-test

[asl][reference] Parameter eliding for global declarations
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/tests/ASLSyntaxReference.t/ASTRule.DesugarElidedParameter.asl
Due: none

[asl] Require constrained integer types for array sizes
  asllib/Typing.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/Types.tex
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateSymbolicallyEvaluableExpr.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ExprEqual.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TArray.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TArray.bad2.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

Add the fault check functionality related to pte value.
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
  gen/archExtra_gen.ml
  gen/cycle.ml
  gen/final.ml
  gen/pteVal_gen.ml
  gen/top_gen.ml
Due: make-test

[asl][reference] added examples from old reference
  asllib/doc/dictionary.txt
Due: none

[asl][reference] examples for ASL reference predecessor
  asllib/doc/RelationsOnTypes.tex
  asllib/tests/ASLTypingReference.t/TypingRule.TypeSatisfaction.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeSatisfaction1.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] examples
  asllib/doc/ASLmacros.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLDefinition.t/ParametricFunction.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AddNewFunc.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AddNewFunc.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AddNewFunc.bad3.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall.bad3.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall.bad4.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCall2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateCallActualsTyped.bad4.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckParamDecls.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ExtractParameters-bad1.asl
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/constrained-types-example.asl
  asllib/tests/regressions.t/more-assignments-examples.asl
  asllib/tests/regressions.t/more-invocation-examples.asl
Due: none

[herd] Add support for AT instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.kvm/A023.litmus
  herd/tests/instructions/AArch64.kvm/A024.litmus
  herd/tests/instructions/AArch64.kvm/A025.litmus
  herd/tests/instructions/AArch64.kvm/A026.litmus
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[asl] a control-flow static analysis for noreturn
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Typing.ml
  asllib/tests/ASLTypingReference.t/TypingRule.CheckControlFlow.noreturn.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl] Fix implementation of check_not_collection for tuples
  asllib/Typing.ml
  asllib/doc/LocalStorageDeclarations.tex
  asllib/tests/collections.t/on-local-tuple.asl
  asllib/tests/collections.t/run.t
Due: make-test

[asl] Rework collection
  asllib/Parser.mly
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/Syntax.tex
  asllib/doc/Types.tex
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ConcatBitvectors.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateOneArg.bad2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateReturnType.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckIsNotCollection.asl
  asllib/tests/ASLTypingReference.t/TypingRule.DeclareType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.LESetCollectionFields.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TCollection.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypecheckDecl.asl
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/collections.t/on-arbitrary.asl
  asllib/tests/collections.t/on-function-return-type.asl
  asllib/tests/collections.t/on-global-var.asl
  asllib/tests/collections.t/on-local-func-arg.asl
  asllib/tests/collections.t/on-local-tuple.asl
  asllib/tests/collections.t/on-type-declaration.asl
  asllib/tests/collections.t/run.t
  asllib/tests/collections.t/with-non-bitvector-arg.asl
  herd/AArch64ASLSem.ml
  herd/libdir/asl-pseudocode/patches.asl
  herd/tests/instructions/ASL-pseudo-arch/collections-01.litmus
Due: make-test

[all] Remove unused to satisfy some warning
  asllib/aslref.ml
  asllib/bundler.ml
  asllib/menhir2bnfc/tests/integration/cmp_binops.ml
  gen/atoms.ml
  gen/classify.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/mexpand.ml
  gen/norm.ml
  gen/readRelax.ml
  internal/herd_catalogue_regression_test.ml
  internal/lib/tests/test_test.ml
  jingle/gen_theme.ml
  tools/bento.mll
  tools/knames.ml
  tools/madd.ml
  tools/mapply.ml
  tools/mcompare.ml
  tools/mcond.ml
  tools/mhash.ml
  tools/miaou.ml
  tools/mobserved.ml
  tools/mproj.ml
  tools/mrcu.ml
  tools/rehash.ml
  tools/splitcond.ml
Due: make-test

[ci] Make CI run on lowest possible software
  .github/workflows/make-test.yml
Due: none
