Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl][references] Update references for: loop annotations #935
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

[asl][references] Updating references for: Asl allow more atcs #929
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/instrumentation.ml
Due: make-test

[asl][references] Various minor fixes
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/instrumentation.ml
Due: make-test

[asl][syntax] Removed 'Formally' subsections
  asllib/doc/ASLSyntaxReference.tex
Due: none

[herd,asl] ASL implementation of `MADD`, `MSUB` and aliases.
  herd/AArch64ASLSem.ml
Due: make-test

[herd,asl] Add tests
  herd/tests/instructions/AArch64.ASL/MADD.litmus
  herd/tests/instructions/AArch64.ASL/MADD.litmus.expected
  herd/tests/instructions/AArch64.ASL/MSUB.litmus
  herd/tests/instructions/AArch64.ASL/MSUB.litmus.expected
Due: make-test

Fix typo
  lib/stateParser.mly
Due: make-test

[aarch64,sve] Add support for SVE EOR vectors, unpredicated
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.sve/Y01.litmus
  herd/tests/instructions/AArch64.sve/Y01.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Add M.bind_data_to_output operation
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Add a new monad for list of events related with iico_order
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Fix semantics for AArch64 SVE scatter store instructions
  herd/AArch64Sem.ml
Due: make-test

[herd] Add M.data_output_union operation
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Rework SVE NEG semantics
  herd/AArch64Sem.ml
Due: make-test

[asl][references] Cosmetics
  asllib/doc/ASLSemanticsReference.tex
Due: none

[asl][references] Updating references for symbolic constraints
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: make-test

[litmus] Emit label related code only when instruction type is defined
  litmus/preSi.ml
Due: make-test

[tests] Add X86_64 tests in the catalogue
  catalogue/x86_64/tests/2+2W.litmus
  catalogue/x86_64/tests/@all
  catalogue/x86_64/tests/LB.litmus
  catalogue/x86_64/tests/MP+po+po-rfi-po.litmus
  catalogue/x86_64/tests/MP.litmus
  catalogue/x86_64/tests/R+po+mfence.litmus
  catalogue/x86_64/tests/R+po+po-rfi-po.litmus
  catalogue/x86_64/tests/R+po+rfi-po.litmus
  catalogue/x86_64/tests/R.litmus
  catalogue/x86_64/tests/RWC+po+mfence.litmus
  catalogue/x86_64/tests/RWC+po+rfi-po.litmus
  catalogue/x86_64/tests/RWC.litmus
  catalogue/x86_64/tests/S.litmus
  catalogue/x86_64/tests/SB+mfence+po-rfi-po.litmus
  catalogue/x86_64/tests/SB+mfence+po.litmus
  catalogue/x86_64/tests/SB+mfence+rfi-po.litmus
  catalogue/x86_64/tests/SB+mfences.litmus
  catalogue/x86_64/tests/SB+po+po-rfi-po.litmus
  catalogue/x86_64/tests/SB+po+rfi-po.litmus
  catalogue/x86_64/tests/SB+rfi-po+po-rfi-po.litmus
  catalogue/x86_64/tests/SB+rfi-pos.litmus
  catalogue/x86_64/tests/SB.litmus
  catalogue/x86_64/tests/WRC.litmus
  catalogue/x86_64/tests/WRR+2W.litmus
  catalogue/x86_64/tests/WRW+2W.litmus
  catalogue/x86_64/tests/WRW+WR+po+mfence.litmus
  catalogue/x86_64/tests/WRW+WR+po+rfi-po.litmus
  catalogue/x86_64/tests/WRW+WR.litmus
  catalogue/x86_64/tests/WWC.litmus
  catalogue/x86_64/tests/X.conf
Due: make-test

[litmus,test] Add entry in Makefile for testing litmus on X86_64
  Makefile
  Makefile.x86_64
Due: none

[herd,asl] Add failed XOR test example
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected-failure
Due: make-test

[asl] Fix initial guess for SQRT
  asllib/libdir/stdlib.asl
  asllib/tests/regressions.t/run.t
Due: none

Adjusted cat files and kinds
  catalogue/aarch64-MTE/tests/kinds.txt
  herd/libdir/aarch64.cat
  herd/libdir/aarch64deps.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64util.cat
Due: none

A minor tweak to miaou7
  tools/miaou.ml
Due: make-test

[herd,asl] Fix unsound XOR optimization
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected-failure
  lib/symbValue.ml
Due: make-test

Updated f-ib
  herd/libdir/aarch64hwreqs.cat
Due: none

added comments to the cat file
  herd/libdir/aarch64hwreqs.cat
Due: none

[herd,asl] Add tests
  herd/tests/instructions/AArch64.ASL/LDRSW00.litmus
  herd/tests/instructions/AArch64.ASL/LDRSW00.litmus.expected
  herd/tests/instructions/AArch64.ASL/LDRSW01.litmus
  herd/tests/instructions/AArch64.ASL/LDRSW01.litmus.expected
  herd/tests/instructions/AArch64.ASL/STLXR.litmus
  herd/tests/instructions/AArch64.ASL/STLXR.litmus.expected
  herd/tests/instructions/AArch64.ASL/STXR.litmus
  herd/tests/instructions/AArch64.ASL/STXR.litmus.expected
Due: make-test

[aarch64,asl] Retrieve asl bundle as of June 2024
  herd/AArch64ASLSem.ml
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/bundler.py
  herd/libdir/asl-pseudocode/patches.asl
Due: make-test

[herd] Enable Xor'ing equal symbolic addresses.
  Makefile
  herd/eventsMonad.ml
  herd/mem.ml
  lib/symbValue.ml
Due: make-test

[herd] Add test
  herd/tests/instructions/AArch64/L103.litmus
  herd/tests/instructions/AArch64/L103.litmus.expected
Due: make-test

[asl][references] Addressing feedback
  asllib/ASTUtils.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/doc/.gitignore
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Makefile
  asllib/instrumentation.ml
  asllib/types.ml
  asllib/types.mli
Due: make-test

Updated cats
  herd/libdir/aarch64.cat
  herd/libdir/aarch64fences.cat
  herd/libdir/aarch64hwreqs.cat
  herd/libdir/aarch64util.cat
Due: none

Corrected the illustrative tests for VMSA
  catalogue/aarch64-VMSA/shelf.py
Due: lint-shelves

[herd] Fix semantics for SVE gather load instructions
  herd/AArch64Sem.ml
  herd/event.ml
Due: make-test

[herd] Fix XOR equal values type error for ASL
  Makefile
  herd/eventsMonad.ml
  herd/mem.ml
  herd/tests/instructions/AArch64/L103.litmus
  herd/tests/instructions/AArch64/L103.litmus.expected
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus
  herd/tests/instructions/ASL-pseudo-arch/YL-01.litmus.expected
  lib/ASLScalar.ml
  lib/capabilityScalar.ml
  lib/constant.mli
  lib/extendScalar.ml
  lib/int128Scalar.ml
  lib/int32Scalar.ml
  lib/int64Scalar.ml
  lib/scalar.mli
  lib/symbValue.ml
  lib/uint128Scalar.ml
Due: make-test

[asl][syntax reference] Addressing feedback
  asllib/AST.mli
  asllib/Parser.mly
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/tests/ASLSyntaxReference.t/expr1.asl
  asllib/tests/ASLSyntaxReference.t/expr2.asl
  asllib/tests/ASLSyntaxReference.t/run.t
Due: make-test

Teach miaou7 print E_1 instead of E1
  tools/miaou.ml
Due: make-test

[asl][references] Addressing feedback
  asllib/doc/ASLRefProgress.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
Due: none

[asl][syntax+semantics] Addressing feedback to the syntax reference and semantics reference
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLmacros.tex
  asllib/tests/ASLSemanticsReference.t/EvalCatchers.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.CatchOtherwise.asl
Due: none

[asl][typing] Addressing feedback for the typing reference
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

[asl][reference] remove diagbox LaTeX package
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
