Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl] Move more operations into 64-bits to support 32-bits machines
  asllib/bitvector.ml
Due: make-test

[aslspec] renamed components_of_labelled_tuple to args_of_tuple and relocated so it can be reused
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] suggested fix from previous PR
  asllib/aslspec/AST.ml
Due: make-test

[aslspec] strengthened type subsumption
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/doc/ASLFormal.tex
Due: make-test

[AARCH-25105,herd] Ordering implications of a DSB when used to complete a TLBI or an IC
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-25105/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cos.cat
  catalogue/aarch64-oban/aarch-25105/libdir/cross.cat
  catalogue/aarch64-oban/aarch-25105/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-25105/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-25105/shelf.py
  catalogue/aarch64-oban/aarch-25105/tests/@all
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-tagcheck+dsb.ish-isb-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+dsb.ish-isb-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+cachesync-ttdcheck+shoot-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-1.litmus
  catalogue/aarch64-oban/aarch-25105/tests/LB+shoot-tagcheck+dmb.sttp-2.litmus
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS2.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-ETS3.txt
  catalogue/aarch64-oban/aarch-25105/tests/kinds-pre_ETS.txt
  herd/eventsMonad.ml
Due: make-test, lint-shelves

[aslspec] suggested fix from previous PR
  asllib/aslspec/AST.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/asl.spec
Due: make-test

[aslspec] address review comment and a macro fix
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] fixed use-def analysis to handle list expressions on the right-hand side of transitions
  asllib/aslspec/spec.ml
  asllib/doc/asl.spec
Due: make-test

[aslspec] address review comment
  asllib/aslspec/spec.ml
Due: make-test

[AARCH-24876,herd] Strengthening of the TLBI-ob relation
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24876/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24876/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24876/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24876/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24876/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24876/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24876/shelf.py
  catalogue/aarch64-oban/aarch-24876/tests/@all
  catalogue/aarch64-oban/aarch-24876/tests/coRR+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+alias-2BBM-alias.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0h2+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/coRR+posw0w4+BBM.litmus
  catalogue/aarch64-oban/aarch-24876/tests/kinds.txt
Due: make-test, lint-shelves

Allow checking of PC in postcondition
  herd/AArch64Arch_herd.ml
  herd/ARMArch_herd.ml
  herd/ASLExtra.ml
  herd/BPFArch_herd.ml
  herd/JavaArch_herd.ml
  herd/MIPSArch_herd.ml
  herd/PPCArch_herd.ml
  herd/RISCVArch_herd.ml
  herd/X86Arch_herd.ml
  herd/X86_64Arch_herd.ml
  herd/archExtra_herd.ml
  herd/mem.ml
  herd/test_herd.ml
  herd/tests/instructions/AArch64/PC001.litmus
  herd/tests/instructions/AArch64/PC001.litmus.expected
  herd/tests/instructions/AArch64/PC002.litmus
  herd/tests/instructions/AArch64/PC002.litmus.expected
  herd/tests/instructions/AArch64/PC003.litmus
  herd/tests/instructions/AArch64/PC003.litmus.expected
  herd/tests/instructions/AArch64/PC004.litmus
  herd/tests/instructions/AArch64/PC004.litmus.expected
  herd/tests/instructions/AArch64/PC005.litmus
  herd/tests/instructions/AArch64/PC005.litmus.expected
  herd/tests/instructions/AArch64/PC005.litmus.expected-warn
  herd/tests/instructions/AArch64/PC006.litmus
  herd/tests/instructions/AArch64/PC006.litmus.expected
  herd/tests/instructions/AArch64/PC006.litmus.expected-warn
  herd/tests/instructions/AArch64/PC007.litmus
  herd/tests/instructions/AArch64/PC007.litmus.expected
  herd/tests/instructions/AArch64/PC007.litmus.expected-warn
  herd/tests/instructions/AArch64/PC008.litmus
  herd/tests/instructions/AArch64/PC008.litmus.expected
  herd/tests/instructions/AArch64/PC009.litmus
  herd/tests/instructions/AArch64/PC009.litmus.expected
  herd/tests/instructions/AArch64/asl.cfg
  lib/AArch64Base.ml
  lib/pcTarget.ml
  lib/pcTarget.mli
Due: make-test

[asl] Add more tests to 64bit functions and fix bugs
  asllib/bitvector.ml
  asllib/tests/bitvector.ml
Due: make-test

[herd] Add address translation for instruction fetches
  herd/AArch64Sem.ml
Due: make-test

[herd] remove unused ifetch code
  herd/archExtra_herd.ml
  herd/arch_herd.mli
Due: make-test

[aarch64] Exclude initital writes from ifetch warning
  herd/libdir/aarch64util.cat
  herd/tests/instructions/AArch64.self/A013.litmus.expected
  herd/tests/instructions/AArch64.self/A016.litmus.expected
  herd/tests/instructions/AArch64.self/S13.litmus.expected
  herd/tests/instructions/AArch64.self/S14.litmus.expected
  herd/tests/instructions/AArch64.self/S21.litmus.expected
  herd/tests/instructions/AArch64.self/S23.litmus.expected
  herd/tests/instructions/AArch64.self/S25.litmus.expected
  herd/tests/instructions/AArch64.self/S27.litmus.expected
Due: make-test

[herd] Simplify is_non_mixed_symbol
  herd/semExtra.ml
Due: make-test

[lib] Fix the parser
  lib/stateParser.mly
Due: make-test

[lib] Add parser support for referencing PTEs of labels
  lib/stateParser.mly
Due: make-test

[gen] Add `Obs`,`Coms.Int` and `Coms` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] use Obs wildcard in forbidden file
  gen/libdir/forbidden.conf
Due: none

[gen] use `rfi` for translating `lmrs`, previously `lrs`, since `PosWR` is more restrictive.
  gen/libdir/forbidden.conf
Due: none

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[catalogue] Fix tests in aarch64-vmsa after #1588
  catalogue/aarch64-VMSA/tests/2+2WNExpExp+NExpExp+DMBST+DMBST.litmus
  catalogue/aarch64-VMSA/tests/D15347-2+2WExpNExp+DMBST+DSB-ISB.litmus
  catalogue/aarch64-VMSA/tests/V2I+VMALL.litmus
  catalogue/aarch64-VMSA/tests/V2I.litmus
Due: make-test

[herd, litmus] Add support for AArch64 IRG instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.MTE/Y001.litmus
  herd/tests/instructions/AArch64.MTE/Y001.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y002.litmus
  herd/tests/instructions/AArch64.MTE/Y002.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y003.litmus
  herd/tests/instructions/AArch64.MTE/Y003.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y004.litmus
  herd/tests/instructions/AArch64.MTE/Y004.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y005.litmus
  herd/tests/instructions/AArch64.MTE/Y005.litmus.expected
  herd/tests/instructions/AArch64.MTE/Y014.litmus
  herd/tests/instructions/AArch64.MTE/Y014.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/stateParser.mly
  litmus/AArch64Compile_litmus.ml
  litmus/libdir/_aarch64/_memtag.c
Due: make-test

added provisional template C file
  litmus/libdir/presi.c
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[aslspec] bug fix: checking expressions for well-formedeness needs to be done before use-def and typechecking
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] typechecking and spec fixes
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/ASTUtils.mli
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/spec.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/doc/variable_name_macros.tex
Due: make-test

[aslspec] addressing review comments
  asllib/aslspec/error.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/utils.ml
Due: make-test

[aslspec] fix a latex-related rendering issue with custom operators
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/operators.expected
Due: make-test

[aslspec] fixed bugs in handling (nested) naming of relation arguments
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/error.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/run.t
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/asl.spec
  aslspec_translation_assistant.md
Due: none

[aslspec] added basic support for multi-case matching expressions
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/BaseValues.tex
  asllib/doc/asl.spec
Due: none

[aslspec] added basic support for multi-case matching expressions
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
  asllib/aslspec/spec.mli
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/asl.spec
Due: none

[aslspec] added a new kind of expression for record updates
  asllib/aslspec/AST.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/error.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalPragmas.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/asl.spec
  aslspec_translation_assistant.md
  translation_worklist.md
Due: none

[aslspec] bug fix: allow variants referencing a constructor label (like True)
  asllib/aslspec/spec.ml
Due: make-test

[asl][reference] translated relation rules to aslspec
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/asl.spec
  asllib/doc/variable_name_macros.tex
  aslspec_translation_assistant.md
  translation_worklist.md
Due: none
