Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[gen] Process before/after predicates during diy7 search
  gen/alt.ml
  gen/tests/diy-basic-check.t
Due: make-test

[gen] refactor DumpAll test preparation
  gen/alt.ml
  gen/common/edge.ml
  gen/dumpAll.ml
  gen/dumpAll.mli
Due: make-test

[gen] Precompute adjacency and budget checks in diy7 cycle search
  gen/alt.ml
  gen/common/edge.ml
Due: make-test

[gen] Strengthen forbidden.conf for less locally-order-before litmus tests.
  gen/libdir/forbidden.conf
Due: none

[gen] Add `ExpObs`,`InpObs` and `ExpInpObs` wildcard for ext- int- and both-type- communication.
  gen/cat2config/translation.ml
  gen/common/code.ml
  gen/common/code.mli
  gen/common/edge.ml
  gen/final.ml
  gen/namer.ml
Due: make-test

[gen] Strenth the baseline configuration by before and after predicate.
  gen/libdir/forbidden.conf
Due: none

[gen] add back Amo.StAdd and Amo.LdAdd in baseline configuration file.
  gen/libdir/forbidden.conf
Due: none

[gen] Update CI due to the new version of baseline.
  gen/tests/baseline-size-4.cycle.expected
Due: none

[gen] Add more none fault checks.
  gen/cycle.ml
Due: make-test

[gen] Add AArch64 MemTag generator config
  gen/libdir/memtag.conf
Due: none

[gen] Move label reset to the begining of cycle building.
  gen/cycle.ml
  gen/top_gen.ml
Due: make-test

[gen] Add more rmw to match memory access in `forbidden.conf`.
  gen/libdir/forbidden.conf
Due: none

[gen] restrict read value checks to communication-adjacent events
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
Due: make-test

[asl] Add `error_handling_time` to various interpreter errors
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/static-assertion.asl
  asllib/tests/regressions.t/static-bad-primitive.asl
  asllib/tests/regressions.t/static-looplimit.asl
  asllib/tests/regressions.t/static-negative-array-length.asl
  asllib/tests/regressions.t/static-unreachable.asl
Due: make-test

[internal] remove protect and negate from Fun
  internal/herd_catalogue_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/base.ml
  internal/lib/base.mli
  internal/lib/command.ml
  internal/lib/tests/base_test.ml
  internal/lib/tests/log_test.ml
Due: make-test

[internal] replace new_temp_dir
  internal/lib/filesystem.ml
Due: make-test

[herd] allow rules to include libdir and tests/instructions
  herd/dune
Due: make-test

[litmus] Add smoke tests for litmus
  .pre-commit-config.yaml
  herdtools7.opam
  litmus/tests/AArch64.kvm/A001.t
  litmus/tests/AArch64.kvm/A005.t
  litmus/tests/AArch64.kvm/dune
  litmus/tests/AArch64/A04.t
  litmus/tests/AArch64/dune
  litmus/tests/X86_64/A009.t
  litmus/tests/X86_64/dune
Due: make-test, opam-lint

[litmus] exclude cross-compilation tests from @runtest alias
  asllib/aslspec/dune-project
  asllib/dune-project
  dune-project
  litmus/tests/cross/AArch64/dune
Due: make-test

[litmus] Cross-architecture tests Proof of Concept
  litmus/tests/cross/AArch64/A04.t
  litmus/tests/cross/AArch64/dune
  litmus/tests/cross/readme.md
Due: make-test

[gen] Precompute adjacency and budget checks in diy7 cycle search
  gen/alt.ml
Due: make-test

[gen] test default diy7 cycle generation
  Makefile
  gen/tests/default.conf
  gen/tests/default.cycle.expected
  gen/tests/uni.conf
  gen/tests/uni.cycle.expected
Due: none

[litmus] Include all observed location in presi mode hastable
  litmus/libdir/_hash.c
  litmus/libdir/_instance.c
  litmus/preSi.ml
Due: make-test

[litmus] Fix the definition of double sense barrier
  litmus/libdir/_riscv/barrier.c
Due: none

[internal] Separate handling for promoting and testing herd wrappers
  internal/herd_diycross_regression_test.ml
  internal/herd_regression_test.ml
  internal/lib/testHerd.ml
  internal/lib/testHerd.mli
Due: make-test

[internal][breaking] Unify interface for test_herd and test_promote
  internal/herd_promote.ml
  internal/herd_regression_test.ml
  internal/herd_test.ml
  internal/lib/args.ml
  internal/lib/args.mli
  internal/lib/testHerd.ml
Due: make-test

[internal] add List.split_when
  internal/lib/base.ml
  internal/lib/base.mli
  internal/lib/tests/base_test.ml
Due: make-test

[tools][breaking] Change interface of mapply
  doc/Makefile
  internal/lib/testHerd.ml
  tools/mapply.ml
Due: make-test

[tools] Move litmus parameter of for mapply calls
  internal/herd_promote.ml
  internal/herd_test.ml
  internal/lib/args.ml
  internal/lib/args.mli
  tools/mapply.ml
Due: make-test

[internal] herd_promote debug printing is a bit more explicit
  internal/herd_promote.ml
Due: make-test

[herd,riscv] Signed and unsigned extensions of size 64 avoided.
  herd/RISCVSem.ml
  herd/tests/instructions/RISCV/A024.litmus
  herd/tests/instructions/RISCV/A024.litmus.expected
  herd/tests/instructions/RISCV/A025.litmus
  herd/tests/instructions/RISCV/A025.litmus.expected
Due: make-test

[gen] introduce structured AArch64 access atoms
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Add structured AArch64 atom comparison
  gen/common/AArch64Arch_gen.ml
  gen/common/atom.mli
  gen/noSIMD.ml
Due: make-test

[gen] Use structured atoms for data-dependent PTE stores
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Delegate AArch64 mixed-size handling to structured atoms
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Finish structured atom migration in AArch64 access compilation
  gen/AArch64Compile_gen.ml
  gen/cat2config/translation.ml
  gen/common/AArch64Arch_gen.ml
  gen/tests/AArch64.morello/reject-single-write-cs-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-cs-amo-swp.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-swp.litmus
Due: make-test

[gen] Use structured atoms for MemTag accesses
  gen/AArch64Compile_gen.ml
Due: make-test

[gen] Use structured atoms for non-dependent vector accesses
  gen/AArch64Compile_gen.ml
  gen/tests/AArch64.morello/reject-single-write-cs-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-cs-amo-swp.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-cas.litmus
  gen/tests/AArch64.morello/reject-single-write-ct-amo-swp.litmus
Due: make-test
