Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asllib][doc] Add some line breaks in long interference rule premises
  asllib/doc/ASLFormal.tex
Due: none

[asl][doc] Package mathpartir fix.
  asllib/doc/mathpartir.hva
Due: none

[asllib][doc] Change a few commands Replace some TeX code by more LaTeX-like source for the sake or hevea compatibility.
  asllib/doc/ASLmacros.tex
Due: none

[asllib][doc][html] Fix \xrightarrow in text mode
  asllib/doc/macros.hva
Due: none

[asllib][doc] Remove duplicated prose about examples
  asllib/doc/asl.spec
Due: none

[asl][doc] Improve `zyva.sh`
  asllib/doc/zyva.sh
Due: none

[asllib][doc][html] Detail
  asllib/doc/ASLmacros.tex
Due: none

[asllib][doc] Fix some bad text element nesting.
  asllib/doc/LexicalStructure.tex
  asllib/doc/macros.hva
Due: none

[asllib][doc][html] Remove some annoying underscores
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Types.tex
Due: none

[aslib][doc][html] Fix the few last warnings
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Specifications.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/macros.hva
Due: none

[asllib][doc][html] Introduce line breaks in mathpartir constructs
  asllib/doc/BaseValues.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Types.tex
  asllib/doc/macros.hva
Due: none

[asllib][doc][html] Change default bhaviour: sh ./zyva now iterates hevea.
  asllib/doc/zyva.sh
Due: none

[asl][reference] a linter for aslling file paths + fixes
  asllib/doc/Expressions.tex
  asllib/doc/Specifications.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] added (disabled) hva macro before line breaks in inference rules
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: none

[aslspec] emit hva macro before line breaks in inference rules
  asllib/aslspec/render.ml
  asllib/aslspec/tests.t/operators.expected
Due: make-test

[gen] `-stdout` becomes flag rather than boolean argument.
  gen/common/config.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
Due: make-test

[asl] A few configuration changes to allow packaging aslref as an opam package (#1662)
  .gitignore
  asllib/aslspec/dune
  asllib/aslspec/dune-project
  asllib/dune-project
  dune-project
  gen/cat2config/test/dune
Due: make-test

[aslref] Bump aslref version
  asllib/dune-project
Due: make-test

[aslref] Bump aslref version (#1666)
  asllib/dune-project
Due: make-test

[opam] Fixing assignment to various packages
  asllib/aslspec/dune-project
  asllib/tests/dune
  herdtools7.opam
  internal/lib/tests/dune
Due: make-test, opam-lint

[aslref] Preparing release 1.0~draft.2
  asllib/dune-project
Due: make-test

[aslspec] Fix synopsis in aslspec package
  asllib/aslspec/dune-project
Due: make-test

[asl] Update build instructions in `README.mld`
  asllib/README.mld
Due: make-test

[gen] Make the `moreedges` by default in `fence`.
  gen/common/AArch64Arch_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  lib/AArch64Base.ml
Due: make-test

[gen] Add `ifetch` and `vmsa` variant as alias for `self` and `kvm`.
  gen/common/variant_gen.ml
Due: make-test

[gen] Remove `fullkvm` and combined annotation in kvm.
  gen/common/AArch64Arch_gen.ml
  gen/common/config.ml
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
Due: make-test

[gen] enable edges `DC.CVAU*` only in ifetch variant.
  gen/common/AArch64Arch_gen.ml
Due: make-test

[gen] Add automatic "variant= .. " in the prelude in generated test.
  gen/CCompile_gen.ml
  gen/builder.mli
  gen/common/variant_gen.ml
  gen/common/variant_gen.mli
  gen/top_gen.ml
Due: make-test

[gen] Use SimpleDumper to print out litmus tests.
  gen/CCompile_gen.ml
  gen/common/archExtra_gen.ml
  gen/final.ml
  gen/run_gen.ml
  gen/top_gen.ml
Due: make-test

[gen] use shorter syntax in baseline diy7 configuration file.
  gen/libdir/forbidden.conf
Due: none

[AARCH-24987,herd] Relax the definition bob in relation to Fault Effects.
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24987/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24987/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24987/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24987/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24987/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24987/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24987/tests/@all
  catalogue/aarch64-oban/aarch-24987/tests/MP+dmb.st+poplv0-pola.litmus
  catalogue/aarch64-oban/aarch-24987/tests/S+tlbi-sync.ishptedb1p+popl.litmus
  catalogue/aarch64-oban/aarch-24987/tests/kinds.txt
Due: make-test

[ci] Update fix-minimal-ci to run on some PRs
  .github/workflows/check-opam-minimals.yml
Due: none

[ci] Revert use of environment variables to run opam install
  .github/workflows/check-opam-minimals.yml
Due: none

[AARCH-24989,herd] Remove lfs from lob in aarch64hwreqs.cat
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64bbm.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64deps.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64fences.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64hwreqs.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64loc.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64memattrs.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64show.cat
  catalogue/aarch64-oban/aarch-24989/libdir/aarch64util.cat
  catalogue/aarch64-oban/aarch-24989/libdir/catdefinitions.tex
  catalogue/aarch64-oban/aarch-24989/libdir/cos-no-opt.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cos-ok-opt.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cos.cat
  catalogue/aarch64-oban/aarch-24989/libdir/cross.cat
  catalogue/aarch64-oban/aarch-24989/libdir/enumerations.cat
  catalogue/aarch64-oban/aarch-24989/libdir/stdlib.cat
  catalogue/aarch64-oban/aarch-24989/tests/@all
  catalogue/aarch64-oban/aarch-24989/tests/MP+tlbi-sync.ishaptedb1p+poa.litmus
  catalogue/aarch64-oban/aarch-24989/tests/MP+tlbi-sync.ishaptev1p+poa.litmus
  catalogue/aarch64-oban/aarch-24989/tests/kinds.txt
Due: make-test

[catalogue] Revamp the aarch64-ETS2 catalogue
  catalogue/aarch64-ETS2/shelf.py
  catalogue/aarch64-ETS2/tests
  catalogue/aarch64-ETS2/tests/CoWR0+posptev1p-fripptev1.litmus
  catalogue/aarch64-ETS2/tests/CoWR0+tlbi-sync.ishsptedb1p-fripptedb1.litmus
  catalogue/aarch64-ETS2/tests/CoWR0+tlbi-sync.ishsptev0p-fripptev0.litmus
  catalogue/aarch64-ETS2/tests/CoWW+tlbi-sync.ishsptedb1p-coipptedb1.litmus
  catalogue/aarch64-ETS2/tests/CoWW+tlbi-sync.ishspteoap-coippteoa.litmus
  catalogue/aarch64-ETS2/tests/MP+dsb.stpptehd+popteap.litmus
  catalogue/aarch64-ETS2/tests/MP+poptev1l+po.litmus
  catalogue/aarch64-ETS2/tests/SB+dmb.stptev0p+tlbi-sync.ishptev0p.litmus
Due: make-test, lint-shelves

[aslspec] introduced variadic qualifier to operator definitions
  asllib/aslspec/AST.ml
  asllib/aslspec/SpecLexer.mll
  asllib/aslspec/SpecParser.mly
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/operators.spec
  asllib/doc/asl.spec
Due: make-test

[aslspec] switched bound_variable from type to a constant identifier
  asllib/aslspec/builtins.spec
  asllib/aslspec/spec.ml
  asllib/aslspec/tests.t/hello.expected
  asllib/aslspec/tests.t/operators.expected
  asllib/aslspec/tests.t/relations.expected
  asllib/aslspec/tests.t/rule.expected
  asllib/aslspec/tests.t/typedefs.expected
  asllib/doc/asl.spec
Due: make-test

[aslspec] relocated layout-related error within module
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] refactored record field data type
  asllib/aslspec/AST.ml
  asllib/aslspec/ASTUtils.ml
  asllib/aslspec/PP.ml
  asllib/aslspec/render.ml
  asllib/aslspec/spec.ml
Due: make-test

[aslspec] module cosmetics
  asllib/aslspec/AST.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
