Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[herd] Another organisation of spurious AF updates.
  herd/AArch64Sem.ml
  herd/mem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd] Fix bug triggered by environment optimisation.
  herd/eventsMonad.ml
Due: make-test

[herd] New 'iico' value for the `-optace <tag>` command line setting.
  herd/herd.ml
  herd/lexConf_herd.mll
  herd/mem.ml
  herd/memUtils.ml
  herd/model.ml
  herd/model.mli
  herd/modelUtils.ml
  herd/optAce.ml
  herd/optAce.mli
  herd/opts.mli
  herd/semExtra.ml
  herd/slrc11.ml
Due: make-test

[herd] Fix dependencies of DB intra-instruction update.
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Double branch (#240)
  herd/AArch64Sem.ml
  herd/ARMSem.ml
  herd/MIPSSem.ml
  herd/PPCSem.ml
  herd/RISCVSem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/herd.ml
  herd/lexConf_herd.mll
  herd/machAction.ml
  herd/mem.ml
  herd/memUtils.ml
  herd/model.ml
  herd/model.mli
  herd/modelUtils.ml
  herd/monad.mli
  herd/optAce.ml
  herd/optAce.mli
  herd/opts.mli
  herd/semExtra.ml
  herd/slrc11.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[litmus] KVM, AArch64, use SWP instruction to set page table entries
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/preSi.ml
Due: make-test

[litmus] KVM, AArch64, ARMv8.0 machines have no SWP instructions.
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/kvm-aarch64.cfg
  litmus/preSi.ml
Due: make-test

[www] Followup to optace type change.
  herd-www/jerd.ml
  herd-www/www/jerd_driver.js
Due: make-test

[www] Update aarch64 model
  catalogue/aarch64/cats/aarch64-v06.cat
  catalogue/aarch64/shelf.py
Due: lint-shelves

[www] Update mixed-size cat models (as links to aarch64 models)
  catalogue/aarch64-mixed/cats/aarch64-v04.cat
  catalogue/aarch64-mixed/cats/aarch64-v05.cat
  catalogue/aarch64-mixed/cats/aarch64-v06.cat
  catalogue/aarch64-mixed/shelf.py
Due: lint-shelves

[www] Update MTE cat model (as a link to the last aarch64 model).
  catalogue/aarch64-MTE-mixed/cats/aarch64-MTE-mixed.cat
  catalogue/aarch64-MTE/cats/aarch64-MTE.cat
Due: none

[www] Update MTE-mixed models (cats is a link to non-mixed cats directory).
  catalogue/aarch64-MTE-mixed/cats
  catalogue/aarch64-MTE-mixed/shelf.py
Due: lint-shelves

[tests] Slighlty change test for litmus to accept it.
  herd/tests/instructions/AArch64.mixed/M001.litmus
  herd/tests/instructions/AArch64.mixed/M001.litmus.expected
Due: make-test

[lib]: STR Inline barrel shifters in AArch64.
  gen/AArch64Compile_gen.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.mixed/A12.litmus
  herd/tests/instructions/AArch64.mixed/A12.litmus.expected
  herd/tests/instructions/AArch64.mixed/A14.litmus
  herd/tests/instructions/AArch64.mixed/A14.litmus.expected
  herd/tests/instructions/AArch64.mixed/M002.litmus
  herd/tests/instructions/AArch64.mixed/M002.litmus.expected
  herd/tests/instructions/AArch64.mixed/M003.litmus
  herd/tests/instructions/AArch64.mixed/M003.litmus.expected
  herd/tests/instructions/AArch64.mixed/M004.litmus
  herd/tests/instructions/AArch64.mixed/M004.litmus.expected
  herd/tests/instructions/AArch64.mixed/M005.litmus
  herd/tests/instructions/AArch64.mixed/M005.litmus.expected
  herd/tests/instructions/AArch64.mixed/M006.litmus
  herd/tests/instructions/AArch64.mixed/M006.litmus.expected
  herd/tests/instructions/AArch64/A10.litmus
  herd/tests/instructions/AArch64/A10.litmus.expected
  herd/tests/instructions/AArch64/L015.litmus
  herd/tests/instructions/AArch64/L015.litmus.expected
  herd/tests/instructions/AArch64/L016.litmus
  herd/tests/instructions/AArch64/L016.litmus.expected
  herd/tests/instructions/AArch64/L017.litmus
  herd/tests/instructions/AArch64/L017.litmus.expected
  herd/tests/instructions/AArch64/L018.litmus
  herd/tests/instructions/AArch64/L018.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Sets PTEAF0 and PTEDB0 also include writes.
  herd/machAction.ml
Due: make-test

[herd] Bound total number of spurious updates.
  herd/herd.ml
  herd/mem.ml
  herd/opts.ml
  herd/opts.mli
Due: make-test

inline variant flag propagated when specified
  herd/parseTest.ml
  herd/tests/instructions/AArch64/M001.litmus
  herd/tests/instructions/AArch64/M001.litmus.expected
Due: make-test

[lib]: Added void ctype
  lib/CType.ml
  lib/CType.mli
Due: make-test

[herd] Introduce the `is_explicit` predicate on events.
  herd/AArch64Arch_herd.ml
  herd/BellAction.ml
  herd/CAction.ml
  herd/action.mli
  herd/event.ml
  herd/eventsMonad.ml
  herd/explicit.ml
  herd/explicit.mli
  herd/machAction.ml
Due: make-test

[herd] KVM, new computation of rmw for ll-sc pairs.
  herd/mem.ml
Due: make-test

[herd]: Added SP Register to AArch64Base
  herd/tests/instructions/AArch64/A172.litmus
  herd/tests/instructions/AArch64/A172.litmus.expected
  herd/tests/instructions/AArch64/A173.litmus
  herd/tests/instructions/AArch64/A173.litmus.expected
  herd/tests/instructions/AArch64/A174.litmus
  herd/tests/instructions/AArch64/A174.litmus.expected
  lib/AArch64Base.ml
Due: make-test

[herd]: CMP (shifted register) barrel shifters
  herd/tests/instructions/AArch64/A164.litmus
  herd/tests/instructions/AArch64/A164.litmus.expected
  herd/tests/instructions/AArch64/A165.litmus
  herd/tests/instructions/AArch64/A165.litmus.expected
  herd/tests/instructions/AArch64/A166.litmus
  herd/tests/instructions/AArch64/A166.litmus.expected
  herd/tests/instructions/AArch64/A167.litmus
  herd/tests/instructions/AArch64/A167.litmus.expected
  lib/AArch64Base.ml
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[lib] AArch64, Fix wrong parsing of LDR/STR like instructions
  lib/AArch64Parser.mly
Due: make-test

[herd] KVM, one-read-one-write update of AF and DB flags.
  herd/AArch64Sem.ml
Due: make-test

[herd] New AArch64 AFDB annotation, combination of AF and DB.
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
Due: make-test

[herd] Suppress the `-variant SwitchPhantom` command-line variant.
  herd/mem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[litmus] KVM, X86_64 complete kvm herde file with definition of set_pte.
  litmus/libdir/_x86_64/kvm-headers.h
Due: none

[litmus] Print minimal statistics in kvm mode.
  litmus/preSi.ml
  litmus/skelUtil.ml
Due: make-test

[herd] Point of divergence (PoD) set restricted to branch conditional events.
  herd/machModelChecker.ml
Due: make-test

[herd] Point of divergence (PoD) set restricted to branch conditional events. (#248)
  herd/machModelChecker.ml
Due: make-test

[herd] One read for all (#247)
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/mem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[all] X86_64 names extended: starting optional '_' allowed.
  lib/X86_64Lexer.mll
Due: make-test

[gen] Add generation of fresh addresses.
  gen/archExtra_gen.ml
Due: make-test

[gen] Add edge ClFlushOther to X86_64 vocabulary.
  gen/X86_64Arch_gen.ml
  gen/X86_64Compile_gen.ml
Due: make-test

Test release
  CHANGES.txt
  herdtools7.opam
Due: opam-lint

[litmus] Eliminate ifdefs for fprintf(stderr, ..) in KVM
  litmus/libdir/_hash.c
  litmus/libdir/_main.c
  litmus/libdir/_presi.c
  litmus/libdir/_presi.h
  litmus/preSi.ml
Due: make-test

[litmus] Remove strtol as it is now provided by kvm-unit-tests
  litmus/libdir/_presi.c
Due: none

[litmus] Simplify function choose()
  litmus/preSi.ml
Due: make-test

[litmus] Move default initialization of global_t
  litmus/libdir/_instance.c
  litmus/libdir/_main.c
Due: none
