Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

add pac*, aut* and xpac* to litmus and add fpac: need to fix test.pac
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.PAC/A03.litmus
  herd/tests/instructions/AArch64.PAC/A04.litmus
  herd/tests/instructions/AArch64.PAC/A05.litmus
  herd/tests/instructions/AArch64.PAC/A06.litmus
  herd/tests/instructions/AArch64.PAC/A07.litmus
  herd/tests/instructions/AArch64.PAC/A10.litmus
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
  litmus/libdir/kvm-m1.cfg
  litmus/preSi.ml
  pac_tests/Makefile
  pac_tests/build/example.svg
  pac_tests/build/example1.dot
  pac_tests/build/example1.ps
  pac_tests/build/example1.tar
  pac_tests/build/example1/Makefile
  pac_tests/build/example1/README.txt
  pac_tests/build/example1/example1.c
  pac_tests/build/example1/kvm-headers.h
  pac_tests/build/example1/kvm_timeofday.c
  pac_tests/build/example1/kvm_timeofday.h
  pac_tests/build/example1/litmus_rand.c
  pac_tests/build/example1/litmus_rand.h
  pac_tests/build/example1/run.sh
  pac_tests/build/example1/show.awk
  pac_tests/build/example1/utils.c
  pac_tests/build/example1/utils.h
  pac_tests/build/example3.tar
  pac_tests/example1.litmus
  pac_tests/example3.litmus
Due: make-test

[herd] BPF: Add support for website
  catalogue/bpf/cfgs/new-web.cfg
  catalogue/bpf/shelf.py
  herd-www/Makefile
  herd-www/www/index.html
Due: lint-shelves

[asl] Allow ASL arch to display bitvectors as hexa
  herd/ASLAction.ml
  herd/ASLSem.ml
  lib/ASLScalar.ml
Due: make-test

[asl][reference] Added 'Top Level' chapter and refactored the 'Specifications' chapter
  asllib/Interpreter.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Typing.ml
  asllib/builder.ml
  asllib/bundler.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/Syntax.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/introduction.tex
  asllib/gparser0.ml
  asllib/instrumentation.ml
  asllib/tests/ASLDefinition.t/spec3.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.CatchNoThrow.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  herd/ASLSem.ml
Due: make-test

[asl][reference] various fixes and improvements
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Expressions.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Slicing.tex
Due: none

[asl] Rename `UNKNOWN` to `ARBITRARY`
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/Lexer.mll
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Parser0.mly
  asllib/Serialize.ml
  asllib/Tokens.mly
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/carpenter/config.ml
  asllib/instrumentation.ml
  asllib/types.ml
Due: make-test

[asl] Update tests for `ARBITRARY`
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EArbitraryInteger0.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EArbitraryInteger3.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EArbitraryIntegerRange3-42-3.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EArbitraryIntegerRange3-42-42.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ECondARBITRARY3or42.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EUnknownInteger0.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/expr1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BuiltinExceptionType.asl
  asllib/tests/division.t/static-div-intervals.asl
  asllib/tests/division.t/static-div-undiv-ter.asl
  asllib/tests/division.t/static-mod-intervals.asl
  asllib/tests/lca.t
  asllib/tests/regressions.t/array-lca.asl
  asllib/tests/regressions.t/constrained-integer-types-example.asl
  asllib/tests/regressions.t/pstate-exp.asl
  asllib/tests/typing.t/HExample1.asl
  asllib/tests/typing.t/HExample13.asl
  asllib/tests/typing.t/HExample14.asl
  asllib/tests/typing.t/HExample2.asl
  asllib/tests/typing.t/HExample5.asl
  asllib/tests/typing.t/TNegative10-1.asl
  asllib/tests/typing.t/TNegative6.asl
  asllib/tests/typing.t/TPositive10-0.asl
  asllib/tests/typing.t/TPositive10.asl
  asllib/tests/typing.t/TPositive6.asl
  herd/libdir/asl-pseudocode/patches.asl
  herd/tests/instructions/ASL/unknown.litmus
  herd/tests/instructions/ASL/unknown.litmus.expected
Due: make-test

[asl][reference] Rename `UNKNOWN` to `ARBITRARY`
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/Semantics.tex
  asllib/doc/Specifications.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeDomains.tex
Due: none

[asl][reference] Add new prose about `ARBITRARY`
  asllib/doc/Expressions.tex
Due: none

[herd] Add support for SVC instruction
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64/A259.litmus
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/faultType.ml
  lib/faultType.mli
  litmus/AArch64Compile_litmus.ml
Due: make-test

start do write a note about memory models and PAC
  herd/AArch64Sem.ml
  pac_tests/Makefile
  pac_tests/build/example.svg
  pac_tests/build/example1.dot
  pac_tests/build/example1.tar
  pac_tests/build/example1/Makefile
  pac_tests/build/example1/README.txt
  pac_tests/build/example1/example1.c
  pac_tests/build/example1/kvm-headers.h
  pac_tests/build/example1/kvm_timeofday.c
  pac_tests/build/example1/kvm_timeofday.h
  pac_tests/build/example1/litmus_rand.c
  pac_tests/build/example1/litmus_rand.h
  pac_tests/build/example1/run.sh
  pac_tests/build/example1/show.awk
  pac_tests/build/example1/utils.c
  pac_tests/build/example1/utils.h
  pac_tests/build/example3.tar
  pac_tests/build/example3/Makefile
  pac_tests/build/example3/README.txt
  pac_tests/build/example3/example3.c
  pac_tests/build/example3/kvm-headers.h
  pac_tests/build/example3/kvm_timeofday.c
  pac_tests/build/example3/kvm_timeofday.h
  pac_tests/build/example3/litmus_rand.c
  pac_tests/build/example3/litmus_rand.h
  pac_tests/build/example3/run.sh
  pac_tests/build/example3/show.awk
  pac_tests/build/example3/utils.c
  pac_tests/build/example3/utils.h
  pac_tests/build/example7.dot
  pac_tests/build/example7.ps
  pac_tests/build/example8.dot
  pac_tests/build/example8.ps
  pac_tests/example5.litmus
  pac_tests/example6.litmus
  pac_tests/example7.litmus
  pac_tests/example8.litmus
  pac_tests/notes_wm.md
Due: make-test

fix mermaid graphs in notes_wm.md
  pac_tests/notes_wm.md
Due: none

[asl] Use side-effects to check config time uses.
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/side-effects.t/config-uses-atc.asl
  asllib/tests/side-effects.t/config-uses-config-through-func.asl
  asllib/tests/side-effects.t/config-uses-config.asl
  asllib/tests/side-effects.t/config-uses-constant-through-func.asl
  asllib/tests/side-effects.t/config-uses-constant.asl
  asllib/tests/side-effects.t/config-uses-let-through-func.asl
  asllib/tests/side-effects.t/config-uses-let.asl
  asllib/tests/side-effects.t/config-uses-local-constant.asl
  asllib/tests/side-effects.t/config-uses-local-let.asl
  asllib/tests/side-effects.t/config-uses-local-var.asl
  asllib/tests/side-effects.t/config-uses-unknown.asl
  asllib/tests/side-effects.t/config-uses-var-through-func.asl
  asllib/tests/side-effects.t/config-uses-var.asl
  asllib/tests/side-effects.t/run.t
Due: make-test

[asl] Change error message to provide more details to the user
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Improve handling of recursive functions
  asllib/SideEffect.ml
  asllib/Typing.ml
Due: make-test

[asl] Allow ordering binops do not need no concurrent accesses.
  asllib/StaticEnv.ml
  asllib/Typing.ml
  asllib/tests/side-effects.t/bool-binop-write-write.asl
  asllib/tests/side-effects.t/run.t
Due: make-test

[asl] Forbid ATC <> throw concurrently
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/tests/atcs.t
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/setter_bitfields.asl
  asllib/tests/side-effects.t/binop-throw-atc.asl
  asllib/tests/side-effects.t/binop-write-atc.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Remove recursive calls in global
  asllib/SideEffect.ml
  asllib/Typing.ml
Due: make-test

[asl] Recursive calls are just the unknown until resovled
  asllib/SideEffect.ml
  asllib/tests/ASLDefinition.t/spec3.asl
Due: make-test

[asl] Add 3 more tests for `for` loops
  asllib/tests/side-effects.t/for-read-throw.asl
  asllib/tests/side-effects.t/for-throw-throw.asl
  asllib/tests/side-effects.t/for-write-throw.asl
  asllib/tests/side-effects.t/run.t
Due: none

[asl] Make for bounds pure
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/atcs.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/for-throw-throw.asl
  asllib/tests/side-effects.t/for-throw.asl
  asllib/tests/side-effects.t/for-write.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

update notes_wm.md
  pac_tests/Makefile
  pac_tests/build/example.svg
  pac_tests/example1.litmus
  pac_tests/notes_wm.md
Due: make-test

[asl] Add more tests
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/tests/side-effects.t/assert-atc.asl
  asllib/tests/side-effects.t/assert-read.asl
  asllib/tests/side-effects.t/assert-throw.asl
  asllib/tests/side-effects.t/assert-write.asl
  asllib/tests/side-effects.t/for-read-write-global.asl
  asllib/tests/side-effects.t/for-read.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/side-effects.t/type-read-config.asl
  asllib/tests/side-effects.t/type-read-constant.asl
  asllib/tests/side-effects.t/type-read-let.asl
  asllib/tests/side-effects.t/type-read-local-let.asl
  asllib/tests/side-effects.t/type-read-local.asl
  asllib/tests/side-effects.t/type-read.asl
  asllib/tests/side-effects.t/type-write.asl
Due: make-test

[asl] Even more tests for side-effects
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/tests/side-effects.t/assert-unknown.asl
  asllib/tests/side-effects.t/constant-rec.asl
  asllib/tests/side-effects.t/for-unknown.asl
  asllib/tests/side-effects.t/rec-assert-throw.asl
  asllib/tests/side-effects.t/rec-assert.asl
  asllib/tests/side-effects.t/rec-binop-atc-throw.asl
  asllib/tests/side-effects.t/rec-binop-atc.asl
  asllib/tests/side-effects.t/rec-binop-read-local.asl
  asllib/tests/side-effects.t/rec-binop-read-throw.asl
  asllib/tests/side-effects.t/rec-binop-read-write.asl
  asllib/tests/side-effects.t/rec-binop-read.asl
  asllib/tests/side-effects.t/rec-binop-unknown.asl
  asllib/tests/side-effects.t/rec-binop-write-throw.asl
  asllib/tests/side-effects.t/rec-binop-write.asl
  asllib/tests/side-effects.t/rec-constant.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/side-effects.t/type-unknown.asl
Due: make-test

[asl] Update tests and code with recent edits
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/tests/side-effects.t/config-uses-atc.asl
  asllib/tests/side-effects.t/config-uses-var.asl
  asllib/tests/side-effects.t/rec-binop-rec.asl
  asllib/tests/side-effects.t/rec-local-type.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/side-effects.t/type-func-atc.asl
  asllib/tests/side-effects.t/type-func-local-var.asl
  asllib/tests/side-effects.t/type-local-var.asl
  asllib/tests/side-effects.t/type-throw.asl
Due: make-test

[asl] Update to newer terminology.
  asllib/SideEffect.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/atcs.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Generalise time-frame analysis to all AST constructs
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/SideEffect.ml
  asllib/StaticEnv.ml
  asllib/StaticEnv.mli
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/carpenter/RandomAST.ml
  asllib/tests/side-effects.t/constant-func-local-type-global-let.asl
  asllib/tests/side-effects.t/constant-func-local-type-local-let.asl
  asllib/tests/side-effects.t/constant-func-sig-let.asl
  asllib/tests/side-effects.t/run.t
  asllib/tests/types.ml
  asllib/types.ml
Due: make-test

[asl] Add SideEffect.mli
  asllib/SideEffect.mli
Due: make-test

[asl] Print raw errors (with backtrace) when backtrace activated.
  asllib/aslref.ml
Due: make-test

add an example in notes_wm.md
  pac_tests/notes_wm.md
Due: none

[asl] Permit usage of `UNKNOWN` behind a flag
  asllib/Lexer.mll
  asllib/aslref.ml
  asllib/builder.ml
  asllib/builder.mli
  asllib/bundler.ml
  herd/ASLParseTest.ml
  lib/ASLBase.ml
Due: make-test

[asl] Introduce "pending constrained integers"
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/inherit-integer-constraints-bad-basic.asl
  asllib/tests/regressions.t/inherit-integer-constraints-bad-tuple.asl
  asllib/tests/regressions.t/inherit-integer-constraints-bad-type.asl
  asllib/tests/regressions.t/inherit-integer-constraints.asl
  asllib/tests/regressions.t/run.t
  asllib/types.ml
Due: make-test

[asl] Update with mutability tracking
  asllib/SideEffect.ml
  asllib/SideEffect.mli
  asllib/Typing.ml
  asllib/tests/side-effects.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl][reference] Add pragma AST, typing and semantics
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/Interpreter.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/TopoSort.ml
  asllib/Typing.ml
  asllib/builder.ml
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/instrumentation.ml
  asllib/tests/pragma.t/pragma.asl
  asllib/tests/pragma.t/pragma_invalid.asl
  asllib/tests/pragma.t/pragma_invalid_stmt.asl
  asllib/tests/pragma.t/run.t
Due: make-test

[asl][reference] Add pending constrained integers
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/Specifications.tex
  asllib/doc/Syntax.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/Types.tex
Due: none

implement control dependency in aut* and canonical address checks, and remove FEAT_CONSTPACFIELD
  herd/AArch64Sem.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
  pac_tests/Makefile
  pac_tests/build/example.svg
  pac_tests/build/example7.dot
  pac_tests/build/example7.ps
  pac_tests/build/example8.dot
  pac_tests/build/example8.ps
  pac_tests/example7.litmus
  pac_tests/example8.litmus
  pac_tests/graph.cfg
Due: make-test

update .gitignore
  .gitignore
  pac_tests/example8.litmus
  pac_tests/main
  pac_tests/main.asm
  pac_tests/main.c
Due: make-test

update .gitignore
  pac_tests/build/example.svg
  pac_tests/build/example7.dot
  pac_tests/build/example7.ps
  pac_tests/build/example8.dot
  pac_tests/build/example8.ps
Due: none

fix pac_tests/notes_vm.md
  herd/AArch64Sem.ml
  pac_tests/Makefile
  pac_tests/example8.litmus
  pac_tests/notes_wm.md
  pac_tests/run.sh
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
