Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

fix: define code_instr in its own module
  herd/archExtra_herd.ml
  herd/loader.ml
  herd/mem.ml
Due: make-test

[herd] implement exec graph rendering into json
  herd/Pretty.ml
Due: make-test

[lib] add yojson dependency and json module
  lib/dune
  lib/json.ml
  lib/json.mli
Due: make-test

fix: add dependency on yojson
  herdtools7.opam
Due: opam-lint

[lib] Add base as an entry point in model parser
  lib/modelParser.mly
Due: make-test

[cat2table] Add skeleton of cat2table tool
  tools/cat2table.ml
  tools/dune
Due: make-test

[cat2table] Add map from ids to definitions
  tools/cat2table.ml
Due: make-test

[lib] Add content caching API for txtLoc
  lib/txtLoc.ml
  lib/txtLoc.mli
Due: make-test

[cat2table] Add parsing of effects from command line
  tools/cat2table.ml
Due: make-test

[internal,herd,lib] Add automatic runner for checking assumptions used by cat2table
  Makefile
  dirs-and-confs.txt
  dune-install.sh
  herd/tests/instructions/AArch64.neon/neon.cfg
  herd/tests/instructions/AArch64.sme/sme.cfg
  herd/tests/instructions/AArch64.sve/sve.cfg
  internal/dune
  internal/herd_assumptions_test.ml
  lib/misc.ml
  lib/misc.mli
  tools/libdir/aarch64_wrapped_primitives.cat
  tools/libdir/aarch64assumptions.cat
Due: make-test

[ca2table] Implement traversal of relation sequences
  tools/cat2table.ml
Due: make-test

[tools] Parse assumptions file and build supersets, intersects and relation extremities
  tools/cat2table.ml
Due: make-test

[cat2table] Implement effect intersection, union and difference
  tools/cat2table.ml
Due: make-test

[tools] Reformat cat2table with ocamlformat
  tools/cat2table.ml
Due: make-test

fix: set explicit libdir for tests
  herd/tests/json-output/MP+tlbi-sync.ishpteoneafp+po.t
  herd/tests/json-output/R+CAS-rfi-ctrl+DMBST.t
  herd/tests/json-output/dune
  herd/tests/json-output/libdir
Due: make-test

fix: suppress herd7 output in cram tests
  herd/tests/json-output/MP+tlbi-sync.ishpteoneafp+po.t
  herd/tests/json-output/R+CAS-rfi-ctrl+DMBST.t
Due: none

[asldoc] Prototype translation to HML of ASL Reference
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/macros.hva
  asllib/doc/rendering_macros.hva
  asllib/doc/rendering_macros.sty
  asllib/doc/zyva.sh
Due: none

Faster zyva.sh file for developpement.
  asllib/doc/zyva.sh
Due: none

[doc] Remove hyperlinks local targets, when requested.
  asllib/doc/macros.hva
  asllib/doc/rendering_macros.hva
Due: none

Refactoring the help command, updating the presentation of variant tags
  herd/herd.ml
  herd/variant.ml
  herd/variant.mli
  lib/argUtils.ml
  lib/parseTag.ml
  litmus/litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

Complete variant list + descriptions and typo fix
  herd/herd.ml
  herd/variant.ml
  lib/fault.ml
  lib/precision.ml
  lib/precision.mli
  litmus/variant_litmus.ml
Due: make-test

[gen] Enforce a search order for the starting node in oneloc flag.
  gen/cycle.ml
  gen/dumpAll.ml
  gen/top_gen.ml
Due: make-test

[doc] Case matters for Unix file names.
  asllib/doc/Expressions.tex
  asllib/doc/Specifications.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Types.tex
Due: none

[doc] Add a few symbols
  asllib/doc/macros.hva
Due: none

Fix pipeline errors
  herd/tests/instructions/AArch64/Y006.litmus.expected
  herd/tests/instructions/AArch64/Y007.litmus.expected
  herd/tests/instructions/AArch64/asl.cfg
Due: make-test

[asllib][doc] Define hypertargets for `Cannot{Over,Under}approximate`
  asllib/doc/SymbolicSubsumptionTesting.tex
Due: none

[asl,herd] Bump version to 2025-12
  herd/libdir/asl-pseudocode/Makefile
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/shared_pseudocode.asl.diff
Due: none

[herd] test no noret annotation on LDR
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+dmb.ld.litmus
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+dmb.ld.litmus.expected
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+noret-dmb.ld.litmus
  herd/tests/instructions/AArch64.kvm/MP-I2V+rel+noret-dmb.ld.litmus.expected
Due: make-test

[asl] Add a few system registers to the list of exceptions
  herd/libdir/asl-pseudocode/Makefile
Due: none
