Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[asl] Add new mask syntax to `menhir2bnfc`
  asllib/menhir2bnfc/CvtLexer.ml
Due: make-test

[asl] Support for alternative mask syntax
  asllib/Lexer.mll
  asllib/bitvector.ml
  asllib/bitvector.mli
  asllib/tests/regressions.t/alt-mask-syntax.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl][reference] Document alternative mask syntax
  asllib/doc/ASLmacros.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/dictionary.txt
Due: none

[internal] New `-conf-path` CLO to the catalogue regression tool
  internal/herd_catalogue_regression_test.ml
Due: make-test

[test] Add catalogue tests in ASL mode,
  Makefile
  catalogue/aarch64-pick/cfgs/asl.cfg
  catalogue/aarch64/cfgs/asl.cfg
Due: none

[herd] Print NoAction as Empty
  herd/machAction.ml
Due: make-test

[herd] Add NoAction in one of the execution of a failed CAS
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Avoid redundant execution when CAS fails
  herd/eventsMonad.ml
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h0+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2h2+amo.casa.w0w0-pow0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h0h0-poh0w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syh2w0+amo.casa.h2h2-poh2w0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h0+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0h2+amo.casa.w0w0-pow0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h0h0-poh0h0.litmus.expected
  herd/tests/diycross/AArch64.mixed.strict/MP+dmb.syw0w0+amo.casa.h2h2-poh2h0.litmus.expected
  herd/tests/instructions/AArch64.kvm/A019.litmus.expected
  herd/tests/instructions/AArch64.mixed/M008.litmus.expected
  herd/tests/instructions/AArch64/A242.litmus.expected
  herd/tests/instructions/AArch64/A243.litmus.expected
  herd/tests/instructions/AArch64/A244.litmus.expected
  herd/tests/instructions/AArch64/A245.litmus.expected
  herd/tests/instructions/AArch64/A246.litmus.expected
  herd/tests/instructions/AArch64/L007.litmus.expected
  herd/tests/instructions/AArch64/L056.litmus.expected
  herd/tests/instructions/AArch64/L057.litmus.expected
Due: make-test

[herd] Avoid code replication for aarch64 cas semantics
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[asl+aarch64] Fix noret decode for CAS
  catalogue/aarch64/cfgs/asl.cfg
  herd/AArch64ASLSem.ml
Due: make-test

[herd] Explicit address ports, Java semantics
  herd/JavaSem.ml
Due: make-test

[herd] Explicit address ports, PPC semantics
  herd/PPCSem.ml
  herd/tests/instructions/PPC/A015.litmus
  herd/tests/instructions/PPC/A015.litmus.expected
  herd/tests/instructions/PPC/A016.litmus
  herd/tests/instructions/PPC/A016.litmus.expected
Due: make-test

[herd] Explicit address ports, X86_64 semantics
  herd/X86_64Sem.ml
  herd/modelUtils.ml
Due: make-test

[herd] Explicit address ports, BPF semantics
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/depencency_not_ordered_before.litmus
  catalogue/bpf/tests/kinds.txt
  herd/BPFSem.ml
Due: make-test, lint-shelves

[herd] Explicit address ports, RISCV semantics
  herd/RISCVSem.ml
  herd/tests/instructions/RISCV/A011.litmus
  herd/tests/instructions/RISCV/A011.litmus.expected
  herd/tests/instructions/RISCV/A012.litmus
  herd/tests/instructions/RISCV/A012.litmus.expected
Due: make-test

[herd] Explicit address ports, AArch64 semantics
  catalogue/aarch64-pick/cfgs/asl.cfg
  catalogue/aarch64/cfgs/asl.cfg
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/Pretty.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/libdir/aarch64deps.cat
  herd/libdir/asl.cat
  herd/libdir/stdlib.cat
  herd/machModelChecker.ml
  herd/modelUtils.ml
  herd/monad.mli
  herd/tests/instructions/AArch64.ASL/ADDRDEP01.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP01.litmus.expected
  herd/tests/instructions/AArch64.ASL/ADDRDEP02.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP02.litmus.expected
  herd/tests/instructions/AArch64.ASL/ADDRDEP03.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP03.litmus.expected
  herd/tests/instructions/AArch64.ASL/AMOADDR.litmus
  herd/tests/instructions/AArch64.ASL/AMOADDR.litmus.expected
  herd/tests/instructions/AArch64.ASL/AMODATA.litmus
  herd/tests/instructions/AArch64.ASL/AMODATA.litmus.expected
  herd/tests/instructions/AArch64.ASL/DATADEP.litmus
  herd/tests/instructions/AArch64.ASL/DATADEP.litmus.expected
  herd/tests/instructions/AArch64.ASL/noasl-mixed.cfg
  herd/tests/instructions/AArch64.kvm/A023.litmus
  herd/tests/instructions/AArch64.kvm/A023.litmus.expected
Due: make-test

[herd] Explicit address ports, X86 semantics
  herd/X86Sem.ml
Due: make-test

[herd] Explicit address ports, C semantics
  herd/CSem.ml
Due: make-test

[carpenter] Make carpenter non-buildable for ocaml < 4.14
  asllib/carpenter/config.ml
  asllib/carpenter/dune
Due: make-test

[ci] Run `make test-bnfc` on relevant PRs
  .github/workflows/menhir2bnfc.yml
Due: none

[ci] Add `make test-all` to run workflows
  .github/workflows/build-asl-reference.yml
  .github/workflows/make-test-all.yml
Due: none

[asl][reference] Adding examples
  asllib/doc/doclint.py
Due: none

[asl][reference] automate spellchecking + fixes
  asllib/doc/doclint.py
Due: none

[asl][reference] Adding examples
  asllib/doc/.gitignore
  asllib/doc/ASLmacros.tex
  asllib/doc/Bitfields.tex
  asllib/doc/Expressions.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Statements.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/Types.tex
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ECall.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EGetItem.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.EPattern.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ERecord.asl
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.ESlice.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.ATC.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ApplyBinopTypes.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ApplyBinopTypes.constraints.asl
  asllib/tests/ASLTypingReference.t/TypingRule.ApplyUnopType.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckATC.asl
  asllib/tests/ASLTypingReference.t/TypingRule.CheckConstrainedInteger.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetBadBitField.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetBadField.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetBadRecordField.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetBitfield.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetFields.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EGetRecordField.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EVar.asl
  asllib/tests/ASLTypingReference.t/TypingRule.EVar.undefined.asl
  asllib/tests/ASLTypingReference.t/TypingRule.FindNamedLCA.asl
  asllib/tests/ASLTypingReference.t/TypingRule.LowestCommonAncestor.asl
  asllib/tests/ASLTypingReference.t/TypingRule.Subtype.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction2.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction3.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TArray.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TIntWellConstrained.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TypeClashes.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] automate spellchecking + fixes
  asllib/doc/dictionary.txt
  asllib/doc/doclint.py
Due: none

[asl][reference] Add two examples for subtype-satisfaction
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/dictionary.txt
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction.bad1.asl
  asllib/tests/ASLTypingReference.t/TypingRule.SubtypeSatisfaction.bad2.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] rearranging Guide rules
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] Updated the reference for the changes in #1205
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/Types.tex
Due: none

[test] Extend `make versions` to include OCaml 5.3
  dune-workspace.versions
Due: make-test

[litmus,aarch64] Delete dead code
  litmus/compile.ml
  litmus/libdir/_aarch64/kvm_user_stacks.c
Due: make-test

[litmus,aarch64] ELO mode by vector table.
  herd/tests/instructions/AArch64.kvm/NORUN
  litmus/AArch64Arch_litmus.ml
  litmus/AArch64Compile_litmus.ml
  litmus/ASMLang.ml
  litmus/arch_litmus.mli
  litmus/compile.ml
  litmus/handler.ml
  litmus/handler.mli
  litmus/hardwareExtra.ml
  litmus/hardwareExtra.mli
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/preSi.ml
  litmus/template.ml
Due: make-test

Address some comments.
  gen/AArch64Arch_gen.ml
  gen/AArch64Compile_gen.ml
  gen/archExtra_gen.ml
  gen/cycle.ml
  gen/final.ml
  gen/top_gen.ml
Due: make-test

[asl] Keep track of precision loss in integer constraint arithmetic
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Parser.mly
  asllib/Serialize.ml
  asllib/StaticModel.ml
  asllib/StaticOperations.ml
  asllib/StaticOperations.mli
  asllib/Typing.ml
  asllib/carpenter/ASTEnums.ml
  asllib/carpenter/RandomAST.ml
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/performance.t/run.t
  asllib/tests/typing.t/run.t
  asllib/types.ml
  herd/ASLSem.ml
Due: make-test

[asl][tests] Add tests for constraints size limits
  asllib/tests/constraint-size-limits.t/constraint-div.asl
  asllib/tests/constraint-size-limits.t/constraint-divrm.asl
  asllib/tests/constraint-size-limits.t/constraint-minus.asl
  asllib/tests/constraint-size-limits.t/constraint-mod-half.asl
  asllib/tests/constraint-size-limits.t/constraint-mod.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-00.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-01.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-02.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-03.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-04.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-05.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-06.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-07.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-08.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-09.asl
  asllib/tests/constraint-size-limits.t/constraint-mul-10.asl
  asllib/tests/constraint-size-limits.t/constraint-plus.asl
  asllib/tests/constraint-size-limits.t/constraint-pow.asl
  asllib/tests/constraint-size-limits.t/constraint-shl.asl
  asllib/tests/constraint-size-limits.t/constraint-shr.asl
  asllib/tests/constraint-size-limits.t/global-constraint-div.asl
  asllib/tests/constraint-size-limits.t/global-constraint-divrm.asl
  asllib/tests/constraint-size-limits.t/global-constraint-minus.asl
  asllib/tests/constraint-size-limits.t/global-constraint-mod.asl
  asllib/tests/constraint-size-limits.t/global-constraint-mul.asl
  asllib/tests/constraint-size-limits.t/global-constraint-plus.asl
  asllib/tests/constraint-size-limits.t/global-constraint-pow.asl
  asllib/tests/constraint-size-limits.t/global-constraint-shl.asl
  asllib/tests/constraint-size-limits.t/global-constraint-shr.asl
  asllib/tests/constraint-size-limits.t/global-pending.asl
  asllib/tests/constraint-size-limits.t/pending.asl
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/performance.t/run.t
Due: none

[asl] Permit name clashes between subprograms/variables
  asllib/StaticEnv.ml
  asllib/Typing.ml
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/subprogram-global-name-clash.asl
  asllib/tests/regressions.t/subprogram-local-name-clash.asl
Due: make-test

[asl][reference] Document changes to name clashing
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
Due: none

[asl][refactor] Factor dependency analysis out to its own file
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/DependencyAnalysis.ml
  asllib/DependencyAnalysis.mli
  asllib/TopoSort.ml
  asllib/bundler.ml
Due: make-test
