Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl][typing] Asserting Type Conversion
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Revised definition of domains for types
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Typing Reference Pre-Beta step 2
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/types.ml
Due: make-test

[asl][typing] Massive text replacement with macros
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Relations Over Types
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Annotating bitfields
  asllib/Typing.ml
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

Some work on annotating subprogram calls
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

[asl][typing] Annotating types
  asllib/Typing.ml
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][typing] partial adaptation needed for #848
  asllib/Typing.ml
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][typing] Addressing feedback
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
Due: none

[asl][typing] Typing of Expressions
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

[asl][typing] Progress on Typing Reference (Pre-Beta step 2 (#841))
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
  asllib/types.ml
Due: make-test

WIP
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/machModelChecker.ml
Due: make-test

herd: Linux: add atomic_andnot()
  lib/CLexer.mll
  lib/CParser.mly
Due: make-test

Revert "WIP"
  herd/ASLSem.ml
  herd/libdir/asl-pseudocode/implementations-vmsa.asl
  herd/libdir/asl-pseudocode/implementations.asl
  herd/libdir/asl-pseudocode/patches-vmsa.asl
  herd/machModelChecker.ml
Due: make-test

[asl] Refactoring typing code
  asllib/Typing.ml
Due: make-test

[asl] Refactor function renaming
  asllib/Typing.ml
Due: make-test

[asl] Fix bug in Least Common Ancestor of Array types.
  asllib/tests/regressions.t/array-lca.asl
  asllib/tests/regressions.t/run.t
  asllib/types.ml
Due: make-test

[asl] Update typo in test
  asllib/tests/typing.t/TPositive4-4.asl
  asllib/tests/typing.t/run.t
Due: none

[asl] Check that no duplicate fields in record expressions
  asllib/Typing.ml
  asllib/tests/regressions.t/duplicate_expr_record.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Fix bug with rdiv
  asllib/Typing.ml
  asllib/tests/regressions.t/rdiv_checks.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Rework the lowest-common-type algorithm
  asllib/ASTUtils.mli
  asllib/tests/lca.t
  asllib/types.ml
Due: make-test

[herd] Include test-aarch64-asl in `make test`
  Makefile
Due: none

[herd] Add support for BPF Architecture
  gen/atomize.ml
  gen/atoms.ml
  gen/classify.ml
  gen/diy.ml
  gen/diycross.ml
  gen/diyone.ml
  gen/norm.ml
  herd/BPFArch_herd.ml
  herd/BPFParseTest.ml
  herd/BPFParseTest.mli
  herd/BPFSem.ml
  herd/libdir/bpf.cat
  herd/model.ml
  herd/parseTest.ml
  lib/Archs.ml
  lib/Archs.mli
  lib/BPFBase.ml
  lib/BPFLexer.mli
  lib/BPFLexer.mll
  lib/BPFParser.mly
  lib/dune
  litmus/objUtil.ml
  litmus/option.ml
  litmus/skel.ml
  litmus/top_litmus.ml
  tools/toolParse.ml
Due: make-test

[catalogue] Add litmus tests and a README.md for BPF
  Makefile
  catalogue/bpf/README.md
  catalogue/bpf/cats/bpf.cat
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/CoRR+poonceonce+Once.litmus
  catalogue/bpf/tests/CoRW+poonceonce+Once.litmus
  catalogue/bpf/tests/CoWR+poonceonce+Once.litmus
  catalogue/bpf/tests/CoWW+poonceonce.litmus
  catalogue/bpf/tests/IRIW+fencembonceonces+OnceOnce.litmus
  catalogue/bpf/tests/IRIW+poonceonces+OnceOnce.litmus
  catalogue/bpf/tests/ISA2+poonceonces.litmus
  catalogue/bpf/tests/LB+fcas-addr-once+once-scas.litmus
  catalogue/bpf/tests/LB+fcas-ctrl-once+once-scas.litmus
  catalogue/bpf/tests/LB+fcas-ctrlcvg-once+once-scas.litmus
  catalogue/bpf/tests/LB+fcas-data-once+once-scas.litmus
  catalogue/bpf/tests/LB+poonceonces.litmus
  catalogue/bpf/tests/LockTwice.litmus
  catalogue/bpf/tests/MP+fcas-addr-fcas+scas-scas.litmus
  catalogue/bpf/tests/MP+fcas-ctrl-fcas+scas-scas.litmus
  catalogue/bpf/tests/MP+fcas-data-fcas+scas-scas.litmus
  catalogue/bpf/tests/MP+poonceonces.litmus
  catalogue/bpf/tests/R+fencembonceonces.litmus
  catalogue/bpf/tests/R+poonceonces.litmus
  catalogue/bpf/tests/S+atomiconce+data.litmus
  catalogue/bpf/tests/S+fence+addr.litmus
  catalogue/bpf/tests/S+fence+ctrl-read.litmus
  catalogue/bpf/tests/S+fence+ctrl-write.litmus
  catalogue/bpf/tests/S+fence+data.litmus
  catalogue/bpf/tests/S+onceatomic+data.litmus
  catalogue/bpf/tests/S+poonceonces.litmus
  catalogue/bpf/tests/SB+fence+fail_cmpxchg.litmus
  catalogue/bpf/tests/SB+fence+success_cmpxchg.litmus
  catalogue/bpf/tests/SB+fencembonceonces.litmus
  catalogue/bpf/tests/SB+poonceonces.litmus
  catalogue/bpf/tests/SB+rfionceonce-poonceonces.litmus
  catalogue/bpf/tests/WRC+poonceonces+Once.litmus
  catalogue/bpf/tests/X+addr-reads+corr-writes+data-rw.litmus
  catalogue/bpf/tests/X-test-r2.litmus
  catalogue/bpf/tests/depencency_ordered_before.litmus
  catalogue/bpf/tests/kinds.txt
Due: make-test, lint-shelves

[asl][typing] Typing of Patterns
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

[asl][typing] Typing of Blocks
  asllib/doc/ASLTypingReference.tex
Due: none

[asl][typing] Typing of Expressions
  asllib/Typing.ml
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][typing] Typing of Left-Hand-Side Expressions
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/error.ml
Due: make-test

[asl][typing] Typing of Local Declaration Items
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Typing of Subprograms
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Relations Over Types
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: none

[asl][typing] Typing Expressions
  asllib/Typing.ml
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/instrumentation.ml
Due: make-test

[asl][typing] Typing of Slices
  asllib/Typing.ml
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
Due: make-test

[asl][typing] Typing of Catchers
  asllib/doc/ASLTypingReference.tex
Due: none

[asl][typing] Typing Reference Pre-Beta step 3 (#858)
  asllib/Typing.ml
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLSemanticsReference.tex
  asllib/doc/ASLSyntaxReference.tex
  asllib/doc/ASLTypingReference.tex
  asllib/doc/ASLmacros.tex
  asllib/error.ml
  asllib/instrumentation.ml
Due: make-test

[catalogue] Fix litmus7 warnings for aarch64-mixed
  catalogue/aarch64-mixed/README.md
  catalogue/aarch64-mixed/tests/CoRW2+posq0q0+q0.litmus
  catalogue/aarch64-mixed/tests/CoRW2+posw0w0+w0.litmus
  catalogue/aarch64-mixed/tests/LB+dmb.sy+data-wsi-wsi+MIXED.litmus
  catalogue/aarch64-mixed/tests/MP+QAmo+AcqAmo.litmus
  catalogue/aarch64-mixed/tests/MP+dmb.syw0w4+dataw4w4-rfiw4q0.litmus
  catalogue/aarch64-mixed/tests/MP+popl.w0-posl.w0q0+poa.w4p.litmus
Due: make-test

[asl] Correctly number lines in multiline comments/strings
  asllib/Lexer.mll
  asllib/tests/lexer.t
Due: make-test

[asl] Remove SAssignTuple
  asllib/Interpreter.ml
Due: make-test

[asl] Remove rule SAssignTuple
  asllib/doc/ASLSemanticsReference.tex
  asllib/instrumentation.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
