Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl] Switch to rational model
  asllib/StaticInterpreter.ml
  asllib/tests/division.t
  asllib/tests/static.ml
  asllib/tests/typing.t/run.t
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64.sve/V23.litmus
  herd/tests/instructions/AArch64.sve/V23.litmus.expected
  herd/tests/instructions/AArch64.sve/V24.litmus
  herd/tests/instructions/AArch64.sve/V24.litmus.expected
  herd/tests/instructions/AArch64.sve/V25.litmus
  herd/tests/instructions/AArch64.sve/V25.litmus.expected
  herd/tests/instructions/AArch64.sve/V26.litmus
  herd/tests/instructions/AArch64.sve/V26.litmus.expected
Due: make-test

[litmus] Consider register sizes as types in WHILE<CC> sve instruction
  litmus/AArch64Compile_litmus.ml
Due: make-test

[all] Add some SVE AArch64 instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  lib/metaConst.ml
  lib/metaConst.mli
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Allow "Quad" masks on symbolic addresses
  lib/AArch64Op.ml
  lib/symbValue.ml
Due: make-test

[litmus] Add support for speedcheck parameter for -mode presi
  litmus/libdir/_instance.c
  litmus/libdir/_main.c
  litmus/libdir/_presi.c
  litmus/libdir/_presi.h
  litmus/libdir/_utils.c
  litmus/preSi.ml
Due: make-test

[herd,aarch64] Fix vector ADD instructions
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.neon/V68.litmus
  herd/tests/instructions/AArch64.neon/V68.litmus.expected
  herd/tests/instructions/AArch64.sve/V27.litmus
  herd/tests/instructions/AArch64.sve/V27.litmus.expected
Due: make-test

[herd,aarch64] Fix {u,s}xr_op
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.neon/V67.litmus
  herd/tests/instructions/AArch64.neon/V67.litmus.expected
Due: make-test

[asl] Storing non-resolved values into constant data structures
  herd/ASLSem.ml
  herd/tests/instructions/ASL-pseudo-arch/frozen-tuple-arg.litmus
  herd/tests/instructions/ASL-pseudo-arch/frozen-tuple-arg.litmus.expected
Due: make-test

[asl] Fix let binding of tuple
  asllib/Interpreter.ml
  herd/tests/instructions/ASL-pseudo-arch/return-tuple.litmus
  herd/tests/instructions/ASL-pseudo-arch/return-tuple.litmus.expected
Due: make-test

[herd] Adopt _signed_ 128 bits integers for `-variant neon`.
  herd/AArch64ParseTest.ml
  lib/int128Scalar.ml
  lib/neonValue.ml
Due: make-test

[herd] Add test (and NORUN name file)
  herd/tests/instructions/AArch64.neon/NORUN
  herd/tests/instructions/AArch64.neon/V69.litmus
  herd/tests/instructions/AArch64.neon/V69.litmus.expected
Due: make-test

[gen] Restore default behaviour where -relaxlist is an alias for -safe
  gen/config.ml
Due: make-test

[asl] First draft of side-effect analysis
  asllib/AST.mli
  asllib/ASTUtils.ml
  asllib/ASTUtils.mli
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/PP.ml
  asllib/Serialize.ml
  asllib/SideEffect.ml
  asllib/SideEffectSet.ml
  asllib/StaticEnv.ml
  asllib/StaticEnv.mli
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/typing.t/run.t
Due: make-test

[build] Specify 1.13 as the minimal version for zarith
  herdtools7.opam
Due: opam-lint

[doc] Document command-line option `-relaxlist`
  doc/gen.tex
Due: none

[litmus] Refine synchronisation
  litmus/libdir/_instance.c
  litmus/preSi.ml
Due: make-test

[all]: Add support for SVE fault tolerant instructions
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/tests/instructions/AArch64.sve/V28.litmus
  herd/tests/instructions/AArch64.sve/V28.litmus.expected
  herd/tests/instructions/AArch64.sve/V29.litmus
  herd/tests/instructions/AArch64.sve/V29.litmus.expected
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[test] Add a `test-local` entry.
  Makefile
Due: none

Updates to tests New tests
  asllib/tests/language.t/Ivgsp-3.asl
  asllib/tests/language.t/Ivgsp.asl
  asllib/tests/language.t/Rcgwr-2.asl
  asllib/tests/language.t/Rdgrv-2.asl
  asllib/tests/language.t/Rpnqj-2.asl
  asllib/tests/language.t/Rpnqj.asl
  asllib/tests/language.t/Rqdqd-3.asl
Due: none

[asl] Switch to return 1; as failure indicator
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.SAssertNo.asl
  asllib/tests/language.t/Rfrwd-2.asl
  asllib/tests/language.t/Rfrwd.asl
  asllib/tests/language.t/run.t
Due: none

naturally I forgot to update run.t
  asllib/tests/language.t/Rcgwr-3.asl
  asllib/tests/language.t/run.t
Due: none

[herd] Add `Variant=sve:512` meta data to some tests.
  herd/tests/instructions/AArch64.sve/V23.litmus
  herd/tests/instructions/AArch64.sve/V23.litmus.expected
  herd/tests/instructions/AArch64.sve/V24.litmus
  herd/tests/instructions/AArch64.sve/V24.litmus.expected
  herd/tests/instructions/AArch64.sve/V29.litmus
  herd/tests/instructions/AArch64.sve/V29.litmus.expected
Due: make-test

[herd] Add tests (and NORUN name file for neon)
  herd/tests/instructions/AArch64.neon/NORUN
  herd/tests/instructions/AArch64.neon/V69.litmus
  herd/tests/instructions/AArch64.neon/V69.litmus.expected
  herd/tests/instructions/AArch64.sve/V28.litmus
  herd/tests/instructions/AArch64.sve/V28.litmus.expected
  herd/tests/instructions/AArch64.sve/V29.litmus
  herd/tests/instructions/AArch64.sve/V29.litmus.expected
Due: make-test

[herd] Composite scalars for the neon and SVE variants
  herd/AArch64ASLSem.ml
  herd/AArch64Arch_herd.ml
  herd/AArch64ParseTest.ml
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  lib/ASLScalar.ml
  lib/SVEScalar.ml
  lib/SVEValue.ml
  lib/capabilityScalar.ml
  lib/dune
  lib/extendScalar.ml
  lib/int128Scalar.ml
  lib/int32Scalar.ml
  lib/int64Scalar.ml
  lib/neonScalar.ml
  lib/neonValue.ml
  lib/noPromote.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
  lib/uint128Scalar.ml
  lib/wideScalar.mli
Due: make-test

[herd] Configure SVE vector length
  herd/AArch64ASLParseTest.ml
  herd/AArch64ParseTest.ml
  herd/AArch64Sem.ml
  herd/AArch64Sig.mli
  herd/herd.ml
  herd/opts.ml
  herd/opts.mli
  herd/parseTest.ml
  herd/runTest.ml
  herd/runTest.mli
  herd/variant.ml
  herd/variant.mli
  lib/parseTag.ml
  lib/parseTag.mli
  lib/testVariant.ml
  lib/testVariant.mli
  litmus/litmus.ml
  litmus/top_litmus.ml
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[www] Follow herd small configuration change
  herd-www/jerd.ml
Due: make-test

[herd] Fix credit
  herd/libdir/aarch32.cat
Due: none

[asl] Correctly number lines in multiline comments/strings
  asllib/Lexer.mll
  asllib/tests/lexer.t
Due: make-test

[asl] Remove rule SAssignTuple
  asllib/doc/ASLSemanticsReference.tex
  asllib/instrumentation.ml
Due: make-test

[asl] Remove SAssignTuple
  asllib/Interpreter.ml
Due: make-test

[asl] Refacto declare global storage
  asllib/Typing.ml
Due: make-test

[asl] Reorganize modules in asllib
  asllib/Native.ml
  asllib/Operations.ml
  asllib/StaticInterpreter.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/tests/static.ml
  asllib/types.ml
Due: make-test

[asl] Simplify stdlib Replicate
  asllib/libdir/stdlib.asl
  asllib/tests/division.t/run.t
  asllib/tests/regressions.t/run.t
Due: none

[asl] Work on errors & add tests for division
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/Operations.ml
  asllib/StaticInterpreter.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/division.t
  asllib/tests/division.t/TNegative9-1.asl
  asllib/tests/division.t/TPositive9.asl
  asllib/tests/division.t/div-by-param.asl
  asllib/tests/division.t/div-constants.asl
  asllib/tests/division.t/div-multi-slices-zero.asl
  asllib/tests/division.t/div-multi-slices.asl
  asllib/tests/division.t/dynamic-div-neg.asl
  asllib/tests/division.t/dynamic-div-undiv.asl
  asllib/tests/division.t/dynamic-div-zero.asl
  asllib/tests/division.t/dynamic-divrm-neg.asl
  asllib/tests/division.t/dynamic-divrm-zero.asl
  asllib/tests/division.t/dynamic-mod-neg.asl
  asllib/tests/division.t/dynamic-mod-zero.asl
  asllib/tests/division.t/param-div-2.asl
  asllib/tests/division.t/rat-poly-00.asl
  asllib/tests/division.t/rat-poly-01.asl
  asllib/tests/division.t/run.t
  asllib/tests/division.t/static-div-neg.asl
  asllib/tests/division.t/static-div-undiv.asl
  asllib/tests/division.t/static-div-zero.asl
  asllib/tests/division.t/static-divrm-neg.asl
  asllib/tests/division.t/static-divrm-zero.asl
  asllib/tests/division.t/static-mod-neg.asl
  asllib/tests/division.t/static-mod-zero.asl
  asllib/tests/intersecting_slices.t
  asllib/tests/typing.t/run.t
Due: make-test

[all] Add support for labels as typed rvalues in post-conditions
  herd/tests/instructions/AArch64.kvm/A006.litmus.expected
  herd/tests/instructions/AArch64/A257.litmus.expected
  herd/tests/instructions/AArch64/A258.litmus
  herd/tests/instructions/AArch64/A258.litmus.expected
  lib/CType.ml
  lib/CType.mli
  lib/constant.ml
  lib/stateLexer.mll
  lib/stateParser.mly
  litmus/AArch64Arch_litmus.ml
  litmus/compCond.ml
  litmus/compile.ml
  litmus/constr.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/preSi.ml
  litmus/skel.ml
  litmus/skelUtil.ml
  tools/lexLog_tools.mll
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
