Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-yaml
    -   id: mixed-line-ending

    -   id: end-of-file-fixer
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

    -   id: trailing-whitespace
        # `(?x)` enables multi-line regexps: https://docs.python.org/3/library/re.html#re.X.
        exclude: |
          (?x)(
            # Currently un-fixed directories & files.
            ^(
              lib/|
              litmus/|
              tools/
            )|

            # Vendored files for the Herd web interface.
            ^herd-www/www/(
              ace/|
              BS/|
              FileSaver.min.js|
              fonts/|
              viz.js|
              whhg-font/
            )|

            # Expected files should be left verbatim.
            \.expected(-failure)?$
          )

-   repo: local
    hooks:
    -   id: make-test
        name: Run make test
        language: system
        entry: make test
        files: (dune|\.ml.*$|\.litmus.*$)
        pass_filenames: false

    -   id: opam-lint
        name: opam lint
        language: system
        entry: opam lint
        files: (\.opam$)

    -   id: lint-shelves
        name: Lint Catalogue shelves
        language: system
        entry: internal/run_built_binary lint_shelves
        files: shelf.py$

[Makefile] Add aarch64-readers-guide to cata-test target
  Makefile
  catalogue/aarch64-readers-guide/ci-shelf.py
  catalogue/aarch64-readers-guide/tests/kinds.txt
Due: lint-shelves

[internal/tests] Raise non-zero exit code on fatal error
  internal/herd_catalogue_regression_test.ml
Due: make-test

[gen] Restrict read value checks to communication edges
  gen/cycle.ml
  gen/tests/AArch64.store/LB+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/MP+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/AArch64.store/S+dmb.sy+addrR-pos-store.litmus.expected
  gen/tests/diy-basic-check.t
Due: make-test

[catalogue] Upate the tutorial "panther.cat" model.
  catalogue/tutorial/cats/panther.cat
Due: none

[catalogue] Fix one "tiger" fence test in the tutorial book.
  catalogue/tutorial/tests/sb+fwr+fwr.litmus
Due: make-test

[catalogue] Partly restore the "demo" book.
  catalogue/c11popl15/c11.cat-template
  catalogue/c11popl15/c11_cos.cat
  catalogue/c11popl15/withsc.cat
  catalogue/demo/bells/anarchy.bell
  catalogue/demo/cats/anarchy.cat
  catalogue/demo/cats/basic.cat
  catalogue/demo/cats/c11.cat
  catalogue/demo/cats/ptx.cat
  catalogue/demo/cats/tutorial.cat
  catalogue/demo/cfgs/cpp11.cfg
  catalogue/demo/cfgs/tutorial.cfg
  catalogue/demo/shelf.py
  catalogue/demo/tests/mp-arm+dsb+addr.litmus
  catalogue/demo/tests/mp-arm.litmus
  catalogue/demo/tests/mp-bell.litmus
  catalogue/demo/tests/mp-x86.litmus
Due: make-test, lint-shelves

[catalogue] Fix herding-cats/ppc book
  catalogue/herding-cats/ppc/cats/ppc.cat
Due: none

[herd,cat] Interpret one event `e` as a singleton in `[e]`
  lib/interpreter.ml
Due: make-test

[herd] Check page sizes for vmsa+ifetch
  herd/mem.ml
Due: make-test

Fix a bug in the logic for which pages need translating
  herd/AArch64Sem.ml
  herd/mem.ml
  herd/semExtra.ml
  lib/AArch64PteVal.ml
  lib/AArch64PteVal.mli
  lib/constant.ml
  lib/constant.mli
  lib/misc.ml
  lib/pteVal.ml
  lib/pteVal.mli
Due: make-test

[herd] Mimic Cat code for computing RMW atomic load pairs in OCaml
  herd/mem.ml
  herd/memUtils.ml
  herd/memUtils.mli
Due: make-test

[herd] Add special clause `include $dirname` in configuration file
  doc/herd.tex
  herd/lexConf_herd.mll
Due: make-test

[herd] Supress the variant ConstrainedUnpredictable
  herd/AArch64Sem.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd,asl] Represent RESADDR as a bitvector
  herd/AArch64ASLSem.ml
  lib/ASLOp.ml
Due: make-test

[herd,aarch64, RISCV] LDXR/STXR may succeed on different addresses.
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/RISCVSem.ml
  herd/libdir/asl-pseudocode/physmem-std.asl
  herd/libdir/asl-pseudocode/physmem-vmsa.asl
  herd/tests/instructions/AArch64/L020.litmus
  herd/tests/instructions/AArch64/L020.litmus.expected
  herd/tests/instructions/RISCV/A024.litmus
  herd/tests/instructions/RISCV/A024.litmus.expected
  herd/tests/instructions/RISCV/A025.litmus
  herd/tests/instructions/RISCV/A025.litmus.expected
  herd/tests/instructions/RISCV/A026.litmus
  herd/tests/instructions/RISCV/A026.litmus.expected
  herd/tests/instructions/RISCV/A027.litmus
  herd/tests/instructions/RISCV/A027.litmus.expected
  herd/tests/instructions/RISCV/A028.litmus
  herd/tests/instructions/RISCV/A028.litmus.expected
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd] Add tests
  herd/tests/instructions/AArch64/L020.litmus
  herd/tests/instructions/AArch64/L106.litmus
  herd/tests/instructions/AArch64/L106.litmus.expected
  herd/tests/instructions/AArch64/L107.litmus
  herd/tests/instructions/AArch64/L107.litmus.expected
  herd/tests/instructions/AArch64/L108.litmus
  herd/tests/instructions/AArch64/L108.litmus.expected
  herd/tests/instructions/AArch64/L109.litmus
  herd/tests/instructions/AArch64/L109.litmus.expected
  herd/tests/instructions/AArch64/asl.cfg
Due: make-test

[herd] Save dot/neato output with a shell redirection
  herd/show.ml
Due: make-test

[catalogue/asl] Exclude some SVC-ifetch tests
  catalogue/aarch64-faults/cfgs/asl.cfg
Due: none

[github] Update version of upload-artifact action
  .github/workflows/build-asl-reference.yml
  .github/workflows/check-build-www.yml
  .github/workflows/static-binaries.yml
Due: none

[github] Update version of checkout action
  .github/workflows/build-asl-reference.yml
  .github/workflows/check-build-www.yml
  .github/workflows/check-opam-minimals.yml
  .github/workflows/make-test-all.yml
  .github/workflows/make-test-diy.yml
  .github/workflows/make-test.yml
  .github/workflows/menhir2bnfc.yml
  .github/workflows/run-litmus.yml
  .github/workflows/static-binaries.yml
Due: none

[asl] Misc tidying from looking at errors
  asllib/Operations.ml
  asllib/Typing.ml
  asllib/error.ml
Due: make-test

[asl] Improve diagnostic wording
  asllib/doc/ErrorCodes.tex
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/bad-types.t
  asllib/tests/bitfield-alignment.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/control-flow.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/intersecting_slices.t
  asllib/tests/lca.t
  asllib/tests/lexer-v0.t
  asllib/tests/lexer.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/overriding.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/pragma.t/run.t
  asllib/tests/print.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/typing.t/run.t
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
Due: make-test

[aslref] rebase
  asllib/error.ml
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Report parse errors with BE_PE
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/bad-types.t
  asllib/tests/collections.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[aslref] removed missing test
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

updated semantics test
  asllib/tests/ASLSemanticsReference.t/run.t
Due: none

[asl] Classify empty-type and collection errors
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/collections.t/non-variable-base.asl
  asllib/tests/collections.t/run.t
Due: make-test

[asl] Distinguish ASLv0 and slice errors
  asllib/Native.ml
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/regressions.t/non-positive-bitfield-slice.asl
  asllib/tests/regressions.t/run.t
Due: make-test

[asl] Print error codes from the reference
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/atcs.t
  asllib/tests/bad-types.t
  asllib/tests/bitfield-alignment.t/run.t
  asllib/tests/collections.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/control-flow.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/intersecting_slices.t
  asllib/tests/lca.t
  asllib/tests/lexer-v0.t
  asllib/tests/lexer.t
  asllib/tests/loop-limits.t/run.t
  asllib/tests/overriding.t/run.t
  asllib/tests/pragma.t/run.t
  asllib/tests/print.t
  asllib/tests/recursive.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
  asllib/tests/stdlib.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Check that error codes match with error kinds in messages
  asllib/error.ml
Due: make-test

[asl] Slight refactoring of `error.ml`
  asllib/error.ml
Due: make-test

[asl] separated lexer errors from parse errors
  asllib/Lexer.mll
  asllib/SimpleLexer0.mll
  asllib/builder.ml
  asllib/error.ml
  asllib/tests/parser-errors.t/run.t
Due: make-test

[herd+asl] promote expected test results and hashes
  herd/tests/instructions/ASL/bitfields1.litmus.expected
  herd/tests/instructions/ASL/case1.litmus.expected
  herd/tests/instructions/ASL/no-main.litmus.expected-failure
  herd/tests/instructions/ASL/records.litmus.expected
Due: make-test

[asl] Organize error-code mappings and documentation
  asllib/doc/ErrorCodes.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/error.ml
Due: make-test

[asl] Align side-effect, overriding, and type errors
  asllib/Typing.ml
  asllib/doc/asl.spec
  asllib/error.ml
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/constraint-size-limits.t/run.t
  asllib/tests/division.t/run.t
  asllib/tests/lca.t
  asllib/tests/overriding.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/typing.t/run.t
Due: make-test

[asl] Separate implementation and unchecked errors
  asllib/Interpreter.ml
  asllib/Native.ml
  asllib/StaticModel.ml
  asllib/Typing.ml
  asllib/error.ml
  asllib/tests/regressions.t/implementation-integer-overflow.asl
  asllib/tests/regressions.t/run.t
  asllib/tests/regressions.t/unchecked-argument-arity.asl
  asllib/tests/regressions.t/unchecked-assignment-arity.asl
  asllib/tests/regressions.t/unchecked-parameter-arity.asl
  asllib/tests/regressions.t/unchecked-type-mismatch.asl
  asllib/tests/regressions.t/unchecked-unexpected-throw.asl
  asllib/types.ml
Due: make-test

[asl] Classify remaining frontend errors
  asllib/Parser.mly
  asllib/desugar.ml
  asllib/error.ml
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLSyntaxReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  asllib/tests/explicit-parameters.t/run.t
  asllib/tests/parser-errors.t/run.t
  asllib/tests/regressions.t/run.t
  asllib/tests/side-effects.t/run.t
Due: make-test
