Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

wip: add list util function `drop_while`
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

fix: remove duplicate relaxations from output
  gen/cat2config/mcat2config.ml
Due: make-test

tidy: rename config type
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
Due: make-test

tidy: remove @@@warning pragma
  gen/cat2config/mcat2config.ml
Due: make-test

Revert "tidy: remove unused get_inter"
  gen/cat2config/ir.ml
Due: make-test

wip: add diy conf file test
  gen/cat2config/test/baseline_conf.t
Due: none

wip: add option to print results in conf format
  gen/cat2config/mcat2config.ml
Due: make-test

fix: remove unused dune preprocessing
  gen/cat2config/dune
Due: make-test

tidy: do not sequence empty lists
  gen/cat2config/ir.ml
Due: make-test

fix: absorb neutral relations when computing sequence
  gen/cat2config/ir.ml
Due: make-test

wip: comments
  gen/cat2config/test/baseline.t
Due: none

tidy: remove unused util fns
  gen/cat2config/translation.ml
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

[cat2config] implement tool
  gen/cat2config/ast_utils.ml
  gen/cat2config/diy_utils.ml
  gen/cat2config/ir.ml
  gen/cat2config/logger.ml
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
  gen/cat2config/translation.ml
Due: make-test

[gen] add monadic functions to Util.List
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

[cat2config] add baseline tests
  gen/cat2config/test/baseline.t
Due: none

fix: do not emit config file preamble
  gen/cat2config/mcat2config.ml
Due: make-test

fix: s/pure/return
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

chore: promote tests
  gen/cat2config/test/baseline.t
  gen/cat2config/test/baseline_conf.t
Due: none

wip: implement domain/range expansion
  gen/cat2config/ir.ml
  gen/cat2config/mcat2config.ml
Due: make-test

wip: reduce amo edges to swp/cas
  gen/cat2config/translation.ml
Due: make-test

chore: promote test
  gen/cat2config/test/baseline_conf.t
Due: none

tidy: simplify union_flat_map
  gen/cat2config/ir.ml
Due: make-test

[gen] add Util.Option module
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

wip: implement expansion of A/L into amo edges
  gen/cat2config/ir.ml
  gen/cat2config/mcat2config.ml
Due: make-test

chore: promote test
  gen/cat2config/test/baseline.t
Due: none

fix: include overridden symbols in normal form map
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
Due: make-test

wip: add util fn `pp_dp`
  gen/cat2config/diy_utils.ml
Due: make-test

wip: produce relax list as translation fn result
  gen/cat2config/translation.ml
Due: make-test

fix: pretty printing of IR unions
  gen/cat2config/ir.ml
Due: make-test

chore: remove comment
  gen/cat2config/ir.ml
Due: make-test

tidy: remove over_inter
  gen/cat2config/ir.ml
Due: make-test

wip: add Q effects
  gen/cat2config/ir.ml
Due: make-test

[cat2config] add test cats
  gen/cat2config/test/libdir/aarch64.cat
  gen/cat2config/test/libdir/aarch64bbm.cat
  gen/cat2config/test/libdir/aarch64deps.cat
  gen/cat2config/test/libdir/aarch64fences.cat
  gen/cat2config/test/libdir/aarch64hwreqs.cat
  gen/cat2config/test/libdir/aarch64loc.cat
  gen/cat2config/test/libdir/aarch64memattrs.cat
  gen/cat2config/test/libdir/aarch64show.cat
  gen/cat2config/test/libdir/aarch64util.cat
  gen/cat2config/test/libdir/cos.cat
  gen/cat2config/test/libdir/enumerations.cat
  gen/cat2config/test/libdir/show-deps.cat
Due: none

wip: add util fn List.uniq
  gen/common/util.ml
  gen/common/util.mli
Due: make-test

fix: use `logs` library for logging
  gen/cat2config/dune
  gen/cat2config/logger.ml
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
  herdtools7.opam
Due: make-test, opam-lint

tidy: simplify handling of primitive symbols
  gen/cat2config/ir.ml
  gen/cat2config/translation.ml
Due: make-test

tidy: remove rev_seq
  gen/cat2config/ir.ml
Due: make-test

wip: add more hardcodings
  gen/cat2config/ir.ml
Due: make-test

fix: improve normalization logic
  gen/cat2config/mcat2config.ml
  gen/cat2config/normalization.ml
Due: make-test

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
