Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[asl][menhir2bnfc] Added a simplified bnfc output option
  asllib/menhir2bnfc/BnfcAST.ml
  asllib/menhir2bnfc/menhir2bnfc.ml
Due: make-test

[asl][menhir2bnfc] Minor improvements
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/dune
Due: make-test

[asl][menhir2bnfc] Precedence related AST nodes now have a more stable naming scheme
  asllib/menhir2bnfc/CvtGrammar.ml
Due: make-test

[asl] Add test for Lexer token utils
  asllib/tests/Lexer.ml
  asllib/tests/dune
Due: make-test

[asl][menhir2bnfc] Refactored BNFC types and modules
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/utils.ml
Due: make-test

[asl][menhir2bnfc] menhir to bnfc conversion script
  asllib/menhir2bnfc/BnfcAST.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/menhir2bnfc.ml
Due: make-test

[asl] Annotate internal parse nodes
  asllib/Parser.mly
  asllib/Tokens.mly
Due: make-test

[asl][menhir2bnfc] Add basic lexer support
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/dune
  asllib/menhir2bnfc/menhir2bnfc.ml
  asllib/menhir2bnfc/tests/dune
  asllib/menhir2bnfc/tests/grammars.t/calc_full.cf.expected
  asllib/menhir2bnfc/tests/grammars.t/calc_lexer.mll
  asllib/menhir2bnfc/tests/grammars.t/calc_test.in
  asllib/menhir2bnfc/tests/grammars.t/run.t
  asllib/menhir2bnfc/utils.ml
Due: make-test

[asl][menhir2bnfc] Provide a way to sort the output bnfc/bnf
  asllib/menhir2bnfc/BnfcAST.ml
  asllib/menhir2bnfc/menhir2bnfc.ml
Due: make-test

[herd] Fix aarch64 <-> ASL interface
  herd/AArch64ASLSem.ml
  herd/tests/instructions/AArch64.ASL/CSET01.litmus
  herd/tests/instructions/AArch64.ASL/CSET01.litmus.expected
  herd/tests/instructions/AArch64.ASL/CSET02.litmus
  herd/tests/instructions/AArch64.ASL/CSET02.litmus.expected
Due: make-test

[test] Add catalogue tests in ASL mode,
  Makefile
Due: none

[asl][menhir2bnfc] Minor refactors
  asllib/Lexer.mll
  asllib/menhir2bnfc/BNFC.ml
  asllib/menhir2bnfc/CvtGrammar.ml
  asllib/menhir2bnfc/CvtLexer.ml
  asllib/menhir2bnfc/README.md
  asllib/menhir2bnfc/tests/integration/parser_cmp.expected
Due: make-test

[asl] Fixed same-precedence.asl to test the correct behavior
  asllib/tests/regressions.t/same-precedence.asl
Due: none

[herd] Explicit address ports, AArch64 semantics
  herd/AArch64ASLSem.ml
  herd/AArch64Sem.ml
  herd/ASLSem.ml
  herd/Pretty.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/libdir/aarch64deps.cat
  herd/libdir/asl.cat
  herd/libdir/stdlib.cat
  herd/machModelChecker.ml
  herd/modelUtils.ml
  herd/monad.mli
  herd/tests/instructions/AArch64.ASL/ADDRDEP01.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP01.litmus.expected
  herd/tests/instructions/AArch64.ASL/ADDRDEP02.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP02.litmus.expected
  herd/tests/instructions/AArch64.ASL/ADDRDEP03.litmus
  herd/tests/instructions/AArch64.ASL/ADDRDEP03.litmus.expected
  herd/tests/instructions/AArch64.ASL/AMOADDR.litmus
  herd/tests/instructions/AArch64.ASL/AMOADDR.litmus.expected
  herd/tests/instructions/AArch64.ASL/AMODATA.litmus
  herd/tests/instructions/AArch64.ASL/AMODATA.litmus.expected
  herd/tests/instructions/AArch64.ASL/DATADEP.litmus
  herd/tests/instructions/AArch64.ASL/DATADEP.litmus.expected
  herd/tests/instructions/AArch64.ASL/NOMIX
  herd/tests/instructions/AArch64.ASL/noasl-mixed.cfg
  herd/tests/instructions/AArch64.kvm/A023.litmus
  herd/tests/instructions/AArch64.kvm/A023.litmus.expected
Due: make-test

[herd] Explicit address ports, X86_64 semantics
  herd/X86_64Sem.ml
  herd/modelUtils.ml
Due: make-test

[herd] Explicit address ports, X86 semantics
  herd/X86Sem.ml
Due: make-test

[herd] Explicit address ports, BPF semantics
  catalogue/bpf/shelf.py
  catalogue/bpf/tests/depencency_not_ordered_before.litmus
  catalogue/bpf/tests/kinds.txt
  herd/BPFSem.ml
Due: make-test, lint-shelves

[herd] Explicit address ports, Java semantics
  herd/JavaSem.ml
Due: make-test

[herd] Explicit address ports, RISCV semantics
  herd/RISCVSem.ml
  herd/tests/instructions/RISCV/A011.litmus
  herd/tests/instructions/RISCV/A011.litmus.expected
  herd/tests/instructions/RISCV/A012.litmus
  herd/tests/instructions/RISCV/A012.litmus.expected
Due: make-test

[herd] Explicit address ports, PPC semantics
  herd/PPCSem.ml
  herd/tests/instructions/PPC/A015.litmus
  herd/tests/instructions/PPC/A015.litmus.expected
  herd/tests/instructions/PPC/A016.litmus
  herd/tests/instructions/PPC/A016.litmus.expected
Due: make-test

[herd] Explicit address ports, C semantics
  herd/CSem.ml
Due: make-test

[fix][menhir2bnfc] Fix `make all install`
  dune-install.sh
Due: make-test

[ci] Add test with `make install`
  .github/workflows/make-test.yml
Due: none

[all] Rationalise selection by names.
  herd/herd.ml
  herd/lexConf_herd.mll
  herd/opts.ml
  herd/opts.mli
  lib/checkName.ml
  lib/checkName.mli
  lib/optNames.ml
  lib/optNames.mli
  litmus/klitmus.ml
  litmus/lexConf_litmus.mll
  litmus/litmus.ml
  litmus/option.ml
  litmus/option.mli
  tools/mcmp.ml
  tools/mcompare.ml
  tools/mcond.ml
  tools/mdiff.ml
  tools/mfilter.ml
  tools/mfind.ml
  tools/mflags.mll
  tools/mhash.ml
  tools/mnames.ml
  tools/moutcomes.ml
  tools/mselect.ml
  tools/msort.ml
  tools/msum.ml
  tools/mtopos.ml
  tools/mtrue.ml
  tools/recond.ml
  tools/rehash.ml
Due: make-test

[herd,test] Simplify some test configuration files
  herd/tests/instructions/AArch64.ASL/NOASL
  herd/tests/instructions/AArch64.ASL/noasl-mixed.cfg
  herd/tests/instructions/AArch64.ASL/noasl.cfg
Due: none

[herd,litmus] Document the new options
  doc/herd.tex
  doc/litmus.tex
Due: none

[asl][reference] work on Types chapter + fixes
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AbstractSyntax.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Semantics.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLSyntaxReference.t/Lexical.Comments.asl
  asllib/tests/ASLTypingReference.t/TypingRule.InheritIntegerConstraints.asl
  asllib/tests/ASLTypingReference.t/TypingRule.InheritIntegerConstraints.unconstrained.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TInt.global_pending_constrained.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TInt.rhs_pending_constrained.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TIntParameterized.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TIntUnconstrained.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TIntWellConstrained.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] more work on Types chapter
  asllib/doc/ASLmacros.tex
  asllib/doc/Types.tex
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateConstraint.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] removed all multiply-defined hypertargets + added check in linter script
  asllib/doc/Bitfields.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] addressing review comments
  asllib/doc/Statements.tex
Due: none

[asl][reference] addressing review comments
  asllib/doc/ErrorCodes.tex
  echo
Due: none

[asl][reference] linting for rule cases + fixes
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/Bitfields.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/Literals.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Semantics.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] standardize use of AllApply and AllApplyCase macro
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalDeclarations.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TopLevel.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
Due: none

[asl][reference] more work on Types chapter
  asllib/Typing.ml
  asllib/doc/ASLReference.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/ErrorCodes.tex
  asllib/doc/Expressions.tex
  asllib/doc/LexicalStructure.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Slicing.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/StaticEvaluation.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/tests/ASLDefinition.t/Bitvector_rotate.asl
  asllib/tests/ASLDefinition.t/run.t
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateSymbolicallyEvaluableExpr.asl
  asllib/tests/ASLTypingReference.t/TypingRule.BuiltinSingularTypes.asl
  asllib/tests/ASLTypingReference.t/TypingRule.GetVariableEnum.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TArray.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TBits.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TEnumDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TEnumDecl.bad.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TExceptionDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TRecordDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TRecordExceptionDecl.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TTuple.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: make-test

[asl][reference] Standardizing examples
  asllib/doc/AssignableExpressions.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Bitfields.tex
  asllib/doc/BlockStatements.tex
  asllib/doc/CatchingExceptions.tex
  asllib/doc/Expressions.tex
  asllib/doc/GlobalStorageDeclarations.tex
  asllib/doc/Literals.tex
  asllib/doc/LocalStorageDeclarations.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/PrimitiveOperations.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/Slicing.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramCalls.tex
  asllib/doc/SymbolicSubsumptionTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLSemanticsReference.t/SemanticsRule.LDVar1.asl
  asllib/tests/ASLSemanticsReference.t/run.t
  asllib/tests/ASLTypingReference.t/run.t
  echo
Due: none

[asl][reference] more work on Types chapter
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.AnnotateConstraint.bad.asl
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] lint inconsistent Prose/Formally paragraphs + fixes
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Expressions.tex
  asllib/doc/Literals.tex
  asllib/doc/PatternMatching.tex
  asllib/doc/RelationsOnTypes.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Specifications.tex
  asllib/doc/Statements.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDeclarations.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/run.t
Due: none

[asl][reference] more work on Types chapter + better linting + fixes
  asllib/doc/ASLFormal.tex
  asllib/doc/ASLmacros.tex
  asllib/doc/BaseValues.tex
  asllib/doc/Literals.tex
  asllib/doc/SemanticsUtilities.tex
  asllib/doc/SideEffects.tex
  asllib/doc/Statements.tex
  asllib/doc/SubprogramDeclarations.tex
  asllib/doc/SymbolicEquivalenceTesting.tex
  asllib/doc/TypeAttributes.tex
  asllib/doc/TypeDomains.tex
  asllib/doc/TypeSystemUtilities.tex
  asllib/doc/Types.tex
  asllib/doc/doclint.py
  asllib/tests/ASLTypingReference.t/TypingRule.TReal.asl
  asllib/tests/ASLTypingReference.t/TypingRule.TString.asl
Due: none

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
