Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[herd] Duplicate RVWMO model for zTSO extension implementation
  herd/libdir/riscv-tso-defs.cat
  herd/libdir/riscv-tso.cat
Due: none

[herd] Add RISC-V zTSO memory model
  herd/libdir/riscv-tso-defs.cat
  herd/libdir/riscv-tso.cat
Due: none

Update tools/segment.sh
  tools/segment.sh
Due: none

[gen] Do not consider `Store` edge direction in compatibility checks
  gen/alt.ml
  gen/edge.ml
Due: make-test

[herd] Arithmetic and operator on pteval's
  lib/AArch64Op.ml
  lib/archOp.ml
  lib/symbValue.ml
Due: make-test

[herd] Simplify hardware management of AF and DB bits.
  herd/AArch64Sem.ml
Due: make-test

[litmus] AArch64, use BBM sequences to upate pte's
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/preSi.ml
Due: make-test

[litmus] Return instead of exiting in case of non-available feature
  litmus/libdir/_main.c
  litmus/preSi.ml
Due: make-test

Parse SUB instruction in the 32-bit ARM lexer & parser
  lib/ARMLexer.mll
  lib/ARMParser.mly
Due: make-test

[tools] Make old behaviour of `mhash` optional.
  tools/lexHashLog.mli
  tools/lexHashLog.mll
  tools/mhash.ml
Due: make-test

[herd]: Print Timeout for test with -debug timeout
  herd/debug_herd.ml
  herd/debug_herd.mli
  herd/herd.ml
  herd/itimer.ml
  herd/itimer.mli
Due: make-test

fixed LDUR pretty printing bug
  lib/AArch64Base.ml
Due: make-test

[herd] Fix warning
  lib/symbValue.ml
Due: make-test

[tests] A few ARM herd instruction tests
  Makefile
  herd/tests/instructions/ARM/A001.litmus
  herd/tests/instructions/ARM/A001.litmus.expected
  herd/tests/instructions/ARM/A002.litmus
  herd/tests/instructions/ARM/A002.litmus.expected
Due: make-test

[herd] Fix sign of default type.
  herd/archExtra_herd.ml
Due: make-test

[herd] tentative pick dependency
  herd/libdir/aarch64deps.cat
Due: none

[catalogue] Default model regression test for some books
  Makefile
  catalogue/aarch64-mixed/shelf.py
  catalogue/aarch64-pick/cats
  catalogue/aarch64-pick/cats/aarch64-pick.cat
  catalogue/aarch64-pick/cats/aarch64deps-pick.cat
  catalogue/aarch64-pick/shelf.py
  catalogue/aarch64/shelf.py
Due: lint-shelves

[herd] Safer computation of topological orders
  lib/innerRel.ml
Due: make-test

[AArch64 cat file] Fixing Pick dependencies definition
  Makefile
  catalogue/aarch64-mixed/shelf.py
  catalogue/aarch64-pick/cats
  catalogue/aarch64-pick/cats/aarch64-pick.cat
  catalogue/aarch64-pick/cats/aarch64deps-pick.cat
  catalogue/aarch64-pick/shelf.py
  catalogue/aarch64/shelf.py
  herd/libdir/aarch64deps.cat
Due: lint-shelves

[litmus] Fix pthread error spelling
  litmus/libdir/_presi.c
  litmus/libdir/_utils.c
  litmus/litmus.ml
Due: make-test

[herd,litmus] Add a new possibility for fault handling in `kvm` mode
  herd/AArch64Sem.ml
  herd/opts.ml
  herd/opts.mli
  herd/semExtra.ml
  herd/variant.ml
  herd/variant.mli
  lib/precision.ml
  lib/precision.mli
  lib/testVariant.ml
  lib/testVariant.mli
  litmus/compile.ml
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/option.ml
  litmus/option.mli
  litmus/preSi.ml
  litmus/top_litmus.ml
  litmus/top_litmus.mli
  litmus/variant_litmus.ml
Due: make-test

[herd,litmus] Rename precision variants Variant `precise` is now `fatal`, variant `imprecise` is now `handled`. Old names still recognised for backward compatibility.
  herd/AArch64Sem.ml
  lib/precision.ml
  lib/precision.mli
  litmus/compile.ml
  litmus/preSi.ml
Due: make-test

first commit. Basic logic of reject list implemented and working.
  gen/cycle.ml
Due: make-test

[tools] More tolerant equality for test results.
  tools/logState.ml
Due: make-test

[herd] The `^-1` (inverse) CAT operator works on pairs.
  lib/interpreter.ml
Due: make-test

[tools] More powerful mcompare
  tools/condUtils.ml
  tools/logConstr.ml
  tools/logState.ml
Due: make-test

Add test
  herd/tests/instructions/AArch64/A19.litmus
  herd/tests/instructions/AArch64/A19.litmus.expected
Due: make-test

[klitmus] Remove reference do now unexported function
  litmus/KSkel.ml
Due: make-test

Bump version to 7.56.1
  herdtools7.opam
Due: opam-lint

[herd] Implement AArch64 load and store pair instructions
  herd/AArch64Sem.ml
  herd/archExtra_herd.ml
  herd/event.ml
  herd/machAction.ml
  herd/mem.ml
  herd/valconstraint.ml
  lib/op.ml
  lib/op.mli
  lib/symbValue.ml
  lib/value.mli
Due: make-test

[itmus] Recognise `-variant mixed`
  litmus/variant_litmus.ml
  litmus/variant_litmus.mli
Due: make-test

[herd] Add simple, non-variant, implementation of instruction `stp`.
  herd/AArch64Sem.ml
Due: make-test

[litmus] Implement load and store exclusive for pairs.
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  jingle/AArch64Arch_jingle.ml
  lib/AArch64Base.ml
  lib/AArch64Lexer.mll
  lib/AArch64Parser.mly
  litmus/AArch64Compile_litmus.ml
Due: make-test

[herd] Implement AArch64 LDXP and STXP instruction.
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/machModelChecker.ml
  herd/monad.mli
Due: make-test

Update dune version requirement
  herdtools7.opam
Due: opam-lint

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
