Repository herd/herdtools7: changes, and which pre-commit hooks are due for each by the changed paths.
All: make-test, opam-lint, lint-shelves

make-test:
  name: Run make test
  language: system
  entry: make test
  pass_filenames: false

opam-lint:
  name: opam lint
  language: system
  entry: opam lint

lint-shelves:
  name: Lint Catalogue shelves
  language: system
  entry: internal/run_built_binary lint_shelves

[tools] Add mcompare support for labels as values in postconditions
  tools/lexLog_tools.mll
Due: make-test

[herd] Avoid redifinition of compare in FaultAtomSet module
  lib/fault.ml
Due: make-test

[tools] Ignore "kvm" in Fault atoms
  tools/lexLog_tools.mll
Due: make-test

[litmus] Add support for fault types in AArch64
  lib/fault.ml
  lib/misc.ml
  lib/misc.mli
  litmus/compCond.ml
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm_fault_handler.c
  litmus/preSi.ml
Due: make-test

[tools] In unions of "equal" states, favor states fault…types
  tools/logState.ml
Due: make-test

[herd] Add basic tests with fault types in the postcondition
  Makefile
  herd/tests/instructions/AArch64.MTE/B003.litmus
  herd/tests/instructions/AArch64.MTE/B003.litmus.expected
  herd/tests/instructions/AArch64.kvm/A009.litmus
  herd/tests/instructions/AArch64.kvm/A009.litmus.expected
  herd/tests/instructions/AArch64.kvm/A010.litmus
  herd/tests/instructions/AArch64.kvm/A010.litmus.expected
  herd/tests/instructions/AArch64.kvm/A011.litmus
  herd/tests/instructions/AArch64.kvm/A011.litmus.expected
Due: make-test

[tools] Fix tools to handle fault types
  tools/HashedFault.ml
  tools/HashedFault.mli
  tools/fault_tools.ml
  tools/fault_tools.mli
  tools/lexLog_tools.mll
  tools/logState.ml
Due: make-test

[all] Fix fault type compare function
  herd/archExtra_herd.ml
  lib/fault.ml
  lib/fault.mli
  lib/faultType.ml
  lib/faultType.mli
  litmus/constr.ml
Due: make-test

[litmus] Adapt fault type management for `-driver C`
  litmus/libdir/_aarch64/kvm-headers.h
  litmus/libdir/_aarch64/kvm_fault_type.c
  litmus/preSi.ml
Due: make-test

[tools] Add `-faulttype` option to tools that read logs
  lib/checkName.ml
  lib/checkName.mli
  tools/lexLog_tools.mli
  tools/lexLog_tools.mll
  tools/mcmp.ml
  tools/mcompare.ml
  tools/mdiff.ml
  tools/mfilter.ml
  tools/mlog2cond.ml
  tools/mlog2name.ml
  tools/moutcomes.ml
  tools/msum.ml
  tools/mtopos.ml
Due: make-test

[herd] Refine dependencies for KVM+MTE
  herd/AArch64Sem.ml
  herd/eventsMonad.ml
  herd/monad.mli
  lib/innerRel.ml
  lib/innerRel.mli
Due: make-test

[herd] No data dependency from adress to MTE Fault.
  herd/AArch64Sem.ml
Due: make-test

[herd] New implementation of `-variant memtag`
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/monad.mli
Due: make-test

[herd] Add cat support for logical operations on variants
  lib/AST.mli
  lib/ASTUtils.ml
  lib/interpreter.ml
  lib/modelLexer.mll
  lib/modelParser.mly
Due: make-test

[herd] Add two tests for the ifetch or self variant
  herd/tests/instructions/AArch64.self/S21.litmus
  herd/tests/instructions/AArch64.self/S21.litmus.expected
  herd/tests/instructions/AArch64.self/S22.litmus
  herd/tests/instructions/AArch64.self/S22.litmus.expected
Due: make-test

[herd] Compare instructions values for equality
  lib/symbValue.ml
Due: make-test

[www] Add two tests to standard aarch64 book
  catalogue/aarch64/shelf.py
  catalogue/aarch64/tests/MP+rel+CSEL-addr.litmus
  catalogue/aarch64/tests/MP+rel+CSEL.litmus
  catalogue/aarch64/tests/kinds.txt
Due: make-test, lint-shelves

[internal] Catalogue regression a bit more verbose
  internal/herd_catalogue_regression_test.ml
  internal/lib/kinds.ml
  internal/lib/kinds.mli
Due: make-test

[herd] NOP and non-conditional branches generate "NoAction" event
  herd/AArch64Sem.ml
Due: make-test

[herd] Merge the Kvm and VMSA variants into one
  herd/AArch64Arch_herd.ml
  herd/AArch64Sem.ml
  herd/event.ml
  herd/eventsMonad.ml
  herd/machAction.ml
  herd/machModelChecker.ml
  herd/mem.ml
  herd/modelUtils.ml
  herd/top_herd.ml
  herd/variant.ml
  herd/variant.mli
Due: make-test

[herd-www] Reset variant for each test.
  herd-www/jerd.ml
Due: make-test

[catalogue] Update AArch64 books model
  catalogue/aarch64/cats/aarch64-v08.cat
  catalogue/aarch64/shelf.py
Due: lint-shelves

[catalogue] Replace copies of cat files by links to reference
  catalogue/aarch64-VMSA/cats/aarch64.cat
  catalogue/aarch64-VMSA/cats/aarch64bbm.cat
  catalogue/aarch64-VMSA/cats/aarch64deps.cat
  catalogue/aarch64-VMSA/cats/aarch64fences.cat
  catalogue/aarch64-VMSA/cats/aarch64hwreqs.cat
  catalogue/aarch64-VMSA/cats/aarch64memattrs.cat
  catalogue/aarch64-VMSA/cats/aarch64util.cat
  catalogue/aarch64-VMSA/cats/choices.cat
  catalogue/aarch64-VMSA/cats/tlbi-after.cat
Due: none

[www] Publish VMSA book
  catalogue/aarch64-VMSA/cfgs/new-web.cfg
  catalogue/aarch64-VMSA/shelf.py
  herd-www/Makefile
  herd-www/www/index.html
Due: lint-shelves

[tests] Update regression references for MTE
  Makefile
  herd/tests/diycross/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sytp+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polt.litmus.expected
Due: make-test

Adding new MTE tests and their kinds to illustrate the MTE relaxation
  catalogue/aarch64-MTE/tests/coRR-RTW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WW.litmus
  catalogue/aarch64-MTE/tests/coRR-TR.litmus
  catalogue/aarch64-MTE/tests/coRR-TRTW.litmus
  catalogue/aarch64-MTE/tests/coRR-TT.litmus
  catalogue/aarch64-MTE/tests/coRR-TW.litmus
  catalogue/aarch64-MTE/tests/coRR-TWTR.litmus
  catalogue/aarch64-MTE/tests/coRR-WTW.litmus
  catalogue/aarch64-MTE/tests/coRTW.litmus
  catalogue/aarch64-MTE/tests/coTR.litmus
  catalogue/aarch64-MTE/tests/coTRTW.litmus
  catalogue/aarch64-MTE/tests/coTW.litmus
  catalogue/aarch64-MTE/tests/coTWTR.litmus
  catalogue/aarch64-MTE/tests/coTWTW.litmus
  catalogue/aarch64-MTE/tests/coWTW.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test

[catalogue] Remove unnecessary cat file form aarch64-VMSA
  catalogue/aarch64-VMSA/cats/armv8-util.cat
Due: none

[catalogue] Remove stale tests from aarch64-VMSA
  catalogue/aarch64-VMSA/tests/NOT_coRR-pte9-BIS.litmus
  catalogue/aarch64-VMSA/tests/NOT_coRR-pte9.litmus
Due: make-test

[catalogue] Add kinds for aarch64-VMSA and aarch64-VMSA-ETS2
  catalogue/aarch64-VMSA/tests/VMSA-ETS2-kinds.txt
  catalogue/aarch64-VMSA/tests/VMSA-kinds.txt
Due: none

[tests] Update regression references for MTE
  Makefile
  catalogue/aarch64-MTE/tests/kinds.txt
  herd/tests/diycross/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/LB+dmb.sytp+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/MP+dmb.sytp+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sy+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sy+amo.ldaddal-polt.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polp.litmus.expected
  herd/tests/diycross/AArch64.MTE/S+dmb.sytp+amo.ldaddal-polt.litmus.expected
  internal/herd_catalogue_regression_test.ml
Due: make-test

Adding new MTE tests and their kinds to illustrate the MTE relaxation
  catalogue/aarch64-MTE/shelf.py
  catalogue/aarch64-MTE/tests/coRR-RTW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+RW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+TW.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WR.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WT.litmus
  catalogue/aarch64-MTE/tests/coRR-T+WW.litmus
  catalogue/aarch64-MTE/tests/coRR-TR.litmus
  catalogue/aarch64-MTE/tests/coRR-TRTW.litmus
  catalogue/aarch64-MTE/tests/coRR-TT.litmus
  catalogue/aarch64-MTE/tests/coRR-TW.litmus
  catalogue/aarch64-MTE/tests/coRR-TWTR.litmus
  catalogue/aarch64-MTE/tests/coRR-WTW.litmus
  catalogue/aarch64-MTE/tests/coRTW.litmus
  catalogue/aarch64-MTE/tests/coTR.litmus
  catalogue/aarch64-MTE/tests/coTRTW.litmus
  catalogue/aarch64-MTE/tests/coTW.litmus
  catalogue/aarch64-MTE/tests/coTWTR.litmus
  catalogue/aarch64-MTE/tests/coTWTW.litmus
  catalogue/aarch64-MTE/tests/coWTW.litmus
  catalogue/aarch64-MTE/tests/kinds.txt
Due: make-test, lint-shelves

[herd] Typo
  herd/parseTest.ml
Due: make-test

Two restrictions got lost in the release candidate, readding them
  herd/libdir/aarch64.cat
  herd/libdir/aarch64hwreqs.cat
Due: none

Some restrictions got lost in the release candidate, readding them
  herd/libdir/aarch64.cat
  herd/libdir/aarch64hwreqs.cat
Due: none

Certain restrictions got lost in the release - readding them
  herd/libdir/aarch64.cat
  herd/libdir/aarch64hwreqs.cat
Due: none

Path conditions:
  make-test: any of: (dune|\.ml.*$|\.litmus.*$)
  opam-lint: any of: (\.opam$)
  lint-shelves: any of: shelf.py$
